In [1]:
import numpy as np
import pandas as pd

In [9]:
# read the enrollment data file

df = pd.read_csv("shared_data_read_only/Education-Data/2023-2024 Enrollment & Demographics.csv")

In [10]:
grouped_df = df.groupby('ulcscode')    #.agg('sum')

In [11]:
# Iterate over the groups and display each group in a tabular form
for ulcscode, group_df in grouped_df:
    print(ulcscode)
    display(group_df)

1010

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
0,2023-2024,District,District,1010,John Bartram High School,Network 13,09,158,24.0,15.19,...,76.58,25,15.82,6,3.80,0,0.0,0,0.00,NaN
1,2023-2024,District,District,1010,John Bartram High School,Network 13,10,145,40.0,27.59,...,71.03,33,22.76,5,3.45,0,0.0,0,0.00,NaN
2,2023-2024,District,District,1010,John Bartram High School,Network 13,11,111,23.0,20.72,...,81.98,11,9.91,4,3.60,0,0.0,1,0.90,NaN
3,2023-2024,District,District,1010,John Bartram High School,Network 13,12,112,27.0,24.11,...,80.36,17,15.18,1,0.89,0,0.0,0,0.00,NaN
4,2023-2024,District,District,1010,John Bartram High School,Network 13,All Grades,526,114.0,21.67,...,77.00,86,16.35,16,3.04,0,0.0,1,0.19,100.0

1020

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
5,2023-2024,District,District,1020,West Philadelphia High School,Network 13,09,196,12.0,6.12,...,87.24,9,4.59,9,4.59,0,0.0,1,0.51,NaN
6,2023-2024,District,District,1020,West Philadelphia High School,Network 13,10,164,7.0,4.27,...,90.24,8,4.88,2,1.22,0,0.0,3,1.83,NaN
7,2023-2024,District,District,1020,West Philadelphia High School,Network 13,11,143,7.0,4.90,...,88.81,6,4.20,7,4.90,0,0.0,0,0.00,NaN
8,2023-2024,District,District,1020,West Philadelphia High School,Network 13,12,98,4.0,4.08,...,85.71,3,3.06,9,9.18,0,0.0,2,2.04,NaN
9,2023-2024,District,District,1020,West Philadelphia High School,Network 13,All Grades,601,30.0,4.99,...,88.19,26,4.33,27,4.49,0,0.0,6,1.00,100.0

1030

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
10,2023-2024,District,District,1030,High School of the Future,Innovation,09,171,2.0,1.17,...,95.32,5,2.92,0,0.00,0,0.0,1,0.58,NaN
11,2023-2024,District,District,1030,High School of the Future,Innovation,10,135,4.0,2.96,...,88.15,9,6.67,4,2.96,0,0.0,1,0.74,NaN
12,2023-2024,District,District,1030,High School of the Future,Innovation,11,114,2.0,1.75,...,92.11,2,1.75,1,0.88,0,0.0,2,1.75,NaN
13,2023-2024,District,District,1030,High School of the Future,Innovation,12,140,3.0,2.14,...,92.86,3,2.14,3,2.14,0,0.0,2,1.43,NaN
14,2023-2024,District,District,1030,High School of the Future,Innovation,All Grades,560,11.0,1.96,...,92.32,19,3.39,8,1.43,0,0.0,6,1.07,100.0

1050

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
15,2023-2024,District,District,1050,Paul Robeson High School for Human Services,Network 1,09,72,4.0,5.56,...,95.83,2,2.78,0,0.00,0,0.0,1,1.39,NaN
16,2023-2024,District,District,1050,Paul Robeson High School for Human Services,Network 1,10,63,4.0,6.35,...,95.24,0,0.00,1,1.59,0,0.0,1,1.59,NaN
17,2023-2024,District,District,1050,Paul Robeson High School for Human Services,Network 1,11,77,3.0,3.90,...,96.10,2,2.60,1,1.30,0,0.0,0,0.00,NaN
18,2023-2024,District,District,1050,Paul Robeson High School for Human Services,Network 1,12,79,4.0,5.06,...,94.94,3,3.80,1,1.27,0,0.0,0,0.00,NaN
19,2023-2024,District,District,1050,Paul Robeson High School for Human Services,Network 1,All Grades,291,15.0,5.15,...,95.53,7,2.41,3,1.03,0,0.0,2,0.69,100.0

1100

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
20,2023-2024,District,District,1100,William L. Sayre High School,Network 13,09,112,5.0,4.46,...,91.96,2,1.79,4,3.57,0,0.0,2,1.79,NaN
21,2023-2024,District,District,1100,William L. Sayre High School,Network 13,10,109,6.0,5.50,...,89.91,8,7.34,1,0.92,0,0.0,1,0.92,NaN
22,2023-2024,District,District,1100,William L. Sayre High School,Network 13,11,98,3.0,3.06,...,90.82,5,5.10,3,3.06,0,0.0,0,0.00,NaN
23,2023-2024,District,District,1100,William L. Sayre High School,Network 13,12,107,2.0,1.87,...,88.79,1,0.93,11,10.28,0,0.0,0,0.00,NaN
24,2023-2024,District,District,1100,William L. Sayre High School,Network 13,All Grades,426,16.0,3.76,...,90.38,16,3.76,19,4.46,0,0.0,3,0.70,100.0

1130

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
25,2023-2024,District,District,1130,William T. Tilden School,Network 10,05,29,5.0,17.24,...,72.41,5,17.24,0,0.00,0,0.0,1,3.45,NaN
26,2023-2024,District,District,1130,William T. Tilden School,Network 10,06,64,15.0,23.44,...,68.75,11,17.19,0,0.00,0,0.0,1,1.56,NaN
27,2023-2024,District,District,1130,William T. Tilden School,Network 10,07,88,20.0,22.73,...,80.68,11,12.50,1,1.14,0,0.0,2,2.27,NaN
28,2023-2024,District,District,1130,William T. Tilden School,Network 10,08,100,19.0,19.00,...,76.00,9,9.00,2,2.00,0,0.0,3,3.00,NaN
29,2023-2024,District,District,1130,William T. Tilden School,Network 10,All Grades,281,59.0,21.00,...,75.44,36,12.81,3,1.07,0,0.0,7,2.49,100.0

1190

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
30,2023-2024,District,District,1190,Motivation High School,Network 1,09,19,4.0,21.05,...,89.47,1,5.26,1,5.26,0,0.0,0,0.00,NaN
31,2023-2024,District,District,1190,Motivation High School,Network 1,10,69,3.0,4.35,...,92.75,1,1.45,2,2.90,0,0.0,1,1.45,NaN
32,2023-2024,District,District,1190,Motivation High School,Network 1,11,71,9.0,12.68,...,92.96,2,2.82,2,2.82,0,0.0,0,0.00,NaN
33,2023-2024,District,District,1190,Motivation High School,Network 1,12,80,8.0,10.00,...,92.50,3,3.75,1,1.25,0,0.0,1,1.25,NaN
34,2023-2024,District,District,1190,Motivation High School,Network 1,All Grades,239,24.0,10.04,...,92.47,7,2.93,6,2.51,0,0.0,2,0.84,100.0

1200

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
35,2023-2024,District,District,1200,John Barry School,Network 5,00,60,2.0,3.33,...,83.33,7,11.67,2,3.33,0,0.0,0,0.00,NaN
36,2023-2024,District,District,1200,John Barry School,Network 5,01,69,0.0,0.00,...,97.10,1,1.45,0,0.00,0,0.0,0,0.00,NaN
37,2023-2024,District,District,1200,John Barry School,Network 5,02,51,0.0,0.00,...,94.12,3,5.88,0,0.00,0,0.0,0,0.00,NaN
38,2023-2024,District,District,1200,John Barry School,Network 5,03,40,0.0,0.00,...,95.00,2,5.00,0,0.00,0,0.0,0,0.00,NaN
39,2023-2024,District,District,1200,John Barry School,Network 5,04,69,2.0,2.90,...,92.75,4,5.80,0,0.00,0,0.0,1,1.45,NaN
40,2023-2024,District,District,1200,John Barry School,Network 5,05,62,2.0,3.23,...,85.48,6,9.68,3,4.84,0,0.0,0,0.00,NaN
41,2023-2024,District,District,1200,John Barry School,Network 5,06,49,0.0,0.00,...,97.96,1,2.04,0,0.00,0,0.0,0,0.00,NaN
42,2023-2024,District,District,1200,John Barry School,Network 5,07,53,1.0,1.89,...,92.45,3,5.66,1,1.89,0,0.0,0,0.00,NaN
43,2023-2024,District,District,1200,John Barry School,Network 5,08,40,2.0,5.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
44,2023-2024,District,District,1200,John Barry School,Network 5,All Grades,493,9.0,1.83,...,92.70,27,5.48,6,1.22,0,0.0,1,0.20,100.0

1230

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
45,2023-2024,District,District,1230,William C. Bryant School,Acceleration,00,41,3.0,7.32,...,90.24,1,2.44,2,4.88,0,0.0,1,2.44,NaN
46,2023-2024,District,District,1230,William C. Bryant School,Acceleration,01,32,1.0,3.13,...,90.63,3,9.38,0,0.00,0,0.0,0,0.00,NaN
47,2023-2024,District,District,1230,William C. Bryant School,Acceleration,02,42,2.0,4.76,...,92.86,1,2.38,0,0.00,0,0.0,0,0.00,NaN
48,2023-2024,District,District,1230,William C. Bryant School,Acceleration,03,32,1.0,3.13,...,84.38,3,9.38,1,3.13,0,0.0,0,0.00,NaN
49,2023-2024,District,District,1230,William C. Bryant School,Acceleration,04,40,4.0,10.00,...,97.50,0,0.00,0,0.00,0,0.0,0,0.00,NaN
50,2023-2024,District,District,1230,William C. Bryant School,Acceleration,05,32,1.0,3.13,...,90.63,1,3.13,0,0.00,0,0.0,1,3.13,NaN
51,2023-2024,District,District,1230,William C. Bryant School,Acceleration,06,45,3.0,6.67,...,82.22,6,13.33,0,0.00,0,0.0,1,2.22,NaN
52,2023-2024,District,District,1230,William C. Bryant School,Acceleration,07,41,1.0,2.44,...,95.12,1,2.44,1,2.44,0,0.0,0,0.00,NaN
53,2023-2024,District,District,1230,William C. Bryant School,Acceleration,08,36,2.0,5.56,...,83.33,4,11.11,1,2.78,0,0.0,0,0.00,NaN
54,2023-2024,District,District,1230,William C. Bryant School,Acceleration,All Grades,341,18.0,5.28,...,89.74,20,5.87,5,1.47,0,0.0,3,0.88,100.0

1250

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
55,2023-2024,District,District,1250,Joseph W. Catharine School,Network 12,00,63,12.0,19.05,...,60.32,10,15.87,8,12.70,0,0.00,2,3.17,NaN
56,2023-2024,District,District,1250,Joseph W. Catharine School,Network 12,01,72,20.0,27.78,...,70.83,18,25.00,1,1.39,0,0.00,0,0.00,NaN
57,2023-2024,District,District,1250,Joseph W. Catharine School,Network 12,02,62,17.0,27.42,...,70.97,14,22.58,2,3.23,0,0.00,0,0.00,NaN
58,2023-2024,District,District,1250,Joseph W. Catharine School,Network 12,03,63,19.0,30.16,...,61.90,13,20.63,6,9.52,0,0.00,1,1.59,NaN
59,2023-2024,District,District,1250,Joseph W. Catharine School,Network 12,04,73,15.0,20.55,...,60.27,10,13.70,5,6.85,0,0.00,2,2.74,NaN
60,2023-2024,District,District,1250,Joseph W. Catharine School,Network 12,05,65,15.0,23.08,...,73.85,10,15.38,4,6.15,1,1.54,0,0.00,NaN
61,2023-2024,District,District,1250,Joseph W. Catharine School,Network 12,All Grades,398,98.0,24.62,...,66.33,75,18.84,26,6.53,1,0.25,5,1.26,100.0

1260

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
62,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,00,34,1.0,2.94,...,85.29,3,8.82,1,2.94,0,0.0,1,2.94,NaN
63,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,01,20,1.0,5.00,...,95.00,0,0.00,0,0.00,0,0.0,1,5.00,NaN
64,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,02,40,0.0,0.00,...,97.50,1,2.50,0,0.00,0,0.0,0,0.00,NaN
65,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,03,21,1.0,4.76,...,90.48,0,0.00,1,4.76,0,0.0,1,4.76,NaN
66,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,04,28,1.0,3.57,...,89.29,1,3.57,1,3.57,0,0.0,0,0.00,NaN
67,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,05,24,1.0,4.17,...,87.50,3,12.50,0,0.00,0,0.0,0,0.00,NaN
68,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,06,33,0.0,0.00,...,93.94,1,3.03,0,0.00,0,0.0,0,0.00,NaN
69,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,07,33,0.0,0.00,...,96.97,0,0.00,1,3.03,0,0.0,0,0.00,NaN
70,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,08,34,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
71,2023-2024,District,District,1260,Benjamin B. Comegys School,Network 12,All Grades,267,5.0,1.87,...,93.26,9,3.37,4,1.50,0,0.0,3,1.12,100.0

1280

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
72,2023-2024,District,District,1280,Sadie Alexander School,Network 2,00,80,13.0,16.25,...,13.75,8,10.00,9,11.25,0,0.00,30,37.50,NaN
73,2023-2024,District,District,1280,Sadie Alexander School,Network 2,01,78,15.0,19.23,...,10.26,5,6.41,5,6.41,0,0.00,29,37.18,NaN
74,2023-2024,District,District,1280,Sadie Alexander School,Network 2,02,72,8.0,11.11,...,8.33,1,1.39,7,9.72,0,0.00,43,59.72,NaN
75,2023-2024,District,District,1280,Sadie Alexander School,Network 2,03,72,9.0,12.50,...,11.11,3,4.17,9,12.50,0,0.00,34,47.22,NaN
76,2023-2024,District,District,1280,Sadie Alexander School,Network 2,04,69,3.0,4.35,...,5.80,2,2.90,4,5.80,1,1.45,34,49.28,NaN
77,2023-2024,District,District,1280,Sadie Alexander School,Network 2,05,60,2.0,3.33,...,13.33,3,5.00,8,13.33,0,0.00,35,58.33,NaN
78,2023-2024,District,District,1280,Sadie Alexander School,Network 2,06,57,8.0,14.04,...,17.54,2,3.51,2,3.51,0,0.00,24,42.11,NaN
79,2023-2024,District,District,1280,Sadie Alexander School,Network 2,07,52,4.0,7.69,...,15.38,5,9.62,8,15.38,0,0.00,21,40.38,NaN
80,2023-2024,District,District,1280,Sadie Alexander School,Network 2,08,44,1.0,2.27,...,25.00,1,2.27,7,15.91,0,0.00,20,45.45,NaN
81,2023-2024,District,District,1280,Sadie Alexander School,Network 2,All Grades,584,63.0,10.79,...,12.67,30,5.14,59,10.10,1,0.17,270,46.23,45.75

1290

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
82,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,00,28,0.0,0.00,...,85.71,1,3.57,0,0.00,0,0.0,0,0.00,NaN
83,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,01,31,2.0,6.45,...,87.10,1,3.23,0,0.00,0,0.0,1,3.23,NaN
84,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,02,48,2.0,4.17,...,95.83,2,4.17,0,0.00,0,0.0,0,0.00,NaN
85,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,03,21,1.0,4.76,...,95.24,1,4.76,0,0.00,0,0.0,0,0.00,NaN
86,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,04,35,0.0,0.00,...,97.14,0,0.00,1,2.86,0,0.0,0,0.00,NaN
87,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,05,52,1.0,1.92,...,90.38,2,3.85,0,0.00,0,0.0,0,0.00,NaN
88,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,06,36,0.0,0.00,...,91.67,3,8.33,0,0.00,0,0.0,0,0.00,NaN
89,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,07,56,0.0,0.00,...,94.64,3,5.36,0,0.00,0,0.0,0,0.00,NaN
90,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,08,47,1.0,2.13,...,97.87,1,2.13,0,0.00,0,0.0,0,0.00,NaN
91,2023-2024,District,District,1290,Andrew Hamilton School,Network 2,All Grades,354,7.0,1.98,...,93.22,14,3.95,1,0.28,0,0.0,1,0.28,100.0

1300

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
92,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,00,34,1.0,2.94,...,85.29,3,8.82,1,2.94,0,0.0,1,2.94,NaN
93,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,01,28,1.0,3.57,...,71.43,5,17.86,2,7.14,0,0.0,1,3.57,NaN
94,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,02,32,0.0,0.00,...,96.88,0,0.00,0,0.00,0,0.0,0,0.00,NaN
95,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,03,31,2.0,6.45,...,90.32,1,3.23,1,3.23,0,0.0,1,3.23,NaN
96,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,04,29,0.0,0.00,...,89.66,1,3.45,1,3.45,0,0.0,1,3.45,NaN
97,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,05,40,0.0,0.00,...,97.50,1,2.50,0,0.00,0,0.0,0,0.00,NaN
98,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,06,36,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
99,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,07,32,0.0,0.00,...,90.63,2,6.25,1,3.13,0,0.0,0,0.00,NaN
100,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,08,28,1.0,3.57,...,92.86,1,3.57,0,0.00,0,0.0,1,3.57,NaN
101,2023-2024,District,District,1300,Avery D. Harrington School,Network 12,All Grades,290,5.0,1.72,...,91.03,14,4.83,6,2.07,0,0.0,5,1.72,100.0

1340

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
102,2023-2024,District,District,1340,Henry C. Lea School,Network 2,00,46,6.0,13.04,...,52.17,3,6.52,1,2.17,0,0.00,10,21.74,NaN
103,2023-2024,District,District,1340,Henry C. Lea School,Network 2,01,56,12.0,21.43,...,39.29,5,8.93,7,12.50,0,0.00,11,19.64,NaN
104,2023-2024,District,District,1340,Henry C. Lea School,Network 2,02,74,15.0,20.27,...,55.41,3,4.05,3,4.05,0,0.00,12,16.22,NaN
105,2023-2024,District,District,1340,Henry C. Lea School,Network 2,03,48,14.0,29.17,...,52.08,3,6.25,2,4.17,0,0.00,7,14.58,NaN
106,2023-2024,District,District,1340,Henry C. Lea School,Network 2,04,58,12.0,20.69,...,70.69,4,6.90,2,3.45,0,0.00,3,5.17,NaN
107,2023-2024,District,District,1340,Henry C. Lea School,Network 2,05,47,13.0,27.66,...,59.57,3,6.38,0,0.00,0,0.00,4,8.51,NaN
108,2023-2024,District,District,1340,Henry C. Lea School,Network 2,06,46,6.0,13.04,...,71.74,4,8.70,0,0.00,1,2.17,5,10.87,NaN
109,2023-2024,District,District,1340,Henry C. Lea School,Network 2,07,36,4.0,11.11,...,63.89,2,5.56,1,2.78,0,0.00,4,11.11,NaN
110,2023-2024,District,District,1340,Henry C. Lea School,Network 2,08,50,13.0,26.00,...,68.00,6,12.00,1,2.00,0,0.00,1,2.00,NaN
111,2023-2024,District,District,1340,Henry C. Lea School,Network 2,All Grades,461,95.0,20.61,...,58.79,33,7.16,17,3.69,1,0.22,57,12.36,96.49

1350

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
112,2023-2024,District,District,1350,William C. Longstreth School,Network 10,00,26,1.0,3.85,...,92.31,0,0.00,2,7.69,0,0.0,0,0.00,NaN
113,2023-2024,District,District,1350,William C. Longstreth School,Network 10,01,26,0.0,0.00,...,96.15,0,0.00,0,0.00,0,0.0,1,3.85,NaN
114,2023-2024,District,District,1350,William C. Longstreth School,Network 10,02,26,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
115,2023-2024,District,District,1350,William C. Longstreth School,Network 10,03,23,1.0,4.35,...,86.96,1,4.35,0,0.00,0,0.0,1,4.35,NaN
116,2023-2024,District,District,1350,William C. Longstreth School,Network 10,04,23,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
117,2023-2024,District,District,1350,William C. Longstreth School,Network 10,05,31,0.0,0.00,...,87.10,4,12.90,0,0.00,0,0.0,0,0.00,NaN
118,2023-2024,District,District,1350,William C. Longstreth School,Network 10,06,34,1.0,2.94,...,94.12,2,5.88,0,0.00,0,0.0,0,0.00,NaN
119,2023-2024,District,District,1350,William C. Longstreth School,Network 10,07,36,1.0,2.78,...,97.22,1,2.78,0,0.00,0,0.0,0,0.00,NaN
120,2023-2024,District,District,1350,William C. Longstreth School,Network 10,08,23,1.0,4.35,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
121,2023-2024,District,District,1350,William C. Longstreth School,Network 10,All Grades,248,5.0,2.02,...,94.76,8,3.23,2,0.81,0,0.0,2,0.81,100.0

1360

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
122,2023-2024,District,District,1360,Morton McMichael School,Network 5,00,23,0.0,0.00,...,91.30,0,0.00,0,0.00,0,0.0,1,4.35,NaN
123,2023-2024,District,District,1360,Morton McMichael School,Network 5,01,28,0.0,0.00,...,96.43,0,0.00,0,0.00,0,0.0,0,0.00,NaN
124,2023-2024,District,District,1360,Morton McMichael School,Network 5,02,22,0.0,0.00,...,86.36,1,4.55,2,9.09,0,0.0,0,0.00,NaN
125,2023-2024,District,District,1360,Morton McMichael School,Network 5,03,24,0.0,0.00,...,87.50,1,4.17,1,4.17,0,0.0,1,4.17,NaN
126,2023-2024,District,District,1360,Morton McMichael School,Network 5,04,38,1.0,2.63,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
127,2023-2024,District,District,1360,Morton McMichael School,Network 5,05,31,1.0,3.23,...,96.77,1,3.23,0,0.00,0,0.0,0,0.00,NaN
128,2023-2024,District,District,1360,Morton McMichael School,Network 5,06,37,0.0,0.00,...,94.59,0,0.00,0,0.00,0,0.0,2,5.41,NaN
129,2023-2024,District,District,1360,Morton McMichael School,Network 5,07,31,1.0,3.23,...,96.77,1,3.23,0,0.00,0,0.0,0,0.00,NaN
130,2023-2024,District,District,1360,Morton McMichael School,Network 5,08,38,0.0,0.00,...,92.11,1,2.63,2,5.26,0,0.0,0,0.00,NaN
131,2023-2024,District,District,1360,Morton McMichael School,Network 5,All Grades,272,3.0,1.10,...,94.12,5,1.84,5,1.84,0,0.0,4,1.47,100.0

1370

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
132,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,00,30,1.0,3.33,...,96.67,0,0.00,1,3.33,0,0.0,0,0.00,NaN
133,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,01,33,0.0,0.00,...,81.82,2,6.06,2,6.06,0,0.0,1,3.03,NaN
134,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,02,38,0.0,0.00,...,92.11,2,5.26,1,2.63,0,0.0,0,0.00,NaN
135,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,03,37,0.0,0.00,...,89.19,1,2.70,3,8.11,0,0.0,0,0.00,NaN
136,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,04,29,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
137,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,05,42,1.0,2.38,...,92.86,1,2.38,1,2.38,0,0.0,0,0.00,NaN
138,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,06,34,0.0,0.00,...,94.12,2,5.88,0,0.00,0,0.0,0,0.00,NaN
139,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,07,26,1.0,3.85,...,96.15,1,3.85,0,0.00,0,0.0,0,0.00,NaN
140,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,08,28,1.0,3.57,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
141,2023-2024,District,District,1370,S. Weir Mitchell School,Network 5,All Grades,297,4.0,1.35,...,93.27,9,3.03,8,2.69,0,0.0,1,0.34,100.0

1380

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
142,2023-2024,District,District,1380,Thomas G. Morton School,Network 11,00,66,7.0,10.61,...,80.30,6,9.09,1,1.52,0,0.0,2,3.03,NaN
143,2023-2024,District,District,1380,Thomas G. Morton School,Network 11,01,56,10.0,17.86,...,80.36,7,12.50,1,1.79,0,0.0,2,3.57,NaN
144,2023-2024,District,District,1380,Thomas G. Morton School,Network 11,02,51,8.0,15.69,...,88.24,6,11.76,0,0.00,0,0.0,0,0.00,NaN
145,2023-2024,District,District,1380,Thomas G. Morton School,Network 11,03,58,8.0,13.79,...,74.14,8,13.79,1,1.72,0,0.0,1,1.72,NaN
146,2023-2024,District,District,1380,Thomas G. Morton School,Network 11,04,69,8.0,11.59,...,84.06,5,7.25,1,1.45,0,0.0,2,2.90,NaN
147,2023-2024,District,District,1380,Thomas G. Morton School,Network 11,05,53,5.0,9.43,...,84.91,4,7.55,1,1.89,0,0.0,2,3.77,NaN
148,2023-2024,District,District,1380,Thomas G. Morton School,Network 11,All Grades,353,46.0,13.03,...,81.87,36,10.20,5,1.42,0,0.0,9,2.55,100.0

1390

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
149,2023-2024,District,District,1390,Samuel Powel School,Network 2,00,67,2.0,2.99,...,58.21,6,8.96,3,4.48,0,0.0,15,22.39,NaN
150,2023-2024,District,District,1390,Samuel Powel School,Network 2,01,78,2.0,2.56,...,60.26,4,5.13,5,6.41,0,0.0,18,23.08,NaN
151,2023-2024,District,District,1390,Samuel Powel School,Network 2,02,63,1.0,1.59,...,53.97,1,1.59,3,4.76,0,0.0,24,38.10,NaN
152,2023-2024,District,District,1390,Samuel Powel School,Network 2,03,53,1.0,1.89,...,66.04,1,1.89,1,1.89,0,0.0,14,26.42,NaN
153,2023-2024,District,District,1390,Samuel Powel School,Network 2,04,50,1.0,2.00,...,64.00,4,8.00,0,0.00,0,0.0,10,20.00,NaN
154,2023-2024,District,District,1390,Samuel Powel School,Network 2,All Grades,311,7.0,2.25,...,60.13,16,5.14,12,3.86,0,0.0,81,26.05,79.74

1400

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
155,2023-2024,District,District,1400,John M. Patterson School,Network 10,00,73,5.0,6.85,...,80.82,5,6.85,5,6.85,0,0.0,0,0.00,NaN
156,2023-2024,District,District,1400,John M. Patterson School,Network 10,01,71,9.0,12.68,...,88.73,4,5.63,2,2.82,0,0.0,1,1.41,NaN
157,2023-2024,District,District,1400,John M. Patterson School,Network 10,02,63,7.0,11.11,...,82.54,3,4.76,4,6.35,0,0.0,0,0.00,NaN
158,2023-2024,District,District,1400,John M. Patterson School,Network 10,03,66,9.0,13.64,...,77.27,8,12.12,0,0.00,0,0.0,2,3.03,NaN
159,2023-2024,District,District,1400,John M. Patterson School,Network 10,04,78,6.0,7.69,...,84.62,3,3.85,1,1.28,0,0.0,3,3.85,NaN
160,2023-2024,District,District,1400,John M. Patterson School,Network 10,All Grades,351,36.0,10.26,...,82.91,23,6.55,12,3.42,0,0.0,6,1.71,100.0

1410

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
161,2023-2024,District,District,1410,James Rhoads School,Acceleration,00,45,1.0,2.22,...,95.56,0,0.00,0,0.00,0,0.0,1,2.22,NaN
162,2023-2024,District,District,1410,James Rhoads School,Acceleration,01,50,1.0,2.00,...,94.00,1,2.00,0,0.00,0,0.0,0,0.00,NaN
163,2023-2024,District,District,1410,James Rhoads School,Acceleration,02,52,3.0,5.77,...,92.31,2,3.85,1,1.92,0,0.0,1,1.92,NaN
164,2023-2024,District,District,1410,James Rhoads School,Acceleration,03,33,0.0,0.00,...,93.94,1,3.03,0,0.00,0,0.0,0,0.00,NaN
165,2023-2024,District,District,1410,James Rhoads School,Acceleration,04,50,0.0,0.00,...,90.00,4,8.00,0,0.00,0,0.0,1,2.00,NaN
166,2023-2024,District,District,1410,James Rhoads School,Acceleration,05,58,0.0,0.00,...,98.28,0,0.00,0,0.00,0,0.0,0,0.00,NaN
167,2023-2024,District,District,1410,James Rhoads School,Acceleration,06,31,0.0,0.00,...,96.77,1,3.23,0,0.00,0,0.0,0,0.00,NaN
168,2023-2024,District,District,1410,James Rhoads School,Acceleration,07,46,0.0,0.00,...,95.65,1,2.17,1,2.17,0,0.0,0,0.00,NaN
169,2023-2024,District,District,1410,James Rhoads School,Acceleration,08,47,1.0,2.13,...,95.74,1,2.13,1,2.13,0,0.0,0,0.00,NaN
170,2023-2024,District,District,1410,James Rhoads School,Acceleration,All Grades,412,6.0,1.46,...,94.66,11,2.67,3,0.73,0,0.0,3,0.73,100.0

1420

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
171,2023-2024,District,District,1420,Martha Washington School,Network 2,00,8,0.0,0.00,...,75.00,1,12.50,1,12.50,0,0.00,0,0.00,NaN
172,2023-2024,District,District,1420,Martha Washington School,Network 2,01,27,0.0,0.00,...,74.07,2,7.41,3,11.11,0,0.00,1,3.70,NaN
173,2023-2024,District,District,1420,Martha Washington School,Network 2,02,26,0.0,0.00,...,84.62,1,3.85,2,7.69,0,0.00,1,3.85,NaN
174,2023-2024,District,District,1420,Martha Washington School,Network 2,03,25,2.0,8.00,...,80.00,1,4.00,1,4.00,1,4.00,1,4.00,NaN
175,2023-2024,District,District,1420,Martha Washington School,Network 2,04,22,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.00,0,0.00,NaN
176,2023-2024,District,District,1420,Martha Washington School,Network 2,05,27,0.0,0.00,...,92.59,1,3.70,0,0.00,0,0.00,1,3.70,NaN
177,2023-2024,District,District,1420,Martha Washington School,Network 2,06,35,1.0,2.86,...,94.29,1,2.86,0,0.00,0,0.00,1,2.86,NaN
178,2023-2024,District,District,1420,Martha Washington School,Network 2,07,26,2.0,7.69,...,73.08,2,7.69,2,7.69,0,0.00,0,0.00,NaN
179,2023-2024,District,District,1420,Martha Washington School,Network 2,08,26,0.0,0.00,...,88.46,0,0.00,1,3.85,0,0.00,2,7.69,NaN
180,2023-2024,District,District,1420,Martha Washington School,Network 2,All Grades,222,5.0,2.25,...,85.59,9,4.05,10,4.50,1,0.45,7,3.15,100.0

1440

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
181,2023-2024,District,District,1440,Penrose School,Network 10,00,40,6.0,15.00,...,80.00,3,7.50,2,5.00,0,0.0,1,2.50,NaN
182,2023-2024,District,District,1440,Penrose School,Network 10,01,32,4.0,12.50,...,93.75,2,6.25,0,0.00,0,0.0,0,0.00,NaN
183,2023-2024,District,District,1440,Penrose School,Network 10,02,31,2.0,6.45,...,87.10,1,3.23,1,3.23,0,0.0,1,3.23,NaN
184,2023-2024,District,District,1440,Penrose School,Network 10,03,41,4.0,9.76,...,82.93,2,4.88,3,7.32,0,0.0,1,2.44,NaN
185,2023-2024,District,District,1440,Penrose School,Network 10,04,36,3.0,8.33,...,88.89,2,5.56,1,2.78,0,0.0,0,0.00,NaN
186,2023-2024,District,District,1440,Penrose School,Network 10,05,45,8.0,17.78,...,75.56,6,13.33,1,2.22,0,0.0,1,2.22,NaN
187,2023-2024,District,District,1440,Penrose School,Network 10,06,44,3.0,6.82,...,88.64,2,4.55,1,2.27,0,0.0,0,0.00,NaN
188,2023-2024,District,District,1440,Penrose School,Network 10,07,60,9.0,15.00,...,71.67,5,8.33,5,8.33,0,0.0,1,1.67,NaN
189,2023-2024,District,District,1440,Penrose School,Network 10,08,52,4.0,7.69,...,78.85,2,3.85,4,7.69,0,0.0,1,1.92,NaN
190,2023-2024,District,District,1440,Penrose School,Network 10,All Grades,381,43.0,11.29,...,81.89,25,6.56,18,4.72,0,0.0,6,1.57,100.0

1460

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
191,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,00,38,0.0,0.00,...,94.74,1,2.63,0,0.00,0,0.0,0,0.00,NaN
192,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,01,37,1.0,2.70,...,94.59,0,0.00,1,2.70,0,0.0,1,2.70,NaN
193,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,02,45,4.0,8.89,...,88.89,3,6.67,1,2.22,0,0.0,1,2.22,NaN
194,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,03,39,1.0,2.56,...,97.44,1,2.56,0,0.00,0,0.0,0,0.00,NaN
195,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,04,43,1.0,2.33,...,95.35,1,2.33,0,0.00,0,0.0,1,2.33,NaN
196,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,05,41,0.0,0.00,...,92.68,2,4.88,1,2.44,0,0.0,0,0.00,NaN
197,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,06,40,0.0,0.00,...,97.50,1,2.50,0,0.00,0,0.0,0,0.00,NaN
198,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,07,42,1.0,2.38,...,92.86,2,4.76,1,2.38,0,0.0,0,0.00,NaN
199,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,08,46,0.0,0.00,...,89.13,3,6.52,1,2.17,0,0.0,0,0.00,NaN
200,2023-2024,District,District,1460,Add B. Anderson School,Acceleration,All Grades,371,8.0,2.16,...,93.53,14,3.77,5,1.35,0,0.0,3,0.81,100.0

1470

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
201,2023-2024,District,District,1470,Alain Locke School,Network 2,00,26,3.0,11.54,...,76.92,1,3.85,2,7.69,0,0.0,0,0.00,NaN
202,2023-2024,District,District,1470,Alain Locke School,Network 2,01,31,3.0,9.68,...,83.87,1,3.23,0,0.00,0,0.0,0,0.00,NaN
203,2023-2024,District,District,1470,Alain Locke School,Network 2,02,32,1.0,3.13,...,75.00,3,9.38,2,6.25,0,0.0,2,6.25,NaN
204,2023-2024,District,District,1470,Alain Locke School,Network 2,03,31,4.0,12.90,...,74.19,3,9.68,2,6.45,0,0.0,0,0.00,NaN
205,2023-2024,District,District,1470,Alain Locke School,Network 2,04,29,2.0,6.90,...,68.97,4,13.79,0,0.00,0,0.0,1,3.45,NaN
206,2023-2024,District,District,1470,Alain Locke School,Network 2,05,26,2.0,7.69,...,84.62,2,7.69,1,3.85,0,0.0,0,0.00,NaN
207,2023-2024,District,District,1470,Alain Locke School,Network 2,06,30,7.0,23.33,...,83.33,3,10.00,1,3.33,0,0.0,0,0.00,NaN
208,2023-2024,District,District,1470,Alain Locke School,Network 2,07,29,3.0,10.34,...,72.41,2,6.90,1,3.45,0,0.0,1,3.45,NaN
209,2023-2024,District,District,1470,Alain Locke School,Network 2,08,27,3.0,11.11,...,77.78,2,7.41,1,3.70,0,0.0,1,3.70,NaN
210,2023-2024,District,District,1470,Alain Locke School,Network 2,All Grades,261,28.0,10.73,...,77.39,21,8.05,10,3.83,0,0.0,5,1.92,100.0

1490

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
211,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,00,21,0.0,0.0,...,95.24,1,4.76,0,0.00,0,0.0,0,0.00,NaN
212,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,01,29,0.0,0.0,...,96.55,0,0.00,0,0.00,0,0.0,0,0.00,NaN
213,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,02,25,0.0,0.0,...,88.00,2,8.00,1,4.00,0,0.0,0,0.00,NaN
214,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,03,23,0.0,0.0,...,91.30,2,8.70,0,0.00,0,0.0,0,0.00,NaN
215,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,04,28,0.0,0.0,...,96.43,0,0.00,1,3.57,0,0.0,0,0.00,NaN
216,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,05,24,0.0,0.0,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
217,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,06,31,0.0,0.0,...,90.32,2,6.45,0,0.00,0,0.0,1,3.23,NaN
218,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,07,35,0.0,0.0,...,97.14,1,2.86,0,0.00,0,0.0,0,0.00,NaN
219,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,08,32,0.0,0.0,...,96.88,1,3.13,0,0.00,0,0.0,0,0.00,NaN
220,2023-2024,District,District,1490,Rudolph Blankenburg School,Acceleration,All Grades,248,0.0,0.0,...,94.76,9,3.63,2,0.81,0,0.0,1,0.40,100.0

1580

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
221,2023-2024,District,District,1580,Middle Years Alternative School,Network 2,05,14,3.0,21.43,...,71.43,3,21.43,0,0.00,0,0.0,1,7.14,NaN
222,2023-2024,District,District,1580,Middle Years Alternative School,Network 2,06,33,4.0,12.12,...,60.61,7,21.21,2,6.06,0,0.0,0,0.00,NaN
223,2023-2024,District,District,1580,Middle Years Alternative School,Network 2,07,45,5.0,11.11,...,84.44,6,13.33,1,2.22,0,0.0,0,0.00,NaN
224,2023-2024,District,District,1580,Middle Years Alternative School,Network 2,08,64,1.0,1.56,...,87.50,6,9.38,1,1.56,0,0.0,0,0.00,NaN
225,2023-2024,District,District,1580,Middle Years Alternative School,Network 2,All Grades,156,13.0,8.33,...,79.49,22,14.10,4,2.56,0,0.0,1,0.64,100.0

2000

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
226,2023-2024,District,District,2000,South Philadelphia High School,Network 13,09,182,66.0,36.26,...,42.86,57,31.32,6,3.30,0,0.0,19,10.44,NaN
227,2023-2024,District,District,2000,South Philadelphia High School,Network 13,10,187,97.0,51.87,...,35.29,92,49.20,7,3.74,0,0.0,12,6.42,NaN
228,2023-2024,District,District,2000,South Philadelphia High School,Network 13,11,152,65.0,42.76,...,34.21,65,42.76,9,5.92,0,0.0,10,6.58,NaN
229,2023-2024,District,District,2000,South Philadelphia High School,Network 13,12,114,40.0,35.09,...,39.47,39,34.21,6,5.26,0,0.0,11,9.65,NaN
230,2023-2024,District,District,2000,South Philadelphia High School,Network 13,All Grades,635,268.0,42.20,...,37.95,253,39.84,28,4.41,0,0.0,52,8.19,100.0

2010

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
231,2023-2024,District,District,2010,Benjamin Franklin High School,Network 4,09,157,19.0,12.10,...,73.89,27,17.20,8,5.10,0,0.0,2,1.27,NaN
232,2023-2024,District,District,2010,Benjamin Franklin High School,Network 4,10,117,23.0,19.66,...,60.68,31,26.50,7,5.98,0,0.0,6,5.13,NaN
233,2023-2024,District,District,2010,Benjamin Franklin High School,Network 4,11,151,31.0,20.53,...,65.56,40,26.49,6,3.97,0,0.0,6,3.97,NaN
234,2023-2024,District,District,2010,Benjamin Franklin High School,Network 4,12,120,19.0,15.83,...,73.33,15,12.50,4,3.33,0,0.0,5,4.17,NaN
235,2023-2024,District,District,2010,Benjamin Franklin High School,Network 4,All Grades,545,92.0,16.88,...,68.62,113,20.73,25,4.59,0,0.0,19,3.49,100.0

2020

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
236,2023-2024,District,District,2020,High School for Creative and Performing Arts,Network 1,09,132,2.0,1.52,...,37.88,15,11.36,7,5.30,0,0.00,54,40.91,NaN
237,2023-2024,District,District,2020,High School for Creative and Performing Arts,Network 1,10,177,3.0,1.69,...,53.11,19,10.73,10,5.65,0,0.00,41,23.16,NaN
238,2023-2024,District,District,2020,High School for Creative and Performing Arts,Network 1,11,175,5.0,2.86,...,53.14,24,13.71,5,2.86,1,0.57,41,23.43,NaN
239,2023-2024,District,District,2020,High School for Creative and Performing Arts,Network 1,12,172,3.0,1.74,...,44.19,24,13.95,16,9.30,0,0.00,51,29.65,NaN
240,2023-2024,District,District,2020,High School for Creative and Performing Arts,Network 1,All Grades,656,13.0,1.98,...,47.71,82,12.50,38,5.79,1,0.15,187,28.51,81.22

2050

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
241,2023-2024,District,District,2050,Science Leadership Academy Middle School,Innovation,05,84,0.0,0.00,...,58.33,4,4.76,7,8.33,0,0.0,18,21.43,NaN
242,2023-2024,District,District,2050,Science Leadership Academy Middle School,Innovation,06,93,1.0,1.08,...,60.22,4,4.30,1,1.08,0,0.0,27,29.03,NaN
243,2023-2024,District,District,2050,Science Leadership Academy Middle School,Innovation,07,88,4.0,4.55,...,61.36,3,3.41,4,4.55,0,0.0,19,21.59,NaN
244,2023-2024,District,District,2050,Science Leadership Academy Middle School,Innovation,08,90,2.0,2.22,...,57.78,7,7.78,6,6.67,0,0.0,20,22.22,NaN
245,2023-2024,District,District,2050,Science Leadership Academy Middle School,Innovation,All Grades,355,7.0,1.97,...,59.44,18,5.07,18,5.07,0,0.0,84,23.66,87.44

2140

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
246,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,05,159,1.0,0.63,...,11.32,6,3.77,12,7.55,0,0.00,84,52.83,NaN
247,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,06,193,4.0,2.07,...,20.21,17,8.81,15,7.77,0,0.00,85,44.04,NaN
248,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,07,191,2.0,1.05,...,26.70,21,10.99,17,8.90,0,0.00,72,37.70,NaN
249,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,08,192,1.0,0.52,...,13.02,16,8.33,14,7.29,1,0.52,89,46.35,NaN
250,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,09,118,4.0,3.39,...,16.10,9,7.63,6,5.08,0,0.00,31,26.27,NaN
251,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,10,117,0.0,0.00,...,16.24,9,7.69,10,8.55,0,0.00,31,26.50,NaN
252,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,11,111,0.0,0.00,...,12.61,9,8.11,9,8.11,0,0.00,43,38.74,NaN
253,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,12,120,0.0,0.00,...,12.50,8,6.67,11,9.17,1,0.83,45,37.50,NaN
254,2023-2024,District,District,2140,Julia R. Masterman School,Network 1,All Grades,1201,12.0,1.00,...,16.65,95,7.91,94,7.83,2,0.17,480,39.97,59.82

2160

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
255,2023-2024,District,District,2160,Furness High School,Network 13,09,239,124.0,51.88,...,22.18,96,40.17,7,2.93,1,0.42,17,7.11,NaN
256,2023-2024,District,District,2160,Furness High School,Network 13,10,206,134.0,65.05,...,13.59,106,51.46,9,4.37,0,0.00,10,4.85,NaN
257,2023-2024,District,District,2160,Furness High School,Network 13,11,212,109.0,51.42,...,17.45,86,40.57,8,3.77,0,0.00,14,6.60,NaN
258,2023-2024,District,District,2160,Furness High School,Network 13,12,165,68.0,41.21,...,16.97,46,27.88,5,3.03,1,0.61,12,7.27,NaN
259,2023-2024,District,District,2160,Furness High School,Network 13,All Grades,822,435.0,52.92,...,17.76,334,40.63,29,3.53,2,0.24,53,6.45,96.35

2190

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
260,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,00,35,21.0,60.00,...,14.29,12,34.29,1,2.86,0,0.0,2,5.71,NaN
261,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,01,54,25.0,46.30,...,3.70,26,48.15,2,3.70,0,0.0,11,20.37,NaN
262,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,02,43,16.0,37.21,...,6.98,15,34.88,2,4.65,0,0.0,10,23.26,NaN
263,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,03,52,24.0,46.15,...,13.46,21,40.38,0,0.00,0,0.0,10,19.23,NaN
264,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,04,58,26.0,44.83,...,10.34,15,25.86,2,3.45,0,0.0,15,25.86,NaN
265,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,05,53,21.0,39.62,...,5.66,16,30.19,2,3.77,0,0.0,8,15.09,NaN
266,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,06,62,25.0,40.32,...,8.06,20,32.26,3,4.84,0,0.0,14,22.58,NaN
267,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,07,92,27.0,29.35,...,7.61,33,35.87,4,4.35,0,0.0,19,20.65,NaN
268,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,08,85,41.0,48.24,...,7.06,42,49.41,2,2.35,0,0.0,20,23.53,NaN
269,2023-2024,District,District,2190,D. Newlin Fell School,Network 10,All Grades,534,226.0,42.32,...,8.24,200,37.45,18,3.37,0,0.0,109,20.41,100.0

2210

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
270,2023-2024,District,District,2210,Bache-Martin School,Network 12,00,68,2.0,2.94,...,26.47,9,13.24,7,10.29,0,0.00,32,47.06,NaN
271,2023-2024,District,District,2210,Bache-Martin School,Network 12,01,73,2.0,2.74,...,27.40,10,13.70,3,4.11,0,0.00,39,53.42,NaN
272,2023-2024,District,District,2210,Bache-Martin School,Network 12,02,65,4.0,6.15,...,35.38,4,6.15,4,6.15,0,0.00,31,47.69,NaN
273,2023-2024,District,District,2210,Bache-Martin School,Network 12,03,85,6.0,7.06,...,32.94,8,9.41,4,4.71,1,1.18,41,48.24,NaN
274,2023-2024,District,District,2210,Bache-Martin School,Network 12,04,56,5.0,8.93,...,37.50,7,12.50,0,0.00,0,0.00,26,46.43,NaN
275,2023-2024,District,District,2210,Bache-Martin School,Network 12,05,42,3.0,7.14,...,57.14,6,14.29,0,0.00,0,0.00,11,26.19,NaN
276,2023-2024,District,District,2210,Bache-Martin School,Network 12,06,53,4.0,7.55,...,58.49,10,18.87,0,0.00,0,0.00,11,20.75,NaN
277,2023-2024,District,District,2210,Bache-Martin School,Network 12,07,42,3.0,7.14,...,57.14,6,14.29,1,2.38,0,0.00,10,23.81,NaN
278,2023-2024,District,District,2210,Bache-Martin School,Network 12,08,49,5.0,10.20,...,65.31,12,24.49,3,6.12,0,0.00,2,4.08,NaN
279,2023-2024,District,District,2210,Bache-Martin School,Network 12,All Grades,533,34.0,6.38,...,41.46,72,13.51,22,4.13,1,0.19,203,38.09,82.85

2240

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
280,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,00,19,2.0,10.53,...,42.11,0,0.00,1,5.26,0,0.0,10,52.63,NaN
281,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,01,16,1.0,6.25,...,25.00,2,12.50,2,12.50,0,0.0,6,37.50,NaN
282,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,02,21,1.0,4.76,...,66.67,3,14.29,3,14.29,0,0.0,0,0.00,NaN
283,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,03,21,5.0,23.81,...,38.10,3,14.29,2,9.52,0,0.0,6,28.57,NaN
284,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,04,29,4.0,13.79,...,44.83,3,10.34,4,13.79,0,0.0,5,17.24,NaN
285,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,05,22,3.0,13.64,...,59.09,2,9.09,2,9.09,0,0.0,2,9.09,NaN
286,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,06,31,2.0,6.45,...,45.16,2,6.45,0,0.00,0,0.0,12,38.71,NaN
287,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,07,27,2.0,7.41,...,62.96,5,18.52,1,3.70,0,0.0,4,14.81,NaN
288,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,08,34,1.0,2.94,...,50.00,5,14.71,4,11.76,0,0.0,5,14.71,NaN
289,2023-2024,District,District,2240,F. Amedee Bregy School,Network 2,All Grades,220,21.0,9.55,...,49.09,25,11.36,19,8.64,0,0.0,50,22.73,100.0

2260

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
290,2023-2024,District,District,2260,George W. Childs School,Network 10,00,37,10.0,27.03,...,27.03,11,29.73,4,10.81,0,0.0,8,21.62,NaN
291,2023-2024,District,District,2260,George W. Childs School,Network 10,01,46,13.0,28.26,...,36.96,11,23.91,4,8.70,0,0.0,8,17.39,NaN
292,2023-2024,District,District,2260,George W. Childs School,Network 10,02,42,11.0,26.19,...,50.00,8,19.05,1,2.38,0,0.0,3,7.14,NaN
293,2023-2024,District,District,2260,George W. Childs School,Network 10,03,46,18.0,39.13,...,36.96,12,26.09,4,8.70,0,0.0,6,13.04,NaN
294,2023-2024,District,District,2260,George W. Childs School,Network 10,04,35,3.0,8.57,...,48.57,8,22.86,2,5.71,0,0.0,3,8.57,NaN
295,2023-2024,District,District,2260,George W. Childs School,Network 10,05,58,14.0,24.14,...,46.55,13,22.41,1,1.72,0,0.0,3,5.17,NaN
296,2023-2024,District,District,2260,George W. Childs School,Network 10,06,55,14.0,25.45,...,36.36,23,41.82,2,3.64,0,0.0,1,1.82,NaN
297,2023-2024,District,District,2260,George W. Childs School,Network 10,07,47,14.0,29.79,...,46.81,15,31.91,4,8.51,0,0.0,0,0.00,NaN
298,2023-2024,District,District,2260,George W. Childs School,Network 10,08,45,15.0,33.33,...,46.67,15,33.33,2,4.44,0,0.0,1,2.22,NaN
299,2023-2024,District,District,2260,George W. Childs School,Network 10,All Grades,411,112.0,27.25,...,41.85,116,28.22,24,5.84,0,0.0,33,8.03,100.0

2290

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
300,2023-2024,District,District,2290,Franklin Learning Center,Network 1,09,140,29.0,20.71,...,51.43,39,27.86,3,2.14,0,0.00,8,5.71,NaN
301,2023-2024,District,District,2290,Franklin Learning Center,Network 1,10,211,52.0,24.64,...,49.76,66,31.28,7,3.32,1,0.47,13,6.16,NaN
302,2023-2024,District,District,2290,Franklin Learning Center,Network 1,11,256,48.0,18.75,...,48.44,83,32.42,8,3.13,0,0.00,11,4.30,NaN
303,2023-2024,District,District,2290,Franklin Learning Center,Network 1,12,158,39.0,24.68,...,43.04,45,28.48,3,1.90,2,1.27,14,8.86,NaN
304,2023-2024,District,District,2290,Franklin Learning Center,Network 1,All Grades,765,168.0,21.96,...,48.24,233,30.46,21,2.75,3,0.39,46,6.01,100.0

2310

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
305,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,07,5,0.0,0.0,...,100.00,0,0.00,0,0.0,0,0.0,0,0.0,NaN
306,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,08,6,0.0,0.0,...,100.00,0,0.00,0,0.0,0,0.0,0,0.0,NaN
307,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,09,14,0.0,0.0,...,85.71,2,14.29,0,0.0,0,0.0,0,0.0,NaN
308,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,10,9,0.0,0.0,...,77.78,2,22.22,0,0.0,0,0.0,0,0.0,NaN
309,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,11,12,0.0,0.0,...,100.00,0,0.00,0,0.0,0,0.0,0,0.0,NaN
310,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,12,4,1.0,25.0,...,100.00,0,0.00,0,0.0,0,0.0,0,0.0,NaN
311,2023-2024,Alternative,Alt Contracted,2310,Achieve Academy,Opportunity,All Grades,50,1.0,2.0,...,92.00,4,8.00,0,0.0,0,0.0,0,0.0,100.0

2320

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
312,2023-2024,District,District,2320,Stephen Girard School,Network 2,00,52,11.0,21.15,...,44.23,7,13.46,2,3.85,0,0.0,10,19.23,NaN
313,2023-2024,District,District,2320,Stephen Girard School,Network 2,01,45,10.0,22.22,...,48.89,5,11.11,4,8.89,0,0.0,6,13.33,NaN
314,2023-2024,District,District,2320,Stephen Girard School,Network 2,02,62,11.0,17.74,...,62.90,6,9.68,0,0.00,0,0.0,8,12.90,NaN
315,2023-2024,District,District,2320,Stephen Girard School,Network 2,03,52,4.0,7.69,...,61.54,8,15.38,3,5.77,0,0.0,2,3.85,NaN
316,2023-2024,District,District,2320,Stephen Girard School,Network 2,04,67,15.0,22.39,...,49.25,6,8.96,2,2.99,0,0.0,6,8.96,NaN
317,2023-2024,District,District,2320,Stephen Girard School,Network 2,All Grades,278,51.0,18.35,...,53.60,32,11.51,11,3.96,0,0.0,32,11.51,100.0

2340

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
318,2023-2024,District,District,2340,General George A. McCall School,Network 3,00,79,8.0,10.13,...,12.66,4,5.06,9,11.39,0,0.00,30,37.97,NaN
319,2023-2024,District,District,2340,General George A. McCall School,Network 3,01,69,13.0,18.84,...,14.49,3,4.35,8,11.59,0,0.00,21,30.43,NaN
320,2023-2024,District,District,2340,General George A. McCall School,Network 3,02,80,25.0,31.25,...,7.50,2,2.50,5,6.25,0,0.00,21,26.25,NaN
321,2023-2024,District,District,2340,General George A. McCall School,Network 3,03,75,12.0,16.00,...,10.67,6,8.00,10,13.33,0,0.00,19,25.33,NaN
322,2023-2024,District,District,2340,General George A. McCall School,Network 3,04,72,12.0,16.67,...,16.67,0,0.00,9,12.50,0,0.00,27,37.50,NaN
323,2023-2024,District,District,2340,General George A. McCall School,Network 3,05,57,12.0,21.05,...,14.04,2,3.51,1,1.75,0,0.00,15,26.32,NaN
324,2023-2024,District,District,2340,General George A. McCall School,Network 3,06,63,13.0,20.63,...,7.94,4,6.35,5,7.94,0,0.00,15,23.81,NaN
325,2023-2024,District,District,2340,General George A. McCall School,Network 3,07,58,4.0,6.90,...,6.90,5,8.62,8,13.79,1,1.72,17,29.31,NaN
326,2023-2024,District,District,2340,General George A. McCall School,Network 3,08,66,7.0,10.61,...,12.12,1,1.52,7,10.61,0,0.00,16,24.24,NaN
327,2023-2024,District,District,2340,General George A. McCall School,Network 3,All Grades,619,106.0,17.12,...,11.47,27,4.36,62,10.02,1,0.16,181,29.24,65.4

2370

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
328,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,00,26,1.0,3.85,...,92.31,2,7.69,0,0.00,0,0.0,0,0.00,NaN
329,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,01,31,4.0,12.90,...,67.74,5,16.13,1,3.23,0,0.0,2,6.45,NaN
330,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,02,20,1.0,5.00,...,80.00,3,15.00,1,5.00,0,0.0,0,0.00,NaN
331,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,03,21,1.0,4.76,...,80.95,3,14.29,0,0.00,0,0.0,1,4.76,NaN
332,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,04,25,1.0,4.00,...,64.00,4,16.00,2,8.00,0,0.0,1,4.00,NaN
333,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,05,25,2.0,8.00,...,72.00,3,12.00,3,12.00,0,0.0,0,0.00,NaN
334,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,06,27,3.0,11.11,...,74.07,5,18.52,0,0.00,0,0.0,1,3.70,NaN
335,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,07,27,0.0,0.00,...,81.48,0,0.00,2,7.41,0,0.0,1,3.70,NaN
336,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,08,31,3.0,9.68,...,77.42,5,16.13,0,0.00,0,0.0,0,0.00,NaN
337,2023-2024,District,District,2370,Delaplaine McDaniel School,Acceleration,All Grades,233,16.0,6.87,...,76.39,30,12.88,9,3.86,0,0.0,6,2.58,100.0

2380

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
338,2023-2024,District,District,2380,William M. Meredith School,Network 3,00,66,0.0,0.00,...,7.58,6,9.09,10,15.15,0,0.00,44,66.67,NaN
339,2023-2024,District,District,2380,William M. Meredith School,Network 3,01,66,1.0,1.52,...,10.61,9,13.64,9,13.64,0,0.00,31,46.97,NaN
340,2023-2024,District,District,2380,William M. Meredith School,Network 3,02,74,0.0,0.00,...,9.46,8,10.81,8,10.81,0,0.00,48,64.86,NaN
341,2023-2024,District,District,2380,William M. Meredith School,Network 3,03,64,1.0,1.56,...,4.69,9,14.06,5,7.81,0,0.00,38,59.38,NaN
342,2023-2024,District,District,2380,William M. Meredith School,Network 3,04,70,2.0,2.86,...,7.14,5,7.14,6,8.57,1,1.43,48,68.57,NaN
343,2023-2024,District,District,2380,William M. Meredith School,Network 3,05,34,0.0,0.00,...,5.88,2,5.88,0,0.00,0,0.00,26,76.47,NaN
344,2023-2024,District,District,2380,William M. Meredith School,Network 3,06,35,0.0,0.00,...,14.29,8,22.86,7,20.00,0,0.00,13,37.14,NaN
345,2023-2024,District,District,2380,William M. Meredith School,Network 3,07,61,0.0,0.00,...,4.92,5,8.20,8,13.11,1,1.64,41,67.21,NaN
346,2023-2024,District,District,2380,William M. Meredith School,Network 3,08,45,0.0,0.00,...,15.56,4,8.89,10,22.22,0,0.00,20,44.44,NaN
347,2023-2024,District,District,2380,William M. Meredith School,Network 3,All Grades,515,4.0,0.78,...,8.54,56,10.87,63,12.23,2,0.39,309,60.00,23.92

2390

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
348,2023-2024,District,District,2390,Robert Morris School,Network 3,00,22,0.0,0.00,...,81.82,3,13.64,0,0.00,0,0.0,1,4.55,NaN
349,2023-2024,District,District,2390,Robert Morris School,Network 3,01,20,0.0,0.00,...,80.00,3,15.00,0,0.00,0,0.0,1,5.00,NaN
350,2023-2024,District,District,2390,Robert Morris School,Network 3,02,20,1.0,5.00,...,70.00,4,20.00,0,0.00,0,0.0,1,5.00,NaN
351,2023-2024,District,District,2390,Robert Morris School,Network 3,03,29,0.0,0.00,...,89.66,3,10.34,0,0.00,0,0.0,0,0.00,NaN
352,2023-2024,District,District,2390,Robert Morris School,Network 3,04,31,2.0,6.45,...,83.87,3,9.68,1,3.23,0,0.0,1,3.23,NaN
353,2023-2024,District,District,2390,Robert Morris School,Network 3,05,23,0.0,0.00,...,91.30,2,8.70,0,0.00,0,0.0,0,0.00,NaN
354,2023-2024,District,District,2390,Robert Morris School,Network 3,06,19,0.0,0.00,...,78.95,3,15.79,0,0.00,0,0.0,1,5.26,NaN
355,2023-2024,District,District,2390,Robert Morris School,Network 3,07,21,0.0,0.00,...,95.24,0,0.00,0,0.00,0,0.0,1,4.76,NaN
356,2023-2024,District,District,2390,Robert Morris School,Network 3,08,17,0.0,0.00,...,88.24,0,0.00,2,11.76,0,0.0,0,0.00,NaN
357,2023-2024,District,District,2390,Robert Morris School,Network 3,All Grades,202,3.0,1.49,...,84.65,21,10.40,3,1.49,0,0.0,6,2.97,100.0

2410

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
358,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,05,64,2.0,3.13,...,12.50,6,9.38,7,10.94,1,1.56,25,39.06,NaN
359,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,06,98,1.0,1.02,...,17.35,4,4.08,11,11.22,0,0.00,44,44.90,NaN
360,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,07,101,2.0,1.98,...,20.79,4,3.96,13,12.87,0,0.00,49,48.51,NaN
361,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,08,79,2.0,2.53,...,20.25,7,8.86,9,11.39,0,0.00,32,40.51,NaN
362,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,09,54,2.0,3.70,...,29.63,2,3.70,4,7.41,0,0.00,24,44.44,NaN
363,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,10,60,2.0,3.33,...,31.67,2,3.33,3,5.00,0,0.00,17,28.33,NaN
364,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,11,56,0.0,0.00,...,37.50,6,10.71,2,3.57,0,0.00,17,30.36,NaN
365,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,12,65,1.0,1.54,...,35.38,5,7.69,5,7.69,0,0.00,21,32.31,NaN
366,2023-2024,District,District,2410,Girard Academic Music Program,Network 1,All Grades,577,12.0,2.08,...,24.44,36,6.24,54,9.36,1,0.17,229,39.69,61.56

2450

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
367,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,00,26,0.0,0.00,...,38.46,3,11.54,4,15.38,0,0.00,8,30.77,NaN
368,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,01,30,1.0,3.33,...,56.67,2,6.67,0,0.00,1,3.33,10,33.33,NaN
369,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,02,40,3.0,7.50,...,47.50,6,15.00,4,10.00,0,0.00,9,22.50,NaN
370,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,03,47,0.0,0.00,...,63.83,2,4.26,2,4.26,0,0.00,12,25.53,NaN
371,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,04,25,0.0,0.00,...,68.00,1,4.00,1,4.00,0,0.00,5,20.00,NaN
372,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,05,33,0.0,0.00,...,66.67,6,18.18,2,6.06,1,3.03,2,6.06,NaN
373,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,06,29,0.0,0.00,...,89.66,0,0.00,0,0.00,0,0.00,1,3.45,NaN
374,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,07,33,0.0,0.00,...,81.82,1,3.03,1,3.03,0,0.00,1,3.03,NaN
375,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,08,16,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.00,0,0.00,NaN
376,2023-2024,District,District,2450,Edwin M. Stanton School,Network 10,All Grades,279,4.0,1.43,...,65.95,21,7.53,14,5.02,2,0.72,48,17.20,100.0

2470

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
377,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,00,80,5.0,6.25,...,3.75,10,12.50,11,13.75,0,0.0,46,57.50,NaN
378,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,01,90,8.0,8.89,...,10.00,12,13.33,8,8.89,0,0.0,47,52.22,NaN
379,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,02,99,6.0,6.06,...,6.06,13,13.13,13,13.13,0,0.0,52,52.53,NaN
380,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,03,94,9.0,9.57,...,6.38,10,10.64,13,13.83,0,0.0,49,52.13,NaN
381,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,04,85,4.0,4.71,...,10.59,7,8.24,11,12.94,0,0.0,47,55.29,NaN
382,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,05,76,9.0,11.84,...,19.74,7,9.21,8,10.53,0,0.0,39,51.32,NaN
383,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,06,63,2.0,3.17,...,22.22,13,20.63,7,11.11,0,0.0,24,38.10,NaN
384,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,07,70,1.0,1.43,...,11.43,8,11.43,4,5.71,0,0.0,47,67.14,NaN
385,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,08,73,3.0,4.11,...,23.29,6,8.22,5,6.85,0,0.0,36,49.32,NaN
386,2023-2024,District,District,2470,Albert M. Greenfield School,Network 3,All Grades,730,47.0,6.44,...,11.92,86,11.78,80,10.96,0,0.0,387,53.01,23.01

2480

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
387,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,00,37,0.0,0.00,...,21.62,1,2.70,2,5.41,0,0.0,23,62.16,NaN
388,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,01,33,0.0,0.00,...,24.24,2,6.06,5,15.15,0,0.0,17,51.52,NaN
389,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,02,42,0.0,0.00,...,35.71,1,2.38,3,7.14,0,0.0,22,52.38,NaN
390,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,03,44,1.0,2.27,...,40.91,2,4.55,1,2.27,0,0.0,19,43.18,NaN
391,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,04,41,0.0,0.00,...,31.71,2,4.88,0,0.00,0,0.0,23,56.10,NaN
392,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,05,28,0.0,0.00,...,50.00,1,3.57,2,7.14,0,0.0,11,39.29,NaN
393,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,06,35,0.0,0.00,...,40.00,2,5.71,4,11.43,0,0.0,10,28.57,NaN
394,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,07,28,0.0,0.00,...,82.14,1,3.57,1,3.57,0,0.0,2,7.14,NaN
395,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,08,21,0.0,0.00,...,71.43,0,0.00,3,14.29,0,0.0,2,9.52,NaN
396,2023-2024,District,District,2480,Marian Anderson Neighborhood Academy,Network 10,All Grades,309,1.0,0.32,...,41.42,12,3.88,21,6.80,0,0.0,129,41.75,63.17

2490

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
397,2023-2024,District,District,2490,Laura W. Waring School,Network 3,00,21,2.0,9.52,...,66.67,2,9.52,0,0.00,0,0.00,3,14.29,NaN
398,2023-2024,District,District,2490,Laura W. Waring School,Network 3,01,21,4.0,19.05,...,71.43,2,9.52,0,0.00,0,0.00,3,14.29,NaN
399,2023-2024,District,District,2490,Laura W. Waring School,Network 3,02,22,6.0,27.27,...,54.55,2,9.09,1,4.55,0,0.00,3,13.64,NaN
400,2023-2024,District,District,2490,Laura W. Waring School,Network 3,03,29,9.0,31.03,...,58.62,2,6.90,0,0.00,0,0.00,8,27.59,NaN
401,2023-2024,District,District,2490,Laura W. Waring School,Network 3,04,25,3.0,12.00,...,68.00,3,12.00,0,0.00,1,4.00,3,12.00,NaN
402,2023-2024,District,District,2490,Laura W. Waring School,Network 3,05,28,5.0,17.86,...,75.00,2,7.14,0,0.00,0,0.00,5,17.86,NaN
403,2023-2024,District,District,2490,Laura W. Waring School,Network 3,06,27,4.0,14.81,...,74.07,3,11.11,1,3.70,0,0.00,3,11.11,NaN
404,2023-2024,District,District,2490,Laura W. Waring School,Network 3,07,23,6.0,26.09,...,69.57,1,4.35,0,0.00,0,0.00,4,17.39,NaN
405,2023-2024,District,District,2490,Laura W. Waring School,Network 3,08,17,0.0,0.00,...,88.24,0,0.00,0,0.00,0,0.00,0,0.00,NaN
406,2023-2024,District,District,2490,Laura W. Waring School,Network 3,All Grades,213,39.0,18.31,...,69.01,17,7.98,2,0.94,1,0.47,32,15.02,100.0

2510

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
407,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,00,74,14.0,18.92,...,12.16,16,21.62,7,9.46,0,0.0,40,54.05,NaN
408,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,01,70,14.0,20.00,...,11.43,16,22.86,10,14.29,0,0.0,33,47.14,NaN
409,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,02,62,5.0,8.06,...,12.90,9,14.52,5,8.06,0,0.0,39,62.90,NaN
410,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,03,55,7.0,12.73,...,16.36,10,18.18,6,10.91,0,0.0,29,52.73,NaN
411,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,04,61,14.0,22.95,...,8.20,20,32.79,10,16.39,0,0.0,25,40.98,NaN
412,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,05,65,10.0,15.38,...,13.85,13,20.00,6,9.23,0,0.0,28,43.08,NaN
413,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,06,42,11.0,26.19,...,16.67,17,40.48,1,2.38,0,0.0,9,21.43,NaN
414,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,07,45,9.0,20.00,...,13.33,19,42.22,3,6.67,0,0.0,13,28.89,NaN
415,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,08,43,16.0,37.21,...,11.63,22,51.16,2,4.65,0,0.0,8,18.60,NaN
416,2023-2024,District,District,2510,Fanny Jackson Coppin School,Network 10,All Grades,517,100.0,19.34,...,12.77,142,27.47,50,9.67,0,0.0,224,43.33,69.63

2520

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
417,2023-2024,District,District,2520,Abram S. Jenks School,Network 10,00,54,7.0,12.96,...,20.37,3,5.56,3,5.56,0,0.0,21,38.89,NaN
418,2023-2024,District,District,2520,Abram S. Jenks School,Network 10,01,38,7.0,18.42,...,18.42,2,5.26,3,7.89,0,0.0,17,44.74,NaN
419,2023-2024,District,District,2520,Abram S. Jenks School,Network 10,02,54,11.0,20.37,...,9.26,9,16.67,6,11.11,0,0.0,15,27.78,NaN
420,2023-2024,District,District,2520,Abram S. Jenks School,Network 10,03,37,10.0,27.03,...,18.92,3,8.11,2,5.41,0,0.0,12,32.43,NaN
421,2023-2024,District,District,2520,Abram S. Jenks School,Network 10,04,46,10.0,21.74,...,10.87,7,15.22,4,8.70,0,0.0,18,39.13,NaN
422,2023-2024,District,District,2520,Abram S. Jenks School,Network 10,05,26,5.0,19.23,...,7.69,3,11.54,1,3.85,0,0.0,10,38.46,NaN
423,2023-2024,District,District,2520,Abram S. Jenks School,Network 10,All Grades,255,50.0,19.61,...,14.51,27,10.59,19,7.45,0,0.0,93,36.47,97.25

2530

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
424,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,06,3,0.0,0.00,...,66.67,0,0.00,0,0.00,0,0.00,1,33.33,NaN
425,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,07,5,1.0,20.00,...,80.00,0,0.00,0,0.00,0,0.00,1,20.00,NaN
426,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,08,14,0.0,0.00,...,71.43,2,14.29,1,7.14,0,0.00,1,7.14,NaN
427,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,09,47,2.0,4.26,...,76.60,7,14.89,1,2.13,1,2.13,2,4.26,NaN
428,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,10,62,3.0,4.84,...,80.65,10,16.13,2,3.23,0,0.00,0,0.00,NaN
429,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,11,31,0.0,0.00,...,87.10,2,6.45,1,3.23,0,0.00,1,3.23,NaN
430,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,12,48,0.0,0.00,...,93.75,2,4.17,1,2.08,0,0.00,0,0.00,NaN
431,2023-2024,Alternative,Alt District Run,2530,Phila. Juv. Justice Services Ctr.,Innovation,All Grades,210,6.0,2.86,...,82.86,23,10.95,6,2.86,1,0.48,6,2.86,13.71

2540

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
432,2023-2024,District,District,2540,Francis S. Key School,Network 10,00,53,42.0,79.25,...,5.66,39,73.58,0,0.00,0,0.00,0,0.00,NaN
433,2023-2024,District,District,2540,Francis S. Key School,Network 10,01,55,39.0,70.91,...,5.45,26,47.27,0,0.00,1,1.82,4,7.27,NaN
434,2023-2024,District,District,2540,Francis S. Key School,Network 10,02,60,49.0,81.67,...,8.33,43,71.67,0,0.00,1,1.67,3,5.00,NaN
435,2023-2024,District,District,2540,Francis S. Key School,Network 10,03,43,29.0,67.44,...,9.30,23,53.49,1,2.33,0,0.00,1,2.33,NaN
436,2023-2024,District,District,2540,Francis S. Key School,Network 10,04,60,38.0,63.33,...,8.33,33,55.00,1,1.67,0,0.00,3,5.00,NaN
437,2023-2024,District,District,2540,Francis S. Key School,Network 10,05,55,41.0,74.55,...,5.45,39,70.91,0,0.00,0,0.00,2,3.64,NaN
438,2023-2024,District,District,2540,Francis S. Key School,Network 10,06,63,37.0,58.73,...,12.70,34,53.97,1,1.59,0,0.00,2,3.17,NaN
439,2023-2024,District,District,2540,Francis S. Key School,Network 10,All Grades,389,275.0,70.69,...,7.97,237,60.93,3,0.77,2,0.51,15,3.86,100.0

2580

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
440,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,00,46,19.0,41.30,...,6.52,22,47.83,6,13.04,0,0.0,10,21.74,NaN
441,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,01,54,25.0,46.30,...,5.56,33,61.11,2,3.70,0,0.0,13,24.07,NaN
442,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,02,47,30.0,63.83,...,0.00,20,42.55,4,8.51,0,0.0,10,21.28,NaN
443,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,03,50,31.0,62.00,...,6.00,25,50.00,1,2.00,0,0.0,7,14.00,NaN
444,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,04,54,26.0,48.15,...,3.70,33,61.11,1,1.85,0,0.0,7,12.96,NaN
445,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,05,54,26.0,48.15,...,3.70,29,53.70,0,0.00,0,0.0,6,11.11,NaN
446,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,06,53,24.0,45.28,...,5.66,36,67.92,0,0.00,0,0.0,4,7.55,NaN
447,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,07,60,26.0,43.33,...,5.00,31,51.67,2,3.33,0,0.0,8,13.33,NaN
448,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,08,60,24.0,40.00,...,8.33,25,41.67,5,8.33,0,0.0,4,6.67,NaN
449,2023-2024,District,District,2580,Eliza B. Kirkbride School,Network 10,All Grades,478,231.0,48.33,...,5.02,254,53.14,21,4.39,0,0.0,69,14.44,100.0

2590

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
450,2023-2024,District,District,2590,George W. Nebinger School,Network 3,00,54,4.0,7.41,...,33.33,8,14.81,6,11.11,0,0.0,20,37.04,NaN
451,2023-2024,District,District,2590,George W. Nebinger School,Network 3,01,37,5.0,13.51,...,29.73,7,18.92,1,2.70,0,0.0,16,43.24,NaN
452,2023-2024,District,District,2590,George W. Nebinger School,Network 3,02,46,9.0,19.57,...,30.43,12,26.09,1,2.17,0,0.0,16,34.78,NaN
453,2023-2024,District,District,2590,George W. Nebinger School,Network 3,03,37,9.0,24.32,...,35.14,9,24.32,2,5.41,0,0.0,10,27.03,NaN
454,2023-2024,District,District,2590,George W. Nebinger School,Network 3,04,55,8.0,14.55,...,30.91,10,18.18,0,0.00,0,0.0,23,41.82,NaN
455,2023-2024,District,District,2590,George W. Nebinger School,Network 3,05,58,15.0,25.86,...,36.21,17,29.31,2,3.45,0,0.0,13,22.41,NaN
456,2023-2024,District,District,2590,George W. Nebinger School,Network 3,06,26,4.0,15.38,...,61.54,6,23.08,1,3.85,0,0.0,2,7.69,NaN
457,2023-2024,District,District,2590,George W. Nebinger School,Network 3,07,34,10.0,29.41,...,35.29,11,32.35,2,5.88,0,0.0,5,14.71,NaN
458,2023-2024,District,District,2590,George W. Nebinger School,Network 3,08,42,10.0,23.81,...,50.00,14,33.33,2,4.76,0,0.0,2,4.76,NaN
459,2023-2024,District,District,2590,George W. Nebinger School,Network 3,All Grades,389,74.0,19.02,...,36.76,94,24.16,17,4.37,0,0.0,107,27.51,95.84

2620

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
460,2023-2024,District,District,2620,Academy at Palumbo,Network 1,09,286,41.0,14.34,...,19.58,68,23.78,19,6.64,0,0.0,50,17.48,NaN
461,2023-2024,District,District,2620,Academy at Palumbo,Network 1,10,355,32.0,9.01,...,30.14,64,18.03,25,7.04,0,0.0,54,15.21,NaN
462,2023-2024,District,District,2620,Academy at Palumbo,Network 1,11,303,21.0,6.93,...,23.76,44,14.52,12,3.96,0,0.0,47,15.51,NaN
463,2023-2024,District,District,2620,Academy at Palumbo,Network 1,12,244,12.0,4.92,...,25.00,29,11.89,5,2.05,0,0.0,42,17.21,NaN
464,2023-2024,District,District,2620,Academy at Palumbo,Network 1,All Grades,1188,106.0,8.92,...,24.92,205,17.26,61,5.13,0,0.0,193,16.25,100.0

2630

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
465,2023-2024,District,District,2630,George W. Sharswood School,Network 10,00,31,6.0,19.35,...,0.00,10,32.26,1,3.23,0,0.0,15,48.39,NaN
466,2023-2024,District,District,2630,George W. Sharswood School,Network 10,01,24,7.0,29.17,...,4.17,6,25.00,1,4.17,0,0.0,11,45.83,NaN
467,2023-2024,District,District,2630,George W. Sharswood School,Network 10,02,39,7.0,17.95,...,10.26,12,30.77,2,5.13,0,0.0,13,33.33,NaN
468,2023-2024,District,District,2630,George W. Sharswood School,Network 10,03,23,8.0,34.78,...,4.35,7,30.43,2,8.70,0,0.0,8,34.78,NaN
469,2023-2024,District,District,2630,George W. Sharswood School,Network 10,04,33,5.0,15.15,...,6.06,3,9.09,3,9.09,0,0.0,16,48.48,NaN
470,2023-2024,District,District,2630,George W. Sharswood School,Network 10,05,26,5.0,19.23,...,7.69,5,19.23,0,0.00,0,0.0,10,38.46,NaN
471,2023-2024,District,District,2630,George W. Sharswood School,Network 10,06,52,5.0,9.62,...,17.31,12,23.08,1,1.92,0,0.0,22,42.31,NaN
472,2023-2024,District,District,2630,George W. Sharswood School,Network 10,07,48,11.0,22.92,...,10.42,7,14.58,2,4.17,0,0.0,25,52.08,NaN
473,2023-2024,District,District,2630,George W. Sharswood School,Network 10,08,51,9.0,17.65,...,19.61,15,29.41,2,3.92,0,0.0,16,31.37,NaN
474,2023-2024,District,District,2630,George W. Sharswood School,Network 10,All Grades,327,63.0,19.27,...,10.40,77,23.55,14,4.28,0,0.0,136,41.59,100.0

2640

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
475,2023-2024,District,District,2640,Southwark School,Network 10,00,100,48.0,48.00,...,5.00,60,60.00,3,3.00,0,0.0,21,21.00,NaN
476,2023-2024,District,District,2640,Southwark School,Network 10,01,102,54.0,52.94,...,1.96,66,64.71,0,0.00,0,0.0,19,18.63,NaN
477,2023-2024,District,District,2640,Southwark School,Network 10,02,98,45.0,45.92,...,5.10,54,55.10,1,1.02,0,0.0,24,24.49,NaN
478,2023-2024,District,District,2640,Southwark School,Network 10,03,108,54.0,50.00,...,7.41,52,48.15,3,2.78,0,0.0,23,21.30,NaN
479,2023-2024,District,District,2640,Southwark School,Network 10,04,99,38.0,38.38,...,4.04,55,55.56,1,1.01,0,0.0,18,18.18,NaN
480,2023-2024,District,District,2640,Southwark School,Network 10,05,108,53.0,49.07,...,8.33,63,58.33,2,1.85,0,0.0,11,10.19,NaN
481,2023-2024,District,District,2640,Southwark School,Network 10,06,85,47.0,55.29,...,3.53,61,71.76,1,1.18,0,0.0,7,8.24,NaN
482,2023-2024,District,District,2640,Southwark School,Network 10,07,120,59.0,49.17,...,8.33,63,52.50,9,7.50,0,0.0,10,8.33,NaN
483,2023-2024,District,District,2640,Southwark School,Network 10,08,115,64.0,55.65,...,7.83,70,60.87,2,1.74,0,0.0,2,1.74,NaN
484,2023-2024,District,District,2640,Southwark School,Network 10,All Grades,935,462.0,49.41,...,5.88,544,58.18,22,2.35,0,0.0,135,14.44,100.0

2650

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
485,2023-2024,District,District,2650,Science Leadership Academy,Innovation,09,125,5.0,4.00,...,28.80,21,16.80,17,13.60,0,0.0,39,31.20,NaN
486,2023-2024,District,District,2650,Science Leadership Academy,Innovation,10,127,5.0,3.94,...,29.13,11,8.66,10,7.87,0,0.0,51,40.16,NaN
487,2023-2024,District,District,2650,Science Leadership Academy,Innovation,11,125,5.0,4.00,...,26.40,28,22.40,6,4.80,1,0.8,45,36.00,NaN
488,2023-2024,District,District,2650,Science Leadership Academy,Innovation,12,123,1.0,0.81,...,29.27,22,17.89,8,6.50,0,0.0,46,37.40,NaN
489,2023-2024,District,District,2650,Science Leadership Academy,Innovation,All Grades,500,16.0,3.20,...,28.40,82,16.40,41,8.20,1,0.2,181,36.20,60.8

2670

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
490,2023-2024,District,District,2670,Constitution High School,Network 1,09,110,14.0,12.73,...,59.09,31,28.18,6,5.45,0,0.0,2,1.82,NaN
491,2023-2024,District,District,2670,Constitution High School,Network 1,10,86,8.0,9.30,...,66.28,13,15.12,3,3.49,0,0.0,8,9.30,NaN
492,2023-2024,District,District,2670,Constitution High School,Network 1,11,101,3.0,2.97,...,64.36,13,12.87,9,8.91,0,0.0,7,6.93,NaN
493,2023-2024,District,District,2670,Constitution High School,Network 1,12,104,6.0,5.77,...,65.38,22,21.15,6,5.77,0,0.0,3,2.88,NaN
494,2023-2024,District,District,2670,Constitution High School,Network 1,All Grades,401,31.0,7.73,...,63.59,79,19.70,24,5.99,0,0.0,20,4.99,100.0

2680

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
495,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,05,16,0.0,0.00,...,56.25,0,0.00,0,0.00,0,0.0,7,43.75,NaN
496,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,06,54,2.0,3.70,...,75.93,2,3.70,1,1.85,0,0.0,8,14.81,NaN
497,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,07,51,5.0,9.80,...,70.59,3,5.88,5,9.80,0,0.0,5,9.80,NaN
498,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,08,61,3.0,4.92,...,78.69,2,3.28,1,1.64,0,0.0,7,11.48,NaN
499,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,09,60,2.0,3.33,...,85.00,3,5.00,4,6.67,0,0.0,2,3.33,NaN
500,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,10,103,8.0,7.77,...,82.52,0,0.00,6,5.83,0,0.0,7,6.80,NaN
501,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,11,99,9.0,9.09,...,73.74,5,5.05,6,6.06,0,0.0,9,9.09,NaN
502,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,12,114,12.0,10.53,...,71.93,9,7.89,4,3.51,0,0.0,11,9.65,NaN
503,2023-2024,District,District,2680,The Science Leadership Academy at Beeber,Innovation,All Grades,558,41.0,7.35,...,76.16,24,4.30,27,4.84,0,0.0,56,10.04,86.88

2690

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
504,2023-2024,District,District,2690,John H. Taggart School,Network 3,00,48,18.0,37.50,...,10.42,20,41.67,3,6.25,0,0.0,4,8.33,NaN
505,2023-2024,District,District,2690,John H. Taggart School,Network 3,01,54,32.0,59.26,...,5.56,31,57.41,3,5.56,0,0.0,4,7.41,NaN
506,2023-2024,District,District,2690,John H. Taggart School,Network 3,02,54,25.0,46.30,...,3.70,22,40.74,2,3.70,0,0.0,2,3.70,NaN
507,2023-2024,District,District,2690,John H. Taggart School,Network 3,03,46,25.0,54.35,...,6.52,19,41.30,2,4.35,0,0.0,5,10.87,NaN
508,2023-2024,District,District,2690,John H. Taggart School,Network 3,04,50,24.0,48.00,...,8.00,16,32.00,2,4.00,0,0.0,3,6.00,NaN
509,2023-2024,District,District,2690,John H. Taggart School,Network 3,05,48,19.0,39.58,...,12.50,16,33.33,1,2.08,0,0.0,2,4.17,NaN
510,2023-2024,District,District,2690,John H. Taggart School,Network 3,06,61,19.0,31.15,...,13.11,19,31.15,2,3.28,0,0.0,3,4.92,NaN
511,2023-2024,District,District,2690,John H. Taggart School,Network 3,07,57,31.0,54.39,...,5.26,19,33.33,3,5.26,0,0.0,3,5.26,NaN
512,2023-2024,District,District,2690,John H. Taggart School,Network 3,08,67,33.0,49.25,...,11.94,15,22.39,5,7.46,0,0.0,4,5.97,NaN
513,2023-2024,District,District,2690,John H. Taggart School,Network 3,All Grades,485,226.0,46.60,...,8.66,177,36.49,23,4.74,0,0.0,30,6.19,100.0

2720

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
514,2023-2024,District,District,2720,Vare-Washington School,Network 3,00,41,10.0,24.39,...,7.32,13,31.71,4,9.76,0,0.0,19,46.34,NaN
515,2023-2024,District,District,2720,Vare-Washington School,Network 3,01,29,9.0,31.03,...,24.14,11,37.93,0,0.00,0,0.0,9,31.03,NaN
516,2023-2024,District,District,2720,Vare-Washington School,Network 3,02,47,12.0,25.53,...,14.89,19,40.43,4,8.51,0,0.0,14,29.79,NaN
517,2023-2024,District,District,2720,Vare-Washington School,Network 3,03,17,7.0,41.18,...,29.41,7,41.18,1,5.88,0,0.0,1,5.88,NaN
518,2023-2024,District,District,2720,Vare-Washington School,Network 3,04,43,12.0,27.91,...,25.58,14,32.56,2,4.65,0,0.0,13,30.23,NaN
519,2023-2024,District,District,2720,Vare-Washington School,Network 3,05,23,11.0,47.83,...,13.04,10,43.48,0,0.00,0,0.0,7,30.43,NaN
520,2023-2024,District,District,2720,Vare-Washington School,Network 3,06,39,11.0,28.21,...,28.21,16,41.03,3,7.69,0,0.0,4,10.26,NaN
521,2023-2024,District,District,2720,Vare-Washington School,Network 3,07,18,5.0,27.78,...,44.44,8,44.44,0,0.00,0,0.0,1,5.56,NaN
522,2023-2024,District,District,2720,Vare-Washington School,Network 3,08,54,17.0,31.48,...,14.81,26,48.15,5,9.26,0,0.0,3,5.56,NaN
523,2023-2024,District,District,2720,Vare-Washington School,Network 3,All Grades,311,94.0,30.23,...,20.26,124,39.87,19,6.11,0,0.0,71,22.83,99.81

3040

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
524,2023-2024,Alternative,Alt Contracted,3040,Excel Middle Years Academy,Opportunity,06,1,0.0,0.0,...,100.00,0,0.00,0,0.0,0,0.0,0,0.0,NaN
525,2023-2024,Alternative,Alt Contracted,3040,Excel Middle Years Academy,Opportunity,07,9,0.0,0.0,...,88.89,1,11.11,0,0.0,0,0.0,0,0.0,NaN
526,2023-2024,Alternative,Alt Contracted,3040,Excel Middle Years Academy,Opportunity,08,24,0.0,0.0,...,91.67,2,8.33,0,0.0,0,0.0,0,0.0,NaN
527,2023-2024,Alternative,Alt Contracted,3040,Excel Middle Years Academy,Opportunity,All Grades,34,0.0,0.0,...,91.18,3,8.82,0,0.0,0,0.0,0,0.0,100.0

3190

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
528,2023-2024,Alternative,Alt District Run,3190,Crossroads at Hunting Park,Innovation,03,1,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.00,NaN
529,2023-2024,Alternative,Alt District Run,3190,Crossroads at Hunting Park,Innovation,04,5,1.0,20.00,...,60.00,2,40.00,0,0.0,0,0.0,0,0.00,NaN
530,2023-2024,Alternative,Alt District Run,3190,Crossroads at Hunting Park,Innovation,05,15,2.0,13.33,...,46.67,7,46.67,0,0.0,0,0.0,1,6.67,NaN
531,2023-2024,Alternative,Alt District Run,3190,Crossroads at Hunting Park,Innovation,06,11,0.0,0.00,...,72.73,3,27.27,0,0.0,0,0.0,0,0.00,NaN
532,2023-2024,Alternative,Alt District Run,3190,Crossroads at Hunting Park,Innovation,All Grades,32,3.0,9.38,...,59.38,12,37.50,0,0.0,0,0.0,1,3.13,100.0

3210

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
533,2023-2024,Alternative,Alt District Run,3210,Ben Franklin High School EOP,Opportunity,09,1,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
534,2023-2024,Alternative,Alt District Run,3210,Ben Franklin High School EOP,Opportunity,10,7,1.0,14.29,...,85.71,1,14.29,0,0.00,0,0.0,0,0.00,NaN
535,2023-2024,Alternative,Alt District Run,3210,Ben Franklin High School EOP,Opportunity,11,24,2.0,8.33,...,83.33,2,8.33,0,0.00,0,0.0,1,4.17,NaN
536,2023-2024,Alternative,Alt District Run,3210,Ben Franklin High School EOP,Opportunity,12,120,4.0,3.33,...,81.67,18,15.00,4,3.33,0,0.0,0,0.00,NaN
537,2023-2024,Alternative,Alt District Run,3210,Ben Franklin High School EOP,Opportunity,All Grades,152,7.0,4.61,...,82.24,21,13.82,4,2.63,0,0.0,1,0.66,0.0

3240

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
538,2023-2024,Alternative,Alt Contracted,3240,Liguori Academy-Fortis,Opportunity,09,7,1.0,14.29,...,42.86,3,42.86,0,0.00,0,0.0,1,14.29,NaN
539,2023-2024,Alternative,Alt Contracted,3240,Liguori Academy-Fortis,Opportunity,10,23,0.0,0.00,...,43.48,4,17.39,0,0.00,0,0.0,8,34.78,NaN
540,2023-2024,Alternative,Alt Contracted,3240,Liguori Academy-Fortis,Opportunity,11,36,2.0,5.56,...,63.89,8,22.22,1,2.78,0,0.0,4,11.11,NaN
541,2023-2024,Alternative,Alt Contracted,3240,Liguori Academy-Fortis,Opportunity,12,33,1.0,3.03,...,27.27,17,51.52,1,3.03,0,0.0,6,18.18,NaN
542,2023-2024,Alternative,Alt Contracted,3240,Liguori Academy-Fortis,Opportunity,All Grades,99,4.0,4.04,...,45.45,32,32.32,2,2.02,0,0.0,19,19.19,0.0

3290

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
543,2023-2024,Alternative,Alt Contracted,3290,Excel Academy South,Opportunity,09,13,1.0,7.69,...,38.46,5,38.46,1,7.69,0,0.0,1,7.69,NaN
544,2023-2024,Alternative,Alt Contracted,3290,Excel Academy South,Opportunity,10,49,4.0,8.16,...,48.98,16,32.65,2,4.08,0,0.0,6,12.24,NaN
545,2023-2024,Alternative,Alt Contracted,3290,Excel Academy South,Opportunity,11,39,3.0,7.69,...,46.15,16,41.03,1,2.56,0,0.0,4,10.26,NaN
546,2023-2024,Alternative,Alt Contracted,3290,Excel Academy South,Opportunity,12,106,9.0,8.49,...,50.00,33,31.13,3,2.83,0,0.0,14,13.21,NaN
547,2023-2024,Alternative,Alt Contracted,3290,Excel Academy South,Opportunity,All Grades,207,17.0,8.21,...,48.31,70,33.82,7,3.38,0,0.0,25,12.08,100.0

3291

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
548,2023-2024,Alternative,Alt Contracted,3291,Excel Academy Central,Opportunity,09,7,1.0,14.29,...,42.86,1,14.29,0,0.00,0,0.0,2,28.57,NaN
549,2023-2024,Alternative,Alt Contracted,3291,Excel Academy Central,Opportunity,10,35,0.0,0.00,...,71.43,6,17.14,2,5.71,0,0.0,2,5.71,NaN
550,2023-2024,Alternative,Alt Contracted,3291,Excel Academy Central,Opportunity,11,31,2.0,6.45,...,83.87,4,12.90,1,3.23,0,0.0,0,0.00,NaN
551,2023-2024,Alternative,Alt Contracted,3291,Excel Academy Central,Opportunity,12,104,1.0,0.96,...,72.12,17,16.35,4,3.85,0,0.0,6,5.77,NaN
552,2023-2024,Alternative,Alt Contracted,3291,Excel Academy Central,Opportunity,All Grades,177,4.0,2.26,...,72.88,28,15.82,7,3.95,0,0.0,10,5.65,100.0

3292

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
553,2023-2024,Alternative,Alt District Run,3292,The Academy of Continued Education (ACE) School,Opportunity,08,1,0.0,0.0,...,100.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN
554,2023-2024,Alternative,Alt District Run,3292,The Academy of Continued Education (ACE) School,Opportunity,All Grades,1,0.0,0.0,...,100.0,0,0.0,0,0.0,0,0.0,0,0.0,0.0

3301

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
555,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,00,70,NaN,NaN,...,5.71,60,85.71,4,5.71,0,0.00,1,1.43,NaN
556,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,01,61,NaN,NaN,...,13.11,51,83.61,2,3.28,0,0.00,0,0.00,NaN
557,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,02,62,NaN,NaN,...,1.61,50,80.65,5,8.06,0,0.00,3,4.84,NaN
558,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,03,91,NaN,NaN,...,10.99,68,74.73,7,7.69,0,0.00,2,2.20,NaN
559,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,04,62,NaN,NaN,...,11.29,40,64.52,13,20.97,0,0.00,2,3.23,NaN
560,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,05,64,NaN,NaN,...,9.38,54,84.38,3,4.69,0,0.00,0,0.00,NaN
561,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,06,97,NaN,NaN,...,14.43,74,76.29,5,5.15,0,0.00,1,1.03,NaN
562,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,07,91,NaN,NaN,...,14.29,69,75.82,6,6.59,0,0.00,1,1.10,NaN
563,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,08,62,NaN,NaN,...,9.68,47,75.81,8,12.90,0,0.00,0,0.00,NaN
564,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,09,169,NaN,NaN,...,7.69,145,85.80,9,5.33,1,0.59,1,0.59,NaN
565,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,10,141,NaN,NaN,...,4.96,115,81.56,14,9.93,0,0.00,3,2.13,NaN
566,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,11,151,NaN,NaN,...,10.60,119,78.81,11,7.28,0,0.00,2,1.32,NaN
567,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,12,125,NaN,NaN,...,15.20,99,79.20,5,4.00,0,0.00,1,0.80,NaN
568,2023-2024,Charter,Phila Charters,3301,Community Academy of Philadelphia Charter School,Charters,All Grades,1246,NaN,NaN,...,9.95,991,79.53,92,7.38,1,0.08,17,1.36,NaN

3302

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
569,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,00,23,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
570,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,01,59,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
571,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,02,86,NaN,NaN,...,98.84,0,0.00,1,1.16,0,0.0,0,0.00,NaN
572,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,03,65,NaN,NaN,...,98.46,0,0.00,0,0.00,0,0.0,0,0.00,NaN
573,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,04,62,NaN,NaN,...,96.77,0,0.00,1,1.61,0,0.0,1,1.61,NaN
574,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,05,59,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
575,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,06,82,NaN,NaN,...,96.34,2,2.44,1,1.22,0,0.0,0,0.00,NaN
576,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,07,68,NaN,NaN,...,95.59,0,0.00,1,1.47,0,0.0,2,2.94,NaN
577,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,08,50,NaN,NaN,...,94.00,0,0.00,2,4.00,0,0.0,1,2.00,NaN
578,2023-2024,Charter,Phila Charters,3302,Harambee Institute of Science and Technology C...,Charters,All Grades,554,NaN,NaN,...,97.65,2,0.36,6,1.08,0,0.0,4,0.72,NaN

3304

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
579,2023-2024,Charter,Phila Charters,3304,YouthBuild Philadelphia Charter School,Charters,12,256,NaN,NaN,...,91.41,15,5.86,4,1.56,0,0.0,2,0.78,NaN
580,2023-2024,Charter,Phila Charters,3304,YouthBuild Philadelphia Charter School,Charters,All Grades,256,NaN,NaN,...,91.41,15,5.86,4,1.56,0,0.0,2,0.78,NaN

3306

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
581,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,00,99,NaN,NaN,...,18.18,10,10.10,8,8.08,0,0.0,50,50.51,NaN
582,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,01,92,NaN,NaN,...,17.39,9,9.78,11,11.96,0,0.0,40,43.48,NaN
583,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,02,103,NaN,NaN,...,16.50,10,9.71,11,10.68,0,0.0,50,48.54,NaN
584,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,03,86,NaN,NaN,...,18.60,4,4.65,4,4.65,0,0.0,51,59.30,NaN
585,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,04,95,NaN,NaN,...,17.89,8,8.42,15,15.79,0,0.0,37,38.95,NaN
586,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,05,100,NaN,NaN,...,23.00,14,14.00,8,8.00,0,0.0,45,45.00,NaN
587,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,06,87,NaN,NaN,...,18.39,7,8.05,14,16.09,0,0.0,34,39.08,NaN
588,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,07,98,NaN,NaN,...,12.24,10,10.20,12,12.24,0,0.0,45,45.92,NaN
589,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,08,87,NaN,NaN,...,13.79,9,10.34,9,10.34,0,0.0,44,50.57,NaN
590,2023-2024,Charter,Phila Charters,3306,Christopher Columbus Charter School,Charters,All Grades,847,NaN,NaN,...,17.36,81,9.56,92,10.86,0,0.0,396,46.75,NaN

3307

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
591,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,00,49,NaN,NaN,...,10.20,41,83.67,1,2.04,0,0.0,1,2.04,NaN
592,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,01,49,NaN,NaN,...,2.04,45,91.84,1,2.04,0,0.0,1,2.04,NaN
593,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,02,46,NaN,NaN,...,13.04,37,80.43,3,6.52,0,0.0,0,0.00,NaN
594,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,03,84,NaN,NaN,...,5.95,75,89.29,1,1.19,0,0.0,1,1.19,NaN
595,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,04,76,NaN,NaN,...,9.21,60,78.95,9,11.84,0,0.0,0,0.00,NaN
596,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,05,42,NaN,NaN,...,4.76,36,85.71,2,4.76,0,0.0,2,4.76,NaN
597,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,06,45,NaN,NaN,...,4.44,41,91.11,1,2.22,0,0.0,0,0.00,NaN
598,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,07,48,NaN,NaN,...,8.33,42,87.50,1,2.08,0,0.0,0,0.00,NaN
599,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,08,47,NaN,NaN,...,4.26,41,87.23,4,8.51,0,0.0,0,0.00,NaN
600,2023-2024,Charter,Phila Charters,3307,Eugenio Maria De Hostos Charter School,Charters,All Grades,486,NaN,NaN,...,7.00,418,86.01,23,4.73,0,0.0,5,1.03,NaN

3308

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
601,2023-2024,Charter,Phila Charters,3308,Inquiry Charter School,Charters,00,63,NaN,NaN,...,79.37,0,0.00,10,15.87,1,1.59,2,3.17,NaN
602,2023-2024,Charter,Phila Charters,3308,Inquiry Charter School,Charters,01,39,NaN,NaN,...,82.05,0,0.00,6,15.38,0,0.00,1,2.56,NaN
603,2023-2024,Charter,Phila Charters,3308,Inquiry Charter School,Charters,02,42,NaN,NaN,...,85.71,0,0.00,3,7.14,2,4.76,1,2.38,NaN
604,2023-2024,Charter,Phila Charters,3308,Inquiry Charter School,Charters,03,44,NaN,NaN,...,93.18,1,2.27,2,4.55,0,0.00,0,0.00,NaN
605,2023-2024,Charter,Phila Charters,3308,Inquiry Charter School,Charters,04,44,NaN,NaN,...,84.09,1,2.27,2,4.55,0,0.00,4,9.09,NaN
606,2023-2024,Charter,Phila Charters,3308,Inquiry Charter School,Charters,05,36,NaN,NaN,...,91.67,1,2.78,1,2.78,0,0.00,0,0.00,NaN
607,2023-2024,Charter,Phila Charters,3308,Inquiry Charter School,Charters,All Grades,268,NaN,NaN,...,85.45,3,1.12,24,8.96,3,1.12,8,2.99,NaN

3309

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
608,2023-2024,Charter,Phila Charters,3309,Imhotep Institute Charter High School,Charters,09,155,NaN,NaN,...,95.48,3,1.94,2,1.29,0,0.00,1,0.65,NaN
609,2023-2024,Charter,Phila Charters,3309,Imhotep Institute Charter High School,Charters,10,161,NaN,NaN,...,97.52,1,0.62,3,1.86,0,0.00,0,0.00,NaN
610,2023-2024,Charter,Phila Charters,3309,Imhotep Institute Charter High School,Charters,11,156,NaN,NaN,...,96.79,2,1.28,2,1.28,0,0.00,0,0.00,NaN
611,2023-2024,Charter,Phila Charters,3309,Imhotep Institute Charter High School,Charters,12,146,NaN,NaN,...,97.26,0,0.00,3,2.05,1,0.68,0,0.00,NaN
612,2023-2024,Charter,Phila Charters,3309,Imhotep Institute Charter High School,Charters,All Grades,618,NaN,NaN,...,96.76,6,0.97,10,1.62,1,0.16,1,0.16,NaN

3310

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
613,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,00,21,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
614,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,01,43,NaN,NaN,...,97.67,0,0.00,1,2.33,0,0.0,0,0.00,NaN
615,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,02,47,NaN,NaN,...,85.11,3,6.38,3,6.38,0,0.0,1,2.13,NaN
616,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,03,59,NaN,NaN,...,96.61,2,3.39,0,0.00,0,0.0,0,0.00,NaN
617,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,04,40,NaN,NaN,...,92.50,1,2.50,2,5.00,0,0.0,0,0.00,NaN
618,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,05,46,NaN,NaN,...,84.78,5,10.87,1,2.17,0,0.0,1,2.17,NaN
619,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,06,41,NaN,NaN,...,95.12,0,0.00,2,4.88,0,0.0,0,0.00,NaN
620,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,07,45,NaN,NaN,...,91.11,0,0.00,2,4.44,0,0.0,0,0.00,NaN
621,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,08,41,NaN,NaN,...,92.68,1,2.44,2,4.88,0,0.0,0,0.00,NaN
622,2023-2024,Charter,Phila Charters,3310,Laboratory Charter School of Communication and...,Charters,All Grades,383,NaN,NaN,...,92.43,12,3.13,13,3.39,0,0.0,2,0.52,NaN

3312

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
623,2023-2024,Charter,Phila Charters,3312,Multicultural Academy Charter School,Charters,09,95,NaN,NaN,...,87.37,6,6.32,2,2.11,0,0.0,2,2.11,NaN
624,2023-2024,Charter,Phila Charters,3312,Multicultural Academy Charter School,Charters,10,58,NaN,NaN,...,82.76,6,10.34,3,5.17,0,0.0,0,0.00,NaN
625,2023-2024,Charter,Phila Charters,3312,Multicultural Academy Charter School,Charters,11,51,NaN,NaN,...,86.27,4,7.84,3,5.88,0,0.0,0,0.00,NaN
626,2023-2024,Charter,Phila Charters,3312,Multicultural Academy Charter School,Charters,12,41,NaN,NaN,...,85.37,4,9.76,1,2.44,0,0.0,0,0.00,NaN
627,2023-2024,Charter,Phila Charters,3312,Multicultural Academy Charter School,Charters,All Grades,245,NaN,NaN,...,85.71,20,8.16,9,3.67,0,0.0,2,0.82,NaN

3313

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
628,2023-2024,Charter,Phila Charters,3313,"Preparatory Charter School of Mathematics, Sci...",Charters,09,188,NaN,NaN,...,70.21,21,11.17,11,5.85,0,0.0,8,4.26,NaN
629,2023-2024,Charter,Phila Charters,3313,"Preparatory Charter School of Mathematics, Sci...",Charters,10,144,NaN,NaN,...,63.89,14,9.72,7,4.86,0,0.0,7,4.86,NaN
630,2023-2024,Charter,Phila Charters,3313,"Preparatory Charter School of Mathematics, Sci...",Charters,11,109,NaN,NaN,...,55.05,6,5.50,11,10.09,0,0.0,16,14.68,NaN
631,2023-2024,Charter,Phila Charters,3313,"Preparatory Charter School of Mathematics, Sci...",Charters,12,116,NaN,NaN,...,68.97,13,11.21,4,3.45,0,0.0,9,7.76,NaN
632,2023-2024,Charter,Phila Charters,3313,"Preparatory Charter School of Mathematics, Sci...",Charters,All Grades,557,NaN,NaN,...,65.35,54,9.69,33,5.92,0,0.0,40,7.18,NaN

3314

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
633,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,00,115,NaN,NaN,...,99.13,1,0.87,0,0.00,0,0.00,0,0.00,NaN
634,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,01,125,NaN,NaN,...,96.80,1,0.80,2,1.60,0,0.00,0,0.00,NaN
635,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,02,120,NaN,NaN,...,97.50,1,0.83,1,0.83,0,0.00,0,0.00,NaN
636,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,03,127,NaN,NaN,...,98.43,0,0.00,0,0.00,0,0.00,1,0.79,NaN
637,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,04,127,NaN,NaN,...,98.43,0,0.00,2,1.57,0,0.00,0,0.00,NaN
638,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,05,119,NaN,NaN,...,95.80,2,1.68,3,2.52,0,0.00,0,0.00,NaN
639,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,06,101,NaN,NaN,...,99.01,0,0.00,0,0.00,0,0.00,1,0.99,NaN
640,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,07,75,NaN,NaN,...,94.67,1,1.33,0,0.00,1,1.33,1,1.33,NaN
641,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,08,84,NaN,NaN,...,96.43,0,0.00,2,2.38,0,0.00,0,0.00,NaN
642,2023-2024,Charter,Phila Charters,3314,West Oak Lane Charter School,Charters,All Grades,993,NaN,NaN,...,97.48,6,0.60,10,1.01,1,0.10,3,0.30,NaN

3315

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
643,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,00,79,NaN,NaN,...,96.20,3,3.80,0,0.00,0,0.00,0,0.00,NaN
644,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,01,72,NaN,NaN,...,93.06,3,4.17,2,2.78,0,0.00,0,0.00,NaN
645,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,02,78,NaN,NaN,...,97.44,1,1.28,0,0.00,1,1.28,0,0.00,NaN
646,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,03,77,NaN,NaN,...,97.40,0,0.00,2,2.60,0,0.00,0,0.00,NaN
647,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,04,74,NaN,NaN,...,91.89,2,2.70,3,4.05,0,0.00,0,0.00,NaN
648,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,05,81,NaN,NaN,...,92.59,3,3.70,2,2.47,0,0.00,1,1.23,NaN
649,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,06,78,NaN,NaN,...,97.44,1,1.28,1,1.28,0,0.00,0,0.00,NaN
650,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,07,50,NaN,NaN,...,90.00,2,4.00,2,4.00,0,0.00,1,2.00,NaN
651,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,08,48,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.00,0,0.00,NaN
652,2023-2024,Charter,Phila Charters,3315,Alliance For Progress Charter School,Charters,All Grades,637,NaN,NaN,...,95.13,15,2.35,12,1.88,1,0.16,2,0.31,NaN

3318

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
653,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,05,61,NaN,NaN,...,90.16,4,6.56,2,3.28,0,0.0,0,0.00,NaN
654,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,06,114,NaN,NaN,...,90.35,3,2.63,2,1.75,0,0.0,5,4.39,NaN
655,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,07,144,NaN,NaN,...,93.75,3,2.08,2,1.39,0,0.0,2,1.39,NaN
656,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,08,161,NaN,NaN,...,93.17,2,1.24,7,4.35,0,0.0,1,0.62,NaN
657,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,09,162,NaN,NaN,...,90.74,3,1.85,9,5.56,0,0.0,0,0.00,NaN
658,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,10,131,NaN,NaN,...,93.89,4,3.05,2,1.53,0,0.0,0,0.00,NaN
659,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,11,100,NaN,NaN,...,88.00,1,1.00,11,11.00,0,0.0,0,0.00,NaN
660,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,12,84,NaN,NaN,...,88.10,4,4.76,6,7.14,0,0.0,0,0.00,NaN
661,2023-2024,Charter,Phila Charters,3318,Freire Charter School,Charters,All Grades,957,NaN,NaN,...,91.43,24,2.51,41,4.28,0,0.0,8,0.84,NaN

3321

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
662,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,01,44,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
663,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,02,62,NaN,NaN,...,93.55,3,4.84,1,1.61,0,0.0,0,0.00,NaN
664,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,03,77,NaN,NaN,...,88.31,0,0.00,6,7.79,0,0.0,2,2.60,NaN
665,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,04,76,NaN,NaN,...,94.74,1,1.32,3,3.95,0,0.0,0,0.00,NaN
666,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,05,86,NaN,NaN,...,94.19,3,3.49,2,2.33,0,0.0,0,0.00,NaN
667,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,06,92,NaN,NaN,...,98.91,0,0.00,1,1.09,0,0.0,0,0.00,NaN
668,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,07,79,NaN,NaN,...,97.47,1,1.27,1,1.27,0,0.0,0,0.00,NaN
669,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,08,68,NaN,NaN,...,98.53,0,0.00,1,1.47,0,0.0,0,0.00,NaN
670,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,09,99,NaN,NaN,...,95.96,1,1.01,3,3.03,0,0.0,0,0.00,NaN
671,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,10,79,NaN,NaN,...,96.20,1,1.27,1,1.27,0,0.0,0,0.00,NaN
672,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,11,79,NaN,NaN,...,93.67,1,1.27,2,2.53,0,0.0,0,0.00,NaN
673,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,12,82,NaN,NaN,...,97.56,1,1.22,1,1.22,0,0.0,0,0.00,NaN
674,2023-2024,Charter,Phila Charters,3321,"Math, Civics and Sciences Charter School",Charters,All Grades,923,NaN,NaN,...,95.67,12,1.30,22,2.38,0,0.0,2,0.22,NaN

3322

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
675,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,00,57,NaN,NaN,...,12.28,8,14.04,7,12.28,1,1.75,28,49.12,NaN
676,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,01,69,NaN,NaN,...,8.70,13,18.84,3,4.35,0,0.00,37,53.62,NaN
677,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,02,63,NaN,NaN,...,3.17,11,17.46,5,7.94,1,1.59,36,57.14,NaN
678,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,03,75,NaN,NaN,...,10.67,5,6.67,12,16.00,1,1.33,41,54.67,NaN
679,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,04,83,NaN,NaN,...,8.43,8,9.64,3,3.61,0,0.00,56,67.47,NaN
680,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,05,83,NaN,NaN,...,15.66,5,6.02,3,3.61,0,0.00,46,55.42,NaN
681,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,06,78,NaN,NaN,...,8.97,13,16.67,1,1.28,0,0.00,51,65.38,NaN
682,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,07,80,NaN,NaN,...,6.25,7,8.75,3,3.75,0,0.00,56,70.00,NaN
683,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,08,86,NaN,NaN,...,11.63,8,9.30,3,3.49,1,1.16,56,65.12,NaN
684,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,09,121,NaN,NaN,...,19.01,18,14.88,10,8.26,0,0.00,59,48.76,NaN
685,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,10,112,NaN,NaN,...,12.50,15,13.39,3,2.68,0,0.00,76,67.86,NaN
686,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,11,110,NaN,NaN,...,18.18,17,15.45,4,3.64,1,0.91,57,51.82,NaN
687,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,12,127,NaN,NaN,...,14.96,10,7.87,17,13.39,0,0.00,76,59.84,NaN
688,2023-2024,Charter,Phila Charters,3322,Philadelphia Academy Charter School,Charters,All Grades,1144,NaN,NaN,...,12.33,138,12.06,74,6.47,5,0.44,675,59.00,NaN

3323

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
689,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,00,76,NaN,NaN,...,97.37,2,2.63,0,0.00,0,0.00,0,0.00,NaN
690,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,01,76,NaN,NaN,...,97.37,0,0.00,0,0.00,0,0.00,0,0.00,NaN
691,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,02,71,NaN,NaN,...,97.18,1,1.41,0,0.00,0,0.00,1,1.41,NaN
692,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,03,80,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.00,0,0.00,NaN
693,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,04,84,NaN,NaN,...,98.81,1,1.19,0,0.00,0,0.00,0,0.00,NaN
694,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,05,84,NaN,NaN,...,98.81,0,0.00,1,1.19,0,0.00,0,0.00,NaN
695,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,06,86,NaN,NaN,...,95.35,1,1.16,1,1.16,1,1.16,1,1.16,NaN
696,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,07,101,NaN,NaN,...,93.07,4,3.96,1,0.99,0,0.00,2,1.98,NaN
697,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,08,123,NaN,NaN,...,94.31,1,0.81,3,2.44,0,0.00,1,0.81,NaN
698,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,09,106,NaN,NaN,...,94.34,1,0.94,3,2.83,0,0.00,0,0.00,NaN
699,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,10,109,NaN,NaN,...,91.74,1,0.92,5,4.59,1,0.92,1,0.92,NaN
700,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,11,98,NaN,NaN,...,94.90,1,1.02,3,3.06,0,0.00,0,0.00,NaN
701,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,12,91,NaN,NaN,...,93.41,0,0.00,6,6.59,0,0.00,0,0.00,NaN
702,2023-2024,Charter,Phila Charters,3323,Mastery Charter School at Hardy Williams,Charters,All Grades,1185,NaN,NaN,...,95.61,13,1.10,23,1.94,2,0.17,6,0.51,NaN

3326

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
703,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,00,56,NaN,NaN,...,85.71,5,8.93,2,3.57,0,0.00,1,1.79,NaN
704,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,01,66,NaN,NaN,...,90.91,4,6.06,0,0.00,0,0.00,1,1.52,NaN
705,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,02,61,NaN,NaN,...,91.80,1,1.64,1,1.64,0,0.00,2,3.28,NaN
706,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,03,72,NaN,NaN,...,88.89,5,6.94,3,4.17,0,0.00,0,0.00,NaN
707,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,04,67,NaN,NaN,...,94.03,2,2.99,1,1.49,1,1.49,0,0.00,NaN
708,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,05,66,NaN,NaN,...,90.91,5,7.58,0,0.00,0,0.00,0,0.00,NaN
709,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,06,59,NaN,NaN,...,93.22,4,6.78,0,0.00,0,0.00,0,0.00,NaN
710,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,07,57,NaN,NaN,...,96.49,1,1.75,1,1.75,0,0.00,0,0.00,NaN
711,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,08,61,NaN,NaN,...,90.16,5,8.20,1,1.64,0,0.00,0,0.00,NaN
712,2023-2024,Charter,Phila Charters,3326,Universal Institute Charter School,Charters,All Grades,565,NaN,NaN,...,91.33,32,5.66,9,1.59,1,0.18,4,0.71,NaN

3328

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
713,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,00,110,NaN,NaN,...,13.64,8,7.27,9,8.18,0,0.00,55,50.00,NaN
714,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,01,107,NaN,NaN,...,13.08,16,14.95,12,11.21,1,0.93,48,44.86,NaN
715,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,02,109,NaN,NaN,...,10.09,12,11.01,14,12.84,0,0.00,54,49.54,NaN
716,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,03,113,NaN,NaN,...,11.50,14,12.39,9,7.96,0,0.00,60,53.10,NaN
717,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,04,113,NaN,NaN,...,13.27,8,7.08,3,2.65,0,0.00,76,67.26,NaN
718,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,05,114,NaN,NaN,...,13.16,10,8.77,10,8.77,0,0.00,65,57.02,NaN
719,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,06,115,NaN,NaN,...,10.43,4,3.48,5,4.35,0,0.00,78,67.83,NaN
720,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,07,113,NaN,NaN,...,15.93,7,6.19,6,5.31,0,0.00,69,61.06,NaN
721,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,08,114,NaN,NaN,...,7.02,10,8.77,16,14.04,0,0.00,69,60.53,NaN
722,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,09,131,NaN,NaN,...,16.03,19,14.50,7,5.34,0,0.00,70,53.44,NaN
723,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,10,130,NaN,NaN,...,13.08,15,11.54,7,5.38,0,0.00,76,58.46,NaN
724,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,11,116,NaN,NaN,...,14.66,17,14.66,5,4.31,0,0.00,65,56.03,NaN
725,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,12,112,NaN,NaN,...,20.54,11,9.82,9,8.04,0,0.00,61,54.46,NaN
726,2023-2024,Charter,Phila Charters,3328,"Mathematics, Science, and Technology Community...",Charters,All Grades,1497,NaN,NaN,...,13.29,151,10.09,112,7.48,1,0.07,846,56.51,NaN

3329

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
727,2023-2024,Charter,Phila Charters,3329,Young Scholars Charter School,Charters,06,83,NaN,NaN,...,86.75,6,7.23,1,1.20,0,0.0,2,2.41,NaN
728,2023-2024,Charter,Phila Charters,3329,Young Scholars Charter School,Charters,07,87,NaN,NaN,...,88.51,4,4.60,2,2.30,0,0.0,2,2.30,NaN
729,2023-2024,Charter,Phila Charters,3329,Young Scholars Charter School,Charters,08,86,NaN,NaN,...,90.70,1,1.16,4,4.65,0,0.0,2,2.33,NaN
730,2023-2024,Charter,Phila Charters,3329,Young Scholars Charter School,Charters,All Grades,256,NaN,NaN,...,88.67,11,4.30,7,2.73,0,0.0,6,2.34,NaN

3331

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
731,2023-2024,Charter,Phila Charters,3331,Franklin Towne Charter High School,Charters,09,353,NaN,NaN,...,14.45,98,27.76,34,9.63,0,0.00,166,47.03,NaN
732,2023-2024,Charter,Phila Charters,3331,Franklin Towne Charter High School,Charters,10,333,NaN,NaN,...,11.41,90,27.03,20,6.01,0,0.00,180,54.05,NaN
733,2023-2024,Charter,Phila Charters,3331,Franklin Towne Charter High School,Charters,11,313,NaN,NaN,...,15.65,67,21.41,26,8.31,1,0.32,161,51.44,NaN
734,2023-2024,Charter,Phila Charters,3331,Franklin Towne Charter High School,Charters,12,316,NaN,NaN,...,11.08,77,24.37,25,7.91,1,0.32,173,54.75,NaN
735,2023-2024,Charter,Phila Charters,3331,Franklin Towne Charter High School,Charters,All Grades,1315,NaN,NaN,...,13.16,332,25.25,105,7.98,2,0.15,680,51.71,NaN

3332

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
736,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,00,151,NaN,NaN,...,23.18,65,43.05,15,9.93,5,3.31,23,15.23,NaN
737,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,01,138,NaN,NaN,...,17.39,100,72.46,10,7.25,0,0.00,4,2.90,NaN
738,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,02,151,NaN,NaN,...,17.22,97,64.24,17,11.26,0,0.00,9,5.96,NaN
739,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,03,141,NaN,NaN,...,21.28,92,65.25,14,9.93,0,0.00,3,2.13,NaN
740,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,04,139,NaN,NaN,...,24.46,89,64.03,10,7.19,1,0.72,5,3.60,NaN
741,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,05,145,NaN,NaN,...,26.21,95,65.52,8,5.52,0,0.00,3,2.07,NaN
742,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,06,91,NaN,NaN,...,19.78,62,68.13,9,9.89,0,0.00,2,2.20,NaN
743,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,07,119,NaN,NaN,...,21.85,81,68.07,9,7.56,0,0.00,3,2.52,NaN
744,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,08,75,NaN,NaN,...,21.33,47,62.67,10,13.33,0,0.00,2,2.67,NaN
745,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,09,83,NaN,NaN,...,14.46,66,79.52,1,1.20,0,0.00,4,4.82,NaN
746,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,10,83,NaN,NaN,...,20.48,56,67.47,9,10.84,0,0.00,1,1.20,NaN
747,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,11,104,NaN,NaN,...,25.00,63,60.58,10,9.62,0,0.00,3,2.88,NaN
748,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,12,89,NaN,NaN,...,19.10,65,73.03,6,6.74,0,0.00,0,0.00,NaN
749,2023-2024,Charter,Phila Charters,3332,Mariana Bracetti Academy Charter School,Charters,All Grades,1509,NaN,NaN,...,21.14,978,64.81,128,8.48,6,0.40,62,4.11,NaN

3333

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
750,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,00,24,NaN,NaN,...,4.17,22,91.67,1,4.17,0,0.00,0,0.00,NaN
751,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,01,48,NaN,NaN,...,0.00,46,95.83,2,4.17,0,0.00,0,0.00,NaN
752,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,02,48,NaN,NaN,...,0.00,45,93.75,3,6.25,0,0.00,0,0.00,NaN
753,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,05,23,NaN,NaN,...,0.00,23,100.00,0,0.00,0,0.00,0,0.00,NaN
754,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,06,239,NaN,NaN,...,6.28,220,92.05,0,0.00,1,0.42,1,0.42,NaN
755,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,07,238,NaN,NaN,...,6.30,212,89.08,8,3.36,0,0.00,2,0.84,NaN
756,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,08,231,NaN,NaN,...,6.93,204,88.31,9,3.90,0,0.00,1,0.43,NaN
757,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,09,233,NaN,NaN,...,6.44,207,88.84,10,4.29,0,0.00,0,0.00,NaN
758,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,10,206,NaN,NaN,...,3.88,188,91.26,9,4.37,0,0.00,1,0.49,NaN
759,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,11,172,NaN,NaN,...,4.65,156,90.70,7,4.07,0,0.00,1,0.58,NaN
760,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,12,184,NaN,NaN,...,5.43,167,90.76,5,2.72,0,0.00,2,1.09,NaN
761,2023-2024,Charter,Phila Charters,3333,Esperanza Academy Charter School,Charters,All Grades,1646,NaN,NaN,...,5.35,1490,90.52,54,3.28,1,0.06,8,0.49,NaN

3334

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
762,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,00,71,NaN,NaN,...,22.54,18,25.35,3,4.23,0,0.00,26,36.62,NaN
763,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,01,75,NaN,NaN,...,22.67,20,26.67,8,10.67,0,0.00,23,30.67,NaN
764,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,02,86,NaN,NaN,...,19.77,23,26.74,6,6.98,0,0.00,28,32.56,NaN
765,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,03,84,NaN,NaN,...,30.95,17,20.24,2,2.38,0,0.00,34,40.48,NaN
766,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,04,84,NaN,NaN,...,28.57,18,21.43,3,3.57,0,0.00,36,42.86,NaN
767,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,05,87,NaN,NaN,...,27.59,19,21.84,0,0.00,0,0.00,35,40.23,NaN
768,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,06,84,NaN,NaN,...,21.43,13,15.48,3,3.57,0,0.00,43,51.19,NaN
769,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,07,78,NaN,NaN,...,26.92,12,15.38,8,10.26,0,0.00,35,44.87,NaN
770,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,08,82,NaN,NaN,...,15.85,25,30.49,5,6.10,1,1.22,34,41.46,NaN
771,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,09,275,NaN,NaN,...,29.82,83,30.18,22,8.00,2,0.73,76,27.64,NaN
772,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,10,213,NaN,NaN,...,27.70,58,27.23,26,12.21,1,0.47,63,29.58,NaN
773,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,11,157,NaN,NaN,...,23.57,44,28.03,12,7.64,0,0.00,55,35.03,NaN
774,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,12,134,NaN,NaN,...,27.61,30,22.39,12,8.96,0,0.00,47,35.07,NaN
775,2023-2024,Charter,Phila Charters,3334,New Foundations Charter School,Charters,All Grades,1510,NaN,NaN,...,25.89,380,25.17,110,7.28,4,0.26,535,35.43,NaN

3335

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
776,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,00,66,NaN,NaN,...,93.94,1,1.52,2,3.03,0,0.0,0,0.00,NaN
777,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,01,69,NaN,NaN,...,97.10,1,1.45,0,0.00,0,0.0,1,1.45,NaN
778,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,02,64,NaN,NaN,...,93.75,2,3.13,1,1.56,0,0.0,1,1.56,NaN
779,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,03,57,NaN,NaN,...,92.98,2,3.51,1,1.75,0,0.0,0,0.00,NaN
780,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,04,53,NaN,NaN,...,92.45,1,1.89,0,0.00,0,0.0,2,3.77,NaN
781,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,05,51,NaN,NaN,...,98.04,1,1.96,0,0.00,0,0.0,0,0.00,NaN
782,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,06,69,NaN,NaN,...,94.20,3,4.35,0,0.00,0,0.0,0,0.00,NaN
783,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,07,60,NaN,NaN,...,98.33,1,1.67,0,0.00,0,0.0,0,0.00,NaN
784,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,08,59,NaN,NaN,...,93.22,2,3.39,1,1.69,0,0.0,1,1.69,NaN
785,2023-2024,Charter,Phila Charters,3335,People for People Charter School,Charters,All Grades,548,NaN,NaN,...,94.89,14,2.55,5,0.91,0,0.0,5,0.91,NaN

3336

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
786,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,00,201,NaN,NaN,...,28.86,38,18.91,10,4.98,0,0.0,57,28.36,NaN
787,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,01,238,NaN,NaN,...,30.67,27,11.34,28,11.76,0,0.0,63,26.47,NaN
788,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,02,227,NaN,NaN,...,29.52,36,15.86,6,2.64,0,0.0,79,34.80,NaN
789,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,03,225,NaN,NaN,...,28.44,27,12.00,15,6.67,0,0.0,73,32.44,NaN
790,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,04,214,NaN,NaN,...,28.97,28,13.08,15,7.01,0,0.0,67,31.31,NaN
791,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,05,213,NaN,NaN,...,31.46,26,12.21,19,8.92,0,0.0,66,30.99,NaN
792,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,06,221,NaN,NaN,...,34.84,17,7.69,12,5.43,0,0.0,75,33.94,NaN
793,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,07,226,NaN,NaN,...,44.25,21,9.29,25,11.06,0,0.0,50,22.12,NaN
794,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,08,215,NaN,NaN,...,42.79,19,8.84,12,5.58,0,0.0,65,30.23,NaN
795,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,09,198,NaN,NaN,...,44.95,18,9.09,13,6.57,0,0.0,54,27.27,NaN
796,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,10,154,NaN,NaN,...,40.91,6,3.90,10,6.49,0,0.0,59,38.31,NaN
797,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,11,150,NaN,NaN,...,40.00,9,6.00,9,6.00,0,0.0,58,38.67,NaN
798,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,12,139,NaN,NaN,...,36.69,6,4.32,17,12.23,0,0.0,53,38.13,NaN
799,2023-2024,Charter,Phila Charters,3336,Philadelphia Performing Arts: A String Theory ...,Charters,All Grades,2621,NaN,NaN,...,35.22,278,10.61,191,7.29,0,0.0,819,31.25,NaN

3337

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
800,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,00,68,NaN,NaN,...,98.53,1,1.47,0,0.00,0,0.0,0,0.00,NaN
801,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,01,66,NaN,NaN,...,96.97,1,1.52,1,1.52,0,0.0,0,0.00,NaN
802,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,02,72,NaN,NaN,...,98.61,0,0.00,1,1.39,0,0.0,0,0.00,NaN
803,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,03,81,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
804,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,04,79,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
805,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,05,79,NaN,NaN,...,96.20,1,1.27,2,2.53,0,0.0,0,0.00,NaN
806,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,06,75,NaN,NaN,...,98.67,0,0.00,0,0.00,0,0.0,1,1.33,NaN
807,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,07,77,NaN,NaN,...,97.40,0,0.00,2,2.60,0,0.0,0,0.00,NaN
808,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,08,75,NaN,NaN,...,94.67,1,1.33,3,4.00,0,0.0,0,0.00,NaN
809,2023-2024,Charter,Phila Charters,3337,Global Leadership Academy Charter School,Charters,All Grades,672,NaN,NaN,...,97.92,4,0.60,9,1.34,0,0.0,1,0.15,NaN

3341

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
810,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,00,104,NaN,NaN,...,41.35,13,12.50,8,7.69,0,0.0,38,36.54,NaN
811,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,01,94,NaN,NaN,...,44.68,14,14.89,2,2.13,0,0.0,34,36.17,NaN
812,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,02,94,NaN,NaN,...,45.74,15,15.96,4,4.26,0,0.0,29,30.85,NaN
813,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,03,93,NaN,NaN,...,45.16,17,18.28,2,2.15,0,0.0,28,30.11,NaN
814,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,04,95,NaN,NaN,...,51.58,19,20.00,4,4.21,0,0.0,20,21.05,NaN
815,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,05,83,NaN,NaN,...,54.22,18,21.69,5,6.02,0,0.0,14,16.87,NaN
816,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,06,76,NaN,NaN,...,39.47,18,23.68,7,9.21,0,0.0,20,26.32,NaN
817,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,07,83,NaN,NaN,...,46.99,24,28.92,5,6.02,0,0.0,13,15.66,NaN
818,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,08,80,NaN,NaN,...,45.00,13,16.25,15,18.75,0,0.0,10,12.50,NaN
819,2023-2024,Charter,Phila Charters,3341,Independence Charter School,Charters,All Grades,802,NaN,NaN,...,46.01,151,18.83,52,6.48,0,0.0,206,25.69,NaN

3353

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
820,2023-2024,Charter,Phila Charters,3353,KIPP DuBois Charter School,Charters,09,139,NaN,NaN,...,95.68,0,0.00,5,3.60,0,0.0,0,0.00,NaN
821,2023-2024,Charter,Phila Charters,3353,KIPP DuBois Charter School,Charters,10,144,NaN,NaN,...,94.44,2,1.39,4,2.78,0,0.0,1,0.69,NaN
822,2023-2024,Charter,Phila Charters,3353,KIPP DuBois Charter School,Charters,11,126,NaN,NaN,...,96.83,0,0.00,4,3.17,0,0.0,0,0.00,NaN
823,2023-2024,Charter,Phila Charters,3353,KIPP DuBois Charter School,Charters,12,107,NaN,NaN,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
824,2023-2024,Charter,Phila Charters,3353,KIPP DuBois Charter School,Charters,All Grades,516,NaN,NaN,...,96.51,2,0.39,13,2.52,0,0.0,1,0.19,NaN

3357

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
825,2023-2024,Charter,Phila Charters,3357,West Philadelphia Achievement Charter School,Charters,00,147,NaN,NaN,...,93.88,5,3.40,2,1.36,0,0.0,0,0.00,NaN
826,2023-2024,Charter,Phila Charters,3357,West Philadelphia Achievement Charter School,Charters,01,108,NaN,NaN,...,93.52,6,5.56,1,0.93,0,0.0,0,0.00,NaN
827,2023-2024,Charter,Phila Charters,3357,West Philadelphia Achievement Charter School,Charters,02,113,NaN,NaN,...,95.58,4,3.54,1,0.88,0,0.0,0,0.00,NaN
828,2023-2024,Charter,Phila Charters,3357,West Philadelphia Achievement Charter School,Charters,03,97,NaN,NaN,...,94.85,1,1.03,2,2.06,0,0.0,1,1.03,NaN
829,2023-2024,Charter,Phila Charters,3357,West Philadelphia Achievement Charter School,Charters,04,104,NaN,NaN,...,95.19,2,1.92,2,1.92,0,0.0,0,0.00,NaN
830,2023-2024,Charter,Phila Charters,3357,West Philadelphia Achievement Charter School,Charters,05,88,NaN,NaN,...,96.59,1,1.14,1,1.14,0,0.0,0,0.00,NaN
831,2023-2024,Charter,Phila Charters,3357,West Philadelphia Achievement Charter School,Charters,All Grades,657,NaN,NaN,...,94.82,19,2.89,9,1.37,0,0.0,1,0.15,NaN

3358

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
832,2023-2024,Charter,Phila Charters,3358,Philadelphia Electrical and Technology Charter...,Charters,09,184,NaN,NaN,...,83.70,8,4.35,15,8.15,0,0.00,6,3.26,NaN
833,2023-2024,Charter,Phila Charters,3358,Philadelphia Electrical and Technology Charter...,Charters,10,167,NaN,NaN,...,83.83,10,5.99,6,3.59,1,0.60,9,5.39,NaN
834,2023-2024,Charter,Phila Charters,3358,Philadelphia Electrical and Technology Charter...,Charters,11,131,NaN,NaN,...,90.08,3,2.29,5,3.82,0,0.00,5,3.82,NaN
835,2023-2024,Charter,Phila Charters,3358,Philadelphia Electrical and Technology Charter...,Charters,12,145,NaN,NaN,...,83.45,13,8.97,6,4.14,0,0.00,4,2.76,NaN
836,2023-2024,Charter,Phila Charters,3358,Philadelphia Electrical and Technology Charter...,Charters,All Grades,627,NaN,NaN,...,85.01,34,5.42,32,5.10,1,0.16,24,3.83,NaN

3359

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
837,2023-2024,Charter,Phila Charters,3359,Richard Allen Preparatory Charter School,Charters,05,56,NaN,NaN,...,91.07,0,0.00,1,1.79,0,0.0,1,1.79,NaN
838,2023-2024,Charter,Phila Charters,3359,Richard Allen Preparatory Charter School,Charters,06,96,NaN,NaN,...,91.67,4,4.17,0,0.00,0,0.0,0,0.00,NaN
839,2023-2024,Charter,Phila Charters,3359,Richard Allen Preparatory Charter School,Charters,07,91,NaN,NaN,...,92.31,2,2.20,1,1.10,0,0.0,3,3.30,NaN
840,2023-2024,Charter,Phila Charters,3359,Richard Allen Preparatory Charter School,Charters,08,117,NaN,NaN,...,83.76,4,3.42,9,7.69,0,0.0,0,0.00,NaN
841,2023-2024,Charter,Phila Charters,3359,Richard Allen Preparatory Charter School,Charters,All Grades,360,NaN,NaN,...,89.17,10,2.78,11,3.06,0,0.0,4,1.11,NaN

3360

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
842,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,00,93,NaN,NaN,...,95.70,3,3.23,0,0.00,0,0.0,1,1.08,NaN
843,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,01,73,NaN,NaN,...,98.63,0,0.00,0,0.00,0,0.0,0,0.00,NaN
844,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,02,73,NaN,NaN,...,90.41,3,4.11,2,2.74,0,0.0,1,1.37,NaN
845,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,03,78,NaN,NaN,...,94.87,2,2.56,1,1.28,0,0.0,1,1.28,NaN
846,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,04,73,NaN,NaN,...,90.41,3,4.11,0,0.00,0,0.0,4,5.48,NaN
847,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,05,78,NaN,NaN,...,96.15,2,2.56,1,1.28,0,0.0,0,0.00,NaN
848,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,06,75,NaN,NaN,...,96.00,1,1.33,0,0.00,0,0.0,2,2.67,NaN
849,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,07,71,NaN,NaN,...,94.37,0,0.00,2,2.82,0,0.0,1,1.41,NaN
850,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,08,58,NaN,NaN,...,93.10,1,1.72,1,1.72,0,0.0,1,1.72,NaN
851,2023-2024,Charter,Phila Charters,3360,Russell Byers Charter School,Charters,All Grades,672,NaN,NaN,...,94.49,15,2.23,7,1.04,0,0.0,11,1.64,NaN

3361

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
852,2023-2024,Charter,Phila Charters,3361,Mastery Charter School at Lenfest,Charters,07,116,NaN,NaN,...,85.34,13,11.21,4,3.45,0,0.00,0,0.00,NaN
853,2023-2024,Charter,Phila Charters,3361,Mastery Charter School at Lenfest,Charters,08,109,NaN,NaN,...,73.39,12,11.01,12,11.01,1,0.92,1,0.92,NaN
854,2023-2024,Charter,Phila Charters,3361,Mastery Charter School at Lenfest,Charters,09,127,NaN,NaN,...,76.38,21,16.54,7,5.51,0,0.00,2,1.57,NaN
855,2023-2024,Charter,Phila Charters,3361,Mastery Charter School at Lenfest,Charters,10,97,NaN,NaN,...,73.20,18,18.56,7,7.22,0,0.00,0,0.00,NaN
856,2023-2024,Charter,Phila Charters,3361,Mastery Charter School at Lenfest,Charters,11,98,NaN,NaN,...,76.53,14,14.29,6,6.12,0,0.00,1,1.02,NaN
857,2023-2024,Charter,Phila Charters,3361,Mastery Charter School at Lenfest,Charters,12,87,NaN,NaN,...,83.91,11,12.64,3,3.45,0,0.00,0,0.00,NaN
858,2023-2024,Charter,Phila Charters,3361,Mastery Charter School at Lenfest,Charters,All Grades,634,NaN,NaN,...,78.08,89,14.04,39,6.15,1,0.16,4,0.63,NaN

3362

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
859,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,00,99,NaN,NaN,...,95.96,0,0.00,2,2.02,0,0.00,2,2.02,NaN
860,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,01,107,NaN,NaN,...,90.65,1,0.93,6,5.61,0,0.00,3,2.80,NaN
861,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,02,110,NaN,NaN,...,97.27,0,0.00,2,1.82,0,0.00,0,0.00,NaN
862,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,03,107,NaN,NaN,...,98.13,0,0.00,2,1.87,0,0.00,0,0.00,NaN
863,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,04,109,NaN,NaN,...,92.66,1,0.92,4,3.67,0,0.00,3,2.75,NaN
864,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,05,105,NaN,NaN,...,97.14,1,0.95,2,1.90,0,0.00,0,0.00,NaN
865,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,06,107,NaN,NaN,...,91.59,2,1.87,5,4.67,1,0.93,1,0.93,NaN
866,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,07,103,NaN,NaN,...,94.17,3,2.91,0,0.00,0,0.00,2,1.94,NaN
867,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,08,101,NaN,NaN,...,96.04,1,0.99,2,1.98,0,0.00,1,0.99,NaN
868,2023-2024,Charter,Phila Charters,3362,Wissahickon Charter School,Charters,All Grades,948,NaN,NaN,...,94.83,9,0.95,25,2.64,1,0.11,12,1.27,NaN

3364

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
869,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,00,136,NaN,NaN,...,49.26,39,28.68,24,17.65,0,0.00,5,3.68,NaN
870,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,01,149,NaN,NaN,...,40.94,53,35.57,26,17.45,0,0.00,7,4.70,NaN
871,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,02,155,NaN,NaN,...,47.74,49,31.61,17,10.97,1,0.65,11,7.10,NaN
872,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,03,155,NaN,NaN,...,39.35,61,39.35,17,10.97,0,0.00,13,8.39,NaN
873,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,04,164,NaN,NaN,...,46.34,62,37.80,20,12.20,0,0.00,6,3.66,NaN
874,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,05,168,NaN,NaN,...,51.19,49,29.17,18,10.71,0,0.00,12,7.14,NaN
875,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,06,162,NaN,NaN,...,40.74,71,43.83,13,8.02,0,0.00,11,6.79,NaN
876,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,07,158,NaN,NaN,...,48.10,56,35.44,16,10.13,0,0.00,7,4.43,NaN
877,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,08,169,NaN,NaN,...,49.11,50,29.59,18,10.65,0,0.00,14,8.28,NaN
878,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,09,121,NaN,NaN,...,52.07,34,28.10,10,8.26,1,0.83,13,10.74,NaN
879,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,10,119,NaN,NaN,...,53.78,35,29.41,13,10.92,0,0.00,4,3.36,NaN
880,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,11,106,NaN,NaN,...,59.43,29,27.36,5,4.72,0,0.00,8,7.55,NaN
881,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,12,95,NaN,NaN,...,38.95,39,41.05,7,7.37,0,0.00,10,10.53,NaN
882,2023-2024,Charter,Phila Charters,3364,First Philadelphia Preparatory Charter School,Charters,All Grades,1857,NaN,NaN,...,47.23,627,33.76,204,10.99,2,0.11,121,6.52,NaN

3365

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
883,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,00,87,NaN,NaN,...,24.14,3,3.45,1,1.15,0,0.0,52,59.77,NaN
884,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,01,90,NaN,NaN,...,35.56,2,2.22,5,5.56,0,0.0,50,55.56,NaN
885,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,02,83,NaN,NaN,...,31.33,9,10.84,1,1.20,0,0.0,44,53.01,NaN
886,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,03,84,NaN,NaN,...,21.43,7,8.33,2,2.38,0,0.0,52,61.90,NaN
887,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,04,81,NaN,NaN,...,19.75,1,1.23,5,6.17,0,0.0,58,71.60,NaN
888,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,05,81,NaN,NaN,...,25.93,2,2.47,8,9.88,0,0.0,50,61.73,NaN
889,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,06,75,NaN,NaN,...,14.67,2,2.67,9,12.00,0,0.0,53,70.67,NaN
890,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,07,66,NaN,NaN,...,33.33,1,1.52,3,4.55,0,0.0,39,59.09,NaN
891,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,08,58,NaN,NaN,...,32.76,4,6.90,3,5.17,0,0.0,32,55.17,NaN
892,2023-2024,Charter,Phila Charters,3365,Green Woods Charter School,Charters,All Grades,705,NaN,NaN,...,26.38,31,4.40,37,5.25,0,0.0,430,60.99,NaN

3366

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
893,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,00,30,NaN,NaN,...,10.00,13,43.33,4,13.33,0,0.00,9,30.00,NaN
894,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,01,39,NaN,NaN,...,7.69,13,33.33,12,30.77,0,0.00,9,23.08,NaN
895,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,02,58,NaN,NaN,...,12.07,23,39.66,4,6.90,0,0.00,21,36.21,NaN
896,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,03,65,NaN,NaN,...,9.23,27,41.54,7,10.77,1,1.54,23,35.38,NaN
897,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,04,60,NaN,NaN,...,15.00,22,36.67,7,11.67,0,0.00,22,36.67,NaN
898,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,05,78,NaN,NaN,...,14.10,27,34.62,4,5.13,0,0.00,31,39.74,NaN
899,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,06,88,NaN,NaN,...,12.50,32,36.36,10,11.36,0,0.00,32,36.36,NaN
900,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,07,88,NaN,NaN,...,15.91,21,23.86,15,17.05,0,0.00,34,38.64,NaN
901,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,08,84,NaN,NaN,...,13.10,26,30.95,16,19.05,0,0.00,27,32.14,NaN
902,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,09,69,NaN,NaN,...,24.64,26,37.68,4,5.80,0,0.00,19,27.54,NaN
903,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,10,61,NaN,NaN,...,11.48,20,32.79,3,4.92,0,0.00,28,45.90,NaN
904,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,11,58,NaN,NaN,...,18.97,28,48.28,5,8.62,0,0.00,12,20.69,NaN
905,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,12,58,NaN,NaN,...,27.59,19,32.76,3,5.17,0,0.00,17,29.31,NaN
906,2023-2024,Charter,Phila Charters,3366,Maritime Academy Charter School (MACHS),Charters,All Grades,836,NaN,NaN,...,15.07,297,35.53,94,11.24,1,0.12,284,33.97,NaN

3368

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
907,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,00,74,NaN,NaN,...,93.24,3,4.05,2,2.70,0,0.0,0,0.00,NaN
908,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,01,66,NaN,NaN,...,98.48,0,0.00,1,1.52,0,0.0,0,0.00,NaN
909,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,02,77,NaN,NaN,...,96.10,3,3.90,0,0.00,0,0.0,0,0.00,NaN
910,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,03,67,NaN,NaN,...,95.52,1,1.49,2,2.99,0,0.0,0,0.00,NaN
911,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,04,68,NaN,NaN,...,95.59,1,1.47,2,2.94,0,0.0,0,0.00,NaN
912,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,05,75,NaN,NaN,...,94.67,2,2.67,2,2.67,0,0.0,0,0.00,NaN
913,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,06,68,NaN,NaN,...,94.12,3,4.41,0,0.00,0,0.0,0,0.00,NaN
914,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,07,68,NaN,NaN,...,98.53,0,0.00,0,0.00,0,0.0,0,0.00,NaN
915,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,08,65,NaN,NaN,...,90.77,0,0.00,5,7.69,0,0.0,1,1.54,NaN
916,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,09,72,NaN,NaN,...,95.83,2,2.78,0,0.00,0,0.0,0,0.00,NaN
917,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,10,77,NaN,NaN,...,89.61,3,3.90,4,5.19,0,0.0,1,1.30,NaN
918,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,11,82,NaN,NaN,...,93.90,0,0.00,5,6.10,0,0.0,0,0.00,NaN
919,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,12,74,NaN,NaN,...,91.89,2,2.70,3,4.05,0,0.0,1,1.35,NaN
920,2023-2024,Charter,Phila Charters,3368,Belmont Charter School,Charters,All Grades,933,NaN,NaN,...,94.43,20,2.14,26,2.79,0,0.0,3,0.32,NaN

3370

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
921,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,00,99,NaN,NaN,...,90.91,4,4.04,0,0.00,1,1.01,2,2.02,NaN
922,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,01,93,NaN,NaN,...,98.92,0,0.00,0,0.00,0,0.00,0,0.00,NaN
923,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,02,98,NaN,NaN,...,90.82,7,7.14,1,1.02,0,0.00,1,1.02,NaN
924,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,03,104,NaN,NaN,...,95.19,0,0.00,5,4.81,0,0.00,0,0.00,NaN
925,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,04,102,NaN,NaN,...,96.08,0,0.00,4,3.92,0,0.00,0,0.00,NaN
926,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,05,102,NaN,NaN,...,94.12,4,3.92,1,0.98,0,0.00,0,0.00,NaN
927,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,06,88,NaN,NaN,...,97.73,0,0.00,1,1.14,0,0.00,1,1.14,NaN
928,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,07,82,NaN,NaN,...,97.56,0,0.00,0,0.00,1,1.22,1,1.22,NaN
929,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,08,93,NaN,NaN,...,90.32,4,4.30,5,5.38,0,0.00,0,0.00,NaN
930,2023-2024,Charter,Phila Charters,3370,KIPP Philadelphia Charter School,Charters,All Grades,861,NaN,NaN,...,94.54,19,2.21,17,1.97,2,0.23,5,0.58,NaN

3372

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
931,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,00,72,NaN,NaN,...,93.06,0,0.00,2,2.78,0,0.0,1,1.39,NaN
932,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,01,60,NaN,NaN,...,95.00,2,3.33,1,1.67,0,0.0,0,0.00,NaN
933,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,02,70,NaN,NaN,...,97.14,0,0.00,1,1.43,0,0.0,1,1.43,NaN
934,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,03,68,NaN,NaN,...,92.65,2,2.94,1,1.47,0,0.0,1,1.47,NaN
935,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,04,61,NaN,NaN,...,90.16,1,1.64,4,6.56,0,0.0,0,0.00,NaN
936,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,05,70,NaN,NaN,...,94.29,2,2.86,2,2.86,0,0.0,0,0.00,NaN
937,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,06,76,NaN,NaN,...,96.05,0,0.00,2,2.63,0,0.0,1,1.32,NaN
938,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,07,71,NaN,NaN,...,94.37,0,0.00,3,4.23,0,0.0,1,1.41,NaN
939,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,08,75,NaN,NaN,...,88.00,2,2.67,5,6.67,0,0.0,1,1.33,NaN
940,2023-2024,Charter,Phila Charters,3372,Discovery Charter School,Charters,All Grades,623,NaN,NaN,...,93.42,9,1.44,21,3.37,0,0.0,6,0.96,NaN

3378

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
941,2023-2024,Charter,Phila Charters,3378,Philadelphia Montessori Charter School,Charters,00,53,NaN,NaN,...,94.34,1,1.89,2,3.77,0,0.0,0,0.00,NaN
942,2023-2024,Charter,Phila Charters,3378,Philadelphia Montessori Charter School,Charters,01,54,NaN,NaN,...,87.04,2,3.70,2,3.70,0,0.0,3,5.56,NaN
943,2023-2024,Charter,Phila Charters,3378,Philadelphia Montessori Charter School,Charters,02,52,NaN,NaN,...,90.38,4,7.69,0,0.00,0,0.0,0,0.00,NaN
944,2023-2024,Charter,Phila Charters,3378,Philadelphia Montessori Charter School,Charters,03,55,NaN,NaN,...,92.73,0,0.00,4,7.27,0,0.0,0,0.00,NaN
945,2023-2024,Charter,Phila Charters,3378,Philadelphia Montessori Charter School,Charters,04,47,NaN,NaN,...,95.74,2,4.26,0,0.00,0,0.0,0,0.00,NaN
946,2023-2024,Charter,Phila Charters,3378,Philadelphia Montessori Charter School,Charters,All Grades,261,NaN,NaN,...,91.95,9,3.45,8,3.07,0,0.0,3,1.15,NaN

3379

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
947,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,00,60,NaN,NaN,...,93.33,1,1.67,1,1.67,0,0.0,1,1.67,NaN
948,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,01,79,NaN,NaN,...,96.20,1,1.27,1,1.27,0,0.0,0,0.00,NaN
949,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,02,69,NaN,NaN,...,94.20,1,1.45,2,2.90,0,0.0,0,0.00,NaN
950,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,03,89,NaN,NaN,...,94.38,2,2.25,2,2.25,0,0.0,0,0.00,NaN
951,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,04,55,NaN,NaN,...,90.91,1,1.82,3,5.45,0,0.0,0,0.00,NaN
952,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,05,57,NaN,NaN,...,94.74,2,3.51,1,1.75,0,0.0,0,0.00,NaN
953,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,06,54,NaN,NaN,...,96.30,0,0.00,1,1.85,0,0.0,1,1.85,NaN
954,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,07,45,NaN,NaN,...,93.33,1,2.22,2,4.44,0,0.0,0,0.00,NaN
955,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,08,68,NaN,NaN,...,82.35,2,2.94,8,11.76,0,0.0,2,2.94,NaN
956,2023-2024,Charter,Phila Charters,3379,Ad Prima Charter School,Charters,All Grades,576,NaN,NaN,...,92.88,11,1.91,21,3.65,0,0.0,4,0.69,NaN

3383

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
957,2023-2024,Charter,Phila Charters,3383,Mastery Charter School at Shoemaker,Charters,07,113,NaN,NaN,...,93.81,2,1.77,4,3.54,0,0.00,1,0.88,NaN
958,2023-2024,Charter,Phila Charters,3383,Mastery Charter School at Shoemaker,Charters,08,128,NaN,NaN,...,92.97,0,0.00,8,6.25,0,0.00,1,0.78,NaN
959,2023-2024,Charter,Phila Charters,3383,Mastery Charter School at Shoemaker,Charters,09,130,NaN,NaN,...,93.85,3,2.31,4,3.08,0,0.00,0,0.00,NaN
960,2023-2024,Charter,Phila Charters,3383,Mastery Charter School at Shoemaker,Charters,10,119,NaN,NaN,...,90.76,6,5.04,2,1.68,1,0.84,2,1.68,NaN
961,2023-2024,Charter,Phila Charters,3383,Mastery Charter School at Shoemaker,Charters,11,133,NaN,NaN,...,94.74,3,2.26,4,3.01,0,0.00,0,0.00,NaN
962,2023-2024,Charter,Phila Charters,3383,Mastery Charter School at Shoemaker,Charters,12,128,NaN,NaN,...,96.09,2,1.56,1,0.78,0,0.00,1,0.78,NaN
963,2023-2024,Charter,Phila Charters,3383,Mastery Charter School at Shoemaker,Charters,All Grades,751,NaN,NaN,...,93.74,16,2.13,23,3.06,1,0.13,5,0.67,NaN

3384

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
964,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,00,43,NaN,NaN,...,4.65,4,9.30,3,6.98,0,0.0,3,6.98,NaN
965,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,01,56,NaN,NaN,...,3.57,2,3.57,9,16.07,0,0.0,8,14.29,NaN
966,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,02,56,NaN,NaN,...,5.36,3,5.36,1,1.79,0,0.0,5,8.93,NaN
967,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,03,57,NaN,NaN,...,7.02,6,10.53,3,5.26,0,0.0,5,8.77,NaN
968,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,04,57,NaN,NaN,...,8.77,3,5.26,5,8.77,0,0.0,6,10.53,NaN
969,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,05,56,NaN,NaN,...,5.36,3,5.36,1,1.79,0,0.0,5,8.93,NaN
970,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,06,54,NaN,NaN,...,12.96,2,3.70,5,9.26,0,0.0,4,7.41,NaN
971,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,07,53,NaN,NaN,...,15.09,3,5.66,0,0.00,0,0.0,6,11.32,NaN
972,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,08,57,NaN,NaN,...,14.04,8,14.04,5,8.77,0,0.0,7,12.28,NaN
973,2023-2024,Charter,Phila Charters,3384,Folk Arts-Cultural Treasures Charter School,Charters,All Grades,489,NaN,NaN,...,8.59,34,6.95,32,6.54,0,0.0,49,10.02,NaN

3385

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
974,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,00,80,NaN,NaN,...,33.75,27,33.75,8,10.00,0,0.00,9,11.25,NaN
975,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,01,81,NaN,NaN,...,23.46,38,46.91,6,7.41,0,0.00,6,7.41,NaN
976,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,02,86,NaN,NaN,...,31.40,34,39.53,0,0.00,0,0.00,7,8.14,NaN
977,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,03,87,NaN,NaN,...,18.39,39,44.83,0,0.00,0,0.00,19,21.84,NaN
978,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,04,85,NaN,NaN,...,20.00,36,42.35,5,5.88,0,0.00,13,15.29,NaN
979,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,05,84,NaN,NaN,...,26.19,27,32.14,1,1.19,0,0.00,9,10.71,NaN
980,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,06,85,NaN,NaN,...,37.65,21,24.71,1,1.18,0,0.00,12,14.12,NaN
981,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,07,127,NaN,NaN,...,29.92,45,35.43,6,4.72,0,0.00,10,7.87,NaN
982,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,08,136,NaN,NaN,...,33.82,36,26.47,15,11.03,0,0.00,16,11.76,NaN
983,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,09,141,NaN,NaN,...,24.82,45,31.91,12,8.51,0,0.00,21,14.89,NaN
984,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,10,126,NaN,NaN,...,36.51,35,27.78,5,3.97,0,0.00,14,11.11,NaN
985,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,11,125,NaN,NaN,...,40.80,41,32.80,4,3.20,1,0.80,8,6.40,NaN
986,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,12,112,NaN,NaN,...,34.82,23,20.54,10,8.93,0,0.00,12,10.71,NaN
987,2023-2024,Charter,Phila Charters,3385,Mastery Charter School at Thomas Campus,Charters,All Grades,1355,NaN,NaN,...,30.63,447,32.99,73,5.39,1,0.07,156,11.51,NaN

3386

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
988,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,00,69,NaN,NaN,...,68.12,16,23.19,5,7.25,0,0.0,1,1.45,NaN
989,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,01,77,NaN,NaN,...,62.34,14,18.18,8,10.39,0,0.0,5,6.49,NaN
990,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,02,81,NaN,NaN,...,60.49,22,27.16,4,4.94,0,0.0,3,3.70,NaN
991,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,03,81,NaN,NaN,...,61.73,17,20.99,7,8.64,0,0.0,4,4.94,NaN
992,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,04,87,NaN,NaN,...,59.77,24,27.59,2,2.30,0,0.0,5,5.75,NaN
993,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,05,82,NaN,NaN,...,62.20,20,24.39,6,7.32,0,0.0,3,3.66,NaN
994,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,06,81,NaN,NaN,...,76.54,12,14.81,2,2.47,0,0.0,2,2.47,NaN
995,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,07,75,NaN,NaN,...,74.67,12,16.00,4,5.33,0,0.0,1,1.33,NaN
996,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,08,74,NaN,NaN,...,54.05,20,27.03,11,14.86,0,0.0,1,1.35,NaN
997,2023-2024,Charter,Phila Charters,3386,Northwood Academy Charter School,Charters,All Grades,707,NaN,NaN,...,64.36,157,22.21,49,6.93,0,0.0,25,3.54,NaN

3388

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
998,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,06,86,NaN,NaN,...,95.35,2,2.33,1,1.16,0,0.0,1,1.16,NaN
999,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,07,104,NaN,NaN,...,93.27,2,1.92,4,3.85,0,0.0,0,0.00,NaN
1000,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,08,108,NaN,NaN,...,96.30,2,1.85,2,1.85,0,0.0,0,0.00,NaN
1001,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,09,165,NaN,NaN,...,92.73,5,3.03,7,4.24,0,0.0,0,0.00,NaN
1002,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,10,135,NaN,NaN,...,91.85,2,1.48,8,5.93,0,0.0,1,0.74,NaN
1003,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,11,92,NaN,NaN,...,95.65,1,1.09,3,3.26,0,0.0,0,0.00,NaN
1004,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,12,81,NaN,NaN,...,91.36,2,2.47,5,6.17,0,0.0,0,0.00,NaN
1005,2023-2024,Charter,Phila Charters,3388,Boys Latin of Philadelphia Charter School,Charters,All Grades,771,NaN,NaN,...,93.64,16,2.08,30,3.89,0,0.0,2,0.26,NaN

3389

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1006,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,00,77,NaN,NaN,...,44.16,19,24.68,13,16.88,0,0.0,7,9.09,NaN
1007,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,01,79,NaN,NaN,...,35.44,21,26.58,11,13.92,0,0.0,12,15.19,NaN
1008,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,02,84,NaN,NaN,...,33.33,26,30.95,5,5.95,0,0.0,17,20.24,NaN
1009,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,03,79,NaN,NaN,...,34.18,26,32.91,3,3.80,0,0.0,17,21.52,NaN
1010,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,04,72,NaN,NaN,...,38.89,23,31.94,1,1.39,0,0.0,15,20.83,NaN
1011,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,05,71,NaN,NaN,...,29.58,22,30.99,3,4.23,0,0.0,18,25.35,NaN
1012,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,06,67,NaN,NaN,...,25.37,25,37.31,12,17.91,0,0.0,10,14.93,NaN
1013,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,07,68,NaN,NaN,...,57.35,17,25.00,2,2.94,0,0.0,8,11.76,NaN
1014,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,08,71,NaN,NaN,...,39.44,19,26.76,7,9.86,0,0.0,9,12.68,NaN
1015,2023-2024,Charter,Phila Charters,3389,Keystone Academy Charter School,Charters,All Grades,668,NaN,NaN,...,37.43,198,29.64,57,8.53,0,0.0,113,16.92,NaN

3392

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1016,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,00,63,NaN,NaN,...,88.89,5,7.94,1,1.59,0,0.0,0,0.00,NaN
1017,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,01,61,NaN,NaN,...,86.89,7,11.48,0,0.00,0,0.0,0,0.00,NaN
1018,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,02,67,NaN,NaN,...,83.58,9,13.43,0,0.00,0,0.0,1,1.49,NaN
1019,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,03,63,NaN,NaN,...,87.30,8,12.70,0,0.00,0,0.0,0,0.00,NaN
1020,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,04,58,NaN,NaN,...,93.10,3,5.17,1,1.72,0,0.0,0,0.00,NaN
1021,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,05,78,NaN,NaN,...,88.46,3,3.85,4,5.13,0,0.0,0,0.00,NaN
1022,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,06,80,NaN,NaN,...,87.50,8,10.00,0,0.00,0,0.0,1,1.25,NaN
1023,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,07,52,NaN,NaN,...,96.15,1,1.92,0,0.00,0,0.0,0,0.00,NaN
1024,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,08,58,NaN,NaN,...,86.21,2,3.45,4,6.90,0,0.0,2,3.45,NaN
1025,2023-2024,Charter,Phila Charters,3392,Southwest Leadership Academy Charter School,Charters,All Grades,580,NaN,NaN,...,88.45,46,7.93,10,1.72,0,0.0,4,0.69,NaN

3393

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1026,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,06,120,NaN,NaN,...,96.67,3,2.50,0,0.00,0,0.0,1,0.83,NaN
1027,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,07,150,NaN,NaN,...,96.00,2,1.33,3,2.00,0,0.0,1,0.67,NaN
1028,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,08,126,NaN,NaN,...,88.10,4,3.17,9,7.14,0,0.0,1,0.79,NaN
1029,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,09,150,NaN,NaN,...,96.67,1,0.67,4,2.67,0,0.0,0,0.00,NaN
1030,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,10,118,NaN,NaN,...,94.92,0,0.00,6,5.08,0,0.0,0,0.00,NaN
1031,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,11,123,NaN,NaN,...,91.87,2,1.63,8,6.50,0,0.0,0,0.00,NaN
1032,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,12,114,NaN,NaN,...,95.61,2,1.75,2,1.75,0,0.0,1,0.88,NaN
1033,2023-2024,Charter,Phila Charters,3393,Mastery Charter School at Pickett,Charters,All Grades,901,NaN,NaN,...,94.34,14,1.55,32,3.55,0,0.0,4,0.44,NaN

3394

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1034,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,00,98,NaN,NaN,...,7.14,70,71.43,20,20.41,0,0.0,1,1.02,NaN
1035,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,01,95,NaN,NaN,...,10.53,82,86.32,3,3.16,0,0.0,0,0.00,NaN
1036,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,02,96,NaN,NaN,...,4.17,79,82.29,12,12.50,0,0.0,1,1.04,NaN
1037,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,03,100,NaN,NaN,...,9.00,87,87.00,4,4.00,0,0.0,0,0.00,NaN
1038,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,04,93,NaN,NaN,...,4.30,84,90.32,5,5.38,0,0.0,0,0.00,NaN
1039,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,05,91,NaN,NaN,...,4.40,77,84.62,9,9.89,0,0.0,1,1.10,NaN
1040,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,06,78,NaN,NaN,...,5.13,69,88.46,4,5.13,0,0.0,1,1.28,NaN
1041,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,07,62,NaN,NaN,...,3.23,55,88.71,5,8.06,0,0.0,0,0.00,NaN
1042,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,08,53,NaN,NaN,...,13.21,41,77.36,4,7.55,0,0.0,1,1.89,NaN
1043,2023-2024,Charter,Phila Charters,3394,Pan American Academy Charter School,Charters,All Grades,766,NaN,NaN,...,6.66,644,84.07,66,8.62,0,0.0,5,0.65,NaN

3395

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1044,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,00,94,NaN,NaN,...,6.38,81,86.17,4,4.26,0,0.0,2,2.13,NaN
1045,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,01,73,NaN,NaN,...,0.00,67,91.78,6,8.22,0,0.0,0,0.00,NaN
1046,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,02,74,NaN,NaN,...,4.05,66,89.19,4,5.41,0,0.0,1,1.35,NaN
1047,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,03,70,NaN,NaN,...,4.29,65,92.86,2,2.86,0,0.0,0,0.00,NaN
1048,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,04,95,NaN,NaN,...,4.21,75,78.95,12,12.63,0,0.0,3,3.16,NaN
1049,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,05,92,NaN,NaN,...,3.26,84,91.30,4,4.35,0,0.0,0,0.00,NaN
1050,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,06,85,NaN,NaN,...,0.00,78,91.76,2,2.35,0,0.0,5,5.88,NaN
1051,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,07,58,NaN,NaN,...,0.00,54,93.10,4,6.90,0,0.0,0,0.00,NaN
1052,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,08,68,NaN,NaN,...,1.47,60,88.24,7,10.29,0,0.0,0,0.00,NaN
1053,2023-2024,Charter,Phila Charters,3395,Antonia Pantoja Charter School,Charters,All Grades,709,NaN,NaN,...,2.82,630,88.86,45,6.35,0,0.0,11,1.55,NaN

3399

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1054,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,00,41,NaN,NaN,...,97.56,0,0.00,1,2.44,0,0.00,0,0.00,NaN
1055,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,01,51,NaN,NaN,...,92.16,2,3.92,1,1.96,1,1.96,0,0.00,NaN
1056,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,02,54,NaN,NaN,...,94.44,3,5.56,0,0.00,0,0.00,0,0.00,NaN
1057,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,03,54,NaN,NaN,...,96.30,2,3.70,0,0.00,0,0.00,0,0.00,NaN
1058,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,04,51,NaN,NaN,...,94.12,2,3.92,0,0.00,0,0.00,1,1.96,NaN
1059,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,05,57,NaN,NaN,...,92.98,4,7.02,0,0.00,0,0.00,0,0.00,NaN
1060,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,06,57,NaN,NaN,...,94.74,0,0.00,1,1.75,0,0.00,2,3.51,NaN
1061,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,07,55,NaN,NaN,...,81.82,4,7.27,2,3.64,0,0.00,0,0.00,NaN
1062,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,08,53,NaN,NaN,...,96.23,1,1.89,1,1.89,0,0.00,0,0.00,NaN
1063,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,09,54,NaN,NaN,...,88.89,3,5.56,3,5.56,0,0.00,0,0.00,NaN
1064,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,10,50,NaN,NaN,...,84.00,4,8.00,3,6.00,0,0.00,0,0.00,NaN
1065,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,11,47,NaN,NaN,...,95.74,1,2.13,1,2.13,0,0.00,0,0.00,NaN
1066,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,12,42,NaN,NaN,...,88.10,2,4.76,2,4.76,0,0.00,1,2.38,NaN
1067,2023-2024,Charter,Phila Charters,3399,Sankofa Freedom Academy Charter School,Charters,All Grades,666,NaN,NaN,...,92.04,28,4.20,15,2.25,1,0.15,4,0.60,NaN

3403

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1068,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,00,105,NaN,NaN,...,9.52,20,19.05,5,4.76,0,0.0,67,63.81,NaN
1069,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,01,106,NaN,NaN,...,11.32,15,14.15,6,5.66,0,0.0,69,65.09,NaN
1070,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,02,109,NaN,NaN,...,6.42,18,16.51,6,5.50,0,0.0,73,66.97,NaN
1071,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,03,106,NaN,NaN,...,3.77,7,6.60,6,5.66,0,0.0,87,82.08,NaN
1072,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,04,109,NaN,NaN,...,8.26,7,6.42,3,2.75,0,0.0,88,80.73,NaN
1073,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,05,106,NaN,NaN,...,5.66,9,8.49,13,12.26,0,0.0,75,70.75,NaN
1074,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,06,107,NaN,NaN,...,6.54,15,14.02,6,5.61,0,0.0,76,71.03,NaN
1075,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,07,106,NaN,NaN,...,4.72,13,12.26,3,2.83,0,0.0,82,77.36,NaN
1076,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,08,103,NaN,NaN,...,5.83,11,10.68,10,9.71,0,0.0,74,71.84,NaN
1077,2023-2024,Charter,Phila Charters,3403,Franklin Towne Charter Elementary School,Charters,All Grades,957,NaN,NaN,...,6.90,115,12.02,58,6.06,0,0.0,691,72.20,NaN

3404

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1078,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,00,72,NaN,NaN,...,23.61,16,22.22,12,16.67,1,1.39,16,22.22,NaN
1079,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,01,81,NaN,NaN,...,35.80,11,13.58,12,14.81,0,0.00,18,22.22,NaN
1080,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,02,82,NaN,NaN,...,21.95,15,18.29,9,10.98,0,0.00,28,34.15,NaN
1081,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,03,82,NaN,NaN,...,25.61,18,21.95,16,19.51,0,0.00,21,25.61,NaN
1082,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,04,81,NaN,NaN,...,33.33,20,24.69,12,14.81,0,0.00,16,19.75,NaN
1083,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,05,80,NaN,NaN,...,27.50,19,23.75,8,10.00,0,0.00,21,26.25,NaN
1084,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,06,82,NaN,NaN,...,39.02,19,23.17,10,12.20,0,0.00,15,18.29,NaN
1085,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,07,81,NaN,NaN,...,39.51,14,17.28,10,12.35,0,0.00,18,22.22,NaN
1086,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,08,80,NaN,NaN,...,38.75,11,13.75,14,17.50,0,0.00,20,25.00,NaN
1087,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,09,97,NaN,NaN,...,41.24,35,36.08,8,8.25,0,0.00,13,13.40,NaN
1088,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,10,98,NaN,NaN,...,45.92,30,30.61,8,8.16,0,0.00,13,13.27,NaN
1089,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,11,80,NaN,NaN,...,47.50,19,23.75,5,6.25,0,0.00,17,21.25,NaN
1090,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,12,86,NaN,NaN,...,46.51,22,25.58,3,3.49,0,0.00,20,23.26,NaN
1091,2023-2024,Charter,Phila Charters,3404,Tacony Academy Charter School,Charters,All Grades,1082,NaN,NaN,...,36.23,249,23.01,127,11.74,1,0.09,236,21.81,NaN

3407

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1092,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,00,83,NaN,NaN,...,96.39,0,0.00,0,0.00,0,0.00,2,2.41,NaN
1093,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,01,90,NaN,NaN,...,96.67,0,0.00,1,1.11,0,0.00,0,0.00,NaN
1094,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,02,99,NaN,NaN,...,93.94,4,4.04,0,0.00,0,0.00,1,1.01,NaN
1095,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,03,87,NaN,NaN,...,95.40,0,0.00,2,2.30,0,0.00,1,1.15,NaN
1096,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,04,73,NaN,NaN,...,97.26,0,0.00,0,0.00,0,0.00,2,2.74,NaN
1097,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,05,97,NaN,NaN,...,94.85,1,1.03,1,1.03,0,0.00,2,2.06,NaN
1098,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,06,88,NaN,NaN,...,98.86,0,0.00,0,0.00,0,0.00,0,0.00,NaN
1099,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,07,84,NaN,NaN,...,94.05,1,1.19,2,2.38,0,0.00,0,0.00,NaN
1100,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,08,81,NaN,NaN,...,87.65,0,0.00,8,9.88,1,1.23,0,0.00,NaN
1101,2023-2024,Charter,Phila Charters,3407,Mastery Charter School at Harrity,Charters,All Grades,782,NaN,NaN,...,95.01,6,0.77,14,1.79,1,0.13,8,1.02,NaN

3408

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1102,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,00,81,NaN,NaN,...,83.95,1,1.23,9,11.11,0,0.0,3,3.70,NaN
1103,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,01,70,NaN,NaN,...,82.86,2,2.86,7,10.00,0,0.0,2,2.86,NaN
1104,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,02,79,NaN,NaN,...,84.81,4,5.06,3,3.80,0,0.0,4,5.06,NaN
1105,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,03,75,NaN,NaN,...,90.67,3,4.00,2,2.67,0,0.0,2,2.67,NaN
1106,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,04,82,NaN,NaN,...,92.68,2,2.44,3,3.66,0,0.0,0,0.00,NaN
1107,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,05,89,NaN,NaN,...,94.38,2,2.25,3,3.37,0,0.0,0,0.00,NaN
1108,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,06,83,NaN,NaN,...,91.57,1,1.20,4,4.82,0,0.0,2,2.41,NaN
1109,2023-2024,Charter,Phila Charters,3408,Mastery Charter School at Mann,Charters,All Grades,559,NaN,NaN,...,88.91,15,2.68,31,5.55,0,0.0,13,2.33,NaN

3409

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1110,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,00,98,NaN,NaN,...,71.43,11,11.22,0,0.00,1,1.02,13,13.27,NaN
1111,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,01,111,NaN,NaN,...,73.87,5,4.50,4,3.60,1,0.90,14,12.61,NaN
1112,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,02,105,NaN,NaN,...,73.33,17,16.19,0,0.00,3,2.86,7,6.67,NaN
1113,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,03,104,NaN,NaN,...,62.50,30,28.85,2,1.92,0,0.00,7,6.73,NaN
1114,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,04,110,NaN,NaN,...,71.82,20,18.18,7,6.36,0,0.00,4,3.64,NaN
1115,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,05,114,NaN,NaN,...,67.54,30,26.32,1,0.88,0,0.00,6,5.26,NaN
1116,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,06,119,NaN,NaN,...,67.23,29,24.37,0,0.00,1,0.84,7,5.88,NaN
1117,2023-2024,Charter,Phila Charters,3409,Mastery Charter School at Smedley,Charters,All Grades,761,NaN,NaN,...,69.65,142,18.66,14,1.84,6,0.79,58,7.62,NaN

3412

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1118,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,00,51,NaN,NaN,...,92.16,1,1.96,3,5.88,0,0.00,0,0.00,NaN
1119,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,01,57,NaN,NaN,...,96.49,0,0.00,1,1.75,1,1.75,0,0.00,NaN
1120,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,02,57,NaN,NaN,...,96.49,1,1.75,0,0.00,0,0.00,1,1.75,NaN
1121,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,03,64,NaN,NaN,...,93.75,2,3.13,2,3.13,0,0.00,0,0.00,NaN
1122,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,04,73,NaN,NaN,...,94.52,1,1.37,2,2.74,0,0.00,1,1.37,NaN
1123,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,05,60,NaN,NaN,...,96.67,0,0.00,2,3.33,0,0.00,0,0.00,NaN
1124,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,06,69,NaN,NaN,...,95.65,2,2.90,0,0.00,0,0.00,1,1.45,NaN
1125,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,07,62,NaN,NaN,...,96.77,2,3.23,0,0.00,0,0.00,0,0.00,NaN
1126,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,08,59,NaN,NaN,...,88.14,0,0.00,6,10.17,0,0.00,1,1.69,NaN
1127,2023-2024,Charter,Phila Charters,3412,Mastery Charter School at Douglass,Charters,All Grades,552,NaN,NaN,...,94.57,9,1.63,16,2.90,1,0.18,4,0.72,NaN

3415

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1128,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,00,67,NaN,NaN,...,88.06,4,5.97,1,1.49,2,2.99,1,1.49,NaN
1129,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,01,71,NaN,NaN,...,88.73,6,8.45,0,0.00,0,0.00,2,2.82,NaN
1130,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,02,61,NaN,NaN,...,88.52,6,9.84,1,1.64,0,0.00,0,0.00,NaN
1131,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,03,59,NaN,NaN,...,86.44,4,6.78,1,1.69,0,0.00,2,3.39,NaN
1132,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,04,56,NaN,NaN,...,94.64,2,3.57,0,0.00,0,0.00,1,1.79,NaN
1133,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,05,67,NaN,NaN,...,89.55,7,10.45,0,0.00,0,0.00,0,0.00,NaN
1134,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,06,72,NaN,NaN,...,87.50,5,6.94,4,5.56,0,0.00,0,0.00,NaN
1135,2023-2024,Charter,Phila Charters,3415,Mastery Charter School at Clymer,Charters,All Grades,453,NaN,NaN,...,88.96,34,7.51,7,1.55,2,0.44,6,1.32,NaN

3416

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1136,2023-2024,Charter,Phila Charters,3416,Mastery Charter School at Gratz,Charters,07,139,NaN,NaN,...,88.49,11,7.91,4,2.88,0,0.00,1,0.72,NaN
1137,2023-2024,Charter,Phila Charters,3416,Mastery Charter School at Gratz,Charters,08,122,NaN,NaN,...,80.33,16,13.11,6,4.92,0,0.00,1,0.82,NaN
1138,2023-2024,Charter,Phila Charters,3416,Mastery Charter School at Gratz,Charters,09,193,NaN,NaN,...,83.94,14,7.25,12,6.22,1,0.52,3,1.55,NaN
1139,2023-2024,Charter,Phila Charters,3416,Mastery Charter School at Gratz,Charters,10,184,NaN,NaN,...,79.35,19,10.33,15,8.15,0,0.00,2,1.09,NaN
1140,2023-2024,Charter,Phila Charters,3416,Mastery Charter School at Gratz,Charters,11,189,NaN,NaN,...,89.42,8,4.23,7,3.70,0,0.00,1,0.53,NaN
1141,2023-2024,Charter,Phila Charters,3416,Mastery Charter School at Gratz,Charters,12,214,NaN,NaN,...,86.45,10,4.67,18,8.41,0,0.00,0,0.00,NaN
1142,2023-2024,Charter,Phila Charters,3416,Mastery Charter School at Gratz,Charters,All Grades,1041,NaN,NaN,...,84.82,78,7.49,62,5.96,1,0.10,8,0.77,NaN

3417

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1143,2023-2024,Charter,Phila Charters,3417,Universal Charter School at Audenried,Charters,09,159,NaN,NaN,...,89.31,8,5.03,3,1.89,0,0.0,1,0.63,NaN
1144,2023-2024,Charter,Phila Charters,3417,Universal Charter School at Audenried,Charters,10,152,NaN,NaN,...,94.08,2,1.32,2,1.32,0,0.0,3,1.97,NaN
1145,2023-2024,Charter,Phila Charters,3417,Universal Charter School at Audenried,Charters,11,139,NaN,NaN,...,83.45,11,7.91,7,5.04,0,0.0,2,1.44,NaN
1146,2023-2024,Charter,Phila Charters,3417,Universal Charter School at Audenried,Charters,12,126,NaN,NaN,...,84.92,3,2.38,4,3.17,0,0.0,4,3.17,NaN
1147,2023-2024,Charter,Phila Charters,3417,Universal Charter School at Audenried,Charters,All Grades,576,NaN,NaN,...,88.19,24,4.17,16,2.78,0,0.0,10,1.74,NaN

3418

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1148,2023-2024,Charter,Phila Charters,3418,Universal Charter School at Vare,Charters,05,27,NaN,NaN,...,77.78,2,7.41,1,3.70,0,0.0,0,0.00,NaN
1149,2023-2024,Charter,Phila Charters,3418,Universal Charter School at Vare,Charters,06,24,NaN,NaN,...,79.17,2,8.33,2,8.33,0,0.0,0,0.00,NaN
1150,2023-2024,Charter,Phila Charters,3418,Universal Charter School at Vare,Charters,07,57,NaN,NaN,...,61.40,4,7.02,4,7.02,0,0.0,1,1.75,NaN
1151,2023-2024,Charter,Phila Charters,3418,Universal Charter School at Vare,Charters,08,42,NaN,NaN,...,71.43,3,7.14,2,4.76,0,0.0,0,0.00,NaN
1152,2023-2024,Charter,Phila Charters,3418,Universal Charter School at Vare,Charters,All Grades,150,NaN,NaN,...,70.00,11,7.33,9,6.00,0,0.0,1,0.67,NaN

3419

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1153,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,00,85,NaN,NaN,...,81.18,5,5.88,9,10.59,0,0.00,2,2.35,NaN
1154,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,01,82,NaN,NaN,...,79.27,7,8.54,10,12.20,0,0.00,0,0.00,NaN
1155,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,02,95,NaN,NaN,...,80.00,12,12.63,5,5.26,0,0.00,0,0.00,NaN
1156,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,03,73,NaN,NaN,...,89.04,2,2.74,6,8.22,0,0.00,0,0.00,NaN
1157,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,04,71,NaN,NaN,...,84.51,1,1.41,6,8.45,1,1.41,3,4.23,NaN
1158,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,05,90,NaN,NaN,...,78.89,7,7.78,11,12.22,0,0.00,0,0.00,NaN
1159,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,06,84,NaN,NaN,...,82.14,6,7.14,9,10.71,0,0.00,0,0.00,NaN
1160,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,07,80,NaN,NaN,...,86.25,6,7.50,4,5.00,0,0.00,1,1.25,NaN
1161,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,08,77,NaN,NaN,...,83.12,4,5.19,6,7.79,0,0.00,1,1.30,NaN
1162,2023-2024,Charter,Phila Charters,3419,Lindley Academy Charter at Birney,Charters,All Grades,737,NaN,NaN,...,82.50,50,6.78,66,8.96,1,0.14,7,0.95,NaN

3420

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1163,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,00,77,NaN,NaN,...,96.10,3,3.90,0,0.00,0,0.0,0,0.00,NaN
1164,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,01,82,NaN,NaN,...,93.90,5,6.10,0,0.00,0,0.0,0,0.00,NaN
1165,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,02,76,NaN,NaN,...,93.42,4,5.26,1,1.32,0,0.0,0,0.00,NaN
1166,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,03,67,NaN,NaN,...,91.04,4,5.97,1,1.49,0,0.0,1,1.49,NaN
1167,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,04,92,NaN,NaN,...,96.74,2,2.17,1,1.09,0,0.0,0,0.00,NaN
1168,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,05,87,NaN,NaN,...,96.55,1,1.15,2,2.30,0,0.0,0,0.00,NaN
1169,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,06,88,NaN,NaN,...,93.18,3,3.41,3,3.41,0,0.0,0,0.00,NaN
1170,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,07,91,NaN,NaN,...,93.41,4,4.40,1,1.10,0,0.0,0,0.00,NaN
1171,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,08,92,NaN,NaN,...,86.96,8,8.70,3,3.26,0,0.0,0,0.00,NaN
1172,2023-2024,Charter,Phila Charters,3420,Mastery Charter School at Cleveland,Charters,All Grades,752,NaN,NaN,...,93.48,34,4.52,12,1.60,0,0.0,1,0.13,NaN

3421

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1173,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,00,75,NaN,NaN,...,22.67,54,72.00,2,2.67,0,0.0,0,0.00,NaN
1174,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,01,74,NaN,NaN,...,17.57,54,72.97,0,0.00,0,0.0,0,0.00,NaN
1175,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,02,71,NaN,NaN,...,22.54,50,70.42,1,1.41,0,0.0,0,0.00,NaN
1176,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,03,75,NaN,NaN,...,22.67,48,64.00,1,1.33,0,0.0,0,0.00,NaN
1177,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,04,72,NaN,NaN,...,27.78,41,56.94,2,2.78,0,0.0,2,2.78,NaN
1178,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,05,89,NaN,NaN,...,21.35,56,62.92,1,1.12,0,0.0,0,0.00,NaN
1179,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,06,65,NaN,NaN,...,30.77,37,56.92,1,1.54,0,0.0,1,1.54,NaN
1180,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,07,73,NaN,NaN,...,27.40,47,64.38,0,0.00,0,0.0,1,1.37,NaN
1181,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,08,80,NaN,NaN,...,33.75,41,51.25,1,1.25,0,0.0,2,2.50,NaN
1182,2023-2024,Charter,Phila Charters,3421,Universal Charter School at Creighton,Charters,All Grades,674,NaN,NaN,...,25.07,428,63.50,9,1.34,0,0.0,6,0.89,NaN

3422

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1183,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,00,85,NaN,NaN,...,41.18,40,47.06,7,8.24,0,0.00,1,1.18,NaN
1184,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,01,91,NaN,NaN,...,41.76,35,38.46,10,10.99,1,1.10,5,5.49,NaN
1185,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,02,109,NaN,NaN,...,52.29,34,31.19,14,12.84,2,1.83,2,1.83,NaN
1186,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,03,108,NaN,NaN,...,49.07,38,35.19,11,10.19,1,0.93,4,3.70,NaN
1187,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,04,101,NaN,NaN,...,56.44,33,32.67,9,8.91,0,0.00,1,0.99,NaN
1188,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,05,112,NaN,NaN,...,50.89,45,40.18,8,7.14,0,0.00,2,1.79,NaN
1189,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,06,102,NaN,NaN,...,48.04,42,41.18,7,6.86,2,1.96,1,0.98,NaN
1190,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,07,118,NaN,NaN,...,58.47,37,31.36,9,7.63,0,0.00,3,2.54,NaN
1191,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,08,104,NaN,NaN,...,49.04,37,35.58,15,14.42,0,0.00,0,0.00,NaN
1192,2023-2024,Charter,Phila Charters,3422,The Philadelphia Charter School for Arts and S...,Charters,All Grades,930,NaN,NaN,...,50.11,341,36.67,90,9.68,6,0.65,19,2.04,NaN

3423

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1193,2023-2024,Charter,Phila Charters,3423,Memphis Street Academy Charter School at J.P. ...,Charters,05,66,NaN,NaN,...,48.48,28,42.42,3,4.55,0,0.0,3,4.55,NaN
1194,2023-2024,Charter,Phila Charters,3423,Memphis Street Academy Charter School at J.P. ...,Charters,06,140,NaN,NaN,...,35.00,78,55.71,2,1.43,0,0.0,10,7.14,NaN
1195,2023-2024,Charter,Phila Charters,3423,Memphis Street Academy Charter School at J.P. ...,Charters,07,161,NaN,NaN,...,34.16,82,50.93,9,5.59,0,0.0,15,9.32,NaN
1196,2023-2024,Charter,Phila Charters,3423,Memphis Street Academy Charter School at J.P. ...,Charters,08,176,NaN,NaN,...,35.23,87,49.43,11,6.25,0,0.0,15,8.52,NaN
1197,2023-2024,Charter,Phila Charters,3423,Memphis Street Academy Charter School at J.P. ...,Charters,All Grades,543,NaN,NaN,...,36.46,275,50.64,25,4.60,0,0.0,43,7.92,NaN

3424

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1198,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,00,43,NaN,NaN,...,79.07,5,11.63,2,4.65,0,0.0,2,4.65,NaN
1199,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,01,35,NaN,NaN,...,74.29,2,5.71,3,8.57,0,0.0,1,2.86,NaN
1200,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,02,57,NaN,NaN,...,87.72,3,5.26,1,1.75,0,0.0,1,1.75,NaN
1201,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,03,40,NaN,NaN,...,85.00,3,7.50,0,0.00,0,0.0,0,0.00,NaN
1202,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,04,42,NaN,NaN,...,85.71,3,7.14,1,2.38,0,0.0,1,2.38,NaN
1203,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,05,47,NaN,NaN,...,93.62,2,4.26,0,0.00,0,0.0,1,2.13,NaN
1204,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,06,50,NaN,NaN,...,84.00,3,6.00,1,2.00,0,0.0,1,2.00,NaN
1205,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,07,46,NaN,NaN,...,89.13,1,2.17,3,6.52,0,0.0,1,2.17,NaN
1206,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,08,52,NaN,NaN,...,90.38,2,3.85,1,1.92,0,0.0,1,1.92,NaN
1207,2023-2024,Charter,Phila Charters,3424,Universal Charter School at Alcorn,Charters,All Grades,412,NaN,NaN,...,85.92,24,5.83,12,2.91,0,0.0,9,2.18,NaN

3426

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1208,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,00,74,NaN,NaN,...,95.95,1,1.35,0,0.00,2,2.70,0,0.00,NaN
1209,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,01,82,NaN,NaN,...,98.78,1,1.22,0,0.00,0,0.00,0,0.00,NaN
1210,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,02,72,NaN,NaN,...,93.06,3,4.17,1,1.39,0,0.00,0,0.00,NaN
1211,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,03,71,NaN,NaN,...,95.77,1,1.41,1,1.41,0,0.00,1,1.41,NaN
1212,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,04,58,NaN,NaN,...,94.83,0,0.00,1,1.72,1,1.72,0,0.00,NaN
1213,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,05,72,NaN,NaN,...,97.22,1,1.39,1,1.39,0,0.00,0,0.00,NaN
1214,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,06,73,NaN,NaN,...,97.26,1,1.37,1,1.37,0,0.00,0,0.00,NaN
1215,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,07,70,NaN,NaN,...,90.00,2,2.86,4,5.71,0,0.00,0,0.00,NaN
1216,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,08,74,NaN,NaN,...,90.54,1,1.35,4,5.41,0,0.00,1,1.35,NaN
1217,2023-2024,Charter,Phila Charters,3426,Mastery Charter School at Pastorius,Charters,All Grades,646,NaN,NaN,...,94.89,11,1.70,13,2.01,3,0.46,2,0.31,NaN

3427

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1218,2023-2024,Charter,Phila Charters,3427,Mastery Charter School at Wister,Charters,00,84,NaN,NaN,...,97.62,0,0.00,1,1.19,0,0.00,0,0.00,NaN
1219,2023-2024,Charter,Phila Charters,3427,Mastery Charter School at Wister,Charters,01,82,NaN,NaN,...,96.34,2,2.44,0,0.00,0,0.00,1,1.22,NaN
1220,2023-2024,Charter,Phila Charters,3427,Mastery Charter School at Wister,Charters,02,85,NaN,NaN,...,92.94,2,2.35,3,3.53,1,1.18,0,0.00,NaN
1221,2023-2024,Charter,Phila Charters,3427,Mastery Charter School at Wister,Charters,03,77,NaN,NaN,...,92.21,4,5.19,2,2.60,0,0.00,0,0.00,NaN
1222,2023-2024,Charter,Phila Charters,3427,Mastery Charter School at Wister,Charters,04,99,NaN,NaN,...,92.93,2,2.02,2,2.02,0,0.00,2,2.02,NaN
1223,2023-2024,Charter,Phila Charters,3427,Mastery Charter School at Wister,Charters,05,78,NaN,NaN,...,96.15,2,2.56,0,0.00,0,0.00,1,1.28,NaN
1224,2023-2024,Charter,Phila Charters,3427,Mastery Charter School at Wister,Charters,All Grades,505,NaN,NaN,...,94.65,12,2.38,8,1.58,1,0.20,4,0.79,NaN

3428

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1225,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,00,72,NaN,NaN,...,98.61,1,1.39,0,0.00,0,0.0,0,0.00,NaN
1226,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,01,64,NaN,NaN,...,98.44,0,0.00,0,0.00,0,0.0,1,1.56,NaN
1227,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,02,53,NaN,NaN,...,94.34,1,1.89,1,1.89,0,0.0,0,0.00,NaN
1228,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,03,52,NaN,NaN,...,96.15,0,0.00,1,1.92,0,0.0,0,0.00,NaN
1229,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,04,78,NaN,NaN,...,93.59,2,2.56,1,1.28,0,0.0,1,1.28,NaN
1230,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,05,77,NaN,NaN,...,98.70,1,1.30,0,0.00,0,0.0,0,0.00,NaN
1231,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,06,73,NaN,NaN,...,98.63,0,0.00,1,1.37,0,0.0,0,0.00,NaN
1232,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,07,70,NaN,NaN,...,95.71,0,0.00,3,4.29,0,0.0,0,0.00,NaN
1233,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,08,60,NaN,NaN,...,88.33,1,1.67,6,10.00,0,0.0,0,0.00,NaN
1234,2023-2024,Charter,Phila Charters,3428,Global Leadership Academy at Huey,Charters,All Grades,599,NaN,NaN,...,95.99,6,1.00,13,2.17,0,0.0,2,0.33,NaN

3436

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1235,2023-2024,Charter,Phila Charters,3436,KIPP Octavius Catto Charter School,Charters,00,99,NaN,NaN,...,86.87,3,3.03,4,4.04,0,0.0,1,1.01,NaN
1236,2023-2024,Charter,Phila Charters,3436,KIPP Octavius Catto Charter School,Charters,01,123,NaN,NaN,...,95.12,1,0.81,0,0.00,0,0.0,4,3.25,NaN
1237,2023-2024,Charter,Phila Charters,3436,KIPP Octavius Catto Charter School,Charters,02,79,NaN,NaN,...,93.67,4,5.06,1,1.27,0,0.0,0,0.00,NaN
1238,2023-2024,Charter,Phila Charters,3436,KIPP Octavius Catto Charter School,Charters,All Grades,301,NaN,NaN,...,92.03,8,2.66,5,1.66,0,0.0,5,1.66,NaN

3437

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1239,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,00,94,NaN,NaN,...,94.68,1,1.06,2,2.13,0,0.0,0,0.00,NaN
1240,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,01,99,NaN,NaN,...,96.97,0,0.00,2,2.02,0,0.0,0,0.00,NaN
1241,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,02,95,NaN,NaN,...,95.79,2,2.11,2,2.11,0,0.0,0,0.00,NaN
1242,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,03,101,NaN,NaN,...,97.03,0,0.00,3,2.97,0,0.0,0,0.00,NaN
1243,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,04,97,NaN,NaN,...,96.91,1,1.03,2,2.06,0,0.0,0,0.00,NaN
1244,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,05,91,NaN,NaN,...,96.70,1,1.10,1,1.10,0,0.0,1,1.10,NaN
1245,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,06,83,NaN,NaN,...,92.77,1,1.20,2,2.41,0,0.0,2,2.41,NaN
1246,2023-2024,Charter,Phila Charters,3437,KIPP North Philadelphia Charter School,Charters,All Grades,660,NaN,NaN,...,95.91,6,0.91,14,2.12,0,0.0,3,0.45,NaN

3438

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1247,2023-2024,Charter,Phila Charters,3438,Deep Roots Charter School,Charters,00,45,NaN,NaN,...,42.22,14,31.11,11,24.44,0,0.0,1,2.22,NaN
1248,2023-2024,Charter,Phila Charters,3438,Deep Roots Charter School,Charters,01,47,NaN,NaN,...,38.30,16,34.04,9,19.15,0,0.0,4,8.51,NaN
1249,2023-2024,Charter,Phila Charters,3438,Deep Roots Charter School,Charters,02,57,NaN,NaN,...,42.11,16,28.07,9,15.79,0,0.0,8,14.04,NaN
1250,2023-2024,Charter,Phila Charters,3438,Deep Roots Charter School,Charters,03,46,NaN,NaN,...,36.96,24,52.17,2,4.35,0,0.0,3,6.52,NaN
1251,2023-2024,Charter,Phila Charters,3438,Deep Roots Charter School,Charters,04,50,NaN,NaN,...,58.00,14,28.00,3,6.00,0,0.0,4,8.00,NaN
1252,2023-2024,Charter,Phila Charters,3438,Deep Roots Charter School,Charters,05,57,NaN,NaN,...,36.84,22,38.60,8,14.04,0,0.0,6,10.53,NaN
1253,2023-2024,Charter,Phila Charters,3438,Deep Roots Charter School,Charters,All Grades,302,NaN,NaN,...,42.38,106,35.10,42,13.91,0,0.0,26,8.61,NaN

3439

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1254,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,00,78,NaN,NaN,...,92.31,3,3.85,0,0.00,0,0.00,0,0.00,NaN
1255,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,01,94,NaN,NaN,...,94.68,1,1.06,1,1.06,0,0.00,2,2.13,NaN
1256,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,02,85,NaN,NaN,...,84.71,9,10.59,3,3.53,1,1.18,0,0.00,NaN
1257,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,03,84,NaN,NaN,...,91.67,5,5.95,1,1.19,0,0.00,1,1.19,NaN
1258,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,04,85,NaN,NaN,...,95.29,0,0.00,2,2.35,0,0.00,2,2.35,NaN
1259,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,05,82,NaN,NaN,...,86.59,7,8.54,2,2.44,0,0.00,2,2.44,NaN
1260,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,06,84,NaN,NaN,...,90.48,2,2.38,4,4.76,0,0.00,2,2.38,NaN
1261,2023-2024,Charter,Phila Charters,3439,Mastery Prep Elementary Charter School,Charters,All Grades,592,NaN,NaN,...,90.88,27,4.56,13,2.20,1,0.17,9,1.52,NaN

3440

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1262,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,00,196,NaN,NaN,...,28.57,33,16.84,34,17.35,1,0.51,42,21.43,NaN
1263,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,01,202,NaN,NaN,...,31.19,30,14.85,22,10.89,1,0.50,52,25.74,NaN
1264,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,02,206,NaN,NaN,...,30.58,51,24.76,10,4.85,0,0.00,52,25.24,NaN
1265,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,03,205,NaN,NaN,...,30.24,43,20.98,11,5.37,1,0.49,55,26.83,NaN
1266,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,04,208,NaN,NaN,...,27.40,19,9.13,15,7.21,0,0.00,82,39.42,NaN
1267,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,05,201,NaN,NaN,...,32.84,30,14.93,16,7.96,0,0.00,60,29.85,NaN
1268,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,06,111,NaN,NaN,...,29.73,15,13.51,4,3.60,0,0.00,46,41.44,NaN
1269,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,07,111,NaN,NaN,...,26.13,13,11.71,12,10.81,0,0.00,42,37.84,NaN
1270,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,08,108,NaN,NaN,...,27.78,18,16.67,8,7.41,0,0.00,41,37.96,NaN
1271,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,09,115,NaN,NaN,...,28.70,27,23.48,10,8.70,0,0.00,35,30.43,NaN
1272,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,10,110,NaN,NaN,...,30.91,24,21.82,13,11.82,1,0.91,26,23.64,NaN
1273,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,11,83,NaN,NaN,...,33.73,18,21.69,8,9.64,0,0.00,21,25.30,NaN
1274,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,12,46,NaN,NaN,...,32.61,14,30.43,5,10.87,0,0.00,6,13.04,NaN
1275,2023-2024,Charter,Phila Charters,3440,MaST Community Charter School II,Charters,All Grades,1902,NaN,NaN,...,29.92,335,17.61,168,8.83,4,0.21,560,29.44,NaN

3441

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1276,2023-2024,Charter,Phila Charters,3441,TECH Freire Charter School,Charters,09,146,NaN,NaN,...,95.89,5,3.42,1,0.68,0,0.0,0,0.00,NaN
1277,2023-2024,Charter,Phila Charters,3441,TECH Freire Charter School,Charters,10,130,NaN,NaN,...,94.62,5,3.85,1,0.77,0,0.0,1,0.77,NaN
1278,2023-2024,Charter,Phila Charters,3441,TECH Freire Charter School,Charters,11,124,NaN,NaN,...,94.35,3,2.42,4,3.23,0,0.0,0,0.00,NaN
1279,2023-2024,Charter,Phila Charters,3441,TECH Freire Charter School,Charters,12,94,NaN,NaN,...,87.23,7,7.45,3,3.19,0,0.0,2,2.13,NaN
1280,2023-2024,Charter,Phila Charters,3441,TECH Freire Charter School,Charters,All Grades,494,NaN,NaN,...,93.52,20,4.05,9,1.82,0,0.0,3,0.61,NaN

3442

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1281,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,00,102,NaN,NaN,...,94.12,0,0.00,2,1.96,0,0.0,4,3.92,NaN
1282,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,01,93,NaN,NaN,...,96.77,1,1.08,1,1.08,0,0.0,1,1.08,NaN
1283,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,02,104,NaN,NaN,...,91.35,5,4.81,3,2.88,0,0.0,0,0.00,NaN
1284,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,03,107,NaN,NaN,...,88.79,1,0.93,5,4.67,0,0.0,5,4.67,NaN
1285,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,04,101,NaN,NaN,...,92.08,3,2.97,1,0.99,0,0.0,4,3.96,NaN
1286,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,05,102,NaN,NaN,...,90.20,9,8.82,0,0.00,0,0.0,1,0.98,NaN
1287,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,06,83,NaN,NaN,...,96.39,0,0.00,0,0.00,0,0.0,3,3.61,NaN
1288,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,07,85,NaN,NaN,...,94.12,1,1.18,4,4.71,0,0.0,0,0.00,NaN
1289,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,08,67,NaN,NaN,...,92.54,0,0.00,3,4.48,0,0.0,2,2.99,NaN
1290,2023-2024,Charter,Phila Charters,3442,Independence Charter School West,Charters,All Grades,844,NaN,NaN,...,92.77,20,2.37,19,2.25,0,0.0,20,2.37,NaN

3443

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1291,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,00,91,NaN,NaN,...,93.41,4,4.40,1,1.10,0,0.00,0,0.00,NaN
1292,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,01,98,NaN,NaN,...,94.90,2,2.04,0,0.00,1,1.02,1,1.02,NaN
1293,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,02,95,NaN,NaN,...,95.79,2,2.11,2,2.11,0,0.00,0,0.00,NaN
1294,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,03,103,NaN,NaN,...,98.06,1,0.97,1,0.97,0,0.00,0,0.00,NaN
1295,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,04,101,NaN,NaN,...,96.04,1,0.99,1,0.99,0,0.00,1,0.99,NaN
1296,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,05,94,NaN,NaN,...,94.68,2,2.13,2,2.13,0,0.00,1,1.06,NaN
1297,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,06,91,NaN,NaN,...,97.80,1,1.10,1,1.10,0,0.00,0,0.00,NaN
1298,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,07,87,NaN,NaN,...,97.70,0,0.00,2,2.30,0,0.00,0,0.00,NaN
1299,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,08,85,NaN,NaN,...,95.29,2,2.35,2,2.35,0,0.00,0,0.00,NaN
1300,2023-2024,Charter,Phila Charters,3443,KIPP West Philadelphia Charter School,Charters,All Grades,845,NaN,NaN,...,95.98,15,1.78,12,1.42,1,0.12,3,0.36,NaN

3445

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1301,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,00,105,NaN,NaN,...,31.43,17,16.19,15,14.29,0,0.00,29,27.62,NaN
1302,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,01,103,NaN,NaN,...,33.01,20,19.42,15,14.56,0,0.00,27,26.21,NaN
1303,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,02,102,NaN,NaN,...,33.33,19,18.63,11,10.78,0,0.00,26,25.49,NaN
1304,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,03,105,NaN,NaN,...,37.14,25,23.81,12,11.43,0,0.00,19,18.10,NaN
1305,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,04,152,NaN,NaN,...,32.24,23,15.13,28,18.42,0,0.00,38,25.00,NaN
1306,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,05,150,NaN,NaN,...,34.00,31,20.67,9,6.00,0,0.00,44,29.33,NaN
1307,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,06,152,NaN,NaN,...,43.42,32,21.05,9,5.92,1,0.66,32,21.05,NaN
1308,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,07,149,NaN,NaN,...,36.91,31,20.81,16,10.74,0,0.00,38,25.50,NaN
1309,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,08,146,NaN,NaN,...,48.63,27,18.49,10,6.85,1,0.68,26,17.81,NaN
1310,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,09,144,NaN,NaN,...,42.36,24,16.67,13,9.03,0,0.00,29,20.14,NaN
1311,2023-2024,Charter,Phila Charters,3445,MAST III Charter School,Charters,All Grades,1308,NaN,NaN,...,37.69,249,19.04,138,10.55,2,0.15,308,23.55,NaN

3446

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1312,2023-2024,Charter,Phila Charters,3446,Philadelphia Hebrew Public Charter School,Charters,00,82,NaN,NaN,...,70.73,2,2.44,12,14.63,0,0.0,7,8.54,NaN
1313,2023-2024,Charter,Phila Charters,3446,Philadelphia Hebrew Public Charter School,Charters,01,78,NaN,NaN,...,85.90,1,1.28,5,6.41,0,0.0,4,5.13,NaN
1314,2023-2024,Charter,Phila Charters,3446,Philadelphia Hebrew Public Charter School,Charters,02,79,NaN,NaN,...,75.95,2,2.53,12,15.19,0,0.0,4,5.06,NaN
1315,2023-2024,Charter,Phila Charters,3446,Philadelphia Hebrew Public Charter School,Charters,03,91,NaN,NaN,...,74.73,1,1.10,15,16.48,0,0.0,4,4.40,NaN
1316,2023-2024,Charter,Phila Charters,3446,Philadelphia Hebrew Public Charter School,Charters,04,107,NaN,NaN,...,72.90,5,4.67,14,13.08,0,0.0,8,7.48,NaN
1317,2023-2024,Charter,Phila Charters,3446,Philadelphia Hebrew Public Charter School,Charters,05,54,NaN,NaN,...,79.63,2,3.70,4,7.41,0,0.0,4,7.41,NaN
1318,2023-2024,Charter,Phila Charters,3446,Philadelphia Hebrew Public Charter School,Charters,All Grades,491,NaN,NaN,...,76.17,13,2.65,62,12.63,0,0.0,31,6.31,NaN

3510

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1319,2023-2024,Alternative,Alt Contracted,3510,El Centro de Estudiantes (Big Picture),Opportunity,09,5,0.0,0.0,...,60.00,2,40.00,0,0.00,0,0.0,0,0.00,NaN
1320,2023-2024,Alternative,Alt Contracted,3510,El Centro de Estudiantes (Big Picture),Opportunity,10,22,0.0,0.0,...,54.55,7,31.82,1,4.55,0,0.0,2,9.09,NaN
1321,2023-2024,Alternative,Alt Contracted,3510,El Centro de Estudiantes (Big Picture),Opportunity,11,23,0.0,0.0,...,56.52,7,30.43,0,0.00,0,0.0,2,8.70,NaN
1322,2023-2024,Alternative,Alt Contracted,3510,El Centro de Estudiantes (Big Picture),Opportunity,12,50,2.0,4.0,...,48.00,20,40.00,3,6.00,0,0.0,3,6.00,NaN
1323,2023-2024,Alternative,Alt Contracted,3510,El Centro de Estudiantes (Big Picture),Opportunity,All Grades,100,2.0,2.0,...,52.00,36,36.00,4,4.00,0,0.0,7,7.00,1.6

3810

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1324,2023-2024,Alternative,Alt Contracted,3810,One Bright Ray - Elmwood Campus,Opportunity,09,11,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1325,2023-2024,Alternative,Alt Contracted,3810,One Bright Ray - Elmwood Campus,Opportunity,10,38,2.0,5.26,...,92.11,1,2.63,2,5.26,0,0.0,0,0.0,NaN
1326,2023-2024,Alternative,Alt Contracted,3810,One Bright Ray - Elmwood Campus,Opportunity,11,39,1.0,2.56,...,94.87,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1327,2023-2024,Alternative,Alt Contracted,3810,One Bright Ray - Elmwood Campus,Opportunity,12,38,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1328,2023-2024,Alternative,Alt Contracted,3810,One Bright Ray - Elmwood Campus,Opportunity,All Grades,126,3.0,2.38,...,96.03,1,0.79,2,1.59,0,0.0,0,0.0,0.0

3820

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1329,2023-2024,Alternative,Alt Contracted,3820,Achieve Academy East,Opportunity,07,8,1.0,12.50,...,75.00,2,25.00,0,0.00,0,0.0,0,0.0,NaN
1330,2023-2024,Alternative,Alt Contracted,3820,Achieve Academy East,Opportunity,08,19,3.0,15.79,...,73.68,4,21.05,0,0.00,0,0.0,0,0.0,NaN
1331,2023-2024,Alternative,Alt Contracted,3820,Achieve Academy East,Opportunity,09,10,1.0,10.00,...,60.00,3,30.00,1,10.00,0,0.0,0,0.0,NaN
1332,2023-2024,Alternative,Alt Contracted,3820,Achieve Academy East,Opportunity,10,12,0.0,0.00,...,58.33,4,33.33,1,8.33,0,0.0,0,0.0,NaN
1333,2023-2024,Alternative,Alt Contracted,3820,Achieve Academy East,Opportunity,11,5,1.0,20.00,...,60.00,2,40.00,0,0.00,0,0.0,0,0.0,NaN
1334,2023-2024,Alternative,Alt Contracted,3820,Achieve Academy East,Opportunity,12,1,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1335,2023-2024,Alternative,Alt Contracted,3820,Achieve Academy East,Opportunity,All Grades,55,6.0,10.91,...,67.27,15,27.27,2,3.64,0,0.0,0,0.0,100.0

3850

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1336,2023-2024,Alternative,Alt District Run,3850,Northeast High School EOP,Opportunity,10,3,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.00,0,0.00,NaN
1337,2023-2024,Alternative,Alt District Run,3850,Northeast High School EOP,Opportunity,11,17,1.0,5.88,...,52.94,1,5.88,0,0.00,1,5.88,4,23.53,NaN
1338,2023-2024,Alternative,Alt District Run,3850,Northeast High School EOP,Opportunity,12,178,25.0,14.04,...,48.31,54,30.34,8,4.49,0,0.00,21,11.80,NaN
1339,2023-2024,Alternative,Alt District Run,3850,Northeast High School EOP,Opportunity,All Grades,198,26.0,13.13,...,49.49,55,27.78,8,4.04,1,0.51,25,12.63,2.42

3880

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1340,2023-2024,Alternative,Alt District Run,3880,South Philadelphia High School EOP,Opportunity,10,17,3.0,17.65,...,82.35,3,17.65,0,0.00,0,0.0,0,0.00,NaN
1341,2023-2024,Alternative,Alt District Run,3880,South Philadelphia High School EOP,Opportunity,11,35,5.0,14.29,...,68.57,5,14.29,1,2.86,0,0.0,1,2.86,NaN
1342,2023-2024,Alternative,Alt District Run,3880,South Philadelphia High School EOP,Opportunity,12,53,2.0,3.77,...,69.81,4,7.55,1,1.89,0,0.0,3,5.66,NaN
1343,2023-2024,Alternative,Alt District Run,3880,South Philadelphia High School EOP,Opportunity,All Grades,105,10.0,9.52,...,71.43,12,11.43,2,1.90,0,0.0,4,3.81,1.52

4020

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1344,2023-2024,District,District,4020,Overbrook High School,Network 13,09,132,5.0,3.79,...,88.64,10,7.58,4,3.03,0,0.0,0,0.00,NaN
1345,2023-2024,District,District,4020,Overbrook High School,Network 13,10,113,5.0,4.42,...,88.50,6,5.31,5,4.42,0,0.0,0,0.00,NaN
1346,2023-2024,District,District,4020,Overbrook High School,Network 13,11,84,1.0,1.19,...,91.67,1,1.19,3,3.57,0,0.0,2,2.38,NaN
1347,2023-2024,District,District,4020,Overbrook High School,Network 13,12,65,1.0,1.54,...,92.31,1,1.54,4,6.15,0,0.0,0,0.00,NaN
1348,2023-2024,District,District,4020,Overbrook High School,Network 13,All Grades,394,12.0,3.05,...,89.85,18,4.57,16,4.06,0,0.0,2,0.51,100.0

4030

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1349,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,07,24,0.0,0.00,...,45.83,2,8.33,2,8.33,0,0.00,7,29.17,NaN
1350,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,08,55,2.0,3.64,...,70.91,2,3.64,1,1.82,0,0.00,7,12.73,NaN
1351,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,09,160,6.0,3.75,...,58.13,23,14.38,10,6.25,0,0.00,12,7.50,NaN
1352,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,10,244,8.0,3.28,...,53.69,35,14.34,15,6.15,0,0.00,21,8.61,NaN
1353,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,11,182,1.0,0.55,...,59.34,23,12.64,8,4.40,1,0.55,11,6.04,NaN
1354,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,12,178,2.0,1.12,...,64.61,16,8.99,13,7.30,0,0.00,15,8.43,NaN
1355,2023-2024,District,District,4030,High School of Engineering and Science,Network 1,All Grades,843,19.0,2.25,...,58.96,101,11.98,49,5.81,1,0.12,73,8.66,92.43

4060

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1356,2023-2024,District,District,4060,Murrell Dobbins Career and Technical High School,Network 13,09,215,5.0,2.33,...,88.84,16,7.44,4,1.86,0,0.0,2,0.93,NaN
1357,2023-2024,District,District,4060,Murrell Dobbins Career and Technical High School,Network 13,10,195,5.0,2.56,...,91.28,10,5.13,5,2.56,0,0.0,2,1.03,NaN
1358,2023-2024,District,District,4060,Murrell Dobbins Career and Technical High School,Network 13,11,177,3.0,1.69,...,88.70,11,6.21,7,3.95,0,0.0,1,0.56,NaN
1359,2023-2024,District,District,4060,Murrell Dobbins Career and Technical High School,Network 13,12,187,2.0,1.07,...,88.77,14,7.49,5,2.67,0,0.0,2,1.07,NaN
1360,2023-2024,District,District,4060,Murrell Dobbins Career and Technical High School,Network 13,All Grades,774,15.0,1.94,...,89.41,51,6.59,21,2.71,0,0.0,7,0.90,100.0

4140

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1361,2023-2024,District,District,4140,Strawberry Mansion High School,Network 4,09,67,1.0,1.49,...,95.52,1,1.49,1,1.49,0,0.0,1,1.49,NaN
1362,2023-2024,District,District,4140,Strawberry Mansion High School,Network 4,10,64,1.0,1.56,...,89.06,3,4.69,1,1.56,0,0.0,3,4.69,NaN
1363,2023-2024,District,District,4140,Strawberry Mansion High School,Network 4,11,66,0.0,0.00,...,92.42,2,3.03,2,3.03,0,0.0,1,1.52,NaN
1364,2023-2024,District,District,4140,Strawberry Mansion High School,Network 4,12,52,0.0,0.00,...,92.31,1,1.92,3,5.77,0,0.0,0,0.00,NaN
1365,2023-2024,District,District,4140,Strawberry Mansion High School,Network 4,All Grades,249,2.0,0.80,...,92.37,7,2.81,7,2.81,0,0.0,5,2.01,100.0

4220

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1366,2023-2024,District,District,4220,James G. Blaine School,Network 11,00,35,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1367,2023-2024,District,District,4220,James G. Blaine School,Network 11,01,30,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1368,2023-2024,District,District,4220,James G. Blaine School,Network 11,02,44,0.0,0.00,...,93.18,1,2.27,1,2.27,0,0.0,1,2.27,NaN
1369,2023-2024,District,District,4220,James G. Blaine School,Network 11,03,25,0.0,0.00,...,92.00,2,8.00,0,0.00,0,0.0,0,0.00,NaN
1370,2023-2024,District,District,4220,James G. Blaine School,Network 11,04,41,1.0,2.44,...,95.12,2,4.88,0,0.00,0,0.0,0,0.00,NaN
1371,2023-2024,District,District,4220,James G. Blaine School,Network 11,05,29,0.0,0.00,...,86.21,1,3.45,0,0.00,0,0.0,3,10.34,NaN
1372,2023-2024,District,District,4220,James G. Blaine School,Network 11,06,26,0.0,0.00,...,96.15,1,3.85,0,0.00,0,0.0,0,0.00,NaN
1373,2023-2024,District,District,4220,James G. Blaine School,Network 11,07,38,0.0,0.00,...,97.37,0,0.00,0,0.00,0,0.0,1,2.63,NaN
1374,2023-2024,District,District,4220,James G. Blaine School,Network 11,08,39,0.0,0.00,...,97.44,0,0.00,0,0.00,0,0.0,1,2.56,NaN
1375,2023-2024,District,District,4220,James G. Blaine School,Network 11,All Grades,307,1.0,0.33,...,95.44,7,2.28,1,0.33,0,0.0,6,1.95,100.0

4240

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1376,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,00,26,3.0,11.54,...,84.62,3,11.54,1,3.85,0,0.0,0,0.00,NaN
1377,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,01,22,4.0,18.18,...,77.27,4,18.18,1,4.55,0,0.0,0,0.00,NaN
1378,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,02,25,2.0,8.00,...,88.00,2,8.00,1,4.00,0,0.0,0,0.00,NaN
1379,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,03,21,1.0,4.76,...,95.24,1,4.76,0,0.00,0,0.0,0,0.00,NaN
1380,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,04,23,2.0,8.70,...,91.30,2,8.70,0,0.00,0,0.0,0,0.00,NaN
1381,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,05,31,4.0,12.90,...,83.87,4,12.90,0,0.00,0,0.0,1,3.23,NaN
1382,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,06,21,1.0,4.76,...,90.48,1,4.76,1,4.76,0,0.0,0,0.00,NaN
1383,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,07,26,3.0,11.54,...,84.62,3,11.54,1,3.85,0,0.0,0,0.00,NaN
1384,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,08,24,3.0,12.50,...,83.33,1,4.17,2,8.33,0,0.0,1,4.17,NaN
1385,2023-2024,District,District,4240,Lewis C. Cassidy Academics Plus School,Network 2,All Grades,219,23.0,10.50,...,86.30,21,9.59,7,3.20,0,0.0,2,0.91,100.0

4270

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1386,2023-2024,District,District,4270,William Dick School,Network 11,00,16,1.0,6.25,...,81.25,3,18.75,0,0.00,0,0.0,0,0.00,NaN
1387,2023-2024,District,District,4270,William Dick School,Network 11,01,29,1.0,3.45,...,79.31,4,13.79,2,6.90,0,0.0,0,0.00,NaN
1388,2023-2024,District,District,4270,William Dick School,Network 11,02,39,1.0,2.56,...,92.31,2,5.13,0,0.00,0,0.0,1,2.56,NaN
1389,2023-2024,District,District,4270,William Dick School,Network 11,03,40,0.0,0.00,...,85.00,3,7.50,0,0.00,0,0.0,2,5.00,NaN
1390,2023-2024,District,District,4270,William Dick School,Network 11,04,23,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1391,2023-2024,District,District,4270,William Dick School,Network 11,05,35,0.0,0.00,...,88.57,3,8.57,1,2.86,0,0.0,0,0.00,NaN
1392,2023-2024,District,District,4270,William Dick School,Network 11,06,35,0.0,0.00,...,88.57,2,5.71,1,2.86,0,0.0,0,0.00,NaN
1393,2023-2024,District,District,4270,William Dick School,Network 11,07,44,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1394,2023-2024,District,District,4270,William Dick School,Network 11,08,48,0.0,0.00,...,91.67,1,2.08,0,0.00,0,0.0,2,4.17,NaN
1395,2023-2024,District,District,4270,William Dick School,Network 11,All Grades,309,3.0,0.97,...,90.29,18,5.83,4,1.29,0,0.0,5,1.62,100.0

4280

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1396,2023-2024,District,District,4280,Samuel Gompers School,Network 2,00,19,0.0,0.00,...,63.16,2,10.53,1,5.26,0,0.0,2,10.53,NaN
1397,2023-2024,District,District,4280,Samuel Gompers School,Network 2,01,27,1.0,3.70,...,92.59,1,3.70,0,0.00,0,0.0,1,3.70,NaN
1398,2023-2024,District,District,4280,Samuel Gompers School,Network 2,02,21,2.0,9.52,...,71.43,3,14.29,0,0.00,0,0.0,2,9.52,NaN
1399,2023-2024,District,District,4280,Samuel Gompers School,Network 2,03,26,0.0,0.00,...,96.15,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1400,2023-2024,District,District,4280,Samuel Gompers School,Network 2,04,30,0.0,0.00,...,93.33,0,0.00,1,3.33,0,0.0,1,3.33,NaN
1401,2023-2024,District,District,4280,Samuel Gompers School,Network 2,05,34,0.0,0.00,...,91.18,2,5.88,0,0.00,0,0.0,0,0.00,NaN
1402,2023-2024,District,District,4280,Samuel Gompers School,Network 2,06,24,1.0,4.17,...,83.33,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1403,2023-2024,District,District,4280,Samuel Gompers School,Network 2,07,30,0.0,0.00,...,93.33,2,6.67,0,0.00,0,0.0,0,0.00,NaN
1404,2023-2024,District,District,4280,Samuel Gompers School,Network 2,08,28,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1405,2023-2024,District,District,4280,Samuel Gompers School,Network 2,All Grades,239,4.0,1.67,...,88.70,10,4.18,2,0.84,0,0.0,6,2.51,100.0

4300

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1406,2023-2024,District,District,4300,Edward Heston School,Acceleration,00,26,1.0,3.85,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1407,2023-2024,District,District,4300,Edward Heston School,Acceleration,01,39,1.0,2.56,...,94.87,1,2.56,1,2.56,0,0.0,0,0.0,NaN
1408,2023-2024,District,District,4300,Edward Heston School,Acceleration,02,23,1.0,4.35,...,91.30,2,8.70,0,0.00,0,0.0,0,0.0,NaN
1409,2023-2024,District,District,4300,Edward Heston School,Acceleration,03,37,0.0,0.00,...,89.19,4,10.81,0,0.00,0,0.0,0,0.0,NaN
1410,2023-2024,District,District,4300,Edward Heston School,Acceleration,04,40,2.0,5.00,...,95.00,2,5.00,0,0.00,0,0.0,0,0.0,NaN
1411,2023-2024,District,District,4300,Edward Heston School,Acceleration,05,31,0.0,0.00,...,93.55,1,3.23,1,3.23,0,0.0,0,0.0,NaN
1412,2023-2024,District,District,4300,Edward Heston School,Acceleration,06,27,0.0,0.00,...,96.30,1,3.70,0,0.00,0,0.0,0,0.0,NaN
1413,2023-2024,District,District,4300,Edward Heston School,Acceleration,07,29,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1414,2023-2024,District,District,4300,Edward Heston School,Acceleration,08,35,1.0,2.86,...,91.43,3,8.57,0,0.00,0,0.0,0,0.0,NaN
1415,2023-2024,District,District,4300,Edward Heston School,Acceleration,All Grades,287,6.0,2.09,...,94.43,14,4.88,2,0.70,0,0.0,0,0.0,100.0

4320

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1416,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,00,36,1.0,2.78,...,91.67,1,2.78,0,0.00,0,0.0,0,0.00,NaN
1417,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,01,37,0.0,0.00,...,94.59,1,2.70,1,2.70,0,0.0,0,0.00,NaN
1418,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,02,25,1.0,4.00,...,88.00,2,8.00,1,4.00,0,0.0,0,0.00,NaN
1419,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,03,37,5.0,13.51,...,86.49,3,8.11,2,5.41,0,0.0,0,0.00,NaN
1420,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,04,32,2.0,6.25,...,96.88,1,3.13,0,0.00,0,0.0,0,0.00,NaN
1421,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,05,37,2.0,5.41,...,94.59,2,5.41,0,0.00,0,0.0,0,0.00,NaN
1422,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,06,42,4.0,9.52,...,90.48,3,7.14,0,0.00,0,0.0,1,2.38,NaN
1423,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,07,42,5.0,11.90,...,85.71,6,14.29,0,0.00,0,0.0,0,0.00,NaN
1424,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,08,27,1.0,3.70,...,85.19,3,11.11,0,0.00,0,0.0,0,0.00,NaN
1425,2023-2024,District,District,4320,Robert E. Lamberton School,Network 2,All Grades,315,21.0,6.67,...,90.48,22,6.98,4,1.27,0,0.0,1,0.32,100.0

4350

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1426,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,00,23,0.0,0.00,...,95.65,1,4.35,0,0.00,0,0.0,0,0.00,NaN
1427,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,01,23,0.0,0.00,...,82.61,1,4.35,3,13.04,0,0.0,0,0.00,NaN
1428,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,02,34,2.0,5.88,...,88.24,3,8.82,1,2.94,0,0.0,0,0.00,NaN
1429,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,03,36,1.0,2.78,...,88.89,4,11.11,0,0.00,0,0.0,0,0.00,NaN
1430,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,04,31,0.0,0.00,...,80.65,4,12.90,2,6.45,0,0.0,0,0.00,NaN
1431,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,05,32,0.0,0.00,...,90.63,3,9.38,0,0.00,0,0.0,0,0.00,NaN
1432,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,06,79,0.0,0.00,...,87.34,8,10.13,1,1.27,0,0.0,0,0.00,NaN
1433,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,07,72,0.0,0.00,...,84.72,4,5.56,5,6.94,0,0.0,1,1.39,NaN
1434,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,08,62,0.0,0.00,...,93.55,4,6.45,0,0.00,0,0.0,0,0.00,NaN
1435,2023-2024,District,District,4350,E. Washington Rhodes School,Acceleration,All Grades,392,3.0,0.77,...,88.01,32,8.16,12,3.06,0,0.0,1,0.26,100.0

4360

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1436,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,00,36,0.0,0.00,...,86.11,5,13.89,0,0.00,0,0.0,0,0.00,NaN
1437,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,01,25,1.0,4.00,...,84.00,4,16.00,0,0.00,0,0.0,0,0.00,NaN
1438,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,02,36,0.0,0.00,...,86.11,4,11.11,1,2.78,0,0.0,0,0.00,NaN
1439,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,03,20,0.0,0.00,...,85.00,3,15.00,0,0.00,0,0.0,0,0.00,NaN
1440,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,04,32,1.0,3.13,...,87.50,3,9.38,0,0.00,0,0.0,1,3.13,NaN
1441,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,05,33,0.0,0.00,...,93.94,2,6.06,0,0.00,0,0.0,0,0.00,NaN
1442,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,06,32,0.0,0.00,...,78.13,7,21.88,0,0.00,0,0.0,0,0.00,NaN
1443,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,07,39,0.0,0.00,...,97.44,0,0.00,0,0.00,0,0.0,1,2.56,NaN
1444,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,08,35,2.0,5.71,...,68.57,7,20.00,2,5.71,0,0.0,0,0.00,NaN
1445,2023-2024,District,District,4360,Kenderton Elementary School,Network 11,All Grades,288,4.0,1.39,...,85.42,35,12.15,3,1.04,0,0.0,2,0.69,100.0

4370

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1446,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,00,19,0.0,0.00,...,94.74,0,0.00,0,0.00,0,0.0,1,5.26,NaN
1447,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,01,28,1.0,3.57,...,92.86,2,7.14,0,0.00,0,0.0,0,0.00,NaN
1448,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,02,24,1.0,4.17,...,91.67,1,4.17,0,0.00,0,0.0,0,0.00,NaN
1449,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,03,23,0.0,0.00,...,86.96,2,8.70,1,4.35,0,0.0,0,0.00,NaN
1450,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,04,30,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1451,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,05,26,0.0,0.00,...,88.46,1,3.85,1,3.85,0,0.0,1,3.85,NaN
1452,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,06,24,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1453,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,07,17,0.0,0.00,...,88.24,0,0.00,1,5.88,0,0.0,1,5.88,NaN
1454,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,08,24,1.0,4.17,...,91.67,1,4.17,1,4.17,0,0.0,0,0.00,NaN
1455,2023-2024,District,District,4370,Overbrook Elementary School,Network 2,All Grades,215,3.0,1.40,...,93.02,7,3.26,4,1.86,0,0.0,3,1.40,100.0

4380

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1456,2023-2024,District,District,4380,Thomas M. Peirce School,Network 11,00,31,0.0,0.00,...,93.55,2,6.45,0,0.0,0,0.0,0,0.00,NaN
1457,2023-2024,District,District,4380,Thomas M. Peirce School,Network 11,01,28,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.00,NaN
1458,2023-2024,District,District,4380,Thomas M. Peirce School,Network 11,02,28,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.00,NaN
1459,2023-2024,District,District,4380,Thomas M. Peirce School,Network 11,03,30,2.0,6.67,...,96.67,1,3.33,0,0.0,0,0.0,0,0.00,NaN
1460,2023-2024,District,District,4380,Thomas M. Peirce School,Network 11,04,37,0.0,0.00,...,94.59,1,2.70,0,0.0,0,0.0,1,2.70,NaN
1461,2023-2024,District,District,4380,Thomas M. Peirce School,Network 11,05,36,1.0,2.78,...,97.22,1,2.78,0,0.0,0,0.0,0,0.00,NaN
1462,2023-2024,District,District,4380,Thomas M. Peirce School,Network 11,All Grades,190,3.0,1.58,...,96.84,5,2.63,0,0.0,0,0.0,1,0.53,100.0

4440

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1463,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,00,37,2.0,5.41,...,91.89,3,8.11,0,0.00,0,0.0,0,0.00,NaN
1464,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,01,31,1.0,3.23,...,90.32,3,9.68,0,0.00,0,0.0,0,0.00,NaN
1465,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,02,45,1.0,2.22,...,95.56,2,4.44,0,0.00,0,0.0,0,0.00,NaN
1466,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,03,32,0.0,0.00,...,90.63,3,9.38,0,0.00,0,0.0,0,0.00,NaN
1467,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,04,39,0.0,0.00,...,97.44,1,2.56,0,0.00,0,0.0,0,0.00,NaN
1468,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,05,37,0.0,0.00,...,97.30,1,2.70,0,0.00,0,0.0,0,0.00,NaN
1469,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,06,38,0.0,0.00,...,94.74,1,2.63,0,0.00,0,0.0,1,2.63,NaN
1470,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,07,32,0.0,0.00,...,96.88,1,3.13,0,0.00,0,0.0,0,0.00,NaN
1471,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,08,23,0.0,0.00,...,95.65,0,0.00,1,4.35,0,0.0,0,0.00,NaN
1472,2023-2024,District,District,4440,Dr. Ethel Allen School,Acceleration,All Grades,314,4.0,1.27,...,94.59,15,4.78,1,0.32,0,0.0,1,0.32,100.0

4460

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1473,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,00,39,2.0,5.13,...,87.18,5,12.82,0,0.00,0,0.0,0,0.00,NaN
1474,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,01,48,1.0,2.08,...,91.67,1,2.08,0,0.00,0,0.0,0,0.00,NaN
1475,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,02,41,1.0,2.44,...,92.68,2,4.88,1,2.44,0,0.0,0,0.00,NaN
1476,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,03,43,1.0,2.33,...,86.05,2,4.65,2,4.65,0,0.0,1,2.33,NaN
1477,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,04,46,1.0,2.17,...,93.48,1,2.17,1,2.17,0,0.0,0,0.00,NaN
1478,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,05,34,1.0,2.94,...,94.12,1,2.94,0,0.00,0,0.0,0,0.00,NaN
1479,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,06,59,0.0,0.00,...,93.22,3,5.08,1,1.69,0,0.0,0,0.00,NaN
1480,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,07,55,0.0,0.00,...,98.18,0,0.00,1,1.82,0,0.0,0,0.00,NaN
1481,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,08,64,1.0,1.56,...,87.50,5,7.81,3,4.69,0,0.0,0,0.00,NaN
1482,2023-2024,District,District,4460,Tanner G. Duckrey School,Network 11,All Grades,429,8.0,1.86,...,91.61,20,4.66,9,2.10,0,0.0,1,0.23,100.0

4470

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1483,2023-2024,District,District,4470,Richard R. Wright School,Network 11,00,25,0.0,0.00,...,84.00,3,12.00,1,4.00,0,0.0,0,0.00,NaN
1484,2023-2024,District,District,4470,Richard R. Wright School,Network 11,01,30,0.0,0.00,...,80.00,5,16.67,1,3.33,0,0.0,0,0.00,NaN
1485,2023-2024,District,District,4470,Richard R. Wright School,Network 11,02,40,1.0,2.50,...,87.50,4,10.00,0,0.00,0,0.0,0,0.00,NaN
1486,2023-2024,District,District,4470,Richard R. Wright School,Network 11,03,47,0.0,0.00,...,89.36,5,10.64,0,0.00,0,0.0,0,0.00,NaN
1487,2023-2024,District,District,4470,Richard R. Wright School,Network 11,04,49,2.0,4.08,...,81.63,7,14.29,1,2.04,0,0.0,1,2.04,NaN
1488,2023-2024,District,District,4470,Richard R. Wright School,Network 11,05,48,2.0,4.17,...,83.33,7,14.58,0,0.00,0,0.0,1,2.08,NaN
1489,2023-2024,District,District,4470,Richard R. Wright School,Network 11,All Grades,239,5.0,2.09,...,84.52,31,12.97,3,1.26,0,0.0,2,0.84,100.0

4480

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1490,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,00,25,2.0,8.00,...,92.00,1,4.00,1,4.00,0,0.0,0,0.00,NaN
1491,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,01,25,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1492,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,02,27,0.0,0.00,...,81.48,5,18.52,0,0.00,0,0.0,0,0.00,NaN
1493,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,03,26,0.0,0.00,...,92.31,1,3.85,0,0.00,0,0.0,1,3.85,NaN
1494,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,04,29,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1495,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,05,30,0.0,0.00,...,96.67,1,3.33,0,0.00,0,0.0,0,0.00,NaN
1496,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,06,27,0.0,0.00,...,88.89,0,0.00,1,3.70,0,0.0,1,3.70,NaN
1497,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,07,27,0.0,0.00,...,92.59,1,3.70,1,3.70,0,0.0,0,0.00,NaN
1498,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,08,44,0.0,0.00,...,77.27,1,2.27,8,18.18,0,0.0,1,2.27,NaN
1499,2023-2024,District,District,4480,Overbrook Educational Center,Network 2,All Grades,260,2.0,0.77,...,90.38,10,3.85,11,4.23,0,0.0,3,1.15,100.0

4520

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1500,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,00,62,2.0,3.23,...,90.32,2,3.23,2,3.23,0,0.0,0,0.00,NaN
1501,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,01,62,2.0,3.23,...,88.71,2,3.23,3,4.84,0,0.0,1,1.61,NaN
1502,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,02,58,1.0,1.72,...,93.10,2,3.45,2,3.45,0,0.0,0,0.00,NaN
1503,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,03,63,2.0,3.17,...,90.48,1,1.59,4,6.35,0,0.0,0,0.00,NaN
1504,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,04,74,1.0,1.35,...,94.59,2,2.70,1,1.35,0,0.0,0,0.00,NaN
1505,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,05,68,1.0,1.47,...,94.12,4,5.88,0,0.00,0,0.0,0,0.00,NaN
1506,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,06,69,2.0,2.90,...,95.65,2,2.90,1,1.45,0,0.0,0,0.00,NaN
1507,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,07,39,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1508,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,08,44,3.0,6.82,...,95.45,2,4.55,0,0.00,0,0.0,0,0.00,NaN
1509,2023-2024,District,District,4520,Guion S. Bluford Elementary School,Network 2,All Grades,539,14.0,2.60,...,93.32,17,3.15,13,2.41,0,0.0,1,0.19,18.7

4530

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1510,2023-2024,District,District,4530,Edward Gideon School,Network 11,00,14,0.0,0.00,...,85.71,2,14.29,0,0.00,0,0.0,0,0.00,NaN
1511,2023-2024,District,District,4530,Edward Gideon School,Network 11,01,22,2.0,9.09,...,81.82,1,4.55,0,0.00,0,0.0,3,13.64,NaN
1512,2023-2024,District,District,4530,Edward Gideon School,Network 11,02,35,0.0,0.00,...,94.29,1,2.86,1,2.86,0,0.0,0,0.00,NaN
1513,2023-2024,District,District,4530,Edward Gideon School,Network 11,03,23,0.0,0.00,...,82.61,2,8.70,1,4.35,0,0.0,1,4.35,NaN
1514,2023-2024,District,District,4530,Edward Gideon School,Network 11,04,25,0.0,0.00,...,96.00,0,0.00,1,4.00,0,0.0,0,0.00,NaN
1515,2023-2024,District,District,4530,Edward Gideon School,Network 11,05,21,0.0,0.00,...,95.24,1,4.76,0,0.00,0,0.0,0,0.00,NaN
1516,2023-2024,District,District,4530,Edward Gideon School,Network 11,06,14,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1517,2023-2024,District,District,4530,Edward Gideon School,Network 11,07,16,1.0,6.25,...,93.75,0,0.00,0,0.00,0,0.0,1,6.25,NaN
1518,2023-2024,District,District,4530,Edward Gideon School,Network 11,08,19,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1519,2023-2024,District,District,4530,Edward Gideon School,Network 11,All Grades,189,3.0,1.59,...,92.06,7,3.70,3,1.59,0,0.0,5,2.65,100.0

4560

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1520,2023-2024,District,District,4560,William D. Kelley School,Network 11,00,27,0.0,0.00,...,85.19,1,3.70,0,0.00,0,0.0,0,0.0,NaN
1521,2023-2024,District,District,4560,William D. Kelley School,Network 11,01,30,1.0,3.33,...,86.67,3,10.00,0,0.00,0,0.0,0,0.0,NaN
1522,2023-2024,District,District,4560,William D. Kelley School,Network 11,02,30,0.0,0.00,...,86.67,3,10.00,0,0.00,0,0.0,0,0.0,NaN
1523,2023-2024,District,District,4560,William D. Kelley School,Network 11,03,19,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1524,2023-2024,District,District,4560,William D. Kelley School,Network 11,04,18,0.0,0.00,...,88.89,1,5.56,1,5.56,0,0.0,0,0.0,NaN
1525,2023-2024,District,District,4560,William D. Kelley School,Network 11,05,32,2.0,6.25,...,93.75,2,6.25,0,0.00,0,0.0,0,0.0,NaN
1526,2023-2024,District,District,4560,William D. Kelley School,Network 11,06,22,0.0,0.00,...,86.36,3,13.64,0,0.00,0,0.0,0,0.0,NaN
1527,2023-2024,District,District,4560,William D. Kelley School,Network 11,07,18,1.0,5.56,...,94.44,1,5.56,0,0.00,0,0.0,0,0.0,NaN
1528,2023-2024,District,District,4560,William D. Kelley School,Network 11,08,26,0.0,0.00,...,92.31,2,7.69,0,0.00,0,0.0,0,0.0,NaN
1529,2023-2024,District,District,4560,William D. Kelley School,Network 11,All Grades,222,4.0,1.80,...,90.09,16,7.21,1,0.45,0,0.0,0,0.0,100.0

4570

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1530,2023-2024,District,District,4570,General George G. Meade School,Network 3,00,29,0.0,0.00,...,89.66,1,3.45,1,3.45,0,0.0,1,3.45,NaN
1531,2023-2024,District,District,4570,General George G. Meade School,Network 3,01,24,2.0,8.33,...,83.33,4,16.67,0,0.00,0,0.0,0,0.00,NaN
1532,2023-2024,District,District,4570,General George G. Meade School,Network 3,02,28,0.0,0.00,...,85.71,1,3.57,1,3.57,0,0.0,2,7.14,NaN
1533,2023-2024,District,District,4570,General George G. Meade School,Network 3,03,24,1.0,4.17,...,91.67,1,4.17,0,0.00,0,0.0,1,4.17,NaN
1534,2023-2024,District,District,4570,General George G. Meade School,Network 3,04,31,1.0,3.23,...,87.10,2,6.45,1,3.23,0,0.0,0,0.00,NaN
1535,2023-2024,District,District,4570,General George G. Meade School,Network 3,05,31,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
1536,2023-2024,District,District,4570,General George G. Meade School,Network 3,06,31,0.0,0.00,...,93.55,2,6.45,0,0.00,0,0.0,0,0.00,NaN
1537,2023-2024,District,District,4570,General George G. Meade School,Network 3,07,45,0.0,0.00,...,95.56,1,2.22,0,0.00,0,0.0,1,2.22,NaN
1538,2023-2024,District,District,4570,General George G. Meade School,Network 3,08,24,2.0,8.33,...,83.33,1,4.17,1,4.17,0,0.0,1,4.17,NaN
1539,2023-2024,District,District,4570,General George G. Meade School,Network 3,All Grades,267,6.0,2.25,...,90.64,13,4.87,4,1.50,0,0.0,6,2.25,100.0

5020

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1540,2023-2024,District,District,5020,Thomas A. Edison High School,Network 13,09,224,67.0,29.91,...,28.57,148,66.07,10,4.46,0,0.0,2,0.89,NaN
1541,2023-2024,District,District,5020,Thomas A. Edison High School,Network 13,10,263,68.0,25.86,...,33.46,161,61.22,7,2.66,0,0.0,5,1.90,NaN
1542,2023-2024,District,District,5020,Thomas A. Edison High School,Network 13,11,212,61.0,28.77,...,31.13,139,65.57,3,1.42,0,0.0,2,0.94,NaN
1543,2023-2024,District,District,5020,Thomas A. Edison High School,Network 13,12,198,61.0,30.81,...,26.77,138,69.70,2,1.01,0,0.0,3,1.52,NaN
1544,2023-2024,District,District,5020,Thomas A. Edison High School,Network 13,All Grades,897,257.0,28.65,...,30.21,586,65.33,22,2.45,0,0.0,12,1.34,100.0

5033

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1545,2023-2024,Alternative,Alt District Run,5033,Student Transition Center,Opportunity,08,1,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.00,NaN
1546,2023-2024,Alternative,Alt District Run,5033,Student Transition Center,Opportunity,09,6,1.0,16.67,...,83.33,1,16.67,0,0.0,0,0.0,0,0.00,NaN
1547,2023-2024,Alternative,Alt District Run,5033,Student Transition Center,Opportunity,10,3,0.0,0.00,...,66.67,0,0.00,0,0.0,0,0.0,1,33.33,NaN
1548,2023-2024,Alternative,Alt District Run,5033,Student Transition Center,Opportunity,11,5,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.00,NaN
1549,2023-2024,Alternative,Alt District Run,5033,Student Transition Center,Opportunity,12,1,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.00,NaN
1550,2023-2024,Alternative,Alt District Run,5033,Student Transition Center,Opportunity,All Grades,16,1.0,6.25,...,87.50,1,6.25,0,0.0,0,0.0,1,6.25,0.0

5050

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1551,2023-2024,District,District,5050,Philadelphia Military Academy,Innovation,09,111,10.0,9.01,...,61.26,34,30.63,6,5.41,0,0.0,2,1.80,NaN
1552,2023-2024,District,District,5050,Philadelphia Military Academy,Innovation,10,85,11.0,12.94,...,62.35,24,28.24,2,2.35,0,0.0,4,4.71,NaN
1553,2023-2024,District,District,5050,Philadelphia Military Academy,Innovation,11,66,10.0,15.15,...,63.64,17,25.76,3,4.55,0,0.0,4,6.06,NaN
1554,2023-2024,District,District,5050,Philadelphia Military Academy,Innovation,12,58,6.0,10.34,...,67.24,16,27.59,2,3.45,0,0.0,0,0.00,NaN
1555,2023-2024,District,District,5050,Philadelphia Military Academy,Innovation,All Grades,320,37.0,11.56,...,63.13,91,28.44,13,4.06,0,0.0,10,3.13,100.0

5060

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1556,2023-2024,District,District,5060,Jules E. Mastbaum Area Vocational Technical Hi...,Network 4,09,223,48.0,21.52,...,40.36,108,48.43,12,5.38,0,0.0,11,4.93,NaN
1557,2023-2024,District,District,5060,Jules E. Mastbaum Area Vocational Technical Hi...,Network 4,10,157,22.0,14.01,...,43.31,70,44.59,11,7.01,0,0.0,4,2.55,NaN
1558,2023-2024,District,District,5060,Jules E. Mastbaum Area Vocational Technical Hi...,Network 4,11,116,18.0,15.52,...,47.41,46,39.66,8,6.90,0,0.0,7,6.03,NaN
1559,2023-2024,District,District,5060,Jules E. Mastbaum Area Vocational Technical Hi...,Network 4,12,95,17.0,17.89,...,44.21,41,43.16,3,3.16,0,0.0,5,5.26,NaN
1560,2023-2024,District,District,5060,Jules E. Mastbaum Area Vocational Technical Hi...,Network 4,All Grades,591,105.0,17.77,...,43.15,265,44.84,34,5.75,0,0.0,27,4.57,100.0

5070

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1561,2023-2024,District,District,5070,Parkway Northwest High School,Network 4,09,30,0.0,0.00,...,90.00,0,0.00,2,6.67,0,0.0,0,0.0,NaN
1562,2023-2024,District,District,5070,Parkway Northwest High School,Network 4,10,64,0.0,0.00,...,93.75,1,1.56,3,4.69,0,0.0,0,0.0,NaN
1563,2023-2024,District,District,5070,Parkway Northwest High School,Network 4,11,59,0.0,0.00,...,89.83,2,3.39,3,5.08,0,0.0,0,0.0,NaN
1564,2023-2024,District,District,5070,Parkway Northwest High School,Network 4,12,66,1.0,1.52,...,93.94,2,3.03,2,3.03,0,0.0,0,0.0,NaN
1565,2023-2024,District,District,5070,Parkway Northwest High School,Network 4,All Grades,219,1.0,0.46,...,92.24,5,2.28,10,4.57,0,0.0,0,0.0,100.0

5080

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1566,2023-2024,District,District,5080,Parkway Center City Middle College High School,Network 1,09,117,4.0,3.42,...,62.39,25,21.37,5,4.27,0,0.00,4,3.42,NaN
1567,2023-2024,District,District,5080,Parkway Center City Middle College High School,Network 1,10,124,2.0,1.61,...,66.13,19,15.32,7,5.65,1,0.81,5,4.03,NaN
1568,2023-2024,District,District,5080,Parkway Center City Middle College High School,Network 1,11,85,2.0,2.35,...,75.29,12,14.12,4,4.71,0,0.00,2,2.35,NaN
1569,2023-2024,District,District,5080,Parkway Center City Middle College High School,Network 1,12,100,2.0,2.00,...,64.00,17,17.00,6,6.00,0,0.00,2,2.00,NaN
1570,2023-2024,District,District,5080,Parkway Center City Middle College High School,Network 1,All Grades,426,10.0,2.35,...,66.43,73,17.14,22,5.16,1,0.23,13,3.05,100.0

5090

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1571,2023-2024,District,District,5090,Parkway West High School,Network 13,09,19,1.0,5.26,...,89.47,0,0.00,2,10.53,0,0.0,0,0.0,NaN
1572,2023-2024,District,District,5090,Parkway West High School,Network 13,10,46,2.0,4.35,...,93.48,0,0.00,3,6.52,0,0.0,0,0.0,NaN
1573,2023-2024,District,District,5090,Parkway West High School,Network 13,11,58,1.0,1.72,...,86.21,2,3.45,5,8.62,0,0.0,0,0.0,NaN
1574,2023-2024,District,District,5090,Parkway West High School,Network 13,12,44,5.0,11.36,...,90.91,2,4.55,1,2.27,0,0.0,0,0.0,NaN
1575,2023-2024,District,District,5090,Parkway West High School,Network 13,All Grades,167,9.0,5.39,...,89.82,4,2.40,11,6.59,0,0.0,0,0.0,100.0

5150

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1576,2023-2024,District,District,5150,William W. Bodine High School,Network 1,09,109,8.0,7.34,...,35.78,33,30.28,7,6.42,1,0.92,13,11.93,NaN
1577,2023-2024,District,District,5150,William W. Bodine High School,Network 1,10,99,14.0,14.14,...,33.33,22,22.22,6,6.06,0,0.00,18,18.18,NaN
1578,2023-2024,District,District,5150,William W. Bodine High School,Network 1,11,121,8.0,6.61,...,41.32,28,23.14,11,9.09,0,0.00,17,14.05,NaN
1579,2023-2024,District,District,5150,William W. Bodine High School,Network 1,12,135,9.0,6.67,...,46.67,30,22.22,10,7.41,0,0.00,9,6.67,NaN
1580,2023-2024,District,District,5150,William W. Bodine High School,Network 1,All Grades,464,39.0,8.41,...,39.87,113,24.35,34,7.33,1,0.22,57,12.28,100.0

5160

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1581,2023-2024,District,District,5160,Penn Treaty High School,Innovation,06,40,0.0,0.00,...,22.50,19,47.50,3,7.50,0,0.0,9,22.50,NaN
1582,2023-2024,District,District,5160,Penn Treaty High School,Innovation,07,48,3.0,6.25,...,33.33,17,35.42,0,0.00,0,0.0,15,31.25,NaN
1583,2023-2024,District,District,5160,Penn Treaty High School,Innovation,08,47,6.0,12.77,...,27.66,15,31.91,5,10.64,0,0.0,13,27.66,NaN
1584,2023-2024,District,District,5160,Penn Treaty High School,Innovation,09,75,3.0,4.00,...,42.67,23,30.67,3,4.00,0,0.0,16,21.33,NaN
1585,2023-2024,District,District,5160,Penn Treaty High School,Innovation,10,73,4.0,5.48,...,38.36,17,23.29,1,1.37,0,0.0,24,32.88,NaN
1586,2023-2024,District,District,5160,Penn Treaty High School,Innovation,11,88,6.0,6.82,...,42.05,30,34.09,7,7.95,0,0.0,13,14.77,NaN
1587,2023-2024,District,District,5160,Penn Treaty High School,Innovation,12,59,3.0,5.08,...,42.37,19,32.20,6,10.17,0,0.0,9,15.25,NaN
1588,2023-2024,District,District,5160,Penn Treaty High School,Innovation,All Grades,430,25.0,5.81,...,37.21,140,32.56,25,5.81,0,0.0,99,23.02,100.0

5170

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1589,2023-2024,District,District,5170,Julia de Burgos School,Network 3,00,30,12.0,40.00,...,10.00,27,90.00,0,0.00,0,0.0,0,0.00,NaN
1590,2023-2024,District,District,5170,Julia de Burgos School,Network 3,01,47,16.0,34.04,...,6.38,44,93.62,0,0.00,0,0.0,0,0.00,NaN
1591,2023-2024,District,District,5170,Julia de Burgos School,Network 3,02,57,13.0,22.81,...,8.77,50,87.72,2,3.51,0,0.0,0,0.00,NaN
1592,2023-2024,District,District,5170,Julia de Burgos School,Network 3,03,56,19.0,33.93,...,12.50,48,85.71,1,1.79,0,0.0,0,0.00,NaN
1593,2023-2024,District,District,5170,Julia de Burgos School,Network 3,04,58,10.0,17.24,...,15.52,47,81.03,1,1.72,0,0.0,1,1.72,NaN
1594,2023-2024,District,District,5170,Julia de Burgos School,Network 3,05,75,22.0,29.33,...,14.67,64,85.33,0,0.00,0,0.0,0,0.00,NaN
1595,2023-2024,District,District,5170,Julia de Burgos School,Network 3,06,95,23.0,24.21,...,12.63,80,84.21,2,2.11,0,0.0,0,0.00,NaN
1596,2023-2024,District,District,5170,Julia de Burgos School,Network 3,07,87,22.0,25.29,...,21.84,65,74.71,2,2.30,0,0.0,1,1.15,NaN
1597,2023-2024,District,District,5170,Julia de Burgos School,Network 3,08,103,29.0,28.16,...,15.53,79,76.70,5,4.85,0,0.0,3,2.91,NaN
1598,2023-2024,District,District,5170,Julia de Burgos School,Network 3,All Grades,608,166.0,27.30,...,13.98,504,82.89,13,2.14,0,0.0,5,0.82,100.0

5180

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1599,2023-2024,District,District,5180,Vaux High School: A Big Picture,Innovation,09,91,4.0,4.40,...,91.21,5,5.49,3,3.30,0,0.00,0,0.00,NaN
1600,2023-2024,District,District,5180,Vaux High School: A Big Picture,Innovation,10,84,1.0,1.19,...,84.52,8,9.52,3,3.57,1,1.19,1,1.19,NaN
1601,2023-2024,District,District,5180,Vaux High School: A Big Picture,Innovation,11,68,0.0,0.00,...,89.71,2,2.94,3,4.41,0,0.00,1,1.47,NaN
1602,2023-2024,District,District,5180,Vaux High School: A Big Picture,Innovation,12,62,2.0,3.23,...,93.55,2,3.23,2,3.23,0,0.00,0,0.00,NaN
1603,2023-2024,District,District,5180,Vaux High School: A Big Picture,Innovation,All Grades,305,7.0,2.30,...,89.51,17,5.57,11,3.61,1,0.33,2,0.66,1.05

5200

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1604,2023-2024,District,District,5200,Alexander Adaire School,Network 3,00,64,0.0,0.00,...,3.13,5,7.81,7,10.94,0,0.0,47,73.44,NaN
1605,2023-2024,District,District,5200,Alexander Adaire School,Network 3,01,58,0.0,0.00,...,1.72,4,6.90,7,12.07,0,0.0,45,77.59,NaN
1606,2023-2024,District,District,5200,Alexander Adaire School,Network 3,02,50,2.0,4.00,...,4.00,4,8.00,1,2.00,0,0.0,42,84.00,NaN
1607,2023-2024,District,District,5200,Alexander Adaire School,Network 3,03,51,0.0,0.00,...,1.96,7,13.73,5,9.80,0,0.0,37,72.55,NaN
1608,2023-2024,District,District,5200,Alexander Adaire School,Network 3,04,50,1.0,2.00,...,4.00,2,4.00,1,2.00,0,0.0,42,84.00,NaN
1609,2023-2024,District,District,5200,Alexander Adaire School,Network 3,05,40,1.0,2.50,...,0.00,2,5.00,0,0.00,0,0.0,36,90.00,NaN
1610,2023-2024,District,District,5200,Alexander Adaire School,Network 3,06,42,0.0,0.00,...,7.14,9,21.43,3,7.14,0,0.0,26,61.90,NaN
1611,2023-2024,District,District,5200,Alexander Adaire School,Network 3,07,41,2.0,4.88,...,7.32,3,7.32,3,7.32,0,0.0,30,73.17,NaN
1612,2023-2024,District,District,5200,Alexander Adaire School,Network 3,08,22,0.0,0.00,...,0.00,2,9.09,0,0.00,0,0.0,20,90.91,NaN
1613,2023-2024,District,District,5200,Alexander Adaire School,Network 3,All Grades,418,6.0,1.44,...,3.35,38,9.09,27,6.46,0,0.0,325,77.75,57.03

5210

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1614,2023-2024,District,District,5210,Henry A. Brown School,Network 5,00,21,2.0,9.52,...,14.29,9,42.86,1,4.76,0,0.00,7,33.33,NaN
1615,2023-2024,District,District,5210,Henry A. Brown School,Network 5,01,33,2.0,6.06,...,15.15,19,57.58,2,6.06,0,0.00,5,15.15,NaN
1616,2023-2024,District,District,5210,Henry A. Brown School,Network 5,02,25,2.0,8.00,...,28.00,11,44.00,1,4.00,0,0.00,5,20.00,NaN
1617,2023-2024,District,District,5210,Henry A. Brown School,Network 5,03,33,4.0,12.12,...,18.18,13,39.39,1,3.03,0,0.00,9,27.27,NaN
1618,2023-2024,District,District,5210,Henry A. Brown School,Network 5,04,31,3.0,9.68,...,32.26,12,38.71,2,6.45,0,0.00,4,12.90,NaN
1619,2023-2024,District,District,5210,Henry A. Brown School,Network 5,05,38,3.0,7.89,...,15.79,27,71.05,1,2.63,0,0.00,2,5.26,NaN
1620,2023-2024,District,District,5210,Henry A. Brown School,Network 5,06,44,4.0,9.09,...,20.45,21,47.73,2,4.55,0,0.00,8,18.18,NaN
1621,2023-2024,District,District,5210,Henry A. Brown School,Network 5,07,39,3.0,7.69,...,25.64,20,51.28,0,0.00,1,2.56,5,12.82,NaN
1622,2023-2024,District,District,5210,Henry A. Brown School,Network 5,08,42,6.0,14.29,...,11.90,23,54.76,0,0.00,0,0.00,8,19.05,NaN
1623,2023-2024,District,District,5210,Henry A. Brown School,Network 5,All Grades,306,29.0,9.48,...,19.93,155,50.65,10,3.27,1,0.33,53,17.32,100.0

5230

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1624,2023-2024,District,District,5230,Russell H. Conwell School,Network 9,05,9,0.0,0.00,...,22.22,6,66.67,0,0.00,0,0.0,1,11.11,NaN
1625,2023-2024,District,District,5230,Russell H. Conwell School,Network 9,06,36,7.0,19.44,...,25.00,22,61.11,0,0.00,0,0.0,4,11.11,NaN
1626,2023-2024,District,District,5230,Russell H. Conwell School,Network 9,07,38,3.0,7.89,...,15.79,27,71.05,2,5.26,0,0.0,2,5.26,NaN
1627,2023-2024,District,District,5230,Russell H. Conwell School,Network 9,08,36,1.0,2.78,...,22.22,18,50.00,2,5.56,0,0.0,6,16.67,NaN
1628,2023-2024,District,District,5230,Russell H. Conwell School,Network 9,All Grades,119,11.0,9.24,...,21.01,73,61.34,4,3.36,0,0.0,13,10.92,100.0

5250

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1629,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,00,18,1.0,5.56,...,83.33,2,11.11,0,0.00,0,0.0,1,5.56,NaN
1630,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,01,22,1.0,4.55,...,81.82,3,13.64,0,0.00,0,0.0,0,0.00,NaN
1631,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,02,23,1.0,4.35,...,69.57,7,30.43,0,0.00,0,0.0,0,0.00,NaN
1632,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,03,28,2.0,7.14,...,82.14,2,7.14,1,3.57,0,0.0,2,7.14,NaN
1633,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,04,34,2.0,5.88,...,91.18,0,0.00,1,2.94,0,0.0,1,2.94,NaN
1634,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,05,23,1.0,4.35,...,86.96,3,13.04,0,0.00,0,0.0,0,0.00,NaN
1635,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,06,32,3.0,9.38,...,87.50,1,3.13,0,0.00,0,0.0,2,6.25,NaN
1636,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,07,25,0.0,0.00,...,88.00,0,0.00,1,4.00,0,0.0,1,4.00,NaN
1637,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,08,26,2.0,7.69,...,92.31,0,0.00,0,0.00,0,0.0,1,3.85,NaN
1638,2023-2024,District,District,5250,Paul L. Dunbar School,Network 5,All Grades,231,13.0,5.63,...,85.28,18,7.79,3,1.30,0,0.0,8,3.46,100.0

5260

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1639,2023-2024,District,District,5260,Lewis Elkin School,Network 11,00,93,31.0,33.33,...,17.20,72,77.42,2,2.15,0,0.0,2,2.15,NaN
1640,2023-2024,District,District,5260,Lewis Elkin School,Network 11,01,84,30.0,35.71,...,22.62,59,70.24,2,2.38,0,0.0,4,4.76,NaN
1641,2023-2024,District,District,5260,Lewis Elkin School,Network 11,02,120,51.0,42.50,...,18.33,94,78.33,2,1.67,0,0.0,2,1.67,NaN
1642,2023-2024,District,District,5260,Lewis Elkin School,Network 11,03,115,49.0,42.61,...,13.04,96,83.48,2,1.74,0,0.0,2,1.74,NaN
1643,2023-2024,District,District,5260,Lewis Elkin School,Network 11,04,121,39.0,32.23,...,16.53,96,79.34,2,1.65,0,0.0,1,0.83,NaN
1644,2023-2024,District,District,5260,Lewis Elkin School,Network 11,All Grades,533,200.0,37.52,...,17.26,417,78.24,10,1.88,0,0.0,11,2.06,100.0

5300

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1645,2023-2024,District,District,5300,Horatio B. Hackett School,Network 5,00,77,1.0,1.30,...,11.69,18,23.38,3,3.90,0,0.0,42,54.55,NaN
1646,2023-2024,District,District,5300,Horatio B. Hackett School,Network 5,01,78,5.0,6.41,...,7.69,12,15.38,6,7.69,0,0.0,52,66.67,NaN
1647,2023-2024,District,District,5300,Horatio B. Hackett School,Network 5,02,69,1.0,1.45,...,11.59,11,15.94,10,14.49,0,0.0,36,52.17,NaN
1648,2023-2024,District,District,5300,Horatio B. Hackett School,Network 5,03,57,2.0,3.51,...,8.77,13,22.81,4,7.02,0,0.0,33,57.89,NaN
1649,2023-2024,District,District,5300,Horatio B. Hackett School,Network 5,04,65,1.0,1.54,...,10.77,12,18.46,9,13.85,0,0.0,37,56.92,NaN
1650,2023-2024,District,District,5300,Horatio B. Hackett School,Network 5,05,47,1.0,2.13,...,14.89,19,40.43,1,2.13,0,0.0,20,42.55,NaN
1651,2023-2024,District,District,5300,Horatio B. Hackett School,Network 5,All Grades,393,11.0,2.80,...,10.69,85,21.63,33,8.40,0,0.0,220,55.98,80.61

5320

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1652,2023-2024,District,District,5320,John F. Hartranft School,Network 5,00,25,5.0,20.00,...,56.00,11,44.00,0,0.00,0,0.00,0,0.00,NaN
1653,2023-2024,District,District,5320,John F. Hartranft School,Network 5,01,25,4.0,16.00,...,68.00,7,28.00,1,4.00,0,0.00,0,0.00,NaN
1654,2023-2024,District,District,5320,John F. Hartranft School,Network 5,02,36,1.0,2.78,...,75.00,8,22.22,0,0.00,0,0.00,1,2.78,NaN
1655,2023-2024,District,District,5320,John F. Hartranft School,Network 5,03,30,1.0,3.33,...,80.00,5,16.67,1,3.33,0,0.00,0,0.00,NaN
1656,2023-2024,District,District,5320,John F. Hartranft School,Network 5,04,24,2.0,8.33,...,75.00,6,25.00,0,0.00,0,0.00,0,0.00,NaN
1657,2023-2024,District,District,5320,John F. Hartranft School,Network 5,05,44,2.0,4.55,...,54.55,16,36.36,2,4.55,1,2.27,1,2.27,NaN
1658,2023-2024,District,District,5320,John F. Hartranft School,Network 5,06,38,2.0,5.26,...,71.05,11,28.95,0,0.00,0,0.00,0,0.00,NaN
1659,2023-2024,District,District,5320,John F. Hartranft School,Network 5,07,37,5.0,13.51,...,45.95,16,43.24,4,10.81,0,0.00,0,0.00,NaN
1660,2023-2024,District,District,5320,John F. Hartranft School,Network 5,08,36,5.0,13.89,...,63.89,10,27.78,3,8.33,0,0.00,0,0.00,NaN
1661,2023-2024,District,District,5320,John F. Hartranft School,Network 5,All Grades,295,27.0,9.15,...,64.75,90,30.51,11,3.73,1,0.34,2,0.68,100.0

5330

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1662,2023-2024,District,District,5330,William H. Hunter School,Network 5,00,24,3.0,12.50,...,20.83,18,75.00,1,4.17,0,0.00,0,0.00,NaN
1663,2023-2024,District,District,5330,William H. Hunter School,Network 5,01,29,6.0,20.69,...,20.69,21,72.41,2,6.90,0,0.00,0,0.00,NaN
1664,2023-2024,District,District,5330,William H. Hunter School,Network 5,02,28,7.0,25.00,...,17.86,21,75.00,0,0.00,0,0.00,2,7.14,NaN
1665,2023-2024,District,District,5330,William H. Hunter School,Network 5,03,38,5.0,13.16,...,28.95,27,71.05,0,0.00,0,0.00,0,0.00,NaN
1666,2023-2024,District,District,5330,William H. Hunter School,Network 5,04,52,9.0,17.31,...,21.15,40,76.92,0,0.00,1,1.92,0,0.00,NaN
1667,2023-2024,District,District,5330,William H. Hunter School,Network 5,05,45,9.0,20.00,...,15.56,35,77.78,0,0.00,0,0.00,2,4.44,NaN
1668,2023-2024,District,District,5330,William H. Hunter School,Network 5,06,50,5.0,10.00,...,20.00,37,74.00,2,4.00,0,0.00,1,2.00,NaN
1669,2023-2024,District,District,5330,William H. Hunter School,Network 5,07,56,5.0,8.93,...,28.57,33,58.93,3,5.36,0,0.00,3,5.36,NaN
1670,2023-2024,District,District,5330,William H. Hunter School,Network 5,08,61,4.0,6.56,...,26.23,36,59.02,7,11.48,0,0.00,1,1.64,NaN
1671,2023-2024,District,District,5330,William H. Hunter School,Network 5,All Grades,383,53.0,13.84,...,22.72,268,69.97,15,3.92,1,0.26,9,2.35,100.0

5340

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1672,2023-2024,District,District,5340,James R. Ludlow School,Network 3,00,9,0.0,0.00,...,55.56,3,33.33,1,11.11,0,0.0,0,0.00,NaN
1673,2023-2024,District,District,5340,James R. Ludlow School,Network 3,01,25,3.0,12.00,...,60.00,8,32.00,0,0.00,0,0.0,0,0.00,NaN
1674,2023-2024,District,District,5340,James R. Ludlow School,Network 3,02,28,1.0,3.57,...,60.71,6,21.43,4,14.29,0,0.0,1,3.57,NaN
1675,2023-2024,District,District,5340,James R. Ludlow School,Network 3,03,17,2.0,11.76,...,64.71,4,23.53,1,5.88,0,0.0,1,5.88,NaN
1676,2023-2024,District,District,5340,James R. Ludlow School,Network 3,04,20,0.0,0.00,...,75.00,3,15.00,2,10.00,0,0.0,0,0.00,NaN
1677,2023-2024,District,District,5340,James R. Ludlow School,Network 3,05,24,1.0,4.17,...,79.17,5,20.83,0,0.00,0,0.0,0,0.00,NaN
1678,2023-2024,District,District,5340,James R. Ludlow School,Network 3,06,32,1.0,3.13,...,78.13,6,18.75,1,3.13,0,0.0,0,0.00,NaN
1679,2023-2024,District,District,5340,James R. Ludlow School,Network 3,07,22,1.0,4.55,...,86.36,2,9.09,1,4.55,0,0.0,0,0.00,NaN
1680,2023-2024,District,District,5340,James R. Ludlow School,Network 3,08,28,2.0,7.14,...,75.00,5,17.86,2,7.14,0,0.0,0,0.00,NaN
1681,2023-2024,District,District,5340,James R. Ludlow School,Network 3,All Grades,205,11.0,5.37,...,71.71,42,20.49,12,5.85,0,0.0,2,0.98,100.0

5350

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1682,2023-2024,District,District,5350,William McKinley School,Network 12,00,32,5.0,15.63,...,53.13,15,46.88,0,0.0,0,0.00,0,0.00,NaN
1683,2023-2024,District,District,5350,William McKinley School,Network 12,01,28,5.0,17.86,...,28.57,19,67.86,0,0.0,0,0.00,1,3.57,NaN
1684,2023-2024,District,District,5350,William McKinley School,Network 12,02,42,5.0,11.90,...,42.86,24,57.14,0,0.0,0,0.00,0,0.00,NaN
1685,2023-2024,District,District,5350,William McKinley School,Network 12,03,28,4.0,14.29,...,57.14,12,42.86,0,0.0,0,0.00,0,0.00,NaN
1686,2023-2024,District,District,5350,William McKinley School,Network 12,04,40,3.0,7.50,...,37.50,23,57.50,0,0.0,1,2.50,1,2.50,NaN
1687,2023-2024,District,District,5350,William McKinley School,Network 12,05,28,4.0,14.29,...,39.29,17,60.71,0,0.0,0,0.00,0,0.00,NaN
1688,2023-2024,District,District,5350,William McKinley School,Network 12,06,37,3.0,8.11,...,40.54,20,54.05,0,0.0,0,0.00,1,2.70,NaN
1689,2023-2024,District,District,5350,William McKinley School,Network 12,07,32,4.0,12.50,...,46.88,17,53.13,0,0.0,0,0.00,0,0.00,NaN
1690,2023-2024,District,District,5350,William McKinley School,Network 12,08,40,3.0,7.50,...,52.50,15,37.50,0,0.0,0,0.00,1,2.50,NaN
1691,2023-2024,District,District,5350,William McKinley School,Network 12,All Grades,307,36.0,11.73,...,44.30,162,52.77,0,0.0,1,0.33,4,1.30,100.0

5370

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1692,2023-2024,District,District,5370,John Moffet School,Network 3,00,32,5.0,15.63,...,21.88,13,40.63,3,9.38,0,0.00,6,18.75,NaN
1693,2023-2024,District,District,5370,John Moffet School,Network 3,01,34,7.0,20.59,...,14.71,15,44.12,1,2.94,1,2.94,10,29.41,NaN
1694,2023-2024,District,District,5370,John Moffet School,Network 3,02,47,10.0,21.28,...,23.40,17,36.17,3,6.38,0,0.00,14,29.79,NaN
1695,2023-2024,District,District,5370,John Moffet School,Network 3,03,36,4.0,11.11,...,22.22,16,44.44,3,8.33,0,0.00,9,25.00,NaN
1696,2023-2024,District,District,5370,John Moffet School,Network 3,04,38,5.0,13.16,...,34.21,14,36.84,2,5.26,0,0.00,9,23.68,NaN
1697,2023-2024,District,District,5370,John Moffet School,Network 3,05,37,2.0,5.41,...,32.43,22,59.46,0,0.00,0,0.00,2,5.41,NaN
1698,2023-2024,District,District,5370,John Moffet School,Network 3,All Grades,224,33.0,14.73,...,25.00,97,43.30,12,5.36,1,0.45,50,22.32,100.0

5390

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1699,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,00,28,3.0,10.71,...,17.86,19,67.86,3,10.71,1,3.57,0,0.00,NaN
1700,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,01,31,6.0,19.35,...,16.13,25,80.65,1,3.23,0,0.00,0,0.00,NaN
1701,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,02,39,9.0,23.08,...,15.38,33,84.62,0,0.00,0,0.00,0,0.00,NaN
1702,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,03,36,7.0,19.44,...,27.78,26,72.22,0,0.00,0,0.00,0,0.00,NaN
1703,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,04,39,8.0,20.51,...,20.51,28,71.79,2,5.13,0,0.00,1,2.56,NaN
1704,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,05,43,13.0,30.23,...,20.93,34,79.07,0,0.00,0,0.00,0,0.00,NaN
1705,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,06,51,11.0,21.57,...,23.53,38,74.51,1,1.96,0,0.00,0,0.00,NaN
1706,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,07,47,14.0,29.79,...,31.91,30,63.83,1,2.13,0,0.00,1,2.13,NaN
1707,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,08,48,9.0,18.75,...,29.17,34,70.83,0,0.00,0,0.00,0,0.00,NaN
1708,2023-2024,District,District,5390,Potter-Thomas School,Acceleration,All Grades,362,80.0,22.10,...,23.20,267,73.76,8,2.21,1,0.28,2,0.55,100.0

5400

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1709,2023-2024,District,District,5400,Richmond School,Network 5,00,58,13.0,22.41,...,20.69,25,43.10,3,5.17,0,0.00,17,29.31,NaN
1710,2023-2024,District,District,5400,Richmond School,Network 5,01,52,10.0,19.23,...,5.77,29,55.77,5,9.62,1,1.92,14,26.92,NaN
1711,2023-2024,District,District,5400,Richmond School,Network 5,02,61,10.0,16.39,...,16.39,23,37.70,4,6.56,0,0.00,21,34.43,NaN
1712,2023-2024,District,District,5400,Richmond School,Network 5,03,55,8.0,14.55,...,10.91,25,45.45,5,9.09,0,0.00,18,32.73,NaN
1713,2023-2024,District,District,5400,Richmond School,Network 5,04,61,10.0,16.39,...,22.95,17,27.87,3,4.92,0,0.00,27,44.26,NaN
1714,2023-2024,District,District,5400,Richmond School,Network 5,05,51,5.0,9.80,...,23.53,20,39.22,4,7.84,0,0.00,15,29.41,NaN
1715,2023-2024,District,District,5400,Richmond School,Network 5,All Grades,338,56.0,16.57,...,16.86,139,41.12,24,7.10,1,0.30,112,33.14,100.0

5410

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1716,2023-2024,District,District,5410,Isaac A. Sheppard School,Network 3,00,26,7.0,26.92,...,15.38,21,80.77,0,0.00,0,0.0,0,0.0,NaN
1717,2023-2024,District,District,5410,Isaac A. Sheppard School,Network 3,01,28,7.0,25.00,...,7.14,26,92.86,0,0.00,0,0.0,0,0.0,NaN
1718,2023-2024,District,District,5410,Isaac A. Sheppard School,Network 3,02,29,11.0,37.93,...,10.34,25,86.21,1,3.45,0,0.0,0,0.0,NaN
1719,2023-2024,District,District,5410,Isaac A. Sheppard School,Network 3,03,22,3.0,13.64,...,4.55,21,95.45,0,0.00,0,0.0,0,0.0,NaN
1720,2023-2024,District,District,5410,Isaac A. Sheppard School,Network 3,04,28,7.0,25.00,...,14.29,24,85.71,0,0.00,0,0.0,0,0.0,NaN
1721,2023-2024,District,District,5410,Isaac A. Sheppard School,Network 3,All Grades,133,35.0,26.32,...,10.53,117,87.97,1,0.75,0,0.0,0,0.0,100.0

5420

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1722,2023-2024,District,District,5420,John Welsh School,Network 5,00,23,1.0,4.35,...,34.78,14,60.87,0,0.00,0,0.0,1,4.35,NaN
1723,2023-2024,District,District,5420,John Welsh School,Network 5,01,18,3.0,16.67,...,22.22,13,72.22,1,5.56,0,0.0,0,0.00,NaN
1724,2023-2024,District,District,5420,John Welsh School,Network 5,02,35,5.0,14.29,...,40.00,20,57.14,0,0.00,0,0.0,0,0.00,NaN
1725,2023-2024,District,District,5420,John Welsh School,Network 5,03,25,2.0,8.00,...,44.00,13,52.00,1,4.00,0,0.0,0,0.00,NaN
1726,2023-2024,District,District,5420,John Welsh School,Network 5,04,21,4.0,19.05,...,19.05,17,80.95,0,0.00,0,0.0,0,0.00,NaN
1727,2023-2024,District,District,5420,John Welsh School,Network 5,05,36,3.0,8.33,...,33.33,23,63.89,1,2.78,0,0.0,0,0.00,NaN
1728,2023-2024,District,District,5420,John Welsh School,Network 5,06,26,8.0,30.77,...,19.23,20,76.92,1,3.85,0,0.0,0,0.00,NaN
1729,2023-2024,District,District,5420,John Welsh School,Network 5,07,31,6.0,19.35,...,38.71,17,54.84,2,6.45,0,0.0,0,0.00,NaN
1730,2023-2024,District,District,5420,John Welsh School,Network 5,08,41,8.0,19.51,...,36.59,25,60.98,0,0.00,0,0.0,0,0.00,NaN
1731,2023-2024,District,District,5420,John Welsh School,Network 5,All Grades,256,40.0,15.63,...,33.20,162,63.28,6,2.34,0,0.0,1,0.39,100.0

5430

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1732,2023-2024,District,District,5430,Alternative Middle Years at James Martin,Network 12,06,77,5.0,6.49,...,27.27,31,40.26,3,3.90,0,0.0,22,28.57,NaN
1733,2023-2024,District,District,5430,Alternative Middle Years at James Martin,Network 12,07,60,7.0,11.67,...,35.00,20,33.33,2,3.33,0,0.0,17,28.33,NaN
1734,2023-2024,District,District,5430,Alternative Middle Years at James Martin,Network 12,08,71,1.0,1.41,...,28.17,22,30.99,6,8.45,0,0.0,22,30.99,NaN
1735,2023-2024,District,District,5430,Alternative Middle Years at James Martin,Network 12,All Grades,208,13.0,6.25,...,29.81,73,35.10,11,5.29,0,0.0,61,29.33,100.0

5440

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1736,2023-2024,District,District,5440,Frances E. Willard School,Network 5,00,69,9.0,13.04,...,28.99,45,65.22,4,5.80,0,0.0,0,0.00,NaN
1737,2023-2024,District,District,5440,Frances E. Willard School,Network 5,01,84,13.0,15.48,...,30.95,50,59.52,3,3.57,0,0.0,5,5.95,NaN
1738,2023-2024,District,District,5440,Frances E. Willard School,Network 5,02,91,16.0,17.58,...,19.78,66,72.53,1,1.10,0,0.0,5,5.49,NaN
1739,2023-2024,District,District,5440,Frances E. Willard School,Network 5,03,83,18.0,21.69,...,31.33,54,65.06,0,0.00,0,0.0,1,1.20,NaN
1740,2023-2024,District,District,5440,Frances E. Willard School,Network 5,04,80,13.0,16.25,...,30.00,49,61.25,1,1.25,0,0.0,6,7.50,NaN
1741,2023-2024,District,District,5440,Frances E. Willard School,Network 5,All Grades,407,69.0,16.95,...,28.01,264,64.86,9,2.21,0,0.0,17,4.18,100.0

5470

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1742,2023-2024,District,District,5470,William Cramp School,Network 11,00,42,13.0,30.95,...,21.43,32,76.19,1,2.38,0,0.00,0,0.00,NaN
1743,2023-2024,District,District,5470,William Cramp School,Network 11,01,65,17.0,26.15,...,15.38,53,81.54,0,0.00,0,0.00,2,3.08,NaN
1744,2023-2024,District,District,5470,William Cramp School,Network 11,02,61,18.0,29.51,...,13.11,53,86.89,0,0.00,0,0.00,0,0.00,NaN
1745,2023-2024,District,District,5470,William Cramp School,Network 11,03,68,10.0,14.71,...,20.59,51,75.00,0,0.00,1,1.47,1,1.47,NaN
1746,2023-2024,District,District,5470,William Cramp School,Network 11,04,63,12.0,19.05,...,20.63,49,77.78,0,0.00,0,0.00,1,1.59,NaN
1747,2023-2024,District,District,5470,William Cramp School,Network 11,05,49,13.0,26.53,...,10.20,44,89.80,0,0.00,0,0.00,0,0.00,NaN
1748,2023-2024,District,District,5470,William Cramp School,Network 11,All Grades,348,83.0,23.85,...,16.95,282,81.03,1,0.29,1,0.29,4,1.15,100.0

5480

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1749,2023-2024,District,District,5480,General Philip Kearny School,Network 3,00,16,0.0,0.00,...,68.75,4,25.00,1,6.25,0,0.0,0,0.00,NaN
1750,2023-2024,District,District,5480,General Philip Kearny School,Network 3,01,17,1.0,5.88,...,70.59,3,17.65,1,5.88,0,0.0,1,5.88,NaN
1751,2023-2024,District,District,5480,General Philip Kearny School,Network 3,02,18,2.0,11.11,...,77.78,3,16.67,0,0.00,0,0.0,1,5.56,NaN
1752,2023-2024,District,District,5480,General Philip Kearny School,Network 3,03,15,0.0,0.00,...,93.33,0,0.00,1,6.67,0,0.0,0,0.00,NaN
1753,2023-2024,District,District,5480,General Philip Kearny School,Network 3,04,23,1.0,4.35,...,73.91,5,21.74,1,4.35,0,0.0,0,0.00,NaN
1754,2023-2024,District,District,5480,General Philip Kearny School,Network 3,05,19,0.0,0.00,...,84.21,2,10.53,0,0.00,0,0.0,1,5.26,NaN
1755,2023-2024,District,District,5480,General Philip Kearny School,Network 3,06,20,0.0,0.00,...,75.00,2,10.00,3,15.00,0,0.0,0,0.00,NaN
1756,2023-2024,District,District,5480,General Philip Kearny School,Network 3,07,18,1.0,5.56,...,72.22,3,16.67,2,11.11,0,0.0,0,0.00,NaN
1757,2023-2024,District,District,5480,General Philip Kearny School,Network 3,08,22,4.0,18.18,...,68.18,4,18.18,2,9.09,0,0.0,0,0.00,NaN
1758,2023-2024,District,District,5480,General Philip Kearny School,Network 3,All Grades,168,9.0,5.36,...,75.60,26,15.48,11,6.55,0,0.0,3,1.79,100.0

5490

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1759,2023-2024,District,District,5490,Cayuga School,Network 11,00,56,27.0,48.21,...,14.29,48,85.71,0,0.00,0,0.0,0,0.00,NaN
1760,2023-2024,District,District,5490,Cayuga School,Network 11,01,55,26.0,47.27,...,32.73,36,65.45,1,1.82,0,0.0,0,0.00,NaN
1761,2023-2024,District,District,5490,Cayuga School,Network 11,02,67,24.0,35.82,...,16.42,55,82.09,1,1.49,0,0.0,0,0.00,NaN
1762,2023-2024,District,District,5490,Cayuga School,Network 11,03,49,15.0,30.61,...,28.57,35,71.43,0,0.00,0,0.0,0,0.00,NaN
1763,2023-2024,District,District,5490,Cayuga School,Network 11,04,55,21.0,38.18,...,20.00,42,76.36,1,1.82,0,0.0,1,1.82,NaN
1764,2023-2024,District,District,5490,Cayuga School,Network 11,05,55,19.0,34.55,...,23.64,41,74.55,1,1.82,0,0.0,0,0.00,NaN
1765,2023-2024,District,District,5490,Cayuga School,Network 11,All Grades,337,132.0,39.17,...,22.26,257,76.26,4,1.19,0,0.0,1,0.30,100.0

5500

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1766,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,00,66,14.0,21.21,...,51.52,28,42.42,0,0.00,0,0.0,1,1.52,NaN
1767,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,01,64,18.0,28.13,...,53.13,29,45.31,1,1.56,0,0.0,0,0.00,NaN
1768,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,02,64,12.0,18.75,...,51.56,26,40.63,0,0.00,0,0.0,0,0.00,NaN
1769,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,03,66,22.0,33.33,...,53.03,25,37.88,2,3.03,0,0.0,1,1.52,NaN
1770,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,04,57,14.0,24.56,...,59.65,18,31.58,1,1.75,0,0.0,0,0.00,NaN
1771,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,05,55,12.0,21.82,...,52.73,23,41.82,0,0.00,0,0.0,0,0.00,NaN
1772,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,06,81,17.0,20.99,...,54.32,31,38.27,2,2.47,0,0.0,1,1.23,NaN
1773,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,07,82,13.0,15.85,...,63.41,21,25.61,5,6.10,0,0.0,1,1.22,NaN
1774,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,08,69,8.0,11.59,...,62.32,15,21.74,7,10.14,0,0.0,1,1.45,NaN
1775,2023-2024,District,District,5500,Thurgood Marshall School,Network 7,All Grades,604,130.0,21.52,...,55.96,216,35.76,18,2.98,0,0.0,5,0.83,100.0

5520

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1776,2023-2024,District,District,5520,Kensington High School for Creative and Perfor...,Network 4,09,164,20.0,12.20,...,40.85,82,50.00,7,4.27,0,0.0,6,3.66,NaN
1777,2023-2024,District,District,5520,Kensington High School for Creative and Perfor...,Network 4,10,133,20.0,15.04,...,33.08,76,57.14,6,4.51,0,0.0,6,4.51,NaN
1778,2023-2024,District,District,5520,Kensington High School for Creative and Perfor...,Network 4,11,111,25.0,22.52,...,29.73,66,59.46,7,6.31,0,0.0,5,4.50,NaN
1779,2023-2024,District,District,5520,Kensington High School for Creative and Perfor...,Network 4,12,95,13.0,13.68,...,28.42,52,54.74,5,5.26,0,0.0,10,10.53,NaN
1780,2023-2024,District,District,5520,Kensington High School for Creative and Perfor...,Network 4,All Grades,503,78.0,15.51,...,34.00,276,54.87,25,4.97,0,0.0,27,5.37,100.0

5530

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1781,2023-2024,District,District,5530,Gloria Casarez Elementary School,Network 5,00,88,21.0,23.86,...,29.55,58,65.91,2,2.27,0,0.0,1,1.14,NaN
1782,2023-2024,District,District,5530,Gloria Casarez Elementary School,Network 5,01,86,21.0,24.42,...,23.26,65,75.58,1,1.16,0,0.0,0,0.00,NaN
1783,2023-2024,District,District,5530,Gloria Casarez Elementary School,Network 5,02,73,16.0,21.92,...,36.99,41,56.16,2,2.74,0,0.0,3,4.11,NaN
1784,2023-2024,District,District,5530,Gloria Casarez Elementary School,Network 5,03,81,31.0,38.27,...,30.86,51,62.96,2,2.47,0,0.0,3,3.70,NaN
1785,2023-2024,District,District,5530,Gloria Casarez Elementary School,Network 5,04,64,16.0,25.00,...,21.88,47,73.44,1,1.56,0,0.0,2,3.13,NaN
1786,2023-2024,District,District,5530,Gloria Casarez Elementary School,Network 5,05,71,13.0,18.31,...,35.21,42,59.15,0,0.00,0,0.0,2,2.82,NaN
1787,2023-2024,District,District,5530,Gloria Casarez Elementary School,Network 5,All Grades,463,118.0,25.49,...,29.59,304,65.66,8,1.73,0,0.0,11,2.38,100.0

5550

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1788,2023-2024,District,District,5550,Kensington Health Sciences Academy,Network 4,09,115,22.0,19.13,...,16.52,82,71.30,3,2.61,0,0.0,8,6.96,NaN
1789,2023-2024,District,District,5550,Kensington Health Sciences Academy,Network 4,10,115,29.0,25.22,...,14.78,83,72.17,5,4.35,0,0.0,9,7.83,NaN
1790,2023-2024,District,District,5550,Kensington Health Sciences Academy,Network 4,11,108,25.0,23.15,...,21.30,75,69.44,3,2.78,0,0.0,6,5.56,NaN
1791,2023-2024,District,District,5550,Kensington Health Sciences Academy,Network 4,12,114,29.0,25.44,...,14.91,83,72.81,2,1.75,0,0.0,10,8.77,NaN
1792,2023-2024,District,District,5550,Kensington Health Sciences Academy,Network 4,All Grades,452,105.0,23.23,...,16.81,323,71.46,13,2.88,0,0.0,33,7.30,100.0

5560

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1793,2023-2024,District,District,5560,Spring Garden School,Network 3,00,25,10.0,40.00,...,32.00,15,60.00,1,4.00,0,0.0,1,4.00,NaN
1794,2023-2024,District,District,5560,Spring Garden School,Network 3,01,30,8.0,26.67,...,46.67,14,46.67,1,3.33,0,0.0,0,0.00,NaN
1795,2023-2024,District,District,5560,Spring Garden School,Network 3,02,23,6.0,26.09,...,47.83,10,43.48,1,4.35,0,0.0,1,4.35,NaN
1796,2023-2024,District,District,5560,Spring Garden School,Network 3,03,32,14.0,43.75,...,50.00,16,50.00,0,0.00,0,0.0,0,0.00,NaN
1797,2023-2024,District,District,5560,Spring Garden School,Network 3,04,27,10.0,37.04,...,44.44,14,51.85,0,0.00,0,0.0,1,3.70,NaN
1798,2023-2024,District,District,5560,Spring Garden School,Network 3,05,29,9.0,31.03,...,41.38,15,51.72,1,3.45,0,0.0,1,3.45,NaN
1799,2023-2024,District,District,5560,Spring Garden School,Network 3,06,30,11.0,36.67,...,56.67,13,43.33,0,0.00,0,0.0,0,0.00,NaN
1800,2023-2024,District,District,5560,Spring Garden School,Network 3,07,29,8.0,27.59,...,58.62,10,34.48,1,3.45,0,0.0,0,0.00,NaN
1801,2023-2024,District,District,5560,Spring Garden School,Network 3,08,29,6.0,20.69,...,55.17,10,34.48,0,0.00,0,0.0,1,3.45,NaN
1802,2023-2024,District,District,5560,Spring Garden School,Network 3,All Grades,254,82.0,32.28,...,48.43,117,46.06,5,1.97,0,0.0,5,1.97,100.0

5580

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1803,2023-2024,District,District,5580,"Stetson, John B. Middle School",Network 5,05,92,18.0,19.57,...,20.65,71,77.17,1,1.09,0,0.0,1,1.09,NaN
1804,2023-2024,District,District,5580,"Stetson, John B. Middle School",Network 5,06,147,33.0,22.45,...,19.73,112,76.19,5,3.40,0,0.0,1,0.68,NaN
1805,2023-2024,District,District,5580,"Stetson, John B. Middle School",Network 5,07,147,40.0,27.21,...,21.77,109,74.15,4,2.72,0,0.0,2,1.36,NaN
1806,2023-2024,District,District,5580,"Stetson, John B. Middle School",Network 5,08,154,49.0,31.82,...,12.99,122,79.22,8,5.19,0,0.0,4,2.60,NaN
1807,2023-2024,District,District,5580,"Stetson, John B. Middle School",Network 5,All Grades,540,140.0,25.93,...,18.52,414,76.67,18,3.33,0,0.0,8,1.48,100.0

5581

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1808,2023-2024,Alternative,Alt Contracted,5581,Stetson Middle School Continuation Academy,Opportunity,06,5,0.0,0.00,...,40.00,2,40.00,0,0.0,0,0.0,0,0.0,NaN
1809,2023-2024,Alternative,Alt Contracted,5581,Stetson Middle School Continuation Academy,Opportunity,07,7,1.0,14.29,...,42.86,3,42.86,0,0.0,0,0.0,0,0.0,NaN
1810,2023-2024,Alternative,Alt Contracted,5581,Stetson Middle School Continuation Academy,Opportunity,08,7,0.0,0.00,...,14.29,6,85.71,0,0.0,0,0.0,0,0.0,NaN
1811,2023-2024,Alternative,Alt Contracted,5581,Stetson Middle School Continuation Academy,Opportunity,All Grades,19,1.0,5.26,...,31.58,11,57.89,0,0.0,0,0.0,0,0.0,50.53

5590

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1812,2023-2024,District,District,5590,John H. Webster School,Network 5,00,71,10.0,14.08,...,30.99,37,52.11,3,4.23,0,0.0,8,11.27,NaN
1813,2023-2024,District,District,5590,John H. Webster School,Network 5,01,84,8.0,9.52,...,34.52,46,54.76,1,1.19,0,0.0,7,8.33,NaN
1814,2023-2024,District,District,5590,John H. Webster School,Network 5,02,96,8.0,8.33,...,34.38,52,54.17,4,4.17,0,0.0,6,6.25,NaN
1815,2023-2024,District,District,5590,John H. Webster School,Network 5,03,76,10.0,13.16,...,30.26,40,52.63,1,1.32,0,0.0,12,15.79,NaN
1816,2023-2024,District,District,5590,John H. Webster School,Network 5,04,80,6.0,7.50,...,28.75,42,52.50,4,5.00,0,0.0,10,12.50,NaN
1817,2023-2024,District,District,5590,John H. Webster School,Network 5,05,64,6.0,9.38,...,20.31,39,60.94,6,9.38,0,0.0,6,9.38,NaN
1818,2023-2024,District,District,5590,John H. Webster School,Network 5,All Grades,471,48.0,10.19,...,30.36,256,54.35,19,4.03,0,0.0,49,10.40,100.0

5610

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1819,2023-2024,District,District,5610,Building 21,Innovation,09,133,2.0,1.50,...,93.98,7,5.26,0,0.00,0,0.0,0,0.0,NaN
1820,2023-2024,District,District,5610,Building 21,Innovation,10,94,6.0,6.38,...,88.30,8,8.51,3,3.19,0,0.0,0,0.0,NaN
1821,2023-2024,District,District,5610,Building 21,Innovation,11,83,1.0,1.20,...,89.16,5,6.02,2,2.41,0,0.0,0,0.0,NaN
1822,2023-2024,District,District,5610,Building 21,Innovation,12,73,4.0,5.48,...,86.30,8,10.96,1,1.37,0,0.0,0,0.0,NaN
1823,2023-2024,District,District,5610,Building 21,Innovation,All Grades,383,13.0,3.39,...,90.08,28,7.31,6,1.57,0,0.0,0,0.0,100.0

5620

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1824,2023-2024,District,District,5620,The U School,Innovation,09,70,2.0,2.86,...,80.00,10,14.29,3,4.29,0,0.0,0,0.00,NaN
1825,2023-2024,District,District,5620,The U School,Innovation,10,41,1.0,2.44,...,78.05,6,14.63,1,2.44,0,0.0,2,4.88,NaN
1826,2023-2024,District,District,5620,The U School,Innovation,11,54,3.0,5.56,...,66.67,16,29.63,1,1.85,0,0.0,0,0.00,NaN
1827,2023-2024,District,District,5620,The U School,Innovation,12,39,1.0,2.56,...,76.92,5,12.82,2,5.13,0,0.0,2,5.13,NaN
1828,2023-2024,District,District,5620,The U School,Innovation,All Grades,204,7.0,3.43,...,75.49,37,18.14,7,3.43,0,0.0,4,1.96,100.0

5660

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1829,2023-2024,District,District,5660,The LINC,Innovation,09,89,16.0,17.98,...,41.57,43,48.31,6,6.74,0,0.0,3,3.37,NaN
1830,2023-2024,District,District,5660,The LINC,Innovation,10,69,12.0,17.39,...,30.43,43,62.32,0,0.00,0,0.0,3,4.35,NaN
1831,2023-2024,District,District,5660,The LINC,Innovation,11,42,5.0,11.90,...,30.95,22,52.38,3,7.14,0,0.0,2,4.76,NaN
1832,2023-2024,District,District,5660,The LINC,Innovation,12,28,8.0,28.57,...,46.43,14,50.00,0,0.00,0,0.0,1,3.57,NaN
1833,2023-2024,District,District,5660,The LINC,Innovation,All Grades,228,41.0,17.98,...,36.84,122,53.51,9,3.95,0,0.0,9,3.95,100.0

5680

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1834,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,00,48,11.0,22.92,...,10.42,43,89.58,0,0.00,0,0.0,0,0.00,NaN
1835,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,01,50,16.0,32.00,...,18.00,41,82.00,0,0.00,0,0.0,0,0.00,NaN
1836,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,02,58,17.0,29.31,...,13.79,49,84.48,1,1.72,0,0.0,0,0.00,NaN
1837,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,03,57,19.0,33.33,...,8.77,49,85.96,1,1.75,0,0.0,2,3.51,NaN
1838,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,04,57,14.0,24.56,...,7.02,52,91.23,0,0.00,0,0.0,1,1.75,NaN
1839,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,05,70,18.0,25.71,...,11.43,58,82.86,1,1.43,0,0.0,1,1.43,NaN
1840,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,06,59,16.0,27.12,...,15.25,49,83.05,1,1.69,0,0.0,0,0.00,NaN
1841,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,07,65,20.0,30.77,...,13.85,55,84.62,0,0.00,0,0.0,1,1.54,NaN
1842,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,08,60,10.0,16.67,...,15.00,45,75.00,3,5.00,0,0.0,3,5.00,NaN
1843,2023-2024,District,District,5680,Honorable Luis Munoz-Marin School,Network 5,All Grades,524,141.0,26.91,...,12.60,441,84.16,7,1.34,0,0.0,8,1.53,100.0

5700

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1844,2023-2024,District,District,5700,Kensington High School,Network 4,09,125,17.0,13.60,...,34.40,63,50.40,4,3.20,2,1.60,11,8.80,NaN
1845,2023-2024,District,District,5700,Kensington High School,Network 4,10,165,30.0,18.18,...,32.73,87,52.73,11,6.67,0,0.00,12,7.27,NaN
1846,2023-2024,District,District,5700,Kensington High School,Network 4,11,104,18.0,17.31,...,27.88,58,55.77,7,6.73,0,0.00,7,6.73,NaN
1847,2023-2024,District,District,5700,Kensington High School,Network 4,12,83,14.0,16.87,...,27.71,45,54.22,3,3.61,0,0.00,10,12.05,NaN
1848,2023-2024,District,District,5700,Kensington High School,Network 4,All Grades,477,79.0,16.56,...,31.24,253,53.04,25,5.24,2,0.42,40,8.39,100.0

6010

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1849,2023-2024,District,District,6010,Central High School,Network 1,09,554,39.0,7.04,...,17.87,55,9.93,28,5.05,1,0.18,153,27.62,NaN
1850,2023-2024,District,District,6010,Central High School,Network 1,10,598,18.0,3.01,...,30.43,82,13.71,26,4.35,0,0.00,116,19.40,NaN
1851,2023-2024,District,District,6010,Central High School,Network 1,11,576,5.0,0.87,...,20.83,45,7.81,25,4.34,1,0.17,179,31.08,NaN
1852,2023-2024,District,District,6010,Central High School,Network 1,12,560,2.0,0.36,...,15.71,48,8.57,24,4.29,0,0.00,183,32.68,NaN
1853,2023-2024,District,District,6010,Central High School,Network 1,All Grades,2288,64.0,2.80,...,21.37,230,10.05,103,4.50,2,0.09,631,27.58,86.5

6030

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1854,2023-2024,District,District,6030,Roxborough High School,Network 4,09,139,7.0,5.04,...,77.70,13,9.35,7,5.04,0,0.00,10,7.19,NaN
1855,2023-2024,District,District,6030,Roxborough High School,Network 4,10,204,2.0,0.98,...,84.31,11,5.39,8,3.92,0,0.00,12,5.88,NaN
1856,2023-2024,District,District,6030,Roxborough High School,Network 4,11,162,4.0,2.47,...,86.42,10,6.17,3,1.85,1,0.62,8,4.94,NaN
1857,2023-2024,District,District,6030,Roxborough High School,Network 4,12,128,6.0,4.69,...,77.34,12,9.38,9,7.03,0,0.00,8,6.25,NaN
1858,2023-2024,District,District,6030,Roxborough High School,Network 4,All Grades,633,19.0,3.00,...,81.99,46,7.27,27,4.27,1,0.16,38,6.00,100.0

6040

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1859,2023-2024,District,District,6040,Walter B. Saul High School,Network 1,09,67,1.0,1.49,...,67.16,10,14.93,3,4.48,0,0.0,9,13.43,NaN
1860,2023-2024,District,District,6040,Walter B. Saul High School,Network 1,10,118,0.0,0.00,...,60.17,17,14.41,8,6.78,0,0.0,19,16.10,NaN
1861,2023-2024,District,District,6040,Walter B. Saul High School,Network 1,11,117,2.0,1.71,...,61.54,9,7.69,9,7.69,0,0.0,25,21.37,NaN
1862,2023-2024,District,District,6040,Walter B. Saul High School,Network 1,12,112,3.0,2.68,...,69.64,15,13.39,1,0.89,0,0.0,17,15.18,NaN
1863,2023-2024,District,District,6040,Walter B. Saul High School,Network 1,All Grades,414,6.0,1.45,...,64.25,51,12.32,21,5.07,0,0.0,70,16.91,100.0

6050

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1864,2023-2024,District,District,6050,Philadelphia High School for Girls,Network 1,09,88,9.0,10.23,...,60.23,10,11.36,6,6.82,0,0.00,4,4.55,NaN
1865,2023-2024,District,District,6050,Philadelphia High School for Girls,Network 1,10,232,14.0,6.03,...,66.81,27,11.64,15,6.47,1,0.43,10,4.31,NaN
1866,2023-2024,District,District,6050,Philadelphia High School for Girls,Network 1,11,185,7.0,3.78,...,70.27,18,9.73,7,3.78,0,0.00,8,4.32,NaN
1867,2023-2024,District,District,6050,Philadelphia High School for Girls,Network 1,12,219,9.0,4.11,...,68.95,20,9.13,9,4.11,0,0.00,10,4.57,NaN
1868,2023-2024,District,District,6050,Philadelphia High School for Girls,Network 1,All Grades,724,39.0,5.39,...,67.54,75,10.36,37,5.11,1,0.14,32,4.42,100.0

6060

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1869,2023-2024,District,District,6060,Martin Luther King High School,Network 4,09,174,2.0,1.15,...,91.95,12,6.90,2,1.15,0,0.0,0,0.00,NaN
1870,2023-2024,District,District,6060,Martin Luther King High School,Network 4,10,138,0.0,0.00,...,92.75,5,3.62,2,1.45,0,0.0,2,1.45,NaN
1871,2023-2024,District,District,6060,Martin Luther King High School,Network 4,11,104,4.0,3.85,...,86.54,8,7.69,0,0.00,0,0.0,3,2.88,NaN
1872,2023-2024,District,District,6060,Martin Luther King High School,Network 4,12,122,7.0,5.74,...,93.44,6,4.92,1,0.82,0,0.0,1,0.82,NaN
1873,2023-2024,District,District,6060,Martin Luther King High School,Network 4,All Grades,538,13.0,2.42,...,91.45,31,5.76,5,0.93,0,0.0,6,1.12,100.0

6090

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1874,2023-2024,District,District,6090,A. Philip Randolph Career and Technical High S...,Network 13,09,178,8.0,4.49,...,81.46,20,11.24,8,4.49,0,0.0,5,2.81,NaN
1875,2023-2024,District,District,6090,A. Philip Randolph Career and Technical High S...,Network 13,10,75,1.0,1.33,...,82.67,9,12.00,3,4.00,0,0.0,0,0.00,NaN
1876,2023-2024,District,District,6090,A. Philip Randolph Career and Technical High S...,Network 13,11,95,4.0,4.21,...,81.05,10,10.53,5,5.26,0,0.0,3,3.16,NaN
1877,2023-2024,District,District,6090,A. Philip Randolph Career and Technical High S...,Network 13,12,88,2.0,2.27,...,81.82,4,4.55,9,10.23,0,0.0,3,3.41,NaN
1878,2023-2024,District,District,6090,A. Philip Randolph Career and Technical High S...,Network 13,All Grades,436,15.0,3.44,...,81.65,43,9.86,25,5.73,0,0.0,11,2.52,100.0

6200

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1879,2023-2024,District,District,6200,Anna B. Day School,Network 12,00,33,1.0,3.03,...,87.88,2,6.06,2,6.06,0,0.00,0,0.00,NaN
1880,2023-2024,District,District,6200,Anna B. Day School,Network 12,01,38,0.0,0.00,...,89.47,1,2.63,2,5.26,1,2.63,0,0.00,NaN
1881,2023-2024,District,District,6200,Anna B. Day School,Network 12,02,40,1.0,2.50,...,90.00,2,5.00,1,2.50,0,0.00,0,0.00,NaN
1882,2023-2024,District,District,6200,Anna B. Day School,Network 12,03,26,0.0,0.00,...,84.62,1,3.85,3,11.54,0,0.00,0,0.00,NaN
1883,2023-2024,District,District,6200,Anna B. Day School,Network 12,04,33,0.0,0.00,...,93.94,0,0.00,2,6.06,0,0.00,0,0.00,NaN
1884,2023-2024,District,District,6200,Anna B. Day School,Network 12,05,41,1.0,2.44,...,87.80,2,4.88,1,2.44,0,0.00,1,2.44,NaN
1885,2023-2024,District,District,6200,Anna B. Day School,Network 12,06,37,0.0,0.00,...,97.30,1,2.70,0,0.00,0,0.00,0,0.00,NaN
1886,2023-2024,District,District,6200,Anna B. Day School,Network 12,07,48,0.0,0.00,...,93.75,1,2.08,1,2.08,0,0.00,1,2.08,NaN
1887,2023-2024,District,District,6200,Anna B. Day School,Network 12,08,40,0.0,0.00,...,87.50,1,2.50,4,10.00,0,0.00,0,0.00,NaN
1888,2023-2024,District,District,6200,Anna B. Day School,Network 12,All Grades,336,3.0,0.89,...,90.48,11,3.27,16,4.76,1,0.30,2,0.60,100.0

6210

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1889,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,00,28,1.0,3.57,...,96.43,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1890,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,01,30,0.0,0.00,...,93.33,0,0.00,2,6.67,0,0.0,0,0.0,NaN
1891,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,02,41,0.0,0.00,...,90.24,3,7.32,1,2.44,0,0.0,0,0.0,NaN
1892,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,03,51,0.0,0.00,...,94.12,2,3.92,0,0.00,0,0.0,0,0.0,NaN
1893,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,04,45,0.0,0.00,...,95.56,1,2.22,1,2.22,0,0.0,0,0.0,NaN
1894,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,05,46,0.0,0.00,...,95.65,2,4.35,0,0.00,0,0.0,0,0.0,NaN
1895,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,06,40,2.0,5.00,...,97.50,0,0.00,1,2.50,0,0.0,0,0.0,NaN
1896,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,07,41,0.0,0.00,...,97.56,1,2.44,0,0.00,0,0.0,0,0.0,NaN
1897,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,08,44,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1898,2023-2024,District,District,6210,Franklin S. Edmonds School,Network 6,All Grades,366,3.0,0.82,...,95.63,9,2.46,5,1.37,0,0.0,0,0.0,100.0

6220

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1899,2023-2024,District,District,6220,Eleanor C. Emlen School,Network 6,00,52,1.0,1.92,...,76.92,3,5.77,5,9.62,0,0.0,3,5.77,NaN
1900,2023-2024,District,District,6220,Eleanor C. Emlen School,Network 6,01,49,1.0,2.04,...,91.84,1,2.04,1,2.04,0,0.0,1,2.04,NaN
1901,2023-2024,District,District,6220,Eleanor C. Emlen School,Network 6,02,42,0.0,0.00,...,88.10,2,4.76,2,4.76,0,0.0,0,0.00,NaN
1902,2023-2024,District,District,6220,Eleanor C. Emlen School,Network 6,03,37,0.0,0.00,...,86.49,1,2.70,3,8.11,0,0.0,1,2.70,NaN
1903,2023-2024,District,District,6220,Eleanor C. Emlen School,Network 6,04,57,0.0,0.00,...,87.72,3,5.26,2,3.51,0,0.0,0,0.00,NaN
1904,2023-2024,District,District,6220,Eleanor C. Emlen School,Network 6,05,59,2.0,3.39,...,84.75,5,8.47,3,5.08,0,0.0,0,0.00,NaN
1905,2023-2024,District,District,6220,Eleanor C. Emlen School,Network 6,All Grades,296,4.0,1.35,...,85.81,15,5.07,16,5.41,0,0.0,5,1.69,100.0

6230

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1906,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,00,10,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1907,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,01,9,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1908,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,02,14,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1909,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,03,15,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1910,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,04,19,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1911,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,05,28,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1912,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,06,34,1.0,2.94,...,79.41,5,14.71,1,2.94,0,0.0,0,0.0,NaN
1913,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,07,29,1.0,3.45,...,93.10,1,3.45,1,3.45,0,0.0,0,0.0,NaN
1914,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,08,19,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1915,2023-2024,District,District,6230,Fitler Academics Plus School,Network 6,All Grades,177,2.0,1.13,...,94.92,6,3.39,2,1.13,0,0.0,0,0.0,100.0

6250

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1916,2023-2024,District,District,6250,Charles W. Henry School,Network 6,00,35,0.0,0.00,...,45.71,3,8.57,1,2.86,0,0.00,14,40.00,NaN
1917,2023-2024,District,District,6250,Charles W. Henry School,Network 6,01,68,0.0,0.00,...,30.88,4,5.88,7,10.29,1,1.47,32,47.06,NaN
1918,2023-2024,District,District,6250,Charles W. Henry School,Network 6,02,66,0.0,0.00,...,36.36,2,3.03,10,15.15,0,0.00,29,43.94,NaN
1919,2023-2024,District,District,6250,Charles W. Henry School,Network 6,03,59,0.0,0.00,...,40.68,3,5.08,5,8.47,1,1.69,24,40.68,NaN
1920,2023-2024,District,District,6250,Charles W. Henry School,Network 6,04,69,1.0,1.45,...,46.38,1,1.45,5,7.25,0,0.00,28,40.58,NaN
1921,2023-2024,District,District,6250,Charles W. Henry School,Network 6,05,58,0.0,0.00,...,41.38,5,8.62,4,6.90,0,0.00,25,43.10,NaN
1922,2023-2024,District,District,6250,Charles W. Henry School,Network 6,06,46,0.0,0.00,...,67.39,4,8.70,2,4.35,0,0.00,8,17.39,NaN
1923,2023-2024,District,District,6250,Charles W. Henry School,Network 6,07,51,0.0,0.00,...,64.71,0,0.00,4,7.84,0,0.00,13,25.49,NaN
1924,2023-2024,District,District,6250,Charles W. Henry School,Network 6,08,44,0.0,0.00,...,59.09,3,6.82,4,9.09,0,0.00,10,22.73,NaN
1925,2023-2024,District,District,6250,Charles W. Henry School,Network 6,All Grades,496,1.0,0.20,...,46.57,25,5.04,42,8.47,2,0.40,183,36.90,59.35

6260

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1926,2023-2024,District,District,6260,Henry H. Houston School,Network 6,00,58,0.0,0.00,...,43.10,2,3.45,2,3.45,0,0.0,29,50.00,NaN
1927,2023-2024,District,District,6260,Henry H. Houston School,Network 6,01,50,2.0,4.00,...,54.00,5,10.00,3,6.00,0,0.0,14,28.00,NaN
1928,2023-2024,District,District,6260,Henry H. Houston School,Network 6,02,43,0.0,0.00,...,46.51,2,4.65,2,4.65,0,0.0,17,39.53,NaN
1929,2023-2024,District,District,6260,Henry H. Houston School,Network 6,03,37,0.0,0.00,...,59.46,1,2.70,0,0.00,0,0.0,14,37.84,NaN
1930,2023-2024,District,District,6260,Henry H. Houston School,Network 6,04,54,0.0,0.00,...,66.67,1,1.85,3,5.56,0,0.0,14,25.93,NaN
1931,2023-2024,District,District,6260,Henry H. Houston School,Network 6,05,31,0.0,0.00,...,77.42,3,9.68,1,3.23,0,0.0,3,9.68,NaN
1932,2023-2024,District,District,6260,Henry H. Houston School,Network 6,06,55,0.0,0.00,...,92.73,1,1.82,0,0.00,0,0.0,3,5.45,NaN
1933,2023-2024,District,District,6260,Henry H. Houston School,Network 6,07,57,0.0,0.00,...,98.25,0,0.00,1,1.75,0,0.0,0,0.00,NaN
1934,2023-2024,District,District,6260,Henry H. Houston School,Network 6,08,34,0.0,0.00,...,94.12,1,2.94,0,0.00,0,0.0,1,2.94,NaN
1935,2023-2024,District,District,6260,Henry H. Houston School,Network 6,All Grades,419,2.0,0.48,...,69.93,16,3.82,12,2.86,0,0.0,95,22.67,79.43

6270

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1936,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,00,32,4.0,12.50,...,65.63,6,18.75,2,6.25,0,0.0,3,9.38,NaN
1937,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,01,46,1.0,2.17,...,63.04,4,8.70,3,6.52,0,0.0,7,15.22,NaN
1938,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,02,57,3.0,5.26,...,68.42,7,12.28,4,7.02,0,0.0,6,10.53,NaN
1939,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,03,35,1.0,2.86,...,80.00,0,0.00,2,5.71,0,0.0,5,14.29,NaN
1940,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,04,53,0.0,0.00,...,83.02,4,7.55,2,3.77,0,0.0,3,5.66,NaN
1941,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,05,48,0.0,0.00,...,83.33,1,2.08,2,4.17,0,0.0,5,10.42,NaN
1942,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,06,48,1.0,2.08,...,83.33,3,6.25,0,0.00,0,0.0,3,6.25,NaN
1943,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,07,37,0.0,0.00,...,91.89,0,0.00,1,2.70,0,0.0,2,5.41,NaN
1944,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,08,29,0.0,0.00,...,93.10,1,3.45,0,0.00,0,0.0,1,3.45,NaN
1945,2023-2024,District,District,6270,Jenks Academy for Arts and Sciences,Network 6,All Grades,385,10.0,2.60,...,78.44,26,6.75,16,4.16,0,0.0,35,9.09,86.86

6300

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1946,2023-2024,District,District,6300,James Logan School,Network 6,00,30,0.0,0.00,...,80.00,3,10.00,2,6.67,0,0.0,1,3.33,NaN
1947,2023-2024,District,District,6300,James Logan School,Network 6,01,46,1.0,2.17,...,82.61,8,17.39,0,0.00,0,0.0,0,0.00,NaN
1948,2023-2024,District,District,6300,James Logan School,Network 6,02,42,2.0,4.76,...,88.10,5,11.90,0,0.00,0,0.0,0,0.00,NaN
1949,2023-2024,District,District,6300,James Logan School,Network 6,03,28,0.0,0.00,...,82.14,4,14.29,0,0.00,0,0.0,1,3.57,NaN
1950,2023-2024,District,District,6300,James Logan School,Network 6,04,43,0.0,0.00,...,86.05,5,11.63,0,0.00,0,0.0,1,2.33,NaN
1951,2023-2024,District,District,6300,James Logan School,Network 6,05,38,2.0,5.26,...,84.21,5,13.16,0,0.00,0,0.0,0,0.00,NaN
1952,2023-2024,District,District,6300,James Logan School,Network 6,All Grades,227,5.0,2.20,...,84.14,30,13.22,2,0.88,0,0.0,3,1.32,100.0

6310

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1953,2023-2024,District,District,6310,John F. McCloskey School,Network 6,00,25,0.0,0.00,...,92.00,2,8.00,0,0.00,0,0.0,0,0.0,NaN
1954,2023-2024,District,District,6310,John F. McCloskey School,Network 6,01,14,0.0,0.00,...,92.86,1,7.14,0,0.00,0,0.0,0,0.0,NaN
1955,2023-2024,District,District,6310,John F. McCloskey School,Network 6,02,25,0.0,0.00,...,92.00,1,4.00,1,4.00,0,0.0,0,0.0,NaN
1956,2023-2024,District,District,6310,John F. McCloskey School,Network 6,03,22,0.0,0.00,...,95.45,1,4.55,0,0.00,0,0.0,0,0.0,NaN
1957,2023-2024,District,District,6310,John F. McCloskey School,Network 6,04,19,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1958,2023-2024,District,District,6310,John F. McCloskey School,Network 6,05,27,1.0,3.70,...,96.30,0,0.00,1,3.70,0,0.0,0,0.0,NaN
1959,2023-2024,District,District,6310,John F. McCloskey School,Network 6,06,32,1.0,3.13,...,93.75,0,0.00,2,6.25,0,0.0,0,0.0,NaN
1960,2023-2024,District,District,6310,John F. McCloskey School,Network 6,07,41,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.0,NaN
1961,2023-2024,District,District,6310,John F. McCloskey School,Network 6,08,44,1.0,2.27,...,93.18,1,2.27,2,4.55,0,0.0,0,0.0,NaN
1962,2023-2024,District,District,6310,John F. McCloskey School,Network 6,All Grades,249,3.0,1.20,...,95.18,6,2.41,6,2.41,0,0.0,0,0.0,100.0

6320

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1963,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,00,53,1.0,1.89,...,45.28,7,13.21,3,5.66,0,0.0,16,30.19,NaN
1964,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,01,53,1.0,1.89,...,41.51,6,11.32,8,15.09,0,0.0,16,30.19,NaN
1965,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,02,48,0.0,0.00,...,62.50,9,18.75,0,0.00,0,0.0,8,16.67,NaN
1966,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,03,37,0.0,0.00,...,62.16,2,5.41,1,2.70,0,0.0,11,29.73,NaN
1967,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,04,46,1.0,2.17,...,58.70,5,10.87,4,8.70,0,0.0,9,19.57,NaN
1968,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,05,36,0.0,0.00,...,75.00,4,11.11,2,5.56,0,0.0,3,8.33,NaN
1969,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,06,28,0.0,0.00,...,75.00,4,14.29,0,0.00,0,0.0,2,7.14,NaN
1970,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,07,31,0.0,0.00,...,74.19,2,6.45,2,6.45,0,0.0,4,12.90,NaN
1971,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,08,27,0.0,0.00,...,85.19,0,0.00,3,11.11,0,0.0,1,3.70,NaN
1972,2023-2024,District,District,6320,Thomas Mifflin School,Network 6,All Grades,359,3.0,0.84,...,61.28,39,10.86,23,6.41,0,0.0,70,19.50,89.58

6340

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1973,2023-2024,District,District,6340,Joseph Pennell School,Network 7,00,41,1.0,2.44,...,95.12,1,2.44,0,0.00,0,0.0,0,0.00,NaN
1974,2023-2024,District,District,6340,Joseph Pennell School,Network 7,01,53,0.0,0.00,...,90.57,2,3.77,1,1.89,0,0.0,1,1.89,NaN
1975,2023-2024,District,District,6340,Joseph Pennell School,Network 7,02,40,1.0,2.50,...,85.00,2,5.00,2,5.00,0,0.0,1,2.50,NaN
1976,2023-2024,District,District,6340,Joseph Pennell School,Network 7,03,57,1.0,1.75,...,84.21,3,5.26,4,7.02,0,0.0,0,0.00,NaN
1977,2023-2024,District,District,6340,Joseph Pennell School,Network 7,04,52,0.0,0.00,...,94.23,3,5.77,0,0.00,0,0.0,0,0.00,NaN
1978,2023-2024,District,District,6340,Joseph Pennell School,Network 7,05,38,0.0,0.00,...,92.11,0,0.00,1,2.63,0,0.0,0,0.00,NaN
1979,2023-2024,District,District,6340,Joseph Pennell School,Network 7,All Grades,281,3.0,1.07,...,90.04,11,3.91,8,2.85,0,0.0,2,0.71,100.0

6350

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1980,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,00,35,1.0,2.86,...,88.57,2,5.71,2,5.71,0,0.0,0,0.00,NaN
1981,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,01,37,4.0,10.81,...,94.59,1,2.70,1,2.70,0,0.0,0,0.00,NaN
1982,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,02,44,1.0,2.27,...,88.64,3,6.82,1,2.27,0,0.0,1,2.27,NaN
1983,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,03,42,1.0,2.38,...,90.48,2,4.76,2,4.76,0,0.0,0,0.00,NaN
1984,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,04,35,1.0,2.86,...,94.29,1,2.86,1,2.86,0,0.0,0,0.00,NaN
1985,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,05,32,1.0,3.13,...,90.63,2,6.25,1,3.13,0,0.0,0,0.00,NaN
1986,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,06,22,1.0,4.55,...,90.91,1,4.55,1,4.55,0,0.0,0,0.00,NaN
1987,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,07,34,1.0,2.94,...,94.12,1,2.94,1,2.94,0,0.0,0,0.00,NaN
1988,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,08,34,1.0,2.94,...,91.18,1,2.94,1,2.94,0,0.0,1,2.94,NaN
1989,2023-2024,District,District,6350,Samuel Pennypacker School,Network 6,All Grades,315,12.0,3.81,...,91.43,14,4.44,11,3.49,0,0.0,2,0.63,100.0

6360

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
1990,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,00,32,0.0,0.00,...,93.75,2,6.25,0,0.00,0,0.00,0,0.00,NaN
1991,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,01,46,0.0,0.00,...,86.96,3,6.52,2,4.35,0,0.00,0,0.00,NaN
1992,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,02,36,0.0,0.00,...,91.67,2,5.56,1,2.78,0,0.00,0,0.00,NaN
1993,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,03,28,0.0,0.00,...,92.86,2,7.14,0,0.00,0,0.00,0,0.00,NaN
1994,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,04,36,1.0,2.78,...,86.11,3,8.33,1,2.78,1,2.78,0,0.00,NaN
1995,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,05,42,0.0,0.00,...,90.48,1,2.38,1,2.38,0,0.00,2,4.76,NaN
1996,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,06,67,0.0,0.00,...,91.04,5,7.46,0,0.00,0,0.00,1,1.49,NaN
1997,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,07,80,1.0,1.25,...,90.00,2,2.50,3,3.75,0,0.00,3,3.75,NaN
1998,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,08,73,0.0,0.00,...,94.52,0,0.00,2,2.74,0,0.00,2,2.74,NaN
1999,2023-2024,District,District,6360,Theodore Roosevelt School,Acceleration,All Grades,440,2.0,0.45,...,90.91,20,4.55,10,2.27,1,0.23,8,1.82,100.0

6380

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2000,2023-2024,District,District,6380,Shawmont School,Network 6,00,51,3.0,5.88,...,39.22,7,13.73,3,5.88,1,1.96,15,29.41,NaN
2001,2023-2024,District,District,6380,Shawmont School,Network 6,01,43,4.0,9.30,...,37.21,5,11.63,6,13.95,0,0.00,15,34.88,NaN
2002,2023-2024,District,District,6380,Shawmont School,Network 6,02,57,3.0,5.26,...,36.84,5,8.77,5,8.77,0,0.00,24,42.11,NaN
2003,2023-2024,District,District,6380,Shawmont School,Network 6,03,46,3.0,6.52,...,43.48,6,13.04,6,13.04,0,0.00,10,21.74,NaN
2004,2023-2024,District,District,6380,Shawmont School,Network 6,04,41,3.0,7.32,...,60.98,4,9.76,2,4.88,0,0.00,7,17.07,NaN
2005,2023-2024,District,District,6380,Shawmont School,Network 6,05,43,2.0,4.65,...,46.51,3,6.98,2,4.65,0,0.00,17,39.53,NaN
2006,2023-2024,District,District,6380,Shawmont School,Network 6,06,49,0.0,0.00,...,55.10,6,12.24,5,10.20,0,0.00,10,20.41,NaN
2007,2023-2024,District,District,6380,Shawmont School,Network 6,07,46,2.0,4.35,...,54.35,5,10.87,2,4.35,0,0.00,12,26.09,NaN
2008,2023-2024,District,District,6380,Shawmont School,Network 6,08,25,3.0,12.00,...,64.00,3,12.00,1,4.00,0,0.00,3,12.00,NaN
2009,2023-2024,District,District,6380,Shawmont School,Network 6,All Grades,401,23.0,5.74,...,47.38,44,10.97,32,7.98,1,0.25,113,28.18,82.19

6390

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2010,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,00,31,1.0,3.23,...,80.65,3,9.68,1,3.23,0,0.0,1,3.23,NaN
2011,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,01,30,1.0,3.33,...,90.00,1,3.33,2,6.67,0,0.0,0,0.00,NaN
2012,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,02,37,3.0,8.11,...,86.49,4,10.81,1,2.70,0,0.0,0,0.00,NaN
2013,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,03,31,0.0,0.00,...,90.32,3,9.68,0,0.00,0,0.0,0,0.00,NaN
2014,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,04,42,1.0,2.38,...,92.86,3,7.14,0,0.00,0,0.0,0,0.00,NaN
2015,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,05,41,0.0,0.00,...,92.68,1,2.44,0,0.00,0,0.0,0,0.00,NaN
2016,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,06,30,0.0,0.00,...,80.00,6,20.00,0,0.00,0,0.0,0,0.00,NaN
2017,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,07,41,1.0,2.44,...,90.24,3,7.32,0,0.00,0,0.0,0,0.00,NaN
2018,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,08,41,0.0,0.00,...,95.12,1,2.44,0,0.00,0,0.0,1,2.44,NaN
2019,2023-2024,District,District,6390,Edward T. Steel School,Acceleration,All Grades,324,7.0,2.16,...,89.20,25,7.72,4,1.23,0,0.0,2,0.62,100.0

6400

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2020,2023-2024,District,District,6400,Widener Memorial School,Network 1,00,4,1.0,25.00,...,25.00,0,0.00,1,25.00,0,0.0,2,50.00,NaN
2021,2023-2024,District,District,6400,Widener Memorial School,Network 1,01,6,1.0,16.67,...,33.33,2,33.33,0,0.00,0,0.0,2,33.33,NaN
2022,2023-2024,District,District,6400,Widener Memorial School,Network 1,02,3,0.0,0.00,...,66.67,1,33.33,0,0.00,0,0.0,0,0.00,NaN
2023,2023-2024,District,District,6400,Widener Memorial School,Network 1,03,4,0.0,0.00,...,25.00,1,25.00,0,0.00,0,0.0,2,50.00,NaN
2024,2023-2024,District,District,6400,Widener Memorial School,Network 1,04,15,1.0,6.67,...,53.33,4,26.67,0,0.00,0,0.0,2,13.33,NaN
2025,2023-2024,District,District,6400,Widener Memorial School,Network 1,05,8,0.0,0.00,...,50.00,2,25.00,1,12.50,0,0.0,1,12.50,NaN
2026,2023-2024,District,District,6400,Widener Memorial School,Network 1,06,12,0.0,0.00,...,50.00,2,16.67,0,0.00,0,0.0,2,16.67,NaN
2027,2023-2024,District,District,6400,Widener Memorial School,Network 1,07,10,0.0,0.00,...,60.00,1,10.00,1,10.00,0,0.0,2,20.00,NaN
2028,2023-2024,District,District,6400,Widener Memorial School,Network 1,08,9,2.0,22.22,...,55.56,2,22.22,1,11.11,0,0.0,1,11.11,NaN
2029,2023-2024,District,District,6400,Widener Memorial School,Network 1,09,10,2.0,20.00,...,40.00,3,30.00,2,20.00,0,0.0,1,10.00,NaN
2030,2023-2024,District,District,6400,Widener Memorial School,Network 1,10,4,0.0,0.00,...,25.00,2,50.00,1,25.00,0,0.0,0,0.00,NaN
2031,2023-2024,District,District,6400,Widener Memorial School,Network 1,11,12,1.0,8.33,...,33.33,1,8.33,7,58.33,0,0.0,0,0.00,NaN
2032,2023-2024,District,District,6400,Widener Memorial School,Network 1,12,40,1.0,2.50,...,47.50,5,12.50,12,30.00,0,0.0,3,7.50,NaN
2033,2023-2024,District,District,6400,Widener Memorial School,Network 1,All Grades,137,9.0,6.57,...,45.99,26,18.98,26,18.98,0,0.0,18,13.14,100.0

6410

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2034,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,00,42,1.0,2.38,...,28.57,3,7.14,8,19.05,0,0.00,19,45.24,NaN
2035,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,01,46,3.0,6.52,...,17.39,6,13.04,2,4.35,0,0.00,27,58.70,NaN
2036,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,02,52,1.0,1.92,...,28.85,6,11.54,7,13.46,0,0.00,23,44.23,NaN
2037,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,03,47,3.0,6.38,...,29.79,6,12.77,7,14.89,1,2.13,19,40.43,NaN
2038,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,04,38,0.0,0.00,...,34.21,5,13.16,3,7.89,0,0.00,17,44.74,NaN
2039,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,05,43,2.0,4.65,...,39.53,5,11.63,6,13.95,0,0.00,15,34.88,NaN
2040,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,06,39,3.0,7.69,...,33.33,5,12.82,3,7.69,0,0.00,18,46.15,NaN
2041,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,07,50,4.0,8.00,...,44.00,6,12.00,6,12.00,0,0.00,15,30.00,NaN
2042,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,08,39,0.0,0.00,...,51.28,2,5.13,5,12.82,0,0.00,12,30.77,NaN
2043,2023-2024,District,District,6410,Cook-Wissahickon School,Network 6,All Grades,396,17.0,4.29,...,33.84,44,11.11,47,11.87,1,0.25,165,41.67,80.4

6440

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2044,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,00,46,1.0,2.17,...,60.87,4,8.70,0,0.00,0,0.0,14,30.43,NaN
2045,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,01,41,1.0,2.44,...,58.54,5,12.20,3,7.32,0,0.0,9,21.95,NaN
2046,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,02,22,1.0,4.55,...,77.27,1,4.55,1,4.55,0,0.0,2,9.09,NaN
2047,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,03,45,3.0,6.67,...,64.44,4,8.89,1,2.22,0,0.0,11,24.44,NaN
2048,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,04,33,2.0,6.06,...,69.70,1,3.03,1,3.03,0,0.0,7,21.21,NaN
2049,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,05,32,1.0,3.13,...,87.50,0,0.00,0,0.00,0,0.0,4,12.50,NaN
2050,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,06,36,4.0,11.11,...,83.33,3,8.33,1,2.78,0,0.0,1,2.78,NaN
2051,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,07,37,3.0,8.11,...,91.89,1,2.70,0,0.00,0,0.0,2,5.41,NaN
2052,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,08,40,3.0,7.50,...,90.00,1,2.50,0,0.00,0,0.0,2,5.00,NaN
2053,2023-2024,District,District,6440,Anna L. Lingelbach School,Network 6,All Grades,332,19.0,5.72,...,75.00,20,6.02,7,2.11,0,0.0,52,15.66,100.0

6450

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2054,2023-2024,District,District,6450,James Dobson School,Network 6,00,29,0.0,0.00,...,24.14,2,6.90,3,10.34,0,0.0,16,55.17,NaN
2055,2023-2024,District,District,6450,James Dobson School,Network 6,01,32,0.0,0.00,...,31.25,3,9.38,2,6.25,0,0.0,16,50.00,NaN
2056,2023-2024,District,District,6450,James Dobson School,Network 6,02,22,0.0,0.00,...,22.73,1,4.55,4,18.18,0,0.0,12,54.55,NaN
2057,2023-2024,District,District,6450,James Dobson School,Network 6,03,31,1.0,3.23,...,19.35,4,12.90,4,12.90,0,0.0,16,51.61,NaN
2058,2023-2024,District,District,6450,James Dobson School,Network 6,04,13,0.0,0.00,...,46.15,2,15.38,0,0.00,0,0.0,5,38.46,NaN
2059,2023-2024,District,District,6450,James Dobson School,Network 6,05,29,0.0,0.00,...,37.93,4,13.79,3,10.34,0,0.0,11,37.93,NaN
2060,2023-2024,District,District,6450,James Dobson School,Network 6,06,26,0.0,0.00,...,23.08,4,15.38,5,19.23,0,0.0,11,42.31,NaN
2061,2023-2024,District,District,6450,James Dobson School,Network 6,07,22,0.0,0.00,...,36.36,2,9.09,1,4.55,0,0.0,10,45.45,NaN
2062,2023-2024,District,District,6450,James Dobson School,Network 6,08,26,0.0,0.00,...,42.31,0,0.00,0,0.00,0,0.0,15,57.69,NaN
2063,2023-2024,District,District,6450,James Dobson School,Network 6,All Grades,230,1.0,0.43,...,30.43,22,9.57,22,9.57,0,0.0,112,48.70,70.26

6460

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2064,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,06,55,0.0,0.00,...,83.64,6,10.91,1,1.82,0,0.0,0,0.00,NaN
2065,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,07,76,2.0,2.63,...,89.47,1,1.32,4,5.26,0,0.0,1,1.32,NaN
2066,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,08,63,1.0,1.59,...,88.89,4,6.35,1,1.59,0,0.0,2,3.17,NaN
2067,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,09,59,2.0,3.39,...,88.14,4,6.78,0,0.00,0,0.0,3,5.08,NaN
2068,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,10,89,1.0,1.12,...,85.39,4,4.49,4,4.49,0,0.0,2,2.25,NaN
2069,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,11,100,0.0,0.00,...,82.00,5,5.00,10,10.00,0,0.0,2,2.00,NaN
2070,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,12,143,8.0,5.59,...,72.03,11,7.69,17,11.89,0,0.0,6,4.20,NaN
2071,2023-2024,District,District,6460,Hill-Freedman World Academy,Network 1,All Grades,585,14.0,2.39,...,82.56,35,5.98,37,6.32,0,0.0,16,2.74,100.0

6470

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2072,2023-2024,District,District,6470,John B. Kelly School,Network 6,00,60,0.0,0.0,...,85.00,3,5.00,2,3.33,0,0.0,3,5.00,NaN
2073,2023-2024,District,District,6470,John B. Kelly School,Network 6,01,50,0.0,0.0,...,88.00,1,2.00,1,2.00,0,0.0,3,6.00,NaN
2074,2023-2024,District,District,6470,John B. Kelly School,Network 6,02,66,0.0,0.0,...,87.88,7,10.61,1,1.52,0,0.0,0,0.00,NaN
2075,2023-2024,District,District,6470,John B. Kelly School,Network 6,03,60,0.0,0.0,...,90.00,1,1.67,3,5.00,0,0.0,2,3.33,NaN
2076,2023-2024,District,District,6470,John B. Kelly School,Network 6,04,59,0.0,0.0,...,96.61,0,0.00,0,0.00,0,0.0,1,1.69,NaN
2077,2023-2024,District,District,6470,John B. Kelly School,Network 6,05,57,0.0,0.0,...,94.74,2,3.51,1,1.75,0,0.0,0,0.00,NaN
2078,2023-2024,District,District,6470,John B. Kelly School,Network 6,All Grades,352,0.0,0.0,...,90.34,14,3.98,8,2.27,0,0.0,9,2.56,100.0

6480

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2079,2023-2024,District,District,6480,Academy for the Middle Years at Northwest,Network 6,06,24,0.0,0.00,...,70.83,2,8.33,3,12.50,0,0.0,0,0.00,NaN
2080,2023-2024,District,District,6480,Academy for the Middle Years at Northwest,Network 6,07,57,1.0,1.75,...,80.70,6,10.53,3,5.26,0,0.0,2,3.51,NaN
2081,2023-2024,District,District,6480,Academy for the Middle Years at Northwest,Network 6,08,53,0.0,0.00,...,88.68,4,7.55,2,3.77,0,0.0,0,0.00,NaN
2082,2023-2024,District,District,6480,Academy for the Middle Years at Northwest,Network 6,All Grades,134,1.0,0.75,...,82.09,12,8.96,8,5.97,0,0.0,2,1.49,100.0

6540

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2083,2023-2024,District,District,6540,Lankenau High School,Network 1,09,31,0.0,0.00,...,90.32,0,0.00,3,9.68,0,0.0,0,0.00,NaN
2084,2023-2024,District,District,6540,Lankenau High School,Network 1,10,82,1.0,1.22,...,87.80,3,3.66,3,3.66,0,0.0,4,4.88,NaN
2085,2023-2024,District,District,6540,Lankenau High School,Network 1,11,57,0.0,0.00,...,87.72,5,8.77,1,1.75,0,0.0,0,0.00,NaN
2086,2023-2024,District,District,6540,Lankenau High School,Network 1,12,91,1.0,1.10,...,92.31,4,4.40,1,1.10,0,0.0,1,1.10,NaN
2087,2023-2024,District,District,6540,Lankenau High School,Network 1,All Grades,261,2.0,0.77,...,89.66,12,4.60,8,3.07,0,0.0,5,1.92,100.0

7010

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2088,2023-2024,District,District,7010,Frankford High School,Network 4,09,203,43.0,21.18,...,42.36,88,43.35,10,4.93,1,0.49,12,5.91,NaN
2089,2023-2024,District,District,7010,Frankford High School,Network 4,10,268,84.0,31.34,...,38.06,132,49.25,14,5.22,0,0.00,18,6.72,NaN
2090,2023-2024,District,District,7010,Frankford High School,Network 4,11,207,57.0,27.54,...,43.48,93,44.93,11,5.31,0,0.00,11,5.31,NaN
2091,2023-2024,District,District,7010,Frankford High School,Network 4,12,183,53.0,28.96,...,37.70,89,48.63,6,3.28,1,0.55,12,6.56,NaN
2092,2023-2024,District,District,7010,Frankford High School,Network 4,All Grades,861,237.0,27.53,...,40.30,402,46.69,41,4.76,2,0.23,53,6.16,100.0

7060

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2093,2023-2024,District,District,7060,Olney High School,Network 4,09,311,119.0,38.26,...,37.62,170,54.66,9,2.89,1,0.32,3,0.96,NaN
2094,2023-2024,District,District,7060,Olney High School,Network 4,10,311,127.0,40.84,...,37.30,161,51.77,14,4.50,1,0.32,3,0.96,NaN
2095,2023-2024,District,District,7060,Olney High School,Network 4,11,345,115.0,33.33,...,37.68,183,53.04,13,3.77,0,0.00,2,0.58,NaN
2096,2023-2024,District,District,7060,Olney High School,Network 4,12,248,80.0,32.26,...,35.48,134,54.03,6,2.42,0,0.00,2,0.81,NaN
2097,2023-2024,District,District,7060,Olney High School,Network 4,All Grades,1215,441.0,36.30,...,37.12,648,53.33,42,3.46,2,0.16,10,0.82,100.0

7061

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2098,2023-2024,Alternative,Alt Contracted,7061,Olney HS Continuation Academy,Opportunity,10,5,1.0,20.00,...,40.00,2,40.00,1,20.00,0,0.0,0,0.00,NaN
2099,2023-2024,Alternative,Alt Contracted,7061,Olney HS Continuation Academy,Opportunity,11,8,1.0,12.50,...,75.00,1,12.50,0,0.00,0,0.0,1,12.50,NaN
2100,2023-2024,Alternative,Alt Contracted,7061,Olney HS Continuation Academy,Opportunity,12,9,0.0,0.00,...,77.78,2,22.22,0,0.00,0,0.0,0,0.00,NaN
2101,2023-2024,Alternative,Alt Contracted,7061,Olney HS Continuation Academy,Opportunity,All Grades,22,2.0,9.09,...,68.18,5,22.73,1,4.55,0,0.0,1,4.55,50.91

7100

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2102,2023-2024,District,District,7100,Jay Cooke School,Acceleration,00,39,2.0,5.13,...,89.74,3,7.69,0,0.00,0,0.0,0,0.00,NaN
2103,2023-2024,District,District,7100,Jay Cooke School,Acceleration,01,36,3.0,8.33,...,80.56,6,16.67,0,0.00,0,0.0,0,0.00,NaN
2104,2023-2024,District,District,7100,Jay Cooke School,Acceleration,02,44,3.0,6.82,...,81.82,7,15.91,0,0.00,0,0.0,0,0.00,NaN
2105,2023-2024,District,District,7100,Jay Cooke School,Acceleration,03,33,2.0,6.06,...,81.82,4,12.12,2,6.06,0,0.0,0,0.00,NaN
2106,2023-2024,District,District,7100,Jay Cooke School,Acceleration,04,41,3.0,7.32,...,82.93,4,9.76,1,2.44,0,0.0,1,2.44,NaN
2107,2023-2024,District,District,7100,Jay Cooke School,Acceleration,05,44,4.0,9.09,...,81.82,6,13.64,2,4.55,0,0.0,0,0.00,NaN
2108,2023-2024,District,District,7100,Jay Cooke School,Acceleration,06,51,6.0,11.76,...,74.51,11,21.57,1,1.96,0,0.0,1,1.96,NaN
2109,2023-2024,District,District,7100,Jay Cooke School,Acceleration,07,49,3.0,6.12,...,85.71,4,8.16,2,4.08,0,0.0,1,2.04,NaN
2110,2023-2024,District,District,7100,Jay Cooke School,Acceleration,08,60,6.0,10.00,...,76.67,4,6.67,10,16.67,0,0.0,0,0.00,NaN
2111,2023-2024,District,District,7100,Jay Cooke School,Acceleration,All Grades,397,32.0,8.06,...,81.36,49,12.34,18,4.53,0,0.0,3,0.76,100.0

7110

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2112,2023-2024,District,District,7110,Warren G. Harding School,Network 8,06,192,32.0,16.67,...,49.48,74,38.54,7,3.65,0,0.0,14,7.29,NaN
2113,2023-2024,District,District,7110,Warren G. Harding School,Network 8,07,185,45.0,24.32,...,46.49,71,38.38,12,6.49,0,0.0,12,6.49,NaN
2114,2023-2024,District,District,7110,Warren G. Harding School,Network 8,08,226,62.0,27.43,...,44.69,94,41.59,12,5.31,0,0.0,14,6.19,NaN
2115,2023-2024,District,District,7110,Warren G. Harding School,Network 8,All Grades,603,139.0,23.05,...,46.77,239,39.64,31,5.14,0,0.0,40,6.63,100.0

7120

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2116,2023-2024,District,District,7120,Samuel Fels High School,Network 13,09,354,141.0,39.83,...,35.88,173,48.87,13,3.67,7,1.98,10,2.82,NaN
2117,2023-2024,District,District,7120,Samuel Fels High School,Network 13,10,360,163.0,45.28,...,36.67,166,46.11,13,3.61,6,1.67,19,5.28,NaN
2118,2023-2024,District,District,7120,Samuel Fels High School,Network 13,11,278,111.0,39.93,...,40.29,123,44.24,13,4.68,3,1.08,7,2.52,NaN
2119,2023-2024,District,District,7120,Samuel Fels High School,Network 13,12,246,92.0,37.40,...,42.28,98,39.84,4,1.63,0,0.00,13,5.28,NaN
2120,2023-2024,District,District,7120,Samuel Fels High School,Network 13,All Grades,1238,507.0,40.95,...,38.37,560,45.23,43,3.47,16,1.29,49,3.96,100.0

7130

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2121,2023-2024,District,District,7130,General Louis Wagner School,Network 12,06,86,1.0,1.16,...,94.19,4,4.65,0,0.00,0,0.0,1,1.16,NaN
2122,2023-2024,District,District,7130,General Louis Wagner School,Network 12,07,113,1.0,0.88,...,92.92,3,2.65,3,2.65,0,0.0,2,1.77,NaN
2123,2023-2024,District,District,7130,General Louis Wagner School,Network 12,08,105,7.0,6.67,...,92.38,6,5.71,2,1.90,0,0.0,0,0.00,NaN
2124,2023-2024,District,District,7130,General Louis Wagner School,Network 12,All Grades,304,9.0,2.96,...,93.09,13,4.28,5,1.64,0,0.0,3,0.99,100.0

7150

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2125,2023-2024,District,District,7150,Juniata Park Academy,Network 5,00,86,31.0,36.05,...,9.30,67,77.91,1,1.16,2,2.33,4,4.65,NaN
2126,2023-2024,District,District,7150,Juniata Park Academy,Network 5,01,81,29.0,35.80,...,9.88,59,72.84,2,2.47,0,0.00,5,6.17,NaN
2127,2023-2024,District,District,7150,Juniata Park Academy,Network 5,02,97,23.0,23.71,...,10.31,77,79.38,0,0.00,1,1.03,4,4.12,NaN
2128,2023-2024,District,District,7150,Juniata Park Academy,Network 5,03,96,38.0,39.58,...,5.21,80,83.33,1,1.04,0,0.00,3,3.13,NaN
2129,2023-2024,District,District,7150,Juniata Park Academy,Network 5,04,100,33.0,33.00,...,10.00,76,76.00,1,1.00,0,0.00,2,2.00,NaN
2130,2023-2024,District,District,7150,Juniata Park Academy,Network 5,05,99,29.0,29.29,...,10.10,80,80.81,0,0.00,0,0.00,4,4.04,NaN
2131,2023-2024,District,District,7150,Juniata Park Academy,Network 5,06,111,25.0,22.52,...,9.01,82,73.87,3,2.70,0,0.00,8,7.21,NaN
2132,2023-2024,District,District,7150,Juniata Park Academy,Network 5,07,91,32.0,35.16,...,19.78,58,63.74,4,4.40,0,0.00,0,0.00,NaN
2133,2023-2024,District,District,7150,Juniata Park Academy,Network 5,08,105,31.0,29.52,...,8.57,79,75.24,1,0.95,0,0.00,2,1.90,NaN
2134,2023-2024,District,District,7150,Juniata Park Academy,Network 5,All Grades,866,271.0,31.29,...,10.16,658,75.98,13,1.50,3,0.35,32,3.70,100.0

7200

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2135,2023-2024,District,District,7200,Clara Barton School,Network 7,00,164,61.0,37.20,...,15.85,124,75.61,6,3.66,0,0.00,6,3.66,NaN
2136,2023-2024,District,District,7200,Clara Barton School,Network 7,01,170,70.0,41.18,...,19.41,126,74.12,1,0.59,0,0.00,8,4.71,NaN
2137,2023-2024,District,District,7200,Clara Barton School,Network 7,02,172,64.0,37.21,...,19.19,123,71.51,6,3.49,1,0.58,5,2.91,NaN
2138,2023-2024,District,District,7200,Clara Barton School,Network 7,All Grades,506,195.0,38.54,...,18.18,373,73.72,13,2.57,1,0.20,19,3.75,93.28

7220

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2139,2023-2024,District,District,7220,Laura H. Carnell School,Network 9,00,94,34.0,36.17,...,45.74,41,43.62,3,3.19,1,1.06,2,2.13,NaN
2140,2023-2024,District,District,7220,Laura H. Carnell School,Network 9,01,113,49.0,43.36,...,36.28,62,54.87,4,3.54,1,0.88,3,2.65,NaN
2141,2023-2024,District,District,7220,Laura H. Carnell School,Network 9,02,127,40.0,31.50,...,47.24,56,44.09,2,1.57,1,0.79,6,4.72,NaN
2142,2023-2024,District,District,7220,Laura H. Carnell School,Network 9,03,114,48.0,42.11,...,43.86,49,42.98,2,1.75,1,0.88,8,7.02,NaN
2143,2023-2024,District,District,7220,Laura H. Carnell School,Network 9,04,100,30.0,30.00,...,51.00,43,43.00,0,0.00,0,0.00,5,5.00,NaN
2144,2023-2024,District,District,7220,Laura H. Carnell School,Network 9,05,95,34.0,35.79,...,50.53,38,40.00,0,0.00,1,1.05,6,6.32,NaN
2145,2023-2024,District,District,7220,Laura H. Carnell School,Network 9,All Grades,643,235.0,36.55,...,45.57,289,44.95,11,1.71,5,0.78,30,4.67,100.0

7260

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2146,2023-2024,District,District,7260,Ellwood School,Network 7,00,40,1.0,2.50,...,95.00,2,5.00,0,0.00,0,0.0,0,0.0,NaN
2147,2023-2024,District,District,7260,Ellwood School,Network 7,01,42,2.0,4.76,...,85.71,3,7.14,3,7.14,0,0.0,0,0.0,NaN
2148,2023-2024,District,District,7260,Ellwood School,Network 7,02,36,0.0,0.00,...,88.89,1,2.78,2,5.56,0,0.0,0,0.0,NaN
2149,2023-2024,District,District,7260,Ellwood School,Network 7,03,42,2.0,4.76,...,92.86,2,4.76,1,2.38,0,0.0,0,0.0,NaN
2150,2023-2024,District,District,7260,Ellwood School,Network 7,04,56,1.0,1.79,...,89.29,2,3.57,4,7.14,0,0.0,0,0.0,NaN
2151,2023-2024,District,District,7260,Ellwood School,Network 7,05,55,2.0,3.64,...,83.64,4,7.27,2,3.64,0,0.0,0,0.0,NaN
2152,2023-2024,District,District,7260,Ellwood School,Network 7,All Grades,271,8.0,2.95,...,88.93,14,5.17,12,4.43,0,0.0,0,0.0,100.0

7270

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2153,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,00,64,7.0,10.94,...,56.25,22,34.38,2,3.13,0,0.0,1,1.56,NaN
2154,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,01,57,6.0,10.53,...,64.91,15,26.32,3,5.26,0,0.0,0,0.00,NaN
2155,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,02,55,9.0,16.36,...,69.09,13,23.64,1,1.82,0,0.0,0,0.00,NaN
2156,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,03,63,6.0,9.52,...,66.67,14,22.22,2,3.17,0,0.0,0,0.00,NaN
2157,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,04,70,8.0,11.43,...,74.29,12,17.14,2,2.86,0,0.0,0,0.00,NaN
2158,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,05,74,7.0,9.46,...,77.03,11,14.86,1,1.35,0,0.0,0,0.00,NaN
2159,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,06,85,10.0,11.76,...,68.24,18,21.18,1,1.18,0,0.0,1,1.18,NaN
2160,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,07,74,5.0,6.76,...,66.22,11,14.86,2,2.70,0,0.0,1,1.35,NaN
2161,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,08,90,10.0,11.11,...,71.11,13,14.44,5,5.56,0,0.0,0,0.00,NaN
2162,2023-2024,District,District,7270,Thomas K. Finletter School,Network 7,All Grades,632,68.0,10.76,...,68.51,129,20.41,19,3.01,0,0.0,3,0.47,100.0

7280

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2163,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,00,55,18.0,32.73,...,52.73,18,32.73,4,7.27,1,1.82,0,0.00,NaN
2164,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,01,63,28.0,44.44,...,36.51,33,52.38,3,4.76,0,0.00,2,3.17,NaN
2165,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,02,67,14.0,20.90,...,61.19,19,28.36,3,4.48,0,0.00,1,1.49,NaN
2166,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,03,76,20.0,26.32,...,51.32,31,40.79,2,2.63,0,0.00,0,0.00,NaN
2167,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,04,60,18.0,30.00,...,56.67,21,35.00,2,3.33,0,0.00,1,1.67,NaN
2168,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,05,62,18.0,29.03,...,56.45,21,33.87,1,1.61,0,0.00,2,3.23,NaN
2169,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,06,78,17.0,21.79,...,43.59,34,43.59,4,5.13,0,0.00,3,3.85,NaN
2170,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,07,64,22.0,34.38,...,50.00,24,37.50,2,3.13,0,0.00,0,0.00,NaN
2171,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,08,68,16.0,23.53,...,51.47,27,39.71,1,1.47,1,1.47,1,1.47,NaN
2172,2023-2024,District,District,7280,Benjamin Franklin School,Network 7,All Grades,593,171.0,28.84,...,50.93,228,38.45,22,3.71,2,0.34,10,1.69,100.0

7290

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2173,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,00,31,4.0,12.90,...,45.16,15,48.39,1,3.23,0,0.00,1,3.23,NaN
2174,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,01,34,5.0,14.71,...,52.94,11,32.35,2,5.88,0,0.00,3,8.82,NaN
2175,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,02,49,9.0,18.37,...,42.86,23,46.94,5,10.20,0,0.00,0,0.00,NaN
2176,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,03,45,5.0,11.11,...,53.33,19,42.22,1,2.22,0,0.00,1,2.22,NaN
2177,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,04,46,6.0,13.04,...,34.78,26,56.52,4,8.70,0,0.00,0,0.00,NaN
2178,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,05,53,6.0,11.32,...,58.49,17,32.08,3,5.66,1,1.89,1,1.89,NaN
2179,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,06,59,9.0,15.25,...,52.54,22,37.29,4,6.78,0,0.00,2,3.39,NaN
2180,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,07,31,3.0,9.68,...,45.16,13,41.94,1,3.23,0,0.00,2,6.45,NaN
2181,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,08,38,3.0,7.89,...,57.89,11,28.95,3,7.89,0,0.00,1,2.63,NaN
2182,2023-2024,District,District,7290,Allen M. Stearne School,Network 9,All Grades,386,50.0,12.95,...,49.48,157,40.67,24,6.22,1,0.26,11,2.85,100.0

7300

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2183,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,00,40,14.0,35.00,...,15.00,28,70.00,2,5.00,0,0.00,1,2.50,NaN
2184,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,01,56,14.0,25.00,...,19.64,39,69.64,2,3.57,0,0.00,3,5.36,NaN
2185,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,02,76,23.0,30.26,...,15.79,59,77.63,0,0.00,0,0.00,4,5.26,NaN
2186,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,03,60,21.0,35.00,...,15.00,47,78.33,0,0.00,1,1.67,2,3.33,NaN
2187,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,04,74,15.0,20.27,...,16.22,59,79.73,0,0.00,1,1.35,1,1.35,NaN
2188,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,05,68,20.0,29.41,...,22.06,51,75.00,0,0.00,0,0.00,0,0.00,NaN
2189,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,06,78,19.0,24.36,...,25.64,47,60.26,0,0.00,0,0.00,8,10.26,NaN
2190,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,07,65,19.0,29.23,...,18.46,48,73.85,2,3.08,0,0.00,1,1.54,NaN
2191,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,08,90,23.0,25.56,...,24.44,56,62.22,6,6.67,1,1.11,3,3.33,NaN
2192,2023-2024,District,District,7300,Francis Hopkinson School,Network 5,All Grades,607,168.0,27.68,...,19.60,434,71.50,12,1.98,3,0.49,23,3.79,100.0

7310

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2193,2023-2024,District,District,7310,Feltonville Intermediate School,Network 7,03,166,65.0,39.16,...,21.69,116,69.88,3,1.81,0,0.0,6,3.61,NaN
2194,2023-2024,District,District,7310,Feltonville Intermediate School,Network 7,04,169,46.0,27.22,...,14.79,131,77.51,1,0.59,0,0.0,3,1.78,NaN
2195,2023-2024,District,District,7310,Feltonville Intermediate School,Network 7,05,167,49.0,29.34,...,20.96,123,73.65,0,0.00,0,0.0,6,3.59,NaN
2196,2023-2024,District,District,7310,Feltonville Intermediate School,Network 7,All Grades,502,160.0,31.87,...,19.12,370,73.71,4,0.80,0,0.0,15,2.99,100.0

7320

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2197,2023-2024,District,District,7320,Julia W. Howe School,Network 7,00,34,5.0,14.71,...,85.29,4,11.76,1,2.94,0,0.00,0,0.0,NaN
2198,2023-2024,District,District,7320,Julia W. Howe School,Network 7,01,38,2.0,5.26,...,84.21,2,5.26,2,5.26,1,2.63,0,0.0,NaN
2199,2023-2024,District,District,7320,Julia W. Howe School,Network 7,02,35,4.0,11.43,...,91.43,2,5.71,0,0.00,1,2.86,0,0.0,NaN
2200,2023-2024,District,District,7320,Julia W. Howe School,Network 7,03,41,3.0,7.32,...,85.37,2,4.88,2,4.88,0,0.00,0,0.0,NaN
2201,2023-2024,District,District,7320,Julia W. Howe School,Network 7,04,31,1.0,3.23,...,93.55,1,3.23,0,0.00,0,0.00,0,0.0,NaN
2202,2023-2024,District,District,7320,Julia W. Howe School,Network 7,05,31,1.0,3.23,...,90.32,1,3.23,2,6.45,0,0.00,0,0.0,NaN
2203,2023-2024,District,District,7320,Julia W. Howe School,Network 7,All Grades,210,16.0,7.62,...,88.10,12,5.71,7,3.33,2,0.95,0,0.0,100.0

7330

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2204,2023-2024,District,District,7330,Henry W. Lawton School,Network 9,00,90,16.0,17.78,...,33.33,43,47.78,6,6.67,0,0.00,7,7.78,NaN
2205,2023-2024,District,District,7330,Henry W. Lawton School,Network 9,01,99,24.0,24.24,...,29.29,58,58.59,1,1.01,1,1.01,8,8.08,NaN
2206,2023-2024,District,District,7330,Henry W. Lawton School,Network 9,02,101,18.0,17.82,...,31.68,42,41.58,7,6.93,0,0.00,16,15.84,NaN
2207,2023-2024,District,District,7330,Henry W. Lawton School,Network 9,03,84,12.0,14.29,...,36.90,37,44.05,4,4.76,1,1.19,8,9.52,NaN
2208,2023-2024,District,District,7330,Henry W. Lawton School,Network 9,04,80,12.0,15.00,...,35.00,28,35.00,7,8.75,0,0.00,16,20.00,NaN
2209,2023-2024,District,District,7330,Henry W. Lawton School,Network 9,05,76,16.0,21.05,...,39.47,35,46.05,3,3.95,0,0.00,4,5.26,NaN
2210,2023-2024,District,District,7330,Henry W. Lawton School,Network 9,All Grades,530,98.0,18.49,...,33.96,243,45.85,28,5.28,2,0.38,59,11.13,100.0

7350

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2211,2023-2024,District,District,7350,James R. Lowell School,Network 7,00,103,19.0,18.45,...,66.02,21,20.39,8,7.77,0,0.0,0,0.00,NaN
2212,2023-2024,District,District,7350,James R. Lowell School,Network 7,01,110,19.0,17.27,...,57.27,28,25.45,11,10.00,0,0.0,1,0.91,NaN
2213,2023-2024,District,District,7350,James R. Lowell School,Network 7,02,99,22.0,22.22,...,60.61,23,23.23,4,4.04,0,0.0,3,3.03,NaN
2214,2023-2024,District,District,7350,James R. Lowell School,Network 7,03,87,14.0,16.09,...,60.92,17,19.54,2,2.30,0,0.0,2,2.30,NaN
2215,2023-2024,District,District,7350,James R. Lowell School,Network 7,04,86,12.0,13.95,...,68.60,11,12.79,4,4.65,0,0.0,2,2.33,NaN
2216,2023-2024,District,District,7350,James R. Lowell School,Network 7,All Grades,485,86.0,17.73,...,62.47,100,20.62,29,5.98,0,0.0,8,1.65,100.0

7360

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2217,2023-2024,District,District,7360,John Marshall School,Acceleration,00,44,2.0,4.55,...,50.00,18,40.91,0,0.00,0,0.0,4,9.09,NaN
2218,2023-2024,District,District,7360,John Marshall School,Acceleration,01,40,5.0,12.50,...,50.00,14,35.00,0,0.00,0,0.0,6,15.00,NaN
2219,2023-2024,District,District,7360,John Marshall School,Acceleration,02,37,4.0,10.81,...,43.24,16,43.24,1,2.70,0,0.0,4,10.81,NaN
2220,2023-2024,District,District,7360,John Marshall School,Acceleration,03,37,5.0,13.51,...,54.05,12,32.43,3,8.11,0,0.0,2,5.41,NaN
2221,2023-2024,District,District,7360,John Marshall School,Acceleration,04,43,4.0,9.30,...,51.16,16,37.21,2,4.65,0,0.0,3,6.98,NaN
2222,2023-2024,District,District,7360,John Marshall School,Acceleration,05,37,5.0,13.51,...,62.16,13,35.14,0,0.00,0,0.0,1,2.70,NaN
2223,2023-2024,District,District,7360,John Marshall School,Acceleration,All Grades,238,25.0,10.50,...,51.68,89,37.39,6,2.52,0,0.0,20,8.40,100.0

7370

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2224,2023-2024,District,District,7370,"Grover Washington, Jr. School",Network 12,05,74,17.0,22.97,...,60.81,13,17.57,1,1.35,0,0.00,2,2.70,NaN
2225,2023-2024,District,District,7370,"Grover Washington, Jr. School",Network 12,06,138,24.0,17.39,...,70.29,25,18.12,0,0.00,1,0.72,3,2.17,NaN
2226,2023-2024,District,District,7370,"Grover Washington, Jr. School",Network 12,07,108,20.0,18.52,...,67.59,21,19.44,4,3.70,1,0.93,1,0.93,NaN
2227,2023-2024,District,District,7370,"Grover Washington, Jr. School",Network 12,08,109,18.0,16.51,...,59.63,19,17.43,10,9.17,0,0.00,3,2.75,NaN
2228,2023-2024,District,District,7370,"Grover Washington, Jr. School",Network 12,All Grades,429,79.0,18.41,...,65.27,78,18.18,15,3.50,2,0.47,9,2.10,100.0

7380

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2229,2023-2024,District,District,7380,Alexander K. McClure School,Network 11,00,63,24.0,38.10,...,33.33,42,66.67,0,0.00,0,0.0,0,0.00,NaN
2230,2023-2024,District,District,7380,Alexander K. McClure School,Network 11,01,71,31.0,43.66,...,21.13,55,77.46,0,0.00,0,0.0,0,0.00,NaN
2231,2023-2024,District,District,7380,Alexander K. McClure School,Network 11,02,78,25.0,32.05,...,28.21,56,71.79,0,0.00,0,0.0,0,0.00,NaN
2232,2023-2024,District,District,7380,Alexander K. McClure School,Network 11,03,67,25.0,37.31,...,34.33,41,61.19,2,2.99,0,0.0,1,1.49,NaN
2233,2023-2024,District,District,7380,Alexander K. McClure School,Network 11,04,66,14.0,21.21,...,24.24,48,72.73,0,0.00,0,0.0,2,3.03,NaN
2234,2023-2024,District,District,7380,Alexander K. McClure School,Network 11,05,74,16.0,21.62,...,35.14,47,63.51,0,0.00,0,0.0,1,1.35,NaN
2235,2023-2024,District,District,7380,Alexander K. McClure School,Network 11,All Grades,419,135.0,32.22,...,29.36,289,68.97,2,0.48,0,0.0,4,0.95,100.0

7390

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2236,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,00,42,5.0,11.90,...,47.62,18,42.86,2,4.76,0,0.0,0,0.00,NaN
2237,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,01,61,11.0,18.03,...,40.98,32,52.46,1,1.64,0,0.0,1,1.64,NaN
2238,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,02,51,12.0,23.53,...,47.06,23,45.10,2,3.92,0,0.0,0,0.00,NaN
2239,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,03,56,19.0,33.93,...,48.21,26,46.43,1,1.79,0,0.0,0,0.00,NaN
2240,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,04,53,11.0,20.75,...,47.17,25,47.17,0,0.00,0,0.0,1,1.89,NaN
2241,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,05,67,15.0,22.39,...,47.76,27,40.30,2,2.99,0,0.0,0,0.00,NaN
2242,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,06,66,8.0,12.12,...,65.15,21,31.82,0,0.00,0,0.0,2,3.03,NaN
2243,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,07,66,13.0,19.70,...,50.00,27,40.91,2,3.03,0,0.0,0,0.00,NaN
2244,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,08,67,13.0,19.40,...,55.22,27,40.30,3,4.48,0,0.0,0,0.00,NaN
2245,2023-2024,District,District,7390,Andrew J. Morrison School,Network 7,All Grades,529,107.0,20.23,...,50.28,226,42.72,13,2.46,0,0.0,4,0.76,100.0

7400

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2246,2023-2024,District,District,7400,Olney School,Network 7,00,57,15.0,26.32,...,47.37,23,40.35,1,1.75,0,0.0,0,0.00,NaN
2247,2023-2024,District,District,7400,Olney School,Network 7,01,73,16.0,21.92,...,45.21,28,38.36,2,2.74,0,0.0,0,0.00,NaN
2248,2023-2024,District,District,7400,Olney School,Network 7,02,76,26.0,34.21,...,38.16,37,48.68,1,1.32,0,0.0,1,1.32,NaN
2249,2023-2024,District,District,7400,Olney School,Network 7,03,82,42.0,51.22,...,39.02,37,45.12,0,0.00,0,0.0,0,0.00,NaN
2250,2023-2024,District,District,7400,Olney School,Network 7,04,64,21.0,32.81,...,32.81,32,50.00,2,3.13,0,0.0,1,1.56,NaN
2251,2023-2024,District,District,7400,Olney School,Network 7,05,79,26.0,32.91,...,51.90,25,31.65,0,0.00,0,0.0,1,1.27,NaN
2252,2023-2024,District,District,7400,Olney School,Network 7,06,89,30.0,33.71,...,34.83,49,55.06,1,1.12,0,0.0,1,1.12,NaN
2253,2023-2024,District,District,7400,Olney School,Network 7,07,76,26.0,34.21,...,40.79,36,47.37,4,5.26,0,0.0,1,1.32,NaN
2254,2023-2024,District,District,7400,Olney School,Network 7,08,98,22.0,22.45,...,43.88,31,31.63,8,8.16,0,0.0,0,0.00,NaN
2255,2023-2024,District,District,7400,Olney School,Network 7,All Grades,694,224.0,32.28,...,41.50,298,42.94,19,2.74,0,0.0,5,0.72,100.0

7430

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2256,2023-2024,District,District,7430,James J. Sullivan School,Acceleration,00,56,6.0,10.71,...,28.57,27,48.21,5,8.93,0,0.0,6,10.71,NaN
2257,2023-2024,District,District,7430,James J. Sullivan School,Acceleration,01,68,10.0,14.71,...,45.59,27,39.71,1,1.47,0,0.0,9,13.24,NaN
2258,2023-2024,District,District,7430,James J. Sullivan School,Acceleration,02,64,6.0,9.38,...,40.63,31,48.44,2,3.13,0,0.0,3,4.69,NaN
2259,2023-2024,District,District,7430,James J. Sullivan School,Acceleration,03,62,16.0,25.81,...,48.39,25,40.32,0,0.00,0,0.0,7,11.29,NaN
2260,2023-2024,District,District,7430,James J. Sullivan School,Acceleration,04,60,8.0,13.33,...,48.33,21,35.00,4,6.67,0,0.0,5,8.33,NaN
2261,2023-2024,District,District,7430,James J. Sullivan School,Acceleration,05,75,13.0,17.33,...,44.00,30,40.00,2,2.67,0,0.0,10,13.33,NaN
2262,2023-2024,District,District,7430,James J. Sullivan School,Acceleration,All Grades,385,59.0,15.32,...,42.86,161,41.82,14,3.64,0,0.0,40,10.39,100.0

7440

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2263,2023-2024,District,District,7440,Bayard Taylor School,Network 11,00,56,13.0,23.21,...,21.43,43,76.79,1,1.79,0,0.0,0,0.00,NaN
2264,2023-2024,District,District,7440,Bayard Taylor School,Network 11,01,77,28.0,36.36,...,12.99,67,87.01,0,0.00,0,0.0,0,0.00,NaN
2265,2023-2024,District,District,7440,Bayard Taylor School,Network 11,02,71,24.0,33.80,...,15.49,58,81.69,2,2.82,0,0.0,0,0.00,NaN
2266,2023-2024,District,District,7440,Bayard Taylor School,Network 11,03,66,22.0,33.33,...,10.61,57,86.36,0,0.00,0,0.0,1,1.52,NaN
2267,2023-2024,District,District,7440,Bayard Taylor School,Network 11,04,66,22.0,33.33,...,12.12,58,87.88,0,0.00,0,0.0,0,0.00,NaN
2268,2023-2024,District,District,7440,Bayard Taylor School,Network 11,05,51,18.0,35.29,...,11.76,42,82.35,1,1.96,0,0.0,2,3.92,NaN
2269,2023-2024,District,District,7440,Bayard Taylor School,Network 11,All Grades,387,127.0,32.82,...,13.95,325,83.98,4,1.03,0,0.0,3,0.78,100.0

7460

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2270,2023-2024,District,District,7460,William H. Ziegler School,Network 9,00,53,19.0,35.85,...,33.96,27,50.94,1,1.89,0,0.00,3,5.66,NaN
2271,2023-2024,District,District,7460,William H. Ziegler School,Network 9,01,58,17.0,29.31,...,43.10,28,48.28,2,3.45,0,0.00,2,3.45,NaN
2272,2023-2024,District,District,7460,William H. Ziegler School,Network 9,02,66,24.0,36.36,...,25.76,40,60.61,3,4.55,0,0.00,4,6.06,NaN
2273,2023-2024,District,District,7460,William H. Ziegler School,Network 9,03,46,17.0,36.96,...,36.96,22,47.83,1,2.17,0,0.00,3,6.52,NaN
2274,2023-2024,District,District,7460,William H. Ziegler School,Network 9,04,46,13.0,28.26,...,36.96,24,52.17,2,4.35,0,0.00,3,6.52,NaN
2275,2023-2024,District,District,7460,William H. Ziegler School,Network 9,05,46,17.0,36.96,...,32.61,20,43.48,2,4.35,1,2.17,3,6.52,NaN
2276,2023-2024,District,District,7460,William H. Ziegler School,Network 9,06,62,14.0,22.58,...,32.26,33,53.23,2,3.23,0,0.00,4,6.45,NaN
2277,2023-2024,District,District,7460,William H. Ziegler School,Network 9,07,70,22.0,31.43,...,31.43,33,47.14,6,8.57,0,0.00,3,4.29,NaN
2278,2023-2024,District,District,7460,William H. Ziegler School,Network 9,08,67,15.0,22.39,...,40.30,33,49.25,5,7.46,0,0.00,2,2.99,NaN
2279,2023-2024,District,District,7460,William H. Ziegler School,Network 9,All Grades,514,158.0,30.74,...,34.63,260,50.58,24,4.67,1,0.19,27,5.25,100.0

7470

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2280,2023-2024,District,District,7470,Bridesburg School,Network 9,00,36,1.0,2.78,...,5.56,8,22.22,3,8.33,0,0.0,23,63.89,NaN
2281,2023-2024,District,District,7470,Bridesburg School,Network 9,01,61,3.0,4.92,...,3.28,12,19.67,3,4.92,0,0.0,43,70.49,NaN
2282,2023-2024,District,District,7470,Bridesburg School,Network 9,02,67,2.0,2.99,...,1.49,8,11.94,4,5.97,0,0.0,53,79.10,NaN
2283,2023-2024,District,District,7470,Bridesburg School,Network 9,03,44,2.0,4.55,...,2.27,7,15.91,4,9.09,0,0.0,32,72.73,NaN
2284,2023-2024,District,District,7470,Bridesburg School,Network 9,04,58,0.0,0.00,...,1.72,8,13.79,4,6.90,0,0.0,44,75.86,NaN
2285,2023-2024,District,District,7470,Bridesburg School,Network 9,05,69,3.0,4.35,...,1.45,9,13.04,5,7.25,0,0.0,52,75.36,NaN
2286,2023-2024,District,District,7470,Bridesburg School,Network 9,06,67,1.0,1.49,...,7.46,8,11.94,1,1.49,0,0.0,53,79.10,NaN
2287,2023-2024,District,District,7470,Bridesburg School,Network 9,07,68,1.0,1.47,...,7.35,10,14.71,2,2.94,0,0.0,49,72.06,NaN
2288,2023-2024,District,District,7470,Bridesburg School,Network 9,08,77,3.0,3.90,...,3.90,9,11.69,3,3.90,0,0.0,62,80.52,NaN
2289,2023-2024,District,District,7470,Bridesburg School,Network 9,All Grades,547,16.0,2.93,...,3.84,79,14.44,29,5.30,0,0.0,411,75.14,100.0

7490

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2290,2023-2024,District,District,7490,Prince Hall School,Network 7,00,48,2.0,4.17,...,89.58,2,4.17,3,6.25,0,0.0,0,0.00,NaN
2291,2023-2024,District,District,7490,Prince Hall School,Network 7,01,60,0.0,0.00,...,96.67,1,1.67,1,1.67,0,0.0,0,0.00,NaN
2292,2023-2024,District,District,7490,Prince Hall School,Network 7,02,53,0.0,0.00,...,96.23,1,1.89,0,0.00,0,0.0,0,0.00,NaN
2293,2023-2024,District,District,7490,Prince Hall School,Network 7,03,43,0.0,0.00,...,88.37,2,4.65,1,2.33,0,0.0,1,2.33,NaN
2294,2023-2024,District,District,7490,Prince Hall School,Network 7,04,72,0.0,0.00,...,97.22,1,1.39,1,1.39,0,0.0,0,0.00,NaN
2295,2023-2024,District,District,7490,Prince Hall School,Network 7,05,64,1.0,1.56,...,92.19,2,3.13,1,1.56,0,0.0,2,3.13,NaN
2296,2023-2024,District,District,7490,Prince Hall School,Network 7,All Grades,340,3.0,0.88,...,93.82,9,2.65,7,2.06,0,0.0,3,0.88,100.0

7500

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2297,2023-2024,District,District,7500,Feltonville School of Arts and Sciences,Network 7,06,199,53.0,26.63,...,20.60,141,70.85,3,1.51,0,0.0,6,3.02,NaN
2298,2023-2024,District,District,7500,Feltonville School of Arts and Sciences,Network 7,07,178,55.0,30.90,...,26.97,109,61.24,7,3.93,0,0.0,4,2.25,NaN
2299,2023-2024,District,District,7500,Feltonville School of Arts and Sciences,Network 7,08,178,58.0,32.58,...,26.97,107,60.11,12,6.74,0,0.0,3,1.69,NaN
2300,2023-2024,District,District,7500,Feltonville School of Arts and Sciences,Network 7,All Grades,555,166.0,29.91,...,24.68,357,64.32,22,3.96,0,0.0,13,2.34,100.0

7510

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2301,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,00,39,3.0,7.69,...,61.54,13,33.33,0,0.00,0,0.00,2,5.13,NaN
2302,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,01,42,5.0,11.90,...,66.67,13,30.95,0,0.00,0,0.00,1,2.38,NaN
2303,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,02,66,11.0,16.67,...,72.73,17,25.76,0,0.00,1,1.52,0,0.00,NaN
2304,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,03,45,4.0,8.89,...,73.33,12,26.67,0,0.00,0,0.00,0,0.00,NaN
2305,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,04,47,2.0,4.26,...,74.47,10,21.28,1,2.13,0,0.00,1,2.13,NaN
2306,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,05,43,2.0,4.65,...,81.40,8,18.60,0,0.00,0,0.00,0,0.00,NaN
2307,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,06,45,4.0,8.89,...,77.78,10,22.22,0,0.00,0,0.00,0,0.00,NaN
2308,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,07,51,6.0,11.76,...,70.59,14,27.45,1,1.96,0,0.00,0,0.00,NaN
2309,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,08,49,4.0,8.16,...,73.47,7,14.29,5,10.20,0,0.00,1,2.04,NaN
2310,2023-2024,District,District,7510,Mary M. Bethune School,Network 11,All Grades,427,41.0,9.60,...,72.60,104,24.36,7,1.64,1,0.23,5,1.17,100.0

7530

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2311,2023-2024,District,District,7530,William Rowen School,Network 7,00,38,3.0,7.89,...,94.74,2,5.26,0,0.00,0,0.00,0,0.00,NaN
2312,2023-2024,District,District,7530,William Rowen School,Network 7,01,49,2.0,4.08,...,87.76,3,6.12,0,0.00,1,2.04,1,2.04,NaN
2313,2023-2024,District,District,7530,William Rowen School,Network 7,02,45,3.0,6.67,...,86.67,4,8.89,1,2.22,0,0.00,1,2.22,NaN
2314,2023-2024,District,District,7530,William Rowen School,Network 7,03,53,1.0,1.89,...,90.57,3,5.66,2,3.77,0,0.00,0,0.00,NaN
2315,2023-2024,District,District,7530,William Rowen School,Network 7,04,68,1.0,1.47,...,91.18,2,2.94,0,0.00,1,1.47,2,2.94,NaN
2316,2023-2024,District,District,7530,William Rowen School,Network 7,05,61,0.0,0.00,...,93.44,1,1.64,2,3.28,0,0.00,1,1.64,NaN
2317,2023-2024,District,District,7530,William Rowen School,Network 7,All Grades,314,10.0,3.18,...,90.76,15,4.78,5,1.59,2,0.64,5,1.59,100.0

7730

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2318,2023-2024,District,District,7730,Roberto Clemente School,Network 11,06,62,9.0,14.52,...,45.16,34,54.84,0,0.00,0,0.0,0,0.00,NaN
2319,2023-2024,District,District,7730,Roberto Clemente School,Network 11,07,79,27.0,34.18,...,31.65,49,62.03,4,5.06,0,0.0,1,1.27,NaN
2320,2023-2024,District,District,7730,Roberto Clemente School,Network 11,08,66,27.0,40.91,...,24.24,43,65.15,4,6.06,0,0.0,0,0.00,NaN
2321,2023-2024,District,District,7730,Roberto Clemente School,Network 11,All Grades,207,63.0,30.43,...,33.33,126,60.87,8,3.86,0,0.0,1,0.48,100.0

8010

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2322,2023-2024,District,District,8010,Abraham Lincoln High School,Network 4,09,800,292.0,36.50,...,34.50,337,42.13,28,3.50,1,0.13,127,15.88,NaN
2323,2023-2024,District,District,8010,Abraham Lincoln High School,Network 4,10,512,195.0,38.09,...,28.13,217,42.38,17,3.32,1,0.20,97,18.95,NaN
2324,2023-2024,District,District,8010,Abraham Lincoln High School,Network 4,11,478,166.0,34.73,...,31.38,177,37.03,23,4.81,2,0.42,82,17.15,NaN
2325,2023-2024,District,District,8010,Abraham Lincoln High School,Network 4,12,385,108.0,28.05,...,33.77,127,32.99,29,7.53,3,0.78,67,17.40,NaN
2326,2023-2024,District,District,8010,Abraham Lincoln High School,Network 4,All Grades,2175,761.0,34.99,...,32.18,858,39.45,97,4.46,7,0.32,373,17.15,100.0

8020

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2327,2023-2024,District,District,8020,Northeast High School,Network 1,09,950,361.0,38.00,...,23.47,363,38.21,31,3.26,4,0.42,156,16.42,NaN
2328,2023-2024,District,District,8020,Northeast High School,Network 1,10,1015,369.0,36.35,...,24.53,323,31.82,27,2.66,3,0.30,155,15.27,NaN
2329,2023-2024,District,District,8020,Northeast High School,Network 1,11,603,185.0,30.68,...,24.38,170,28.19,32,5.31,2,0.33,79,13.10,NaN
2330,2023-2024,District,District,8020,Northeast High School,Network 1,12,703,218.0,31.01,...,23.76,206,29.30,37,5.26,0,0.00,93,13.23,NaN
2331,2023-2024,District,District,8020,Northeast High School,Network 1,All Grades,3271,1133.0,34.64,...,24.03,1062,32.47,127,3.88,9,0.28,483,14.77,100.0

8030

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2332,2023-2024,District,District,8030,George Washington High School,Network 4,09,568,178.0,31.34,...,34.33,107,18.84,30,5.28,1,0.18,147,25.88,NaN
2333,2023-2024,District,District,8030,George Washington High School,Network 4,10,490,182.0,37.14,...,29.59,85,17.35,25,5.10,0,0.00,149,30.41,NaN
2334,2023-2024,District,District,8030,George Washington High School,Network 4,11,463,174.0,37.58,...,28.29,87,18.79,27,5.83,0,0.00,128,27.65,NaN
2335,2023-2024,District,District,8030,George Washington High School,Network 4,12,384,127.0,33.07,...,26.04,64,16.67,31,8.07,0,0.00,107,27.86,NaN
2336,2023-2024,District,District,8030,George Washington High School,Network 4,All Grades,1905,661.0,34.70,...,29.97,343,18.01,113,5.93,1,0.05,531,27.87,100.0

8040

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2337,2023-2024,District,District,8040,Arts Academy at Benjamin Rush,Network 1,09,152,12.0,7.89,...,25.66,23,15.13,13,8.55,0,0.00,63,41.45,NaN
2338,2023-2024,District,District,8040,Arts Academy at Benjamin Rush,Network 1,10,147,9.0,6.12,...,20.41,33,22.45,9,6.12,1,0.68,63,42.86,NaN
2339,2023-2024,District,District,8040,Arts Academy at Benjamin Rush,Network 1,11,140,8.0,5.71,...,25.71,25,17.86,10,7.14,2,1.43,52,37.14,NaN
2340,2023-2024,District,District,8040,Arts Academy at Benjamin Rush,Network 1,12,144,2.0,1.39,...,20.83,34,23.61,6,4.17,0,0.00,63,43.75,NaN
2341,2023-2024,District,District,8040,Arts Academy at Benjamin Rush,Network 1,All Grades,583,31.0,5.32,...,23.16,115,19.73,38,6.52,3,0.51,241,41.34,81.78

8070

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2342,2023-2024,Alternative,Alt Contracted,8070,OIC CADI,Opportunity,09,5,0.0,0.00,...,80.00,1,20.00,0,0.00,0,0.0,0,0.0,NaN
2343,2023-2024,Alternative,Alt Contracted,8070,OIC CADI,Opportunity,10,62,2.0,3.23,...,85.48,8,12.90,1,1.61,0,0.0,0,0.0,NaN
2344,2023-2024,Alternative,Alt Contracted,8070,OIC CADI,Opportunity,11,38,0.0,0.00,...,86.84,3,7.89,2,5.26,0,0.0,0,0.0,NaN
2345,2023-2024,Alternative,Alt Contracted,8070,OIC CADI,Opportunity,12,48,1.0,2.08,...,89.58,4,8.33,0,0.00,0,0.0,0,0.0,NaN
2346,2023-2024,Alternative,Alt Contracted,8070,OIC CADI,Opportunity,All Grades,153,3.0,1.96,...,86.93,16,10.46,3,1.96,0,0.0,0,0.0,100.0

8080

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2347,2023-2024,Alternative,Alt Contracted,8080,Excel Academy North,Opportunity,09,20,0.0,0.00,...,95.00,0,0.00,0,0.00,0,0.0,1,5.00,NaN
2348,2023-2024,Alternative,Alt Contracted,8080,Excel Academy North,Opportunity,10,33,0.0,0.00,...,90.91,1,3.03,0,0.00,0,0.0,2,6.06,NaN
2349,2023-2024,Alternative,Alt Contracted,8080,Excel Academy North,Opportunity,11,21,0.0,0.00,...,80.95,1,4.76,2,9.52,0,0.0,1,4.76,NaN
2350,2023-2024,Alternative,Alt Contracted,8080,Excel Academy North,Opportunity,12,134,1.0,0.75,...,93.28,5,3.73,4,2.99,0,0.0,0,0.00,NaN
2351,2023-2024,Alternative,Alt Contracted,8080,Excel Academy North,Opportunity,All Grades,208,1.0,0.48,...,91.83,7,3.37,6,2.88,0,0.0,4,1.92,100.0

8090

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2352,2023-2024,District,District,8090,Swenson Arts and Technology High School,Network 13,09,247,44.0,17.81,...,25.91,76,30.77,15,6.07,1,0.40,65,26.32,NaN
2353,2023-2024,District,District,8090,Swenson Arts and Technology High School,Network 13,10,191,46.0,24.08,...,21.47,55,28.80,21,10.99,0,0.00,60,31.41,NaN
2354,2023-2024,District,District,8090,Swenson Arts and Technology High School,Network 13,11,192,13.0,6.77,...,20.31,57,29.69,14,7.29,1,0.52,62,32.29,NaN
2355,2023-2024,District,District,8090,Swenson Arts and Technology High School,Network 13,12,215,14.0,6.51,...,20.93,62,28.84,14,6.51,0,0.00,78,36.28,NaN
2356,2023-2024,District,District,8090,Swenson Arts and Technology High School,Network 13,All Grades,845,117.0,13.85,...,22.37,250,29.59,64,7.57,2,0.24,265,31.36,100.0

8100

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2357,2023-2024,Alternative,Alt Contracted,8100,Gateway to College - Community College of Phil...,Opportunity,09,3,0.0,0.0,...,66.67,0,0.00,0,0.00,0,0.0,1,33.33,NaN
2358,2023-2024,Alternative,Alt Contracted,8100,Gateway to College - Community College of Phil...,Opportunity,10,20,0.0,0.0,...,75.00,1,5.00,1,5.00,0,0.0,3,15.00,NaN
2359,2023-2024,Alternative,Alt Contracted,8100,Gateway to College - Community College of Phil...,Opportunity,11,15,0.0,0.0,...,73.33,1,6.67,0,0.00,0,0.0,3,20.00,NaN
2360,2023-2024,Alternative,Alt Contracted,8100,Gateway to College - Community College of Phil...,Opportunity,12,29,0.0,0.0,...,72.41,3,10.34,2,6.90,0,0.0,2,6.90,NaN
2361,2023-2024,Alternative,Alt Contracted,8100,Gateway to College - Community College of Phil...,Opportunity,All Grades,67,0.0,0.0,...,73.13,5,7.46,3,4.48,0,0.0,9,13.43,0.0

8120

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2362,2023-2024,District,District,8120,Castor Gardens Middle School,Network 8,06,456,189.0,41.45,...,23.46,187,41.01,9,1.97,0,0.00,61,13.38,NaN
2363,2023-2024,District,District,8120,Castor Gardens Middle School,Network 8,07,430,196.0,45.58,...,23.26,172,40.00,20,4.65,0,0.00,56,13.02,NaN
2364,2023-2024,District,District,8120,Castor Gardens Middle School,Network 8,08,387,161.0,41.60,...,22.74,136,35.14,25,6.46,1,0.26,49,12.66,NaN
2365,2023-2024,District,District,8120,Castor Gardens Middle School,Network 8,All Grades,1273,546.0,42.89,...,23.17,495,38.88,54,4.24,1,0.08,166,13.04,100.0

8130

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2366,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,00,161,76.0,47.20,...,8.70,72,44.72,6,3.73,0,0.00,34,21.12,NaN
2367,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,01,169,75.0,44.38,...,11.83,71,42.01,7,4.14,1,0.59,44,26.04,NaN
2368,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,02,152,68.0,44.74,...,13.16,70,46.05,3,1.97,0,0.00,28,18.42,NaN
2369,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,03,152,87.0,57.24,...,16.45,44,28.95,6,3.95,0,0.00,41,26.97,NaN
2370,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,04,153,63.0,41.18,...,16.99,59,38.56,1,0.65,0,0.00,35,22.88,NaN
2371,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,05,168,72.0,42.86,...,17.26,51,30.36,3,1.79,0,0.00,40,23.81,NaN
2372,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,06,267,93.0,34.83,...,25.09,120,44.94,8,3.00,0,0.00,34,12.73,NaN
2373,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,07,281,77.0,27.40,...,25.62,111,39.50,11,3.91,0,0.00,49,17.44,NaN
2374,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,08,260,87.0,33.46,...,27.69,102,39.23,11,4.23,0,0.00,41,15.77,NaN
2375,2023-2024,District,District,8130,Northeast Community Propel Academy,Network 9,All Grades,1763,698.0,39.59,...,19.57,700,39.71,56,3.18,1,0.06,346,19.63,100.0

8160

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2376,2023-2024,District,District,8160,Baldi School,Network 8,06,501,155.0,30.94,...,10.38,42,8.38,14,2.79,1,0.20,247,49.30,NaN
2377,2023-2024,District,District,8160,Baldi School,Network 8,07,499,147.0,29.46,...,16.03,34,6.81,24,4.81,0,0.00,211,42.28,NaN
2378,2023-2024,District,District,8160,Baldi School,Network 8,08,516,189.0,36.63,...,11.63,56,10.85,28,5.43,2,0.39,217,42.05,NaN
2379,2023-2024,District,District,8160,Baldi School,Network 8,All Grades,1516,491.0,32.39,...,12.66,132,8.71,66,4.35,3,0.20,675,44.53,100.0

8190

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2380,2023-2024,Alternative,Alt Contracted,8190,One Bright Ray - Fairhill Campus,Opportunity,09,60,3.0,5.00,...,40.00,34,56.67,1,1.67,0,0.0,1,1.67,NaN
2381,2023-2024,Alternative,Alt Contracted,8190,One Bright Ray - Fairhill Campus,Opportunity,10,82,7.0,8.54,...,39.02,44,53.66,4,4.88,0,0.0,2,2.44,NaN
2382,2023-2024,Alternative,Alt Contracted,8190,One Bright Ray - Fairhill Campus,Opportunity,11,82,4.0,4.88,...,43.90,37,45.12,7,8.54,0,0.0,2,2.44,NaN
2383,2023-2024,Alternative,Alt Contracted,8190,One Bright Ray - Fairhill Campus,Opportunity,12,37,5.0,13.51,...,43.24,21,56.76,0,0.00,0,0.0,0,0.00,NaN
2384,2023-2024,Alternative,Alt Contracted,8190,One Bright Ray - Fairhill Campus,Opportunity,All Grades,261,19.0,7.28,...,41.38,136,52.11,12,4.60,0,0.0,5,1.92,0.61

8200

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2385,2023-2024,District,District,8200,Ethan Allen School,Network 9,00,86,37.0,43.02,...,18.60,46,53.49,4,4.65,0,0.00,13,15.12,NaN
2386,2023-2024,District,District,8200,Ethan Allen School,Network 9,01,95,51.0,53.68,...,12.63,54,56.84,7,7.37,0,0.00,11,11.58,NaN
2387,2023-2024,District,District,8200,Ethan Allen School,Network 9,02,110,50.0,45.45,...,18.18,60,54.55,4,3.64,0,0.00,16,14.55,NaN
2388,2023-2024,District,District,8200,Ethan Allen School,Network 9,03,112,61.0,54.46,...,21.43,66,58.93,1,0.89,0,0.00,12,10.71,NaN
2389,2023-2024,District,District,8200,Ethan Allen School,Network 9,04,115,58.0,50.43,...,17.39,62,53.91,1,0.87,0,0.00,21,18.26,NaN
2390,2023-2024,District,District,8200,Ethan Allen School,Network 9,05,99,45.0,45.45,...,20.20,55,55.56,5,5.05,0,0.00,13,13.13,NaN
2391,2023-2024,District,District,8200,Ethan Allen School,Network 9,06,106,35.0,33.02,...,31.13,44,41.51,2,1.89,1,0.94,13,12.26,NaN
2392,2023-2024,District,District,8200,Ethan Allen School,Network 9,07,98,32.0,32.65,...,23.47,47,47.96,3,3.06,0,0.00,16,16.33,NaN
2393,2023-2024,District,District,8200,Ethan Allen School,Network 9,08,96,43.0,44.79,...,25.00,42,43.75,8,8.33,0,0.00,12,12.50,NaN
2394,2023-2024,District,District,8200,Ethan Allen School,Network 9,All Grades,917,412.0,44.93,...,20.94,476,51.91,35,3.82,1,0.11,127,13.85,100.0

8210

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2395,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,00,56,13.0,23.21,...,30.36,19,33.93,8,14.29,0,0.00,12,21.43,NaN
2396,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,01,54,12.0,22.22,...,25.93,23,42.59,2,3.70,0,0.00,15,27.78,NaN
2397,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,02,41,10.0,24.39,...,36.59,17,41.46,2,4.88,0,0.00,6,14.63,NaN
2398,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,03,48,7.0,14.58,...,35.42,17,35.42,2,4.17,0,0.00,9,18.75,NaN
2399,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,04,50,8.0,16.00,...,34.00,19,38.00,3,6.00,0,0.00,8,16.00,NaN
2400,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,05,50,4.0,8.00,...,38.00,19,38.00,0,0.00,0,0.00,11,22.00,NaN
2401,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,06,42,8.0,19.05,...,40.48,12,28.57,2,4.76,0,0.00,9,21.43,NaN
2402,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,07,47,9.0,19.15,...,36.17,16,34.04,2,4.26,0,0.00,9,19.15,NaN
2403,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,08,58,17.0,29.31,...,34.48,24,41.38,3,5.17,1,1.72,8,13.79,NaN
2404,2023-2024,District,District,8210,Joseph H. Brown School,Network 9,All Grades,446,88.0,19.73,...,34.30,166,37.22,24,5.38,1,0.22,87,19.51,100.0

8230

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2405,2023-2024,District,District,8230,Kennedy C. Crossan School,Network 8,00,61,12.0,19.67,...,40.98,14,22.95,2,3.28,0,0.0,9,14.75,NaN
2406,2023-2024,District,District,8230,Kennedy C. Crossan School,Network 8,01,54,10.0,18.52,...,31.48,12,22.22,2,3.70,0,0.0,18,33.33,NaN
2407,2023-2024,District,District,8230,Kennedy C. Crossan School,Network 8,02,59,10.0,16.95,...,38.98,19,32.20,0,0.00,0,0.0,13,22.03,NaN
2408,2023-2024,District,District,8230,Kennedy C. Crossan School,Network 8,03,42,9.0,21.43,...,19.05,17,40.48,2,4.76,0,0.0,11,26.19,NaN
2409,2023-2024,District,District,8230,Kennedy C. Crossan School,Network 8,04,54,17.0,31.48,...,31.48,16,29.63,3,5.56,0,0.0,14,25.93,NaN
2410,2023-2024,District,District,8230,Kennedy C. Crossan School,Network 8,05,49,13.0,26.53,...,46.94,9,18.37,0,0.00,0,0.0,12,24.49,NaN
2411,2023-2024,District,District,8230,Kennedy C. Crossan School,Network 8,All Grades,319,71.0,22.26,...,35.42,87,27.27,9,2.82,0,0.0,77,24.14,100.0

8240

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2412,2023-2024,District,District,8240,Hamilton Disston School,Network 9,00,76,18.0,23.68,...,30.26,39,51.32,2,2.63,0,0.00,9,11.84,NaN
2413,2023-2024,District,District,8240,Hamilton Disston School,Network 9,01,98,34.0,34.69,...,22.45,58,59.18,4,4.08,0,0.00,13,13.27,NaN
2414,2023-2024,District,District,8240,Hamilton Disston School,Network 9,02,69,22.0,31.88,...,31.88,38,55.07,3,4.35,0,0.00,6,8.70,NaN
2415,2023-2024,District,District,8240,Hamilton Disston School,Network 9,03,91,23.0,25.27,...,27.47,49,53.85,3,3.30,0,0.00,10,10.99,NaN
2416,2023-2024,District,District,8240,Hamilton Disston School,Network 9,04,76,24.0,31.58,...,36.84,29,38.16,2,2.63,0,0.00,15,19.74,NaN
2417,2023-2024,District,District,8240,Hamilton Disston School,Network 9,05,73,18.0,24.66,...,26.03,44,60.27,2,2.74,0,0.00,7,9.59,NaN
2418,2023-2024,District,District,8240,Hamilton Disston School,Network 9,06,93,22.0,23.66,...,38.71,44,47.31,1,1.08,0,0.00,11,11.83,NaN
2419,2023-2024,District,District,8240,Hamilton Disston School,Network 9,07,87,25.0,28.74,...,42.53,34,39.08,3,3.45,0,0.00,11,12.64,NaN
2420,2023-2024,District,District,8240,Hamilton Disston School,Network 9,08,74,36.0,48.65,...,22.97,41,55.41,5,6.76,1,1.35,6,8.11,NaN
2421,2023-2024,District,District,8240,Hamilton Disston School,Network 9,All Grades,737,222.0,30.12,...,31.07,376,51.02,25,3.39,1,0.14,88,11.94,100.0

8250

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2422,2023-2024,District,District,8250,Edwin Forrest School,Network 12,00,116,39.0,33.62,...,18.97,66,56.90,8,6.90,0,0.00,14,12.07,NaN
2423,2023-2024,District,District,8250,Edwin Forrest School,Network 12,01,141,52.0,36.88,...,19.86,73,51.77,11,7.80,1,0.71,19,13.48,NaN
2424,2023-2024,District,District,8250,Edwin Forrest School,Network 12,02,122,27.0,22.13,...,29.51,66,54.10,4,3.28,0,0.00,13,10.66,NaN
2425,2023-2024,District,District,8250,Edwin Forrest School,Network 12,03,140,49.0,35.00,...,26.43,72,51.43,11,7.86,0,0.00,13,9.29,NaN
2426,2023-2024,District,District,8250,Edwin Forrest School,Network 12,04,129,38.0,29.46,...,31.01,55,42.64,13,10.08,0,0.00,16,12.40,NaN
2427,2023-2024,District,District,8250,Edwin Forrest School,Network 12,05,140,30.0,21.43,...,31.43,64,45.71,5,3.57,0,0.00,20,14.29,NaN
2428,2023-2024,District,District,8250,Edwin Forrest School,Network 12,All Grades,788,235.0,29.82,...,26.27,396,50.25,52,6.60,1,0.13,95,12.06,100.0

8260

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2429,2023-2024,District,District,8260,Fox Chase School,Network 8,00,85,8.0,9.41,...,25.88,17,20.00,7,8.24,0,0.00,33,38.82,NaN
2430,2023-2024,District,District,8260,Fox Chase School,Network 8,01,75,16.0,21.33,...,22.67,20,26.67,5,6.67,0,0.00,25,33.33,NaN
2431,2023-2024,District,District,8260,Fox Chase School,Network 8,02,80,16.0,20.00,...,18.75,21,26.25,6,7.50,0,0.00,29,36.25,NaN
2432,2023-2024,District,District,8260,Fox Chase School,Network 8,03,77,20.0,25.97,...,23.38,18,23.38,3,3.90,0,0.00,30,38.96,NaN
2433,2023-2024,District,District,8260,Fox Chase School,Network 8,04,77,8.0,10.39,...,27.27,20,25.97,7,9.09,0,0.00,25,32.47,NaN
2434,2023-2024,District,District,8260,Fox Chase School,Network 8,05,78,17.0,21.79,...,23.08,13,16.67,8,10.26,1,1.28,26,33.33,NaN
2435,2023-2024,District,District,8260,Fox Chase School,Network 8,All Grades,472,85.0,18.01,...,23.52,109,23.09,36,7.63,1,0.21,168,35.59,91.19

8270

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2436,2023-2024,District,District,8270,Thomas Holme School,Network 9,00,82,18.0,21.95,...,24.39,17,20.73,8,9.76,0,0.00,26,31.71,NaN
2437,2023-2024,District,District,8270,Thomas Holme School,Network 9,01,96,22.0,22.92,...,17.71,21,21.88,6,6.25,1,1.04,33,34.38,NaN
2438,2023-2024,District,District,8270,Thomas Holme School,Network 9,02,87,22.0,25.29,...,21.84,29,33.33,3,3.45,0,0.00,28,32.18,NaN
2439,2023-2024,District,District,8270,Thomas Holme School,Network 9,03,72,27.0,37.50,...,11.11,25,34.72,5,6.94,0,0.00,22,30.56,NaN
2440,2023-2024,District,District,8270,Thomas Holme School,Network 9,04,74,21.0,28.38,...,18.92,24,32.43,2,2.70,0,0.00,23,31.08,NaN
2441,2023-2024,District,District,8270,Thomas Holme School,Network 9,05,78,20.0,25.64,...,16.67,22,28.21,6,7.69,0,0.00,25,32.05,NaN
2442,2023-2024,District,District,8270,Thomas Holme School,Network 9,06,79,19.0,24.05,...,18.99,22,27.85,6,7.59,0,0.00,25,31.65,NaN
2443,2023-2024,District,District,8270,Thomas Holme School,Network 9,07,80,15.0,18.75,...,20.00,20,25.00,6,7.50,0,0.00,32,40.00,NaN
2444,2023-2024,District,District,8270,Thomas Holme School,Network 9,08,90,27.0,30.00,...,22.22,31,34.44,7,7.78,0,0.00,16,17.78,NaN
2445,2023-2024,District,District,8270,Thomas Holme School,Network 9,All Grades,738,191.0,25.88,...,19.24,211,28.59,49,6.64,1,0.14,230,31.17,100.0

8300

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2446,2023-2024,District,District,8300,Mayfair School,Network 9,00,177,121.0,68.36,...,5.08,67,37.85,5,2.82,0,0.00,51,28.81,NaN
2447,2023-2024,District,District,8300,Mayfair School,Network 9,01,168,112.0,66.67,...,5.95,82,48.81,5,2.98,1,0.60,31,18.45,NaN
2448,2023-2024,District,District,8300,Mayfair School,Network 9,02,185,112.0,60.54,...,9.19,92,49.73,3,1.62,0,0.00,39,21.08,NaN
2449,2023-2024,District,District,8300,Mayfair School,Network 9,03,199,150.0,75.38,...,3.52,84,42.21,2,1.01,2,1.01,51,25.63,NaN
2450,2023-2024,District,District,8300,Mayfair School,Network 9,04,165,90.0,54.55,...,7.27,57,34.55,2,1.21,0,0.00,39,23.64,NaN
2451,2023-2024,District,District,8300,Mayfair School,Network 9,05,191,98.0,51.31,...,10.47,77,40.31,3,1.57,0,0.00,34,17.80,NaN
2452,2023-2024,District,District,8300,Mayfair School,Network 9,06,193,100.0,51.81,...,6.74,72,37.31,2,1.04,0,0.00,44,22.80,NaN
2453,2023-2024,District,District,8300,Mayfair School,Network 9,07,189,92.0,48.68,...,5.82,82,43.39,6,3.17,0,0.00,28,14.81,NaN
2454,2023-2024,District,District,8300,Mayfair School,Network 9,08,224,103.0,45.98,...,10.27,90,40.18,6,2.68,0,0.00,49,21.88,NaN
2455,2023-2024,District,District,8300,Mayfair School,Network 9,All Grades,1691,978.0,57.84,...,7.21,703,41.57,34,2.01,3,0.18,366,21.64,94.15

8310

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2456,2023-2024,District,District,8310,J. Hampton Moore School,Network 8,00,168,82.0,48.81,...,26.19,74,44.05,6,3.57,0,0.00,20,11.90,NaN
2457,2023-2024,District,District,8310,J. Hampton Moore School,Network 8,01,194,64.0,32.99,...,28.35,83,42.78,4,2.06,0,0.00,20,10.31,NaN
2458,2023-2024,District,District,8310,J. Hampton Moore School,Network 8,02,200,88.0,44.00,...,29.50,82,41.00,6,3.00,0,0.00,22,11.00,NaN
2459,2023-2024,District,District,8310,J. Hampton Moore School,Network 8,03,208,90.0,43.27,...,26.92,86,41.35,3,1.44,0,0.00,25,12.02,NaN
2460,2023-2024,District,District,8310,J. Hampton Moore School,Network 8,04,177,67.0,37.85,...,26.55,66,37.29,1,0.56,1,0.56,31,17.51,NaN
2461,2023-2024,District,District,8310,J. Hampton Moore School,Network 8,05,192,58.0,30.21,...,32.29,73,38.02,6,3.13,0,0.00,17,8.85,NaN
2462,2023-2024,District,District,8310,J. Hampton Moore School,Network 8,All Grades,1139,449.0,39.42,...,28.36,464,40.74,26,2.28,1,0.09,135,11.85,100.0

8340

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2463,2023-2024,District,District,8340,Solomon Solis-Cohen School,Network 8,00,193,129.0,66.84,...,10.36,116,60.10,3,1.55,0,0.00,22,11.40,NaN
2464,2023-2024,District,District,8340,Solomon Solis-Cohen School,Network 8,01,225,139.0,61.78,...,15.56,108,48.00,1,0.44,0,0.00,39,17.33,NaN
2465,2023-2024,District,District,8340,Solomon Solis-Cohen School,Network 8,02,211,141.0,66.82,...,13.74,113,53.55,2,0.95,0,0.00,36,17.06,NaN
2466,2023-2024,District,District,8340,Solomon Solis-Cohen School,Network 8,03,222,150.0,67.57,...,13.96,135,60.81,3,1.35,0,0.00,22,9.91,NaN
2467,2023-2024,District,District,8340,Solomon Solis-Cohen School,Network 8,04,222,134.0,60.36,...,10.81,120,54.05,3,1.35,1,0.45,37,16.67,NaN
2468,2023-2024,District,District,8340,Solomon Solis-Cohen School,Network 8,05,206,111.0,53.88,...,12.62,97,47.09,6,2.91,0,0.00,31,15.05,NaN
2469,2023-2024,District,District,8340,Solomon Solis-Cohen School,Network 8,All Grades,1279,804.0,62.86,...,12.90,689,53.87,18,1.41,1,0.08,187,14.62,93.07

8350

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2470,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,00,130,68.0,52.31,...,23.08,75,57.69,0,0.00,0,0.00,12,9.23,NaN
2471,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,01,131,57.0,43.51,...,23.66,74,56.49,1,0.76,0,0.00,9,6.87,NaN
2472,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,02,161,63.0,39.13,...,32.92,84,52.17,0,0.00,0,0.00,12,7.45,NaN
2473,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,03,137,52.0,37.96,...,32.85,58,42.34,2,1.46,0,0.00,17,12.41,NaN
2474,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,04,123,58.0,47.15,...,23.58,57,46.34,3,2.44,2,1.63,17,13.82,NaN
2475,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,05,139,52.0,37.41,...,33.81,57,41.01,1,0.72,0,0.00,18,12.95,NaN
2476,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,06,146,49.0,33.56,...,35.62,56,38.36,0,0.00,1,0.68,17,11.64,NaN
2477,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,07,135,55.0,40.74,...,30.37,52,38.52,3,2.22,0,0.00,19,14.07,NaN
2478,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,08,140,44.0,31.43,...,35.71,54,38.57,11,7.86,0,0.00,13,9.29,NaN
2479,2023-2024,District,District,8350,Gilbert Spruance School,Network 9,All Grades,1242,498.0,40.10,...,30.43,567,45.65,21,1.69,3,0.24,134,10.79,100.0

8360

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2480,2023-2024,District,District,8360,Rhawnhurst School,Network 8,00,90,31.0,34.44,...,21.11,19,21.11,1,1.11,0,0.00,24,26.67,NaN
2481,2023-2024,District,District,8360,Rhawnhurst School,Network 8,01,117,43.0,36.75,...,18.80,26,22.22,3,2.56,1,0.85,29,24.79,NaN
2482,2023-2024,District,District,8360,Rhawnhurst School,Network 8,02,113,63.0,55.75,...,9.73,44,38.94,2,1.77,1,0.88,26,23.01,NaN
2483,2023-2024,District,District,8360,Rhawnhurst School,Network 8,03,105,52.0,49.52,...,16.19,32,30.48,3,2.86,0,0.00,26,24.76,NaN
2484,2023-2024,District,District,8360,Rhawnhurst School,Network 8,04,114,57.0,50.00,...,17.54,21,18.42,1,0.88,0,0.00,41,35.96,NaN
2485,2023-2024,District,District,8360,Rhawnhurst School,Network 8,05,89,40.0,44.94,...,14.61,34,38.20,4,4.49,1,1.12,8,8.99,NaN
2486,2023-2024,District,District,8360,Rhawnhurst School,Network 8,All Grades,628,286.0,45.54,...,16.24,176,28.03,14,2.23,3,0.48,154,24.52,100.0

8370

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2487,2023-2024,District,District,8370,Watson Comly School,Network 8,00,96,33.0,34.38,...,10.42,9,9.38,3,3.13,0,0.0,50,52.08,NaN
2488,2023-2024,District,District,8370,Watson Comly School,Network 8,01,106,60.0,56.60,...,2.83,7,6.60,5,4.72,0,0.0,53,50.00,NaN
2489,2023-2024,District,District,8370,Watson Comly School,Network 8,02,105,46.0,43.81,...,10.48,13,12.38,2,1.90,0,0.0,51,48.57,NaN
2490,2023-2024,District,District,8370,Watson Comly School,Network 8,03,96,48.0,50.00,...,5.21,11,11.46,2,2.08,0,0.0,51,53.13,NaN
2491,2023-2024,District,District,8370,Watson Comly School,Network 8,04,91,40.0,43.96,...,13.19,11,12.09,3,3.30,0,0.0,45,49.45,NaN
2492,2023-2024,District,District,8370,Watson Comly School,Network 8,05,93,36.0,38.71,...,11.83,11,11.83,2,2.15,0,0.0,48,51.61,NaN
2493,2023-2024,District,District,8370,Watson Comly School,Network 8,All Grades,587,263.0,44.80,...,8.86,62,10.56,17,2.90,0,0.0,298,50.77,91.58

8380

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2494,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,00,119,51.0,42.86,...,15.97,31,26.05,0,0.00,0,0.00,37,31.09,NaN
2495,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,01,127,64.0,50.39,...,11.02,37,29.13,0,0.00,1,0.79,48,37.80,NaN
2496,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,02,123,55.0,44.72,...,15.45,34,27.64,3,2.44,1,0.81,40,32.52,NaN
2497,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,03,117,65.0,55.56,...,13.68,29,24.79,1,0.85,1,0.85,40,34.19,NaN
2498,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,04,131,55.0,41.98,...,16.03,29,22.14,3,2.29,0,0.00,44,33.59,NaN
2499,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,05,132,52.0,39.39,...,18.18,41,31.06,0,0.00,0,0.00,42,31.82,NaN
2500,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,06,134,56.0,41.79,...,13.43,36,26.87,4,2.99,0,0.00,46,34.33,NaN
2501,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,07,127,43.0,33.86,...,20.47,28,22.05,6,4.72,1,0.79,46,36.22,NaN
2502,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,08,140,55.0,39.29,...,20.71,32,22.86,8,5.71,3,2.14,43,30.71,NaN
2503,2023-2024,District,District,8380,Louis H. Farrell School,Network 8,All Grades,1150,496.0,43.13,...,16.17,297,25.83,25,2.17,7,0.61,386,33.57,98.64

8390

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2504,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,00,89,14.0,15.73,...,21.35,16,17.98,1,1.12,0,0.00,37,41.57,NaN
2505,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,01,99,15.0,15.15,...,24.24,20,20.20,3,3.03,0,0.00,45,45.45,NaN
2506,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,02,98,19.0,19.39,...,25.51,21,21.43,6,6.12,0,0.00,35,35.71,NaN
2507,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,03,85,20.0,23.53,...,12.94,26,30.59,3,3.53,0,0.00,37,43.53,NaN
2508,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,04,87,10.0,11.49,...,31.03,16,18.39,5,5.75,0,0.00,35,40.23,NaN
2509,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,05,83,10.0,12.05,...,31.33,11,13.25,6,7.23,1,1.20,31,37.35,NaN
2510,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,06,95,12.0,12.63,...,33.68,15,15.79,3,3.16,0,0.00,39,41.05,NaN
2511,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,07,66,8.0,12.12,...,27.27,10,15.15,6,9.09,0,0.00,28,42.42,NaN
2512,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,08,89,17.0,19.10,...,33.71,13,14.61,4,4.49,0,0.00,37,41.57,NaN
2513,2023-2024,District,District,8390,A.L. Fitzpatrick School,Network 8,All Grades,791,125.0,15.80,...,26.80,148,18.71,37,4.68,1,0.13,324,40.96,100.0

8400

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2514,2023-2024,District,District,8400,Anne Frank School,Network 8,00,246,83.0,33.74,...,10.98,27,10.98,10,4.07,0,0.00,94,38.21,NaN
2515,2023-2024,District,District,8400,Anne Frank School,Network 8,01,285,113.0,39.65,...,11.23,25,8.77,10,3.51,0,0.00,119,41.75,NaN
2516,2023-2024,District,District,8400,Anne Frank School,Network 8,02,245,106.0,43.27,...,14.69,11,4.49,9,3.67,0,0.00,92,37.55,NaN
2517,2023-2024,District,District,8400,Anne Frank School,Network 8,03,239,113.0,47.28,...,14.23,28,11.72,4,1.67,0,0.00,101,42.26,NaN
2518,2023-2024,District,District,8400,Anne Frank School,Network 8,04,241,102.0,42.32,...,12.45,20,8.30,3,1.24,0,0.00,98,40.66,NaN
2519,2023-2024,District,District,8400,Anne Frank School,Network 8,05,229,73.0,31.88,...,11.35,29,12.66,8,3.49,1,0.44,86,37.55,NaN
2520,2023-2024,District,District,8400,Anne Frank School,Network 8,All Grades,1485,590.0,39.73,...,12.46,140,9.43,44,2.96,1,0.07,590,39.73,95.78

8410

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2521,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,00,87,19.0,21.84,...,32.18,17,19.54,3,3.45,0,0.0,20,22.99,NaN
2522,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,01,84,22.0,26.19,...,33.33,19,22.62,2,2.38,0,0.0,17,20.24,NaN
2523,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,02,87,21.0,24.14,...,28.74,23,26.44,2,2.30,0,0.0,19,21.84,NaN
2524,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,03,77,20.0,25.97,...,40.26,18,23.38,1,1.30,0,0.0,17,22.08,NaN
2525,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,04,76,24.0,31.58,...,28.95,23,30.26,4,5.26,0,0.0,14,18.42,NaN
2526,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,05,83,14.0,16.87,...,32.53,26,31.33,3,3.61,0,0.0,15,18.07,NaN
2527,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,06,91,17.0,18.68,...,38.46,25,27.47,3,3.30,0,0.0,14,15.38,NaN
2528,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,07,88,22.0,25.00,...,31.82,24,27.27,2,2.27,0,0.0,21,23.86,NaN
2529,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,08,72,17.0,23.61,...,33.33,13,18.06,8,11.11,0,0.0,16,22.22,NaN
2530,2023-2024,District,District,8410,Robert B. Pollock School,Network 9,All Grades,745,176.0,23.62,...,33.29,188,25.23,28,3.76,0,0.0,153,20.54,100.0

8420

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2531,2023-2024,District,District,8420,Stephen Decatur School,Network 8,00,115,20.0,17.39,...,9.57,26,22.61,8,6.96,0,0.00,50,43.48,NaN
2532,2023-2024,District,District,8420,Stephen Decatur School,Network 8,01,95,21.0,22.11,...,14.74,20,21.05,9,9.47,0,0.00,40,42.11,NaN
2533,2023-2024,District,District,8420,Stephen Decatur School,Network 8,02,103,30.0,29.13,...,8.74,24,23.30,5,4.85,0,0.00,48,46.60,NaN
2534,2023-2024,District,District,8420,Stephen Decatur School,Network 8,03,101,24.0,23.76,...,12.87,21,20.79,6,5.94,1,0.99,47,46.53,NaN
2535,2023-2024,District,District,8420,Stephen Decatur School,Network 8,04,115,20.0,17.39,...,9.57,14,12.17,15,13.04,1,0.87,55,47.83,NaN
2536,2023-2024,District,District,8420,Stephen Decatur School,Network 8,05,109,24.0,22.02,...,15.60,17,15.60,5,4.59,0,0.00,53,48.62,NaN
2537,2023-2024,District,District,8420,Stephen Decatur School,Network 8,06,117,24.0,20.51,...,11.97,24,20.51,5,4.27,0,0.00,48,41.03,NaN
2538,2023-2024,District,District,8420,Stephen Decatur School,Network 8,07,113,23.0,20.35,...,19.47,14,12.39,4,3.54,1,0.88,59,52.21,NaN
2539,2023-2024,District,District,8420,Stephen Decatur School,Network 8,08,98,16.0,16.33,...,23.47,12,12.24,11,11.22,2,2.04,42,42.86,NaN
2540,2023-2024,District,District,8420,Stephen Decatur School,Network 8,All Grades,966,202.0,20.91,...,13.87,172,17.81,68,7.04,5,0.52,442,45.76,94.74

8430

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2541,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,00,80,25.0,31.25,...,10.00,12,15.00,1,1.25,0,0.0,26,32.50,NaN
2542,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,01,107,35.0,32.71,...,10.28,9,8.41,1,0.93,0,0.0,47,43.93,NaN
2543,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,02,99,28.0,28.28,...,8.08,7,7.07,0,0.00,0,0.0,28,28.28,NaN
2544,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,03,99,23.0,23.23,...,13.13,5,5.05,0,0.00,0,0.0,42,42.42,NaN
2545,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,04,97,21.0,21.65,...,9.28,7,7.22,2,2.06,0,0.0,50,51.55,NaN
2546,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,05,91,15.0,16.48,...,10.99,9,9.89,1,1.10,0,0.0,37,40.66,NaN
2547,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,06,104,9.0,8.65,...,10.58,11,10.58,2,1.92,0,0.0,44,42.31,NaN
2548,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,07,95,14.0,14.74,...,17.89,7,7.37,0,0.00,0,0.0,45,47.37,NaN
2549,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,08,90,13.0,14.44,...,17.78,10,11.11,1,1.11,0,0.0,34,37.78,NaN
2550,2023-2024,District,District,8430,Joseph Greenberg School,Network 8,All Grades,862,183.0,21.23,...,11.95,77,8.93,8,0.93,0,0.0,353,40.95,73.69

8440

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2551,2023-2024,District,District,8440,William H. Loesche School,Network 8,00,207,138.0,66.67,...,3.86,12,5.80,3,1.45,0,0.00,99,47.83,NaN
2552,2023-2024,District,District,8440,William H. Loesche School,Network 8,01,188,130.0,69.15,...,3.19,13,6.91,2,1.06,0,0.00,87,46.28,NaN
2553,2023-2024,District,District,8440,William H. Loesche School,Network 8,02,218,149.0,68.35,...,2.75,7,3.21,12,5.50,0,0.00,110,50.46,NaN
2554,2023-2024,District,District,8440,William H. Loesche School,Network 8,03,163,95.0,58.28,...,2.45,8,4.91,8,4.91,0,0.00,87,53.37,NaN
2555,2023-2024,District,District,8440,William H. Loesche School,Network 8,04,194,117.0,60.31,...,4.12,10,5.15,3,1.55,1,0.52,101,52.06,NaN
2556,2023-2024,District,District,8440,William H. Loesche School,Network 8,05,165,96.0,58.18,...,6.06,11,6.67,4,2.42,0,0.00,81,49.09,NaN
2557,2023-2024,District,District,8440,William H. Loesche School,Network 8,All Grades,1135,725.0,63.88,...,3.70,61,5.37,32,2.82,1,0.09,565,49.78,88.81

8450

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2558,2023-2024,Alternative,Alt Contracted,8450,YESPhilly,Opportunity,09,5,0.0,0.0,...,80.00,1,20.00,0,0.00,0,0.0,0,0.00,NaN
2559,2023-2024,Alternative,Alt Contracted,8450,YESPhilly,Opportunity,10,32,0.0,0.0,...,84.38,3,9.38,0,0.00,0,0.0,2,6.25,NaN
2560,2023-2024,Alternative,Alt Contracted,8450,YESPhilly,Opportunity,11,56,0.0,0.0,...,92.86,3,5.36,1,1.79,0,0.0,0,0.00,NaN
2561,2023-2024,Alternative,Alt Contracted,8450,YESPhilly,Opportunity,12,33,0.0,0.0,...,96.97,0,0.00,0,0.00,0,0.0,1,3.03,NaN
2562,2023-2024,Alternative,Alt Contracted,8450,YESPhilly,Opportunity,All Grades,126,0.0,0.0,...,91.27,7,5.56,1,0.79,0,0.0,3,2.38,100.0

8460

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2563,2023-2024,Alternative,Alt District Run,8460,Philadelphia Learning Academy West,Innovation,09,14,0.0,0.00,...,92.86,1,7.14,0,0.0,0,0.0,0,0.0,NaN
2564,2023-2024,Alternative,Alt District Run,8460,Philadelphia Learning Academy West,Innovation,10,21,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.0,NaN
2565,2023-2024,Alternative,Alt District Run,8460,Philadelphia Learning Academy West,Innovation,11,14,1.0,7.14,...,92.86,1,7.14,0,0.0,0,0.0,0,0.0,NaN
2566,2023-2024,Alternative,Alt District Run,8460,Philadelphia Learning Academy West,Innovation,12,11,0.0,0.00,...,100.00,0,0.00,0,0.0,0,0.0,0,0.0,NaN
2567,2023-2024,Alternative,Alt District Run,8460,Philadelphia Learning Academy West,Innovation,All Grades,60,1.0,1.67,...,96.67,2,3.33,0,0.0,0,0.0,0,0.0,100.0

8470

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2568,2023-2024,Alternative,Alt District Run,8470,Philadelphia Learning Academy North,Innovation,09,5,0.0,0.00,...,40.00,1,20.00,1,20.00,0,0.0,0,0.0,NaN
2569,2023-2024,Alternative,Alt District Run,8470,Philadelphia Learning Academy North,Innovation,10,30,1.0,3.33,...,86.67,3,10.00,0,0.00,0,0.0,0,0.0,NaN
2570,2023-2024,Alternative,Alt District Run,8470,Philadelphia Learning Academy North,Innovation,11,27,0.0,0.00,...,77.78,6,22.22,0,0.00,0,0.0,0,0.0,NaN
2571,2023-2024,Alternative,Alt District Run,8470,Philadelphia Learning Academy North,Innovation,12,26,0.0,0.00,...,84.62,4,15.38,0,0.00,0,0.0,0,0.0,NaN
2572,2023-2024,Alternative,Alt District Run,8470,Philadelphia Learning Academy North,Innovation,All Grades,88,1.0,1.14,...,80.68,14,15.91,1,1.14,0,0.0,0,0.0,100.0

8540

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2573,2023-2024,Alternative,Alt District Run,8540,Pennypack House School,Innovation,09,3,0.0,0.00,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
2574,2023-2024,Alternative,Alt District Run,8540,Pennypack House School,Innovation,10,8,1.0,12.50,...,87.50,0,0.00,0,0.00,0,0.0,0,0.00,NaN
2575,2023-2024,Alternative,Alt District Run,8540,Pennypack House School,Innovation,11,2,1.0,50.00,...,50.00,0,0.00,0,0.00,0,0.0,1,50.00,NaN
2576,2023-2024,Alternative,Alt District Run,8540,Pennypack House School,Innovation,12,78,1.0,1.28,...,79.49,9,11.54,3,3.85,0,0.0,4,5.13,NaN
2577,2023-2024,Alternative,Alt District Run,8540,Pennypack House School,Innovation,All Grades,91,3.0,3.30,...,80.22,9,9.89,3,3.30,0,0.0,5,5.49,0.0

8560

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2578,2023-2024,District,District,8560,The Workshop School,Innovation,09,50,0.0,0.00,...,90.00,3,6.00,1,2.00,0,0.0,0,0.00,NaN
2579,2023-2024,District,District,8560,The Workshop School,Innovation,10,58,0.0,0.00,...,96.55,2,3.45,0,0.00,0,0.0,0,0.00,NaN
2580,2023-2024,District,District,8560,The Workshop School,Innovation,11,45,0.0,0.00,...,86.67,0,0.00,2,4.44,0,0.0,2,4.44,NaN
2581,2023-2024,District,District,8560,The Workshop School,Innovation,12,36,2.0,5.56,...,91.67,0,0.00,2,5.56,0,0.0,0,0.00,NaN
2582,2023-2024,District,District,8560,The Workshop School,Innovation,All Grades,189,2.0,1.06,...,91.53,5,2.65,5,2.65,0,0.0,2,1.06,100.0

8690

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2583,2023-2024,Alternative,Alt District Run,8690,Crossroads Accelerated Academy,Innovation,07,7,0.0,0.0,...,71.43,0,0.00,1,14.29,0,0.0,1,14.29,NaN
2584,2023-2024,Alternative,Alt District Run,8690,Crossroads Accelerated Academy,Innovation,08,4,0.0,0.0,...,100.00,0,0.00,0,0.00,0,0.0,0,0.00,NaN
2585,2023-2024,Alternative,Alt District Run,8690,Crossroads Accelerated Academy,Innovation,09,47,0.0,0.0,...,93.62,2,4.26,1,2.13,0,0.0,0,0.00,NaN
2586,2023-2024,Alternative,Alt District Run,8690,Crossroads Accelerated Academy,Innovation,All Grades,58,0.0,0.0,...,91.38,2,3.45,2,3.45,0,0.0,1,1.72,100.0

8770

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2587,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,00,80,7.0,8.75,...,11.25,22,27.50,3,3.75,0,0.00,33,41.25,NaN
2588,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,01,78,11.0,14.10,...,12.82,20,25.64,1,1.28,0,0.00,41,52.56,NaN
2589,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,02,86,14.0,16.28,...,15.12,16,18.60,4,4.65,0,0.00,43,50.00,NaN
2590,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,03,82,11.0,13.41,...,10.98,16,19.51,6,7.32,0,0.00,42,51.22,NaN
2591,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,04,92,14.0,15.22,...,13.04,15,16.30,1,1.09,0,0.00,47,51.09,NaN
2592,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,05,77,13.0,16.88,...,14.29,22,28.57,1,1.30,0,0.00,34,44.16,NaN
2593,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,06,102,10.0,9.80,...,20.59,18,17.65,5,4.90,0,0.00,53,51.96,NaN
2594,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,07,87,12.0,13.79,...,24.14,16,18.39,6,6.90,0,0.00,36,41.38,NaN
2595,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,08,79,11.0,13.92,...,27.85,17,21.52,2,2.53,1,1.27,34,43.04,NaN
2596,2023-2024,District,District,8770,John Hancock Demonstration School,Network 8,All Grades,763,103.0,13.50,...,16.78,162,21.23,29,3.80,1,0.13,363,47.58,97.72

8780

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2597,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,00,10,0.0,0.00,...,70.00,1,10.00,1,10.00,0,0.0,1,10.00,NaN
2598,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,01,12,1.0,8.33,...,66.67,2,16.67,2,16.67,0,0.0,0,0.00,NaN
2599,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,02,21,0.0,0.00,...,61.90,5,23.81,1,4.76,0,0.0,2,9.52,NaN
2600,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,03,29,1.0,3.45,...,72.41,6,20.69,1,3.45,0,0.0,1,3.45,NaN
2601,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,04,32,1.0,3.13,...,65.63,9,28.13,0,0.00,0,0.0,0,0.00,NaN
2602,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,05,49,1.0,2.04,...,61.22,10,20.41,0,0.00,0,0.0,8,16.33,NaN
2603,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,06,53,2.0,3.77,...,71.70,12,22.64,0,0.00,0,0.0,1,1.89,NaN
2604,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,07,49,2.0,4.08,...,69.39,9,18.37,2,4.08,0,0.0,4,8.16,NaN
2605,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,08,60,3.0,5.00,...,65.00,10,16.67,3,5.00,0,0.0,7,11.67,NaN
2606,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,09,76,3.0,3.95,...,64.47,12,15.79,5,6.58,0,0.0,9,11.84,NaN
2607,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,10,109,6.0,5.50,...,63.30,17,15.60,7,6.42,0,0.0,9,8.26,NaN
2608,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,11,93,5.0,5.38,...,63.44,14,15.05,6,6.45,0,0.0,11,11.83,NaN
2609,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,12,117,2.0,1.71,...,58.97,28,23.93,5,4.27,0,0.0,8,6.84,NaN
2610,2023-2024,District,District,8780,Philadelphia Virtual Academy,Innovation,All Grades,710,27.0,3.80,...,64.37,135,19.01,33,4.65,0,0.0,61,8.59,NaN

8860

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2611,2023-2024,Alternative,Alt Contracted,8860,One Bright Ray Mansion,Opportunity,09,18,0.0,0.00,...,77.78,3,16.67,1,5.56,0,0.0,0,0.0,NaN
2612,2023-2024,Alternative,Alt Contracted,8860,One Bright Ray Mansion,Opportunity,10,31,0.0,0.00,...,87.10,4,12.90,0,0.00,0,0.0,0,0.0,NaN
2613,2023-2024,Alternative,Alt Contracted,8860,One Bright Ray Mansion,Opportunity,11,38,1.0,2.63,...,92.11,2,5.26,1,2.63,0,0.0,0,0.0,NaN
2614,2023-2024,Alternative,Alt Contracted,8860,One Bright Ray Mansion,Opportunity,12,18,0.0,0.00,...,88.89,2,11.11,0,0.00,0,0.0,0,0.0,NaN
2615,2023-2024,Alternative,Alt Contracted,8860,One Bright Ray Mansion,Opportunity,All Grades,105,1.0,0.95,...,87.62,11,10.48,2,1.90,0,0.0,0,0.0,100.0

8870

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2616,2023-2024,Alternative,Alt Contracted,8870,One Bright Ray Mansion Evening,Opportunity,09,16,0.0,0.00,...,87.50,2,12.50,0,0.0,0,0.0,0,0.00,NaN
2617,2023-2024,Alternative,Alt Contracted,8870,One Bright Ray Mansion Evening,Opportunity,10,17,0.0,0.00,...,88.24,2,11.76,0,0.0,0,0.0,0,0.00,NaN
2618,2023-2024,Alternative,Alt Contracted,8870,One Bright Ray Mansion Evening,Opportunity,11,18,0.0,0.00,...,94.44,1,5.56,0,0.0,0,0.0,0,0.00,NaN
2619,2023-2024,Alternative,Alt Contracted,8870,One Bright Ray Mansion Evening,Opportunity,12,28,1.0,3.57,...,85.71,3,10.71,0,0.0,0,0.0,1,3.57,NaN
2620,2023-2024,Alternative,Alt Contracted,8870,One Bright Ray Mansion Evening,Opportunity,All Grades,79,1.0,1.27,...,88.61,8,10.13,0,0.0,0,0.0,1,1.27,0.0

8890

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2621,2023-2024,Alternative,Alt Contracted,8890,One Bright Ray - Simpson Campus,Opportunity,09,21,2.0,9.52,...,52.38,10,47.62,0,0.00,0,0.0,0,0.00,NaN
2622,2023-2024,Alternative,Alt Contracted,8890,One Bright Ray - Simpson Campus,Opportunity,10,67,5.0,7.46,...,38.81,36,53.73,1,1.49,0,0.0,4,5.97,NaN
2623,2023-2024,Alternative,Alt Contracted,8890,One Bright Ray - Simpson Campus,Opportunity,11,80,12.0,15.00,...,33.75,49,61.25,0,0.00,0,0.0,3,3.75,NaN
2624,2023-2024,Alternative,Alt Contracted,8890,One Bright Ray - Simpson Campus,Opportunity,12,99,13.0,13.13,...,38.38,55,55.56,3,3.03,0,0.0,3,3.03,NaN
2625,2023-2024,Alternative,Alt Contracted,8890,One Bright Ray - Simpson Campus,Opportunity,All Grades,267,32.0,11.99,...,38.20,150,56.18,4,1.50,0,0.0,10,3.75,0.0

8891

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2626,2023-2024,Alternative,Alt Contracted,8891,One Bright Ray Simpson - Evening,Opportunity,09,23,0.0,0.00,...,52.17,10,43.48,1,4.35,0,0.0,0,0.00,NaN
2627,2023-2024,Alternative,Alt Contracted,8891,One Bright Ray Simpson - Evening,Opportunity,10,21,2.0,9.52,...,42.86,10,47.62,0,0.00,0,0.0,1,4.76,NaN
2628,2023-2024,Alternative,Alt Contracted,8891,One Bright Ray Simpson - Evening,Opportunity,11,37,1.0,2.70,...,37.84,21,56.76,0,0.00,0,0.0,2,5.41,NaN
2629,2023-2024,Alternative,Alt Contracted,8891,One Bright Ray Simpson - Evening,Opportunity,12,50,3.0,6.00,...,36.00,27,54.00,1,2.00,0,0.0,4,8.00,NaN
2630,2023-2024,Alternative,Alt Contracted,8891,One Bright Ray Simpson - Evening,Opportunity,All Grades,131,6.0,4.58,...,40.46,68,51.91,2,1.53,0,0.0,7,5.34,0.0

8900

,SchoolYear,Sector,SubSector,ulcscode,SchoolName,LearningNetwork,GradeLevel,StudentEnrollment,ELCount,ELPCT,...,BlackAfricanAmericanPCT,HispanicCount,HispanicPCT,MultiRaceCount,MultiRacePCT,PacificIslanderCount,PacificIslanderPCT,WhiteCount,WhitePCT,CEPEconomicallyDisadvantagedRate
2631,2023-2024,Alternative,Alt District Run,8900,Re-Engagement Center,Opportunity,12,2,0.0,0.0,...,100.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN
2632,2023-2024,Alternative,Alt District Run,8900,Re-Engagement Center,Opportunity,All Grades,2,0.0,0.0,...,100.0,0,0.0,0,0.0,0,0.0,0,0.0,0.0